[2019-09-24 10:42] Martin-Weiss commented on #507
I assume a namespace like "nginx-ingress" or "kube-system" might be the one...

[2019-09-24 10:53] lcavajani commented on #507
I'd plead for `nginx-ingress` ;)

[2019-09-24 11:12] #518 closed

[2019-09-24 11:15] #507 closed

[2019-09-24 11:24] #516 closed

[2019-09-24 11:28] r0ckarong commented on #499
Waiting for https://github.com/SUSE/doc-caasp/pull/513 to be resolved to close.

[2019-09-24 12:35] ereslibre commented on #517
For creating a cluster you need a machine where you can run:
* `skuba cluster init`
* `skuba node bootstrap`

and subsequent `skuba node join` commands (these commands can be run from anywhere with access to the cluster definition folder, the apiserver and SSH access to the target nodes).

The important part is that `skuba cluster init` and `skuba node bootstrap` could be run on any machine with S

[2019-09-24 12:53] rkoktan commented on #509
I'd be happy to help, but am not sure if KVM makes use of "templates" as VMware does, will have to look in to it...
Yes, that's exactly what I meant by pulling from different sections , I read thru all the sections and noticed differences and had to make use of content from multiple sections to get my KVM lab to work.

[2019-09-24 12:53] rkoktan commented on #509
Haha, well neither is XEN a supported platform, but customers use it in produciton nonetheless!

[2019-09-24 13:09] savasirez commented on #517
I believe you are correct, it may be better to insert a disclaimer about this [here](https://documentation.suse.com/suse-caasp/4/single-html/caasp-deployment/#_deployment_on_existing_sles_installation), what do you think?

[2019-09-24 13:39] ereslibre commented on #517
+1, yes. In general they won't run applications per-se (that's what Kubernetes is for), but they might want to run some configuration management tools that have an agent (salt, chef...) or other similar applications.

[2019-09-24 14:08] lcavajani commented on #508
This mostly for security reasons and to "reduce" the domain of failure:

* I'd just avoid as much as I can exposing services on the masters
* Even if these `NodePort` on the masters are not exposed to the public, `kube-proxy` is adding iptables rules, so less rules is always a way to avoid issues (there are enough).
* If we have 400 nodes, we probably don't need to expose the services to all these

[2019-09-24 14:10] lcavajani commented on #508
For me this a bit the equivalent of `*:80` vs `192.168.1.1:80`, I always prefer to explicitly declare where I want to listen.

[2019-09-24 14:29] Martin-Weiss commented on #508
The problem I see with :80 / :443 is that these are "low" ports and we might have potential conflicts depending on what is running in the cluster.. For node-ports the system takes care (if we do not hard-code them). Accessing them via masters is a different thing - I believe the load balancer need to be configured to go to a list of workers for nginx-ingress, anyway. Also maintaining a direct 1:N

[2019-09-24 14:39] lcavajani commented on #508
@Martin-Weiss (I didn't mention it but I would also change the ports when using `externalIPs`. )

[2019-09-24 14:41] Martin-Weiss commented on #508
Great - and if we would use secondary IPs (VIP) for that we could even move them between workers and without the need to adjust them on the load balancer.. is there a way to manage secondary IPs via K8S?

[2019-09-24 19:31] r0ckarong commented on #517
OK but again: You can NOT just add general purpose SLES machines to the cluster and expect this to work correctly?!

[2019-09-24 19:33] r0ckarong commented on #517
That is exactly what I'm trying to clarify here, yes :)

[2019-09-24 19:45] ereslibre commented on #517
You can. As long as they don't have swap.

[2019-09-24 19:51] ereslibre commented on #517
However one thing is what can be done, and other is what we encourage and support.

I can't tell whether we would support a "reused" SLE machine that is running nginx or mariadb at the host level. What I can tell is that we should encourage users to create machines for the sole purpose of joining the Kubernetes cluster. The use cases where they will "reuse" machines is nearly to 0, I would expect

[2019-09-24 23:32] jenting commented on #507
Missing a step to create namespace `nginx-ingress`

[2019-09-25 05:21] savasirez commented on #517
My impression when reading the part was actually this :
1. I have vms which are new, and since I'm using Proxmox as hypervisor, I could not go with vm instructions.
2. I don't want to get into autoyast configs, so I could not bare metal instructions.
3. That left me with the only choice of "installation on existing systems". So I thought it was there for structures like mine...

[2019-09-25 09:28] flavio commented on #437
So, the minimal size of a cluster with v4 is two nodes: 1 master and 1 worker.
We can support growing this minimal setup to something bigger. We won't however recommend its usage in a production environment: there's no HA anywhere in this picture.

To abstract it even further: we do not recommend the usage in production of any kind of cluster with less than 3 master nodes. That's because etcd is n

[2019-09-25 10:01] ereslibre commented on #437
Theoretically a single master node (without worker nodes) should suffice as the minimal-minimal, as long as they have the right tolerations in place for their workloads. Of course, as @flavio says, this is not a recommended setup for production.

[2019-09-25 10:44] r0ckarong commented on #437
@flavio @ereslibre The question remains: What is the minimal "supportable" environment? In this context it means "What is the minimal cluster size you can run in production that we will provide _support_ for?" Support meaning, "We will fix our code/docs/processes if your workloads won't run on that configuration".

@kkaempf Am I misunderstanding what we mean with "supported". It's certainly the ex

[2019-09-25 10:47] r0ckarong commented on #507
https://github.com/SUSE/doc-caasp/commit/f521d2c14d5f5a34588987d56214ed6230958c2a

[2019-09-25 12:12] savasirez opened #523 "[doc]"
It looks like some warnings etc are forgotten to be erased from here. I think they should be fixed since CaasP 4.0 is GA now.

https://documentation.suse.com/suse-caasp/4/single-html/caasp-quickstart/#id-1.2

[2019-09-25 12:28] savasirez opened #524 "[doc] 6.1.3 Installing Helm and Tiller"
6.1.3  Installing Helm and Tiller

https://documentation.suse.com/suse-caasp/4/single-html/caasp-admin/#helm_tiller_install

When I tried to install Tiller, it outputs the following, but it fails:

When I checked the logs of the pod, the output is below:

I think it's something to do with the **{helm_tiller_version}** part.

[2019-09-25 13:07] savasirez commented on #524
OK, not sure if I got the correct way, but, here is what I did to workaround it:
1st a note: I tried couple of time as it was suggested inside the document, but it always failed with the same error (InvalidImageName).

But, when I delete the deployment and retry the "helm init" like below, it successfuly deployed the Tiller pod.

Logs of tiller-deploy pod:

[2019-09-25 13:32] r0ckarong commented on #517
@kkaempf @qnetter Are we aiming at using "existing SLES (as in running other applications" as cluster nodes or can I reword these instructions to explicitly exclude that scenario?

[2019-09-25 13:37] kkaempf commented on #517
I wouldn't want to support such a scenario. CaaSP nodes should be dedicated to CaaSP and not run other applications/services.

[2019-09-25 13:39] r0ckarong commented on #517
OK I will rewrite this section to make that clear and that "existing SLES" only means "SLES that was installed without CaaSP at the time".

[2019-09-25 13:41] savasirez commented on #517
+1

[2019-09-25 14:35] r0ckarong commented on #523
This was already fixed with https://github.com/SUSE/doc-caasp/commit/27adecf949017a8c428c657f0db2ceeaf10546c7

We just didn't publish the latest changes yet. I've triggered rebuild and publishing of the current commit state.

[2019-09-25 14:35] #523 closed

[2019-09-25 14:39] r0ckarong commented on #524
As you stated correctly this happens because an entity that should have replaced the container image version was missing and thus not working.

This was fixed with commit https://github.com/SUSE/doc-caasp/commit/e9c64c1ceff73ee59ba9ae5ff166668333e8c87b

Updated instructions should be published soon.

[2019-09-25 14:40] #524 closed

[2019-09-26 09:59] kkaempf commented on #437
Not really. The above sounds as "if you have a broken workload, we will fix caasp" (aka 'we adapt, you succeed' :grin:).

It's rather like "We will help you to get your workloads running and fix code/docs/processes if needed".

Yes, fully agreed.
On top of that, _supported_ is **always** an engineering decision. If engineering is not comfortable to support something, it shouldn't be flagged as sup

[2019-09-26 10:37] r0ckarong commented on #437
Ok then I will reword to make it abundantly clear that while you CAN use a minimal configuration of as little as two machines, this is not supported or in any way ready for production. The new default minimal "supported" configuration will be adjusted to 6.

[2019-09-26 11:07] #437 closed

[2019-09-26 14:17] lcavajani commented on #507
Just a quick info, previously create the namespace is not required with Helm `v2` but it is with `v3`.

[2019-09-26 14:41] flavio commented on #437
6, where is this number coming from?

The minimal supported configuration for production is going to be:
  *  3 master nodes
  * 1 worker node

There's no need to have an admin node with v4. They could run skuba from their laptop or from one of the master nodes. We would be fine with it.

[2019-09-26 14:45] Martin-Weiss commented on #437
Why do we need one worker only? We have dex, gangway only running on workers - so 1 worker would not give fault tolerance... if we go down to one worker - why not go down to 1 master, too?

[2019-09-26 14:53] ereslibre commented on #437
On the first MU for skuba they tolerate running on master nodes as well.

[2019-09-26 15:24] ereslibre commented on #437
3+1

Plus, the two load balancers they should set up in order to be real HA, if they are using machines for setting up the LB's.

[2019-09-27 06:42] Martin-Weiss commented on #437
I am still not happy with the wording "two load balancers" - this is like adding "two storage systems".
We need one load balancer that is as "fault tolerant" as the customer requires. This is also true for DNS, NTP, Storage. A single load balancer can have a higher availability than two load balancers that are somehow "interconnected".

Also I do not see why we should support a scenario with only

[2019-09-27 07:44] ereslibre commented on #437
We need one load balancer that is as "fault tolerant" as the customer requires

Agreed.

I would support that we document that only 2+ worker nodes clusters are supported.

This makes sense to me.

[2019-09-27 11:03] ereslibre commented on #437
@Martin-Weiss the reason why I am recommending two LB's is that you don't have a single point of failure in any component. This is not achievable with just one. What's your suggestion here?

[2019-09-27 11:20] Martin-Weiss commented on #437
If you by a storage system - the storage system has two storage "heads" and due to that provides fault tolerance. So from a logical point of view it is one storage system but it has two (or even more heads) making it fault tolerant from a client point of view.

For a load balancer this is the same - one load balancer can be fault tolerant internally and you can buy a single physical load balancer

[2019-09-27 11:29] ereslibre commented on #437
Oh - and btw. also one single k8s cluster can be seen as not fault tolerant as a single command can destroy it - so we would need two or more ;-).

I see your point. For the issue at hand then I think we can avoid adding up two load balancers to the cluster size requirements, because the customer will use their own means to perform a failover LB operation.

The question is for those customers that

[2019-09-27 12:23] Martin-Weiss commented on #437
I would not even go that deep - K8S needs a load balancer and that should have a high enough availability that fulfills the customers requirements.  If they do it via VMware HA or use keepalived or haproxy or what else - should not be our problem. We can just say that in case they are interested in a SUSE solution SLE-HA with pacemaker and haproxy can help to address their needs.
(keepalived is no

[2019-09-28 01:09] jandubois opened #528 "[doc] 4.2.2 Transitioning from Docker to CRI-O"
4.2.2  Transitioning from Docker to CRI-O

https://documentation.suse.com/suse-caasp/4/single-html/caasp-deployment/#_transitioning_from_docker_to_cri_o

As far as I can tell the option is not called `--strict-cap-defaults`, but `--strict-capability-defaults`.

See https://github.com/SUSE/skuba/pull/529/commits/c2f84394cf1cf4342847eeacabcc91980e31ebce

[2019-09-30 10:09] r0ckarong commented on #528
@tdaines42 @ereslibre This parameter is not documented in https://github.com/SUSE/skuba/blob/master/docs/man/skuba-cluster-init.1.md

Could you please verify which one is correct and add this to the skuba docs?

[2019-09-30 10:21] r0ckarong commented on #528
Also I can not find this in the current code base. That code has been moved so I can't verify the above commit.

[2019-09-30 10:21] ereslibre commented on #528
Submitted https://github.com/SUSE/skuba/pull/730

[2019-09-30 10:29] r0ckarong commented on #504
Not going to document this. As Rafa said, this is k8s user knowledge.

[2019-09-30 10:29] #504 closed

[2019-09-30 10:40] r0ckarong commented on #437
Changed wording once again to reflect this discussion:
https://github.com/SUSE/doc-caasp/commit/037aab1de1b1a4e74942fb95d5e255abb1e75913

[2019-09-30 14:40] lcavajani commented on #508
@Martin-Weiss I did try and you can use VIP in `externalIPs` without issues since it's just adding NAT rules on all the nodes.

Let's say we use `10.0.1.1` in the `externalIPs`, the following rules will be added on all the nodes so wherever the VIP is attached, it should work (I just did the test by manually adding an ip with `ip addr add`)

[code]

So this also means one of my point about reducin

[2019-10-01 06:54] r0ckarong commented on #517
Looks like a real world case of this misunderstanding is documented here: https://bugzilla.suse.com/show_bug.cgi?id=1152354

[2019-10-01 07:19] r0ckarong commented on #517
https://github.com/SUSE/doc-caasp/commit/fe58e8552e95478174345c1d06fb0de296ff001c

[2019-10-01 07:19] #517 closed

[2019-10-01 08:33] flavio commented on #437
Thanks @r0ckarong. I like the new wording

[2019-10-01 09:27] gusraggio opened #531 "[doc] 2.1.1 Management Workstation"
2.1.1  Management Workstation

https://documentation.suse.com/suse-caasp/4/single-html/caasp-deployment/#_management_workstation

The skuba cli is available on the caasp module so you will need a SLES subscription and Caasp subscription.

[2019-10-04 08:29] kravciak opened #537 "[doc] Wrong certificate path on CPI instructions"
If certificate is uploaded to /etc/ssl/certs it disappears after cluster update. This means kubernetes looses access to openstack and cluster dies.

**What we have:**
[3.2.1  Deploying the Cluster Nodes](https://documentation.suse.com/suse-caasp/4/single-html/caasp-deployment/#_deploying_the_cluster_nodes)
[code]
[4.2.3.2  Example OpenStack Cloud Provider Configuration](https://documentation.suse.

[2019-10-04 09:17] nkoranova opened #538 "Unify use of placeholders."
According to the [conventions defined in our guides](https://documentation.suse.com/suse-caasp/4/single-html/caasp-admin/#_documentation_conventions) and the [SUSE Style Guide](http://docserv.nue.suse.com/documents/Style_Guide/docu_styleguide/html/#sec-placeholder), placeholders for actual values are written in capitals: `PLACEHOLDER`.
In reality we don't really adhere to this rule. The most estab

[2019-10-04 09:38] Martin-Weiss commented on #537
Should this: ca-file="/etc/pki/trust/anchors/SUSE_Trust_Root.pem" not be /etc/ssl/ca-bundle.pem ?
-> after we copy the public cert of the CA to /etc/pki/trust/anchors/SUSE_Trust_Root.pem and execute "update-ca-certificates" it is going to /etc/ssl/ca-bundle.pem  which includes all CAs that are trusted on the system.

[2019-10-04 09:45] kravciak commented on #537
ca-file is [used here](https://kubernetes.io/docs/concepts/cluster-administration/cloud-providers/#global) as kubernetes config, not sure if we want ca-bundle.pem

But I am no expert here - @mjura maybe knows

[2019-10-04 15:20] m0rbo opened #542 "[doc] 3.4.3.1 SUSE Linux Enterprise Server Installation"
3.4.3.1  SUSE Linux Enterprise Server Installation

https://documentation.suse.com/suse-caasp/4/single-html/caasp-deployment/#_suse_linux_enterprise_server_installation_2

The link in the text "bootstrap guide" is invalid, it goes here:
https://documentation.suse.com/suse-caasp/4/single-html/caasp-deployment/deployment-bootstrap.adoc

I assume it should go to:
https://documentation.suse.com/suse-c

[2019-10-04 15:24] m0rbo opened #543 "[doc] 4.3 Using kubectl"
4.3  Using kubectl

https://documentation.suse.com/suse-caasp/4/single-html/caasp-deployment/#_using_kubectl

Just running this step doesn't work without some prior intervention.
In some way the admin.conf has to be referenced via ~/.kube/config file.
Whether that's via a symlink, or just copying the admin.conf file to "~/.kube/config".
Some people may not know what is needed to be done here so we

[2019-10-07 08:41] r0ckarong opened #544 "Create separate deployment guides per platform"
Brad Bendily suggested to have separate deployment guides for each platform. We had some complaints before that it's hard to navigate the unified guide by jumping around the instructions and skipping what doesn't apply. Separate guides would make it more fool proof to read and use.

Trade-offs:
* it will fragment the docs
* new meta docs to maintain
* harder to pinpoint a bug because of re-use of

[2019-10-07 09:07] r0ckarong commented on #531
Will add a note clarifying that this is the case. We assumed this is a natural implication if you already need these subscriptions for the rest of the deployment processes.

[2019-10-07 09:10] r0ckarong commented on #538
I translated the doc conventions roughly to what was available in AsciiDoc.

If we want to keep this aligned with the rest of the products we either lead by example (suggest we talk to the SUMA folks how they're handling this) or start a long discussion in the Doc team about how everyone thinks it should be handled. I'm for the former since we're the two projects that I know of that are actively w

[2019-10-07 09:56] r0ckarong commented on #544
This requires #280 to be merged since we will have many "interset" links.

[2019-10-07 10:02] r0ckarong commented on #542
Closed with https://github.com/SUSE/doc-caasp/commit/88de53a9eda21390758f100d5ca6b904b890c965

[2019-10-07 10:02] #542 closed

[2019-10-07 10:03] r0ckarong commented on #528
Fixed this in e8c92541cad1273f1a59967ebc0316fcc004f225

[2019-10-07 10:04] #528 closed

[2019-10-07 11:28] #508 closed

[2019-10-07 11:38] #543 closed

[2019-10-07 14:05] r0ckarong commented on #373
@jordimassaguerpla Is this merged now?
@nkoranova would you take care of this if it is please?

[2019-10-07 14:45] jordimassaguerpla commented on #373
This has not been released yet, sadly.

[2019-10-07 14:52] r0ckarong commented on #373
Referenced in https://bugzilla.suse.com/show_bug.cgi?id=1153230

[2019-10-07 15:18] r0ckarong commented on #478
@jordimassaguerpla bump

[2019-10-07 15:41] jordimassaguerpla commented on #478
Hi @r0ckarong ! Sorry for not answering you before. Actually you need to do both, register the SLES15SP1 system and then enabling the Server Application module.

[2019-10-07 16:02] sknorr commented on #373
Oh well, can't say I haven't tried. Nora said it was finally released now.

I have revoked the MR I made as well.

[2019-10-07 19:33] jandubois commented on #528
@r0ckarong You missed an earlier mention of the option in the same file:

use the `--strict-cap-defaults` option during the initial setup when you run `skuba cluster init`,
which will create the vanilla CRI-O configuration:

[2019-10-08 08:27] nkoranova commented on #373
I said it was merged. :) which it was. I foolishly expected it to be released soon thereafter. Sorry. :confused: btw. @sknorr when you merge something into the release notes repo, does that simultaneously mean it  gets published? Or what is the process?

[2019-10-08 08:36] r0ckarong commented on #528
@jandubois Where did you see this? I just checked and it's correct in the source code. If you found this on the documentation website then I need to trigger another rebuild.

[2019-10-08 09:14] sknorr commented on #373
No, it's not automatically published (with your current process anyway). I need to package and submit it after merging and the team needs to accept the submission. But I'd done my part already before I saw Markus's message here. :)

[2019-10-08 14:52] nkoranova commented on #339
SUSE Manager has an Issue open here: https://github.com/SUSE/spacewalk/issues/8307

[2019-10-08 15:04] nkoranova commented on #361
related: https://github.com/SUSE/doc-caasp/issues/538

[2019-10-08 15:05] r0ckarong commented on #361
We can just close this one since the other one is about the same thing.

[2019-10-08 15:06] #361 closed

[2019-10-08 15:22] r0ckarong commented on #510
https://github.com/SUSE/avant-garde/issues/843

[2019-10-08 16:44] jandubois commented on #528
@r0ckarong I just looked at your change: https://github.com/SUSE/doc-caasp/pull/536/commits/6582e0edb7d247ec3d1ffddb254b43e13f708afe

It is missing the other mention of the parameter, but it has since been fixed by https://github.com/SUSE/doc-caasp/pull/536/commits/6582e0edb7d247ec3d1ffddb254b43e13f708afe

Sorry for not checking the state of `master` first! Everything looks fine now.

[2019-10-08 23:47] r0ckarong opened #548 "Create blog post to describe air gapped CaaSP"
Many customers need air gapped in their environment and we can gain some traction by detailing how it would work with CaaSP.

[2019-10-09 08:54] nkoranova commented on #537
I asked @mjura and he said he will investigate.

[2019-10-09 12:27] mjura commented on #537
It looks ok :+1:

[2019-10-09 12:55] #537 closed

[2019-10-10 02:59] Hui-Zhi opened #550 "[doc] 4.3 Using kubectl"
4.3  Using kubectl

https://susedoc.github.io/doc-caasp/master/caasp-deployment/single-html/#_using_kubectl

Please change ```mkdir -p ~/.kube``` to ```mkdir ~/.kube```, because there's no sub directory need to be created.

[2019-10-10 03:41] Hui-Zhi commented on #506
Maybe we can use ```stable/prometheus-operator``` instead of ```stable/prometheus```?

Because ```prometheus-operator``` doesn't need a storage for it, it can make it much easier.

command:
[code]
If customer want to view it remotely, just can change the network type from ```type: clusterIP``` to ```type: NodePort``` without load balance deployment by below command:
[code]
Of cause we need a profe

[2019-10-10 06:33] Martin-Weiss commented on #550
I thought the „-p“ prevents an error message in case the directory already exists. Did you get an error message with using „-p“?

[2019-10-10 08:00] Hui-Zhi commented on #550
No I didn't get an error.

You made the point, it can prevent an error.

[2019-10-10 08:00] #550 closed

[2019-10-10 10:48] #427 closed

[2019-10-10 18:55] markgharvey opened #552 "Adjust documentation link in repo tag line"
The tag line on the CaaSP Docs GitHub that probably could use an edit.

SUSE Container as a Service Platform Documentation https://www.suse.com/documentation/su…

? change to documentation.suse.com ?

[2019-10-11 14:37] #478 closed

[2019-10-11 15:09] r0ckarong commented on #552
Right, good call. Updated.

[2019-10-11 15:09] #552 closed

[2019-10-12 03:29] dannysauer opened #553 "Inaccurate reference to using .ssh/config with skuba"
Sorry I didn't see the review request earlier. Unfortunately, skuba uses a golang ssh library which does not check the OpenSSH configuration files. So, while we can set OpenSSH to ignore an identity used by skuba, we can not tell skuba to use or ignore any particular identity. This is unfortunate, as it would be nice to be able to specify a user, identity file, etc in the config for skuba. :/

_Or

[2019-10-12 03:30] dannysauer commented on #553
Assigning myself so hopefully I'll actually remember to fix this along with the other related ssh documentation tweaking I was planning to make.

[2019-10-14 07:01] Hui-Zhi opened #554 "[doc] 6.1.5 Queuing"
6.1.5  Queuing

https://susedoc.github.io/doc-caasp/master/caasp-admin/single-html/#_queuing

```/var/lib/{RELEASE_NAME}-log-agent-rsyslog``` should be ```/var/log/containers/{RELEASE_NAME}-log-agent-rsyslog```

[2019-10-14 10:03] nkoranova commented on #490
@jenting it looks like this bug was fixed with https://github.com/SUSE/skuba/pull/717
Is there anything to change in https://susedoc.github.io/doc-caasp/master/caasp-deployment/single-html/#_configuring_the_load_balancer ?

[2019-10-14 11:42] nkoranova commented on #476
We already have this in a couple of places in the individual installation scenarios. For example:
https://susedoc.github.io/doc-caasp/master/caasp-deployment/single-html/#_suse_linux_enterprise_server_installation
As well as the autoyast.xml file: https://susedoc.github.io/doc-caasp/master/caasp-deployment/single-html/#_deploying_with_local_repository_mirroring_tool_rmt_server
We could potentially

[2019-10-14 11:54] r0ckarong commented on #476
I agree, the deployment specifics are covered by the instructions and a "catch all" list currently makes no sense for general documentation. If this is needed for some purpose in consulting this should be easy to compile from the separate guides. We do not have that many scenarios to cover at the moment.

[2019-10-14 11:55] #476 closed

[2019-10-14 13:09] #506 closed

[2019-10-14 13:09] #521 closed

[2019-10-14 13:11] #312 closed

[2019-10-14 13:22] nkoranova commented on #315
This is covered by https://github.com/fujexo/doc-caasp/pull/107/files

[2019-10-14 13:22] #315 closed

[2019-10-14 13:23] jenting commented on #490
The bug fixed dex/gangway with replicas=3. Not the one mentioned in the issue topic Load Balancer -> dex/gangway via the masters.

Service type NodePort is [accessible](https://kubernetes.io/docs/concepts/services-networking/service/#nodeport) on all master/worker port, so in my opinion, I vote to keep Load balancer -> dex/gangway via the masters.

[2019-10-14 13:31] nkoranova commented on #316
Covered by: https://github.com/SUSE/doc-caasp/blob/master/adoc/admin-security-psp.adoc

[2019-10-14 13:31] #316 closed

[2019-10-14 13:33] nkoranova commented on #317
currently described by https://github.com/SUSE/doc-caasp/blob/master/adoc/deployment-cilium.adoc
and https://github.com/SUSE/doc-caasp/pull/547

[2019-10-14 13:48] nkoranova commented on #318
Audits can be done with [centralized logging](https://susedoc.github.io/doc-caasp/master/caasp-admin/single-html/#_centralized_logging), right? @innobead is anyone up to writing a section on how to interpret logs from centralized logging for the purpose of security audits? https://kubernetes.io/docs/tasks/debug-application-cluster/audit/

[2019-10-14 13:59] nkoranova commented on #313
Done in:
https://github.com/SUSE/doc-caasp/pull/415
https://github.com/SUSE/doc-caasp/pull/355
https://github.com/SUSE/doc-caasp/pull/419

[2019-10-14 13:59] #313 closed

[2019-10-14 14:27] nkoranova commented on #378
https://documentation.suse.com/suse-caasp/3/single-html/caasp-admin/#ex-admin-security-groups-role
@innobead this is a fix for v3 https://github.com/SUSE/doc-caasp/pull/556
Is that what the original Issue was about?

[2019-10-15 06:37] cclhsu commented on #378
@nkoranova #556 and #441 are fixing same issue of extra "-" in admin security document.

[2019-10-15 07:21] andreas-mach opened #557 "[doc] 3.4.2.1 Deploying with local Repository Mirroring Tool (RMT) server"
3.4.2.1  Deploying with local Repository Mirroring Tool (RMT) server

https://documentation.suse.com/suse-caasp/4/single-html/caasp-deployment/#_deploying_with_local_repository_mirroring_tool_rmt_server

---
I'm a missing the XML elements for the needed "addons":

    <addons config:type="list">
      <addon>
        <name>sle-module-containers</name>
        <version>15.1</version>
        <arch>

[2019-10-15 07:51] nkoranova commented on #378
Ok. In that case the issue is probably solved.

[2019-10-15 07:51] #378 closed

[2019-10-15 11:40] r0ckarong commented on #503
Fixed with: 88ff4229e0c21d0465b9206019df5be42eedf377

[2019-10-15 11:40] #503 closed

[2019-10-15 14:50] tgeek77 opened #558 "[doc] 4.7 NGINX Ingress Controller"
4.7  NGINX Ingress Controller

https://documentation.suse.com/suse-caasp/4/single-html/caasp-admin/#nginx-ingress

I see 2x issues.

In the example command:

[code]
You are using the nginx-ingress namespace

When you check the pods, you are using the "monitoring" namespaces. The two should be consistent.
[code]

The second issue is that you are using the _stable/nginx-ingress_ chart. However, ther

[2019-10-16 12:33] nkoranova opened #559 "Recommended adjustments of kubeadm-init.conf"
Following up on https://github.com/SUSE/doc-caasp/issues/488

It would be useful to provide more details about the required adjustments of `kubeadm-init.conf` other than just the networking part.
Are there any other parts which require user adjustments? What else is there to say about this file? Does it make sense to put explanatory comments directly in the kubeadm-init.conf file?

There is alread

[2019-10-17 01:31] r0ckarong commented on #558
Will change [Line 58](https://github.com/SUSE/doc-caasp/blame/master/adoc/admin-security-nginx-ingress.adoc#L58) to reflect the correct namespace.

@lcavajani I'm sorry if this is a duplicate but wasn't there a reason we use the upstream chart than the suse published one? I can't find the discussion about this we had last time.

[2019-10-17 08:00] lcavajani commented on #558
@r0ckarong it was just because the SUSE one was not ready at that time ;)

[2019-10-18 09:08] cclhsu opened #561 "Incorrect attribute references in LDIF example docs - external ldap"
After triage [bsc#1154404](https://bugzilla.suse.com/show_bug.cgi?id=1154404), following action is required for updating the document:

- Need to modify document to add "OU:Users"
- Need to modify document to update "posix group attributes"
- Need to modify document to add "modify operation type"

Assignee: @cclhsu

[2019-10-18 09:20] innobead commented on #561
@r0ckarong @nkoranova please help assign to @cclhsu . Thanks.

[2019-10-18 12:46] r0ckarong commented on #177
Duplicate of #323

[2019-10-18 12:46] #177 closed

[2019-10-18 12:47] r0ckarong commented on #319
Migration not needed. Rest is already described.

[2019-10-18 12:47] #319 closed

[2019-10-18 12:47] r0ckarong commented on #319
Relates to #323

[2019-10-18 12:48] r0ckarong commented on #323
As per this comment right now migration is not needed and will not be developed as of now.

https://github.com/SUSE/avant-garde/issues/72#issuecomment-543714594

[2019-10-18 12:48] #323 closed

[2019-10-18 14:00] r0ckarong commented on #156
Covered in #545 and #560

[2019-10-18 14:00] #156 closed

[2019-10-18 14:01] #297 closed

[2019-10-18 14:01] r0ckarong commented on #297
Done in #346

[2019-10-18 14:03] r0ckarong commented on #305
Done in https://github.com/SUSE/doc-caasp/commit/9cde9f3680e4828521fde8381b071fb156fffed9

[2019-10-18 14:03] #305 closed

[2019-10-18 15:25] r0ckarong commented on #308
Any updates here?

[2019-10-18 15:28] r0ckarong commented on #320
Covered in #503 for the most part.

[2019-10-18 15:28] #320 closed

[2019-10-18 15:29] r0ckarong commented on #321
Exists in https://github.com/SUSE/doc-caasp/blob/master/adoc/admin-updates.adoc

[2019-10-18 15:29] #321 closed

[2019-10-18 15:30] #336 closed

[2019-10-18 15:31] r0ckarong commented on #339
From our side good for now.

[2019-10-18 15:31] #339 closed

[2019-10-18 15:31] #474 closed

[2019-10-21 03:44] cclhsu commented on #561
[doc-caasp pr 562](https://github.com/SUSE/doc-caasp/pull/562)

[2019-10-21 11:23] #557 closed

[2019-10-21 13:05] #488 closed

[2019-10-21 13:48] #558 closed

[2019-10-21 16:44] r0ckarong opened #564 "Create a PR template"
https://help.github.com/en/github/building-a-strong-community/creating-a-pull-request-template-for-your-repository

Explain why you must set the "P1" or "Blocked" labels or comment appropriately.

[2019-10-22 01:10] innobead commented on #561
@cclhsu please help close the bsc as well. Thanks.

[2019-10-22 02:35] cclhsu commented on #561
[bac#1154404](https://bugzilla.suse.com/show_bug.cgi?id=1154404) is set as resolved.

[2019-10-22 07:12] r0ckarong commented on #564
Closed with: b4a53e2eeb890d823140e787e8ee98c4504247c2 and 710882159d0053a647311eaeef12dd8fbb711213

[2019-10-22 07:12] #564 closed

[2019-10-22 08:35] #561 closed

[2019-10-22 15:31] r0ckarong opened #566 "Describe the new elements in the docs process"
* Describe the process of working with the two repos (doc-caasp, caasp-release-notes) to create a new release
* Describe release process (meetings, coordination, time frames)
* Describe use of labels for doc-caasp issues
* Describe PR handling
* Describe backlog refinement and sprint planning for tech writers

[2019-10-24 10:59] r0ckarong opened #567 "Improve CRI-O registry docs (bsc#1139748)"
https://bugzilla.suse.com/show_bug.cgi?id=1139748#c21

[2019-10-24 11:54] #567 closed

[2019-10-24 12:09] saschagrunert commented on #567
Thanks @r0ckarong :pray:

[2019-10-24 12:15] thehejik commented on #391
For unattended caasp v4 terraform deployment on vmware it is mandatory to enable cloud-init services, otherwise it wouldn't work.

I took these services from OpenStack JeOS where cloud-init is involved by default in JeOS, see https://build.suse.de/package/view_file/SUSE:SLE-15-SP1:GA/kiwi-templates-SLES15-JeOS/images.sh?expand=1

If you are not going to use terraform on vmware (for auto deployment

[2019-10-24 12:59] andreas-mach opened #568 "needed steps for adding Kubernetes dashboard are missing in the CaasP v4 docs"
Please, add the needed steps to add Kubernetes dashboard into the CaasP v4 docs.

Thx
Andi

[2019-10-24 13:10] r0ckarong commented on #568
https://github.com/sigsteve/vagrant-caasp/blob/master/deploy/07.add_dashboard.sh

[2019-10-24 14:52] Martin-Weiss commented on #391
Could you explain why this is the case with terraform or in general?

AFAIK VMware supports VM personalization using vmware-tools / open-vm-tools in the guest and with templating in VMware - so why is cloud-init required in addition within the templates?

[2019-10-24 17:00] thehejik commented on #391
Right, there are also other methods for data injection into vmware VM (AFAIK based on GuestInfo channel or ESX API - pyvmomi; ignition as replacement for cloud-init) which are not depending on cloud-info services nor Terraform itself.

Anyway, for CaaSP v4 we are providing vmware terraform states based on our terraform states used on OpenStack with official cloud-init support (JeOS-cloud-init imag

[2019-10-24 19:50] phs4suse opened #569 "[doc] 1.2 Administrator Accounts"
1.2  Administrator Accounts

https://documentation.suse.com/suse-caasp/3/html/caasp-admin/cha-admin-security.html#sec-admin-security-admin

The link for Access Control is broken -" https://v1-11.docs.kubernetes.io/docs/reference/access-authn-authz/controlling-access/"

[2019-10-24 19:53] dannysauer opened #570 "[doc] 4.9.4 Deployment with a Custom Root CA Certificate"
4.9.4  Deployment with a Custom Root CA Certificate

https://documentation.suse.com/suse-caasp/4/single-html/caasp-admin/#_deployment_with_a_custom_root_ca_certificate

It would be helpful to clarify the expected contents of the .crt and .key files, as some PKIs issue a combined .pem file (or just the cert in a file named .pem) - which can lead to some confusion for end-users.

[2019-10-25 07:38] Martin-Weiss commented on #391
Do you know why with Terraform and VMware the open-vm-tools are not sufficient and why cloud-init is required in this area, too? Do we prevent somehow that not both try to adjust the servers identity?

[2019-10-25 08:24] r0ckarong commented on #570
@dannysauer Can you provide this information or point me towards someone who can?

[2019-10-25 08:35] r0ckarong commented on #569
This is a tough one to deal with. k8s breaks our legacy docs by only keeping the last 5 releases on their website and releasing often. I will replace this link with the github repo of the old version but expect some artifacts because of unrendered entity replacements.

[2019-10-25 08:35] r0ckarong commented on #569
https://github.com/kubernetes/website/blob/release-1.11/content/en/docs/reference/access-authn-authz/controlling-access.md

[2019-10-25 09:22] #569 closed

[2019-10-25 10:20] #480 closed

[2019-10-25 10:28] r0ckarong commented on #538
Adjust https://github.com/SUSE/doc-caasp/blob/master/adoc/common_intro_typography.adoc if necessary.

[2019-10-25 11:13] r0ckarong commented on #311
Done in: https://github.com/SUSE/doc-caasp/commit/7c8695703a1e58dcb438f24fc671c1cc228586c1

Cyphers covered in certs docs, networking security separately.

[2019-10-25 11:13] #311 closed

[2019-10-25 11:15] r0ckarong commented on #314
Covered in "external LDAP" https://documentation.suse.com/suse-caasp/4/single-html/caasp-admin/#_configuring_an_external_ldap_server

[2019-10-25 11:15] #314 closed

[2019-10-25 11:15] #317 closed

[2019-10-25 12:22] #307 closed

[2019-10-25 12:26] r0ckarong commented on #327
Scaling described in: https://documentation.suse.com/suse-caasp/4/single-html/caasp-admin/#_bootstrap_and_initial_configuration

[2019-10-25 12:27] #325 closed

[2019-10-25 12:28] Martin-Weiss commented on #391
Ok - thanks. Customer does not want to use terraform because they already have their VMware machine provisioning infrastructure based on powershell and VMware API - so we are trying to find out what exactly we need in the VM guests for templating and using VMware based personalization.. assuming that open-vm-tools should be sufficient.. but I agree - this is a slightly different usecase.

[2019-10-25 12:29] r0ckarong commented on #497
@innobead Is there a password self service process?

Can you provide a method to hash the password for the LDIF please?

[2019-10-25 13:01] nkoranova commented on #391
It looks like this issue in indeed irrelevant. I'll go ahead and close it then.

[2019-10-25 13:01] #391 closed

[2019-10-25 13:33] #147 closed

[2019-10-25 13:35] r0ckarong commented on #150
Will be tackled for v4 in #568

[2019-10-25 13:35] #150 closed

[2019-10-28 03:22] dannysauer commented on #570
I'm not confident at all of the best place to put this information in the docs or how to format it, so hopefully you can figure this out, @r0ckarong :crossed_fingers:

The pem file will typically look something like this "..." abbreviated excerpt:
[code]

In general, a pem file consists of multiple certs or keys concatenated.  There may or may not be information about the cert at the beginning of

[2019-10-28 08:34] andreas-mach opened #571 "[doc] 5.2.1 Initializing the Cluster"
5.2.1  Initializing the Cluster

https://documentation.suse.com/suse-caasp/4/single-html/caasp-deployment/#_initializing_the_cluster
---
Can we add a picture from a scenario when you have to add load balancer IP to make it more clear for customers?

[2019-10-28 09:29] cclhsu commented on #497
[slappasswd](https://linux.die.net/man/8/slappasswd)

 Use following to generate hash password
[code]
and replace NEW_PASSWORD
[code]

[2019-10-28 09:55] andreas-mach opened #572 "[doc] 4.7 NGINX Ingress Controller"
4.7  NGINX Ingress Controller

https://documentation.suse.com/suse-caasp/4/single-html/caasp-admin/#nginx-ingress

-> reading: "The result should be two running pods:" the wrong namespace is used here, it has to be:
kubectl -n nginx-ingress get pod

Thx

[2019-10-29 14:24] r0ckarong commented on #571
With `picture` you mean a diagram of a deployment scenario that uses a load balancer?

[2019-10-29 14:27] #572 closed

[2019-10-29 14:35] r0ckarong commented on #497
@cclhsu OK so this is the one part.

Is there a procedure that a regular user can perform to change their own password or can passwords only be changed by LDAP admin?

[2019-10-29 15:29] andreas-mach commented on #571
yes, sorry if I was not clear enough.
Thanks

[2019-10-29 18:21] mskobal opened #577 "[doc] 3.1.2.2 Mirrored Resources"
3.1.2.2  Mirrored Resources

https://documentation.suse.com/suse-caasp/4/single-html/caasp-deployment/#_mirrored_resources

ORIGINAL CONTENT:
SUSESUSE Linux Enterprise Server RPM packages

CHANG SUGGESTED:
SUSE Linux Enterprise Server RPM packages

[2019-10-29 20:11] hubfb opened #578 "[doc] 3.4.2.1 Configuring the Load Balancer"
3.4.2.1  Configuring the Load Balancer

https://documentation.suse.com/suse-caasp/4/single-html/caasp-quickstart/#_configuring_the_load_balancer_2

Regarding Load Balancer installation, "nginx" can be installed using "Server Applications Module "module. However, if customer picks "haproxy" option, package is not in the "Server Applications Module" as Documentation lets supposed but in "SUSE Packag

[2019-10-30 01:11] innobead commented on #497
@cclhsu we already have a document for admin to change user password. Please try below similar command to verify user own password change to check if user is able to change password from outside.

`ldappasswd -p 389 -h server.example.com -x -D "uid=user1,ou=People,dc=example,dc=com" -W -a old_password -s new_password`

[2019-10-30 08:41] hakbeng opened #579 "[doc] 3.1 Airgapped deployment"
3.1  Airgapped deployment

https://documentation.suse.com/suse-caasp/4/html/caasp-deployment/_deployment_scenarios.html#_airgapped_deployment

This section has 2 duplicated paragraphs

[2019-10-30 14:40] #579 closed

[2019-10-30 14:40] #577 closed

[2019-10-31 09:34] andreas-mach opened #581 "[doc] 6.1.3.3 Alertmanager Configuration Example"
6.1.3.3  Alertmanager Configuration Example

https://documentation.suse.com/suse-caasp/4/single-html/caasp-admin/#_alertmanager_configuration_example

---
I think after modifying the file "prometheus-config-values.yaml" the step to upgrade the running Prometheus configuration is missing:

helm upgrade prometheus stable/prometheus --namespace monitoring --values prometheus-config-values.yaml

[2019-10-31 10:24] #570 closed

[2019-10-31 10:26] #531 closed

[2019-10-31 13:06] rkoktan commented on #510
The link in the above comment results in a error 404...

[2019-10-31 13:17] dannysauer commented on #510
That's a link to a private repo. You get a 404 if you don't have access or aren't signed in.

The half hour of training videos which were created there are:
 * Skuba bootstrap: https://youtu.be/Ydx3uYKqvvY
 * SSH key agent details: https://youtu.be/Qkozh6FQlKE

[2019-11-04 09:09] Martin-Weiss opened #582 "[doc] 3.1.2.2 Mirrored Resources - change "SUSESUSE" to "SUSE""
3.1.2.2  Mirrored Resources

https://documentation.suse.com/suse-caasp/4/single-html/caasp-deployment/#_mirrored_resources

---
SUSESUSE Linux Enterprise Server RPM packages

[2019-11-04 09:52] Martin-Weiss commented on #497
Are you sure we have to / can use slappasswd for LDIFs against 389ds?
I thought I had to use the tool "pwdhash" instead.

[2019-11-04 14:33] andreas-mach opened #584 "[doc] 6.1.3.2 Prometheus"
6.1.3.2  Prometheus

https://documentation.suse.com/suse-caasp/4/single-html/caasp-admin/#_prometheus

---

After step: "3. Deploy the upstream helm chart and pass our configuration values file."
from my point of view one step is missing here to be able to access the Prometheus Expression browser/API, the missing step is to add the "EXTERNAL-IP" to the "nginx-ingress-controller" service:

example

[2019-11-04 14:56] Martin-Weiss commented on #584
Do you need the externalIPs when you use nodeport and a load balancer in front of it?

[2019-11-04 15:05] cclhsu commented on #497
@Martin-Weiss

There are a number of ways to generate ssha hash password.  `slappasswd` and `pwdhash` are two have them.  Simple bash command as following will also work.

[code]

[2019-11-04 15:13] Martin-Weiss commented on #497
I can not remember the details anymore - but I had some problems with the LDIF files for users with passwords created for openLDAP using slappasswd when using them with 389ds. The users just could not login with the password against 389ds.

Then I had to realize that 389ds brings pwdhash instead of slappasswd. So I am not sure if all the documented slappasswd hashes and the way to specify them in

[2019-11-04 16:41] r0ckarong commented on #582
This was already done in: https://github.com/SUSE/doc-caasp/commit/81ca9382a16442147c55d445cf9b7233c813b2f9

Will be pushed with the next buid.

[2019-11-04 16:42] #582 closed

[2019-11-04 16:43] r0ckarong commented on #584
@lcavajani Can you answer this?

[2019-11-04 17:26] cclhsu commented on #497
@Martin-Weiss I just done some testing with latest 389ds with `slappasswd`, `pwdhash`, and script previous provided. All SSHA hash from three sources worked.  The  `slappasswd` is from registry.suse.com/sles12/openldap:10.0.  My guess is that 389ds have fixed some issue since sinc then.

[2019-11-05 06:51] Martin-Weiss commented on #497
Just to be sure to be sure - did you also test with {sha} and {crypt} (AFAIK crypt was used in V3 later on) - and did you try to login with the newly created users when using the old hashing with the new 389ds server? (maybe it was just my human error that it did not work for me ;-))

[2019-11-05 13:15] #481 closed

[2019-11-05 18:36] lcavajani commented on #584
@andreas-mach configuring the ingress controller is out of the scope of the Prometheus/Monitoring documentation, at the step you mention, regardless of your network config, you can access Prometheus at the following URL: https://prometheus.example.com

The doc at the beginning points to https://documentation.suse.com/suse-caasp/4/single-html/caasp-admin/#nginx-ingress , here you can choose a netwo

[2019-11-06 08:06] andreas-mach commented on #584
I've setup my env based on the "bare metal" instruction's from the official docs https://documentation.suse.com/suse-caasp/4/single-html/caasp-deployment/#deployment_bare_metal , agreed if you don't want to add this step to "Prometheus/Monitoring" section, but to get this working and make "Prometheus", "Prometheus-Alertmanager" and "Grafana" accessible from outside it was needed for me to add the

[2019-11-06 09:08] lcavajani commented on #584
Not sure about what you mean, configuring and external IP is described in the link I pointed you to in the last comment, https://documentation.suse.com/suse-caasp/4/single-html/caasp-admin/#nginx-ingress

So here are the steps order:

1. Deploy on bare-metal
2. Deploy nginx-ingress controller configured to use external Ips
3. Deploy monitoring stack

[2019-11-06 09:39] andreas-mach commented on #584
ok, thanks for clarification, I'll test to use external IPs as descried in the docs and provide feedback

[2019-11-07 12:01] r0ckarong commented on #584
@andreas-mach Please open a new issue if you have feedback that requires changes. Thanks. Closing this.

[2019-11-07 12:01] #584 closed

[2019-11-07 12:51] #581 closed

[2019-11-07 13:00] r0ckarong commented on #487
@Martin-Weiss Just so I can change the appropriate parts. Will the 50G minimum recommendation be enough typically for master nodes? Most container changes should happen on the workers, no?

If so I will add some recommendations based on the change rate/number of images consideration.

[2019-11-07 13:11] Martin-Weiss commented on #487
So 50 GB for the OS and 50 GB for /var/lib or /var/lib/containers - yes - I believe this should be sufficient. Probably this can be reduced but for the OS using snapshots with BTRFS we need the space and for the images we might also need less but we need to go through the learning curve..

Maybe we can just write something like best practice is 50G BTRFS for the OS and 50 GB BTRFS for /var/lib/con

[2019-11-07 15:06] #487 closed

[2019-11-08 02:10] cclhsu commented on #497
Yes, they work.  Not sure why we are using {CRYPT}.  Since from my understanding, `slappasswd`, `pwdhash`, and `openssl` using {CRYPT} only hash first 8 letters of a long password.

[2019-11-08 11:43] Martin-Weiss commented on #497
Great - thanks!

Unfortunately I do not / can not find a reference anymore where and why {CRYPT} was used - but if it is true that just the first 8 letters would be hashed - we should even recommend not to use this at all.

Then we should just document that either slappasswd or pwdhash can be used for hashing with valid examples.

[2019-11-08 16:17] Klaven commented on #568
@kkaempf and @qnetter some questions here.

Installing the dashboard is easy.

How it is configured is complicated and I think can generally depend on how you want to use it.

aka, do you give your dashboard the cluster admin role binding? If you do you would only want a few people to have access to it. Do you want users? and how do you want them to log in?

I guess the question that it comes down

[2019-11-11 12:44] karras opened #590 "Nutanix Acropolis not listed as supported platform for v4"
Nutanix is currently not listed as a supported platform in the v4 docs. Is it possible to add this hypervisor as a supported platform as well?

For v3 this was accepted and merged, see #217.

[2019-11-12 09:58] r0ckarong commented on #590
@qnetter @kkaempf What's the status of Nutanix support for v4?

[2019-11-12 10:13] Martin-Weiss opened #592 "[doc] 5.2 Cluster Deployment -> make clear that "USERNAME" is a variable"
5.2  Cluster Deployment

https://susedoc.github.io/doc-caasp/master/caasp-deployment/single-html/#_cluster_deployment

-> echo "USERNAME ALL=(ALL) NOPASSWD: ALL" >> /etc/sudoers should be changed to something like

-> echo "\<USERNAME\> ALL=(ALL) NOPASSWD: ALL" >> /etc/sudoers

Or could we change USERNAME to a different font?

[2019-11-12 10:16] Martin-Weiss opened #593 "[doc] 5.2.2.1 Network Settings -> add a recommendation for size of service and pod network"
5.2.2.1  Network Settings

https://susedoc.github.io/doc-caasp/master/caasp-deployment/single-html/#_network_settings

---
I would recommend to specify /16 or bigger for the pod / overlay network (/16 allows up to 256*256 pods)
And I would recommend to specify a smaller network for the services as in general the number of services can be expected to be smaller than the number of pods - but probabl

[2019-11-12 10:22] kkaempf commented on #590
Not on my 3-6 month backlog.

[2019-11-12 10:33] Martin-Weiss opened #594 "[doc] 2.1.3 Worker nodes -> minumum CPU should be 2 VCPU"
2.1.3  Worker nodes

https://susedoc.github.io/doc-caasp/master/caasp-deployment/single-html/#_worker_nodes

----
We should never setup a system with just 1 VCPU - the minmum should always be 2.
(otherwise one crazy process can/will cause the whole server to get stuck)

[2019-11-12 11:29] r0ckarong opened #595 "Figure out how to package converted content as github release"
Find out if we can release the converted docs as a tarball on Github with a tagged release.

[2019-11-12 11:37] r0ckarong opened #596 "Find out how to use GitHub API to generate list of things going into release (if only docs)"
Get the "Maintenance" Column from the projects to generate the list of QA'd and approved Issues that will be shipped.

See which labels are helpful and what structures we can use to filter

[2019-11-12 15:16] r0ckarong commented on #592
What does the second command without "USERNAME" do?

I fail to see how a different font would impact on people that don't read the sentence preceding.

[2019-11-12 15:27] Martin-Weiss commented on #592
Git suppressed my "<" and ">"

Basically the question is how we also can "optical" make clear that a example command needs to be adjusted.. maybe we can change "USERNAME" to _"\<USERNAME\>"_  (i.e. use italic font)?

[2019-11-12 16:16] sknorr commented on #373
fixed via https://build.suse.de/request/show/204890

[2019-11-12 16:16] #373 closed

[2019-11-12 16:19] r0ckarong commented on #592
This should be possible with the "quotes" parameter. But it might break in some use cases with lots of formatting like characters in the code example.

https://asciidoctor.org/docs/user-manual/#applying-substitutions

@nkoranova This also relates to our open issue about the placeholders (#538).

[2019-11-12 22:33] karras commented on #590
Maybe I should rephrase my question. Could we add a generic paragraph in the supported platforms section that any kind of deployment on standard SLE **VMs** (VMware, KVM, Hyper-V, Xen, etc.) is supported but a fully automated deployment is currently only possible for VMware + OpenStack?

It might be obvious for technicians who are already more familiar with the CaaSP internals but could shoo away

[2019-11-13 10:47] r0ckarong commented on #590
@kkaempf @qnetter

[2019-11-13 11:18] r0ckarong commented on #593
@ereslibre What would be the correct values here?

[2019-11-13 11:19] r0ckarong commented on #594
@ereslibre Should we communicate 2 vCPU as the new minimum? Are there test scenarios that customers can't use if we require more vCPU?

[2019-11-13 12:35] kkaempf commented on #590
No, we don't. Every additional platform needs to be accessible to engineering and customer support in order to test and re-create bugs.

If you want more platforms for CaaSP, please open a Jira ticket and add a business case.

[2019-11-13 12:35] #590 closed

[2019-11-13 13:13] lordfolken commented on #590
Just to clarify, we are not suse people, we are a suse partner. We already have a customer that is/was running CaaSP 3 on Nutanix. Given the profility of Nutanix in the local market, it would make sense to add the above statement.
SLE15 inkl. SAP HANA is already supported on nutanix hci, so caasp would just be an extension to that.

[2019-11-13 13:50] r0ckarong commented on #568
@ereslibre What is the intended use of k8s dashboard in a CaaSP environment? Can we give some scenario that we can base docs on?

[2019-11-13 14:23] ereslibre commented on #593
There are no "correct" values. This depends on the cluster planning design and is entirely up to the user.

The default pod subnet is `10.244.0.0/16`, what is a sensible default. It allows for 65536 pods overall. Assignment of CIDR's is by default /24 per node, so you still have a limit of 256 IP addresses per node.

Depending on the size of the nodes that you are planning to use (in terms of reso

[2019-11-13 14:35] ereslibre commented on #594
I think 2vCPU's is the minimum we should ask for. Anyone can fullfil this requirement IMO.

[2019-11-13 15:01] ereslibre commented on #568
The most common use case is to watch your resources inside the cluster and operate them with the UI if you want it that way. Note that this UI allows you to manage resources within the cluster, not the cluster itself: adding, removing or upgrading nodes is not in the scope of this UI.

It gives you eye candy to see all the current resources in the cluster, metadata, events...

[2019-11-13 15:30] #594 closed

[2019-11-13 15:33] r0ckarong commented on #568
That's not what I meant. With regards to Mareks comment above. What does the user/security setup look like for this common use case? Do we have recommendations? Best practices? Right now I don't have enough information to explain a proper setup of the dashboard in our cluster. You can do a basic "admin does all" installation but is that what we want to tell users?

[2019-11-13 15:39] ereslibre commented on #568
Before we get down this path I'd like to know if we want to document how to run the dashboard as opposed for letting users do it their way.

@kkaempf opinion?

[2019-11-13 16:09] kkaempf commented on #568
k8s dashboard is not on our short-term backlog. It will become relevant as a part of the `Stratos` release later next year.

[2019-11-13 16:24] r0ckarong commented on #568
So I'm taking this will come up again during the Stratos release and for now we can't do anything. We can't really add the steps if they are not going to be tested and I can't get enough info to describe what to configure in CaaSP. Closing for now. We will add more info on this once it's in development.

[2019-11-13 16:24] #568 closed

[2019-11-14 10:47] Martin-Weiss opened #597 "[doc] 4.5.2 Deploying a 389 Directory Server with an External Certificate -> SSL certificate replacement process does not work this way!"
4.5.2  Deploying a 389 Directory Server with an External Certificate

https://susedoc.github.io/doc-caasp/master/caasp-admin/single-html/#_deploying_a_389_directory_server_with_an_external_certificate
-----

THis will fail:
docker run --rm -it \
  -p 389:389 \
  -p 636:636 \
  -v <DATA_DIR>:/data \
  --entrypoint /bin/bash \
  --name 389-ds registry.suse.com/caasp/v4/389-ds:1.4.0

--> remove the "

[2019-11-14 11:01] Martin-Weiss opened #598 "[doc] 4.5.2 Deploying a 389 Directory Server with an External Certificate - image 1.4.0 does not have the required and fixed entrypoint script!"
4.5.2  Deploying a 389 Directory Server with an External Certificate

https://susedoc.github.io/doc-caasp/master/caasp-admin/single-html/#_deploying_a_389_directory_server_with_an_external_certificate

------------------------
It seems the whole thing does not work - did anyone else try to work with this??
(just delete and recreate the container with existing data...)

[2019-11-15 04:01] cclhsu commented on #597
Good catch. It is an issue been fix in #513 , at once point in the document we have "--rm" in all the docker run command.

[2019-11-15 04:16] cclhsu commented on #598
The command was tested a while back when we have the document https://confluence.suse.com/display/SUSECaaSPlatform4/Setup+389ds+TLS+for+RBAC-Authenticate+with+Self-signed+Certificate.  The docker with new fixed entrypoint is still verifying by QA and has not been released.

[2019-11-15 10:22] Martin-Weiss commented on #598
Ok - then we need fixed documentation forthe old image until we have the new image with the fixed entry point released.

Docs need to match what is released.

[2019-11-15 11:25] Martin-Weiss opened #600 "[doc] 4.1.3 Installation Tools - proxy server whitelist missing"
4.1.3  Installation Tools

https://susedoc.github.io/doc-caasp/master/caasp-deployment/single-html/#_installation_tools

----------------
When deploying CaaSP behind a proxy server we need to have the whitelist of remote URLs that need to be allowed in the proxy.

Can we get the list of URLs / Servers required for SMT/RMT, for HELM and Images that a customer needs to allow in his proxy for CaaSP?

[2019-11-15 11:31] r0ckarong commented on #600
Definitely registry.suse.com and scc.suse.com, need to look into the others.

[2019-11-15 11:32] r0ckarong commented on #597
Since this will be fixed with the mentioned PR I'm closing the issue.

[2019-11-15 11:32] #597 closed

[2019-11-15 11:33] r0ckarong commented on #598
@cclhsu @innobead Can we provide information on the old image or is the release of the new one imminent?

[2019-11-15 11:35] Martin-Weiss commented on #600
I assume also kubernetes-charts.suse.com

For SLES registration and updates I am not sure if scc.suse.com is enough or if we need more..

And I have heard that the registry is hosted somewhere where even other URLs might matter?

[2019-11-15 11:36] Martin-Weiss commented on #597
As long I as have the solution next Monday this is fine ;-).

[2019-11-15 11:39] r0ckarong commented on #600
@jordimassaguerpla @ereslibre Do you know anything more about which URLs we need for scc or registry?

[2019-11-15 11:42] r0ckarong commented on #597
Given it's Friday and that pull request is work in progress since september I wouldn't count on it.

[2019-11-15 12:11] jordimassaguerpla commented on #600
@Martin-Weiss IIRC the extra urls are for the CDN. Could you please ask in scc-help channel in rocket chat? They should be able to give you more info.

[2019-11-15 12:22] r0ckarong commented on #538
As discussed settling on: `<variable_name>`

[2019-11-15 12:25] Martin-Weiss commented on #600
Got this so far: updates.suse.com and scc.suse.com

[2019-11-15 13:44] r0ckarong commented on #595
https://developer.github.com/changes/2013-09-25-releases-api/

[2019-11-17 21:42] doccaz opened #601 "[doc] Inconsistencies in airgap docs"
https://documentation.suse.com/suse-caasp/4/html/caasp-deployment/_deployment_scenarios.html#id-1.6.2.14.3.8

"rmt-server.cert" should be "rmt-server.crt" to match the default RMT certificate.
Also, the docker run command is missing a "-v /etc/rmt/ssl:/etc/rmt/ssl:ro" parameter to make the certificates available to the docker image.

The previous section (external mirror) is also missing the docke

[2019-11-18 19:05] Martin-Weiss commented on #598
@cclhsu  - where can I find the new entrypoint.sh that is fixed and the steps I need to use with this? Can I use the 1.4.0 image version and just the new entrypoint.sh or are there more changes required to get the SSL certificate replacement working? (I am onsite and have to get this working ASAP).

[2019-11-19 02:28] cclhsu commented on #598
Hi! Martin.  The updated entrypoint can be find at https://github.com/SUSE/caasp-container-images/blob/master/caasp-389-ds-image/root/usr/local/bin/entrypoint.sh.  Cert Replacement code is as following:

[code]

The new image has added to 4.0.3 plan for release.  We are working on that this week.

[2019-11-19 04:03] cclhsu commented on #598
@Martin-Weiss I have created a [doc-caasp PR603]((https://github.com/SUSE/doc-caasp/pull/603)) to update external certificate replacement using current image.  You can also refers to for steps.

[2019-11-19 10:37] r0ckarong commented on #600
- registry.suse.com
- scc.suse.com
- kubernetes-charts.suse.com
- updates.suse.com

[2019-11-19 10:41] Martin-Weiss commented on #600
As long as we have upstream components in the documentation I believe we also have to add the sources for upstream helm-charts and images (grafana/nginx-ingress/prometheus/....)

[2019-11-19 11:38] r0ckarong commented on #600
@lcavajani Can you tell me which upstream URLs we need for this?

[2019-11-19 13:07] r0ckarong commented on #566
Added "Creating docs release" page.

https://confluence.suse.com/display/SUSECaaSPlatform4/Creating+a+docs+release

[2019-11-19 13:08] r0ckarong commented on #566
Moved the "Artifacts" folder to "Docs Process" in the hierarchy.

[2019-11-19 13:57] tgeek77 opened #605 "[doc] 4.5.2 Deploying a 389 Directory Server with an External Certificate"
4.5.2  Deploying a 389 Directory Server with an External Certificate

https://documentation.suse.com/suse-caasp/4/single-html/caasp-admin/#_deploying_a_389_directory_server_with_an_external_certificate

Step 2:

Don't you also need to import your key and certificate at the same time?

Step 7:

If you don't import your own <KEY.PEM>  and <CERT.PEM> in Step 2, then where do they come from?

Because

[2019-11-19 16:05] #308 closed

[2019-11-20 10:37] nkoranova opened #607 "Check that our documentation includes NTP client deployment"
Our documentation has to specify that the bootstrapper node needs to run NTP as well and be synced in terms of time. Bootstrapping skuba using a fully up-to-date system won't be possible unless we have this documented.

https://bugzilla.suse.com/show_bug.cgi?id=1157063&GoAheadAndLogIn=1

Check that we have this info and include it if we don't.

[2019-11-20 13:49] r0ckarong commented on #607
Does this mean, once merged, we have to rebuild the 4.0.2 docs release package?

[2019-11-20 14:49] nkoranova commented on #607
@ereslibre how urgent is this? You said it' not critical, but we should have this info public ASAP, right? So rebuilding the 4.0.2 docs package might be a good idea.

[2019-11-20 15:06] ereslibre commented on #607
It's not crit-sit, if that makes sense, but if we have the chance to include this on the 4.0.2 docs I think that would be great. I am struggling with this because I could swear we documented this, but maybe I'm wrong and we never wrote it down on the *public* documentation.

[2019-11-20 15:11] nkoranova commented on #607
Yeah this also has me slightly worried, I really hope it didn't get lost somewhere in our publishing process :-/

[2019-11-20 15:21] r0ckarong commented on #607
The terraform examples for both VMWare and SOC mention NTP servers to be used configured in the terraform examples:
https://documentation.suse.com/suse-caasp/4/single-html/caasp-deployment/#_using_terraform
https://documentation.suse.com/suse-caasp/4/single-html/caasp-deployment/#_deploying_the_cluster_nodes

I would have assumed that the clients using these servers are deployed by terraform.

Bar

[2019-11-20 15:22] jordimassaguerpla commented on #607
Can we do this for 4.0.3? We already released 4.0.2. Unless you consider this a P1 issue. 4.0.3 is already being reviewed and we expect it to be released in the next 2 weeks.

[2019-11-20 15:32] #592 closed

[2019-11-20 15:33] #538 closed

[2019-11-20 15:38] ereslibre commented on #607
Please, check https://bugzilla.suse.com/show_bug.cgi?id=1157063#c2. This is referring to the bootstrapper machine (the machine that is running `skuba`, that might be an external node). This machine needs to be in sync also with NTP, so when bootstrapping you won't get the error mentioned in bsc#1157063.

[2019-11-20 15:41] r0ckarong commented on #605
@cclhsu Is this also covered in #603?

[2019-11-20 15:50] r0ckarong commented on #607
Ah now I understand the problem. That's an easy fix.

[2019-11-21 03:05] cclhsu commented on #605
Yes, it is in #603, but I just closed that PR since there is 4.0.3 release plan to have the new 389-ds image, and it should go with #513.

[2019-11-21 16:23] r0ckarong commented on #595
We got a request to maintain more recent versions. In the long run this will be covered with the GitHub release assets but the docs portal should have a defined number of "supported" releases listed.

https://bugzilla.suse.com/show_bug.cgi?id=1157353

[2019-11-22 12:20] r0ckarong commented on #330
March 2020

[2019-11-22 14:32] #607 closed

[2019-11-22 15:12] #566 closed

[2019-11-22 15:12] #595 closed

[2019-11-25 03:26] cclhsu commented on #598
New 389ds image is plan for 4.0.3 release and has been approved by QA [Release caasp-389ds-image #1007](https://github.com/SUSE/avant-garde/issues/1007).  New external certificate replacement method is described in  [389ds changes](https://github.com/SUSE/doc-caasp/pull/513)

[2019-11-25 03:31] cclhsu commented on #598
New 389ds image is plan for 4.0.3 release and has been approved by QA [Release caasp-389ds-image #1007](https://github.com/SUSE/avant-garde/issues/1007).  New external certificate replacement method is described in  [389ds changes](https://github.com/SUSE/doc-caasp/pull/513)

[2019-11-25 12:27] #593 closed

[2019-11-25 14:18] thehejik opened #610 "[doc] 4.8.2 Configured admission controllers"
4.8.2  Configured admission controllers

https://susedoc.github.io/doc-caasp/master/caasp-admin/single-html/#_configured_admission_controllers

At time of release 4.0.3 only enabled plugins are `NodeRestriction` and `PodSecurityPolicy`. We originally enabled all the mentioned plugins but in the end it was reverted by https://github.com/SUSE/skuba/pull/817

On the other hand the plugins will be re-

[2019-11-25 15:01] r0ckarong commented on #610
So NOT part of 4.0.3 but will be re-enabled with 4.0.4?

[2019-11-25 15:17] r0ckarong commented on #610
According to QA this was never shipped, Need to remove from master (revert PR) and then re-add once the feature works.

[2019-11-25 15:52] thehejik opened #611 "[doc] 7.1.1 Prerequisites"
7.1.1  Prerequisites

https://susedoc.github.io/doc-caasp/master/caasp-admin/single-html/#_prerequisites_2

Broken reference? Rendered as `Refer to <<helm_tiller_install>.`

[2019-11-26 11:13] #496 closed

[2019-11-26 11:13] #497 closed

[2019-11-26 11:13] #598 closed

[2019-11-26 11:13] #605 closed

[2019-11-26 11:14] #499 closed

[2019-11-26 11:15] #500 closed

[2019-11-26 11:21] #611 closed

[2019-11-26 11:39] #610 closed

[2019-11-26 13:27] r0ckarong commented on #553
@dannysauer Any updates here?

[2019-11-26 13:35] #505 closed

[2019-11-26 14:09] dannysauer commented on #553
Darn it; I opened this up Sunday to change it, then forgot all about it. I'll follow up in a few minutes.

[2019-11-27 08:56] #601 closed

[2019-11-29 10:42] Martin-Weiss opened #619 "[doc] 4.9.6 Manual Certificate Renewal -> document what is required to use custom certificates for dex and gangway"
4.9.6  Manual Certificate Renewal

https://susedoc.github.io/doc-caasp/master/caasp-admin/single-html/#_manual_certificate_renewal

----
Could we document what steps are required to replace the dex and gangway certificates with customer provided ones that are NOT signed by the kubernetes CA?

Many customers already have a certificate Authority and they want to create and use the certs using this C

[2019-11-29 12:56] r0ckarong commented on #619
@ereslibre @kkaempf @aojea Is this supported and who can tell me how that can be done?

[2019-12-02 15:19] ereslibre commented on #619
I think the Taiwan team can help here. cc/ @innobead

[2019-12-02 15:23] kkaempf commented on #619
@innobead is on FTO - asking @jenting for help

[2019-12-02 17:58] innobead commented on #619
Yes, it’s possible to change the cert key pair for these services especially they are user facing but some limitation or fixes needed like there will be no auto cert renew taken care by skuba during `skuba node upgrade apply`, instead user needs to handle cert renew by themselves.

Agree, no question for this. The current design is following kubeadm concept to support auto cert renew by skuba self

[2019-12-03 02:36] jenting commented on #619
As for automatically rotate dex+gangway server certificate, the dex+gangway server certificate is signed by Kubernete CA. So the current design is if the customer wants to use their CA (root CA or intermediate CA), replace it before first node bootstrap.

Now, skuba does not support replace customer CA after cluster deployment due to it will have downtime during replacing cilium certificate (this

[2019-12-03 08:11] Martin-Weiss commented on #619
And exactly this is not possible as the customer can not share the private key of his CA.
Or do I miss something here? Do we expect customers to create an intermediate CA of their root CA and put the private key of this intermediate CA in clear text on the host running skuba?

Yes - I think so.

Do we have any customer who provided the private key of their root CA for this usage?
I believe this wo

[2019-12-03 08:56] jenting commented on #619
Well, it depends on how the customer manages their TLS certificate.
Of course, in general, do not share the private key of his CA, but we cannot enforce user NOT doing this.

Okay, I will update the doc about this.

To be honestly, I am not sure. You are the expert on this.

Yes.

Yes.

To be honestly, I don't know. Waiting for the customer's feedback.

[2019-12-03 09:03] Martin-Weiss commented on #619
I do not have any customers that would allow creation of intermediate CAs for their CA for each K8S cluster they have to run. I also do not have customers that would allow the private key of their CA to be stored on the k8s or skuba hosts.
I have some customers that run their CA with automated certificate enrollment in Active Directory - I am not sure (never have done this myself) but I assume thi

[2019-12-03 12:14] Martin-Weiss opened #621 "[doc] 6.1.3 Installation - add version to helm chart deployments"
6.1.3  Installation

https://documentation.suse.com/suse-caasp/4.0/html/caasp-admin/_monitoring.html#_installation
----

As there can be multiple helm chart versions available and not all versions might be compatible with all k8s versions - we should add the --version parameter to deploy the tested and supported helm chart version for a given CaaSP version. (instead of using the default "latest".

[2019-12-03 12:41] r0ckarong commented on #621
@jordimassaguerpla I am trying to find a scenario where this becomes a problem. Each release has one specific k8s version and my expectation is that the "latest" image has been tested in that release.

@Martin-Weiss What does this scenario look like where you have multiple k8s versions in one cluster or install an older version of a chart? From what I understand, if we have a limitation on what ch

[2019-12-03 13:07] Martin-Weiss commented on #621
Extreme example - we release k8s 2.6 with caasp 7.3 and with that we release prometheus 47.3 as "latest". Now someone reads the documentation for his caasp v4.0.3 and wants to deploy prometheus. Does the latest version of prometheus run on k8s 1.15?

Btw. also the customized "values.yaml" files need to be versioned as depending on future changes the current prepared and adjusted values.yaml for i.

[2019-12-03 13:18] nkoranova opened #622 "Add another output example of when cluster has only a new minor k8s level available"
Under 5.1.1  [Generating an Overview of Available Platform Updates](
https://susedoc.github.io/doc-caasp/master/caasp-admin/single-html/#_generating_an_overview_of_available_platform_updates) we'll add another output example to differentiate  "a new patch-level and minor" and another section "only a new minor" as discussed in:
https://github.com/SUSE/doc-caasp/pull/606#discussion_r351854769

[2019-12-03 13:40] kkaempf opened #623 "Master or worker nodes must not be cloned"
From `caasp-internal@suse.de`

The documentation should explicitly cover this case and ask users to watch for duplicate `/etc/machine-id` values.

[2019-12-03 14:00] r0ckarong commented on #623
https://documentation.suse.com/suse-caasp/4.0/single-html/caasp-deployment/#_setup_by_hand

[2019-12-03 14:13] r0ckarong commented on #621
The scenario laid out here is very unlikely and not supported at all but I can understand what your point is. There is a reasonably likely scenario where the `latest` chart won't work with something that is still interlocked in docs support.

@thehejik Does QA test with specific versions per release or use "latest" at the time?
@jordimassaguerpla Can we create this version interlock with a reasona

[2019-12-03 14:40] Martin-Weiss commented on #621
Please keep in mind that the whole container story is about building "immutable" and "repeatable" setups and delivery from development down to the end user.

So using "latest" is in general should be counted a bad practice because this automatically "kills" the "repeatable".
How does someone know which version he was using and testing if "latest" is used and "latest" is changed by someone else?

[2019-12-03 15:25] thehejik commented on #621
@Martin-Weiss IMO we should be responsible only for official suse helm charts using tagged container images from registry.suse.com. We are not tied to :latest images but we are using specific versions as you can see below.

If you open for eg. https://github.com/SUSE/kubernetes-charts-suse-com/blob/master/stable/nginx-ingress/values.yaml you can see that the `nginx-ingress` is tied to specific ver

[2019-12-03 15:35] Martin-Weiss commented on #621
The dependency helm-chart <-> image is fine as long as the version is specified instead of "no tag" or "no version" in the helm chart.

In case SUSE is going to change, add or remove variables in helm charts we will have the same problem like what we have upstream already where each helm chart uses its one naming conventions for variables and adds/removes/changes them more or less randomly ;-).

O

[2019-12-03 15:54] thehejik commented on #621
Well I'm not aware that our suse helm chart repo is supporting any kind of versioning - there is just one "stable" version AFAIK.

[2019-12-03 15:59] Martin-Weiss commented on #621
Just do "helm search" and you will see.. the helm chart repo is just an "index.json with some <helm-chart>-<version>.tar.gz"

Just try

helm search suse -l and you will see that there are multiple versions of charts available - as an example:

[code]

[2019-12-03 16:19] r0ckarong commented on #621
cc @kkaempf

[2019-12-03 16:24] r0ckarong commented on #484
Closed with: https://github.com/SUSE/doc-caasp/commit/5a66e65469834863b51e0b83b67b37832f1e8b49

[2019-12-03 16:24] #484 closed

[2019-12-03 16:45] jordimassaguerpla commented on #621
I think it makes sense that we write down the version of the helm chart we have tested. We already do that with k8s and cilium, so we could have a variable for that and use that in the document, or?

https://github.com/SUSE/doc-caasp/blob/master/adoc/attributes.adoc#L23

Am I missing something here that makes this complicated?

[2019-12-03 16:46] jordimassaguerpla commented on #621
Either that, or we add the helm versions in an external .txt file, like we do for the images:

https://documentation.suse.com/external-tree/en-us/suse-caasp/4/skuba-cluster-images.txt

[2019-12-03 16:51] r0ckarong commented on #621
The one thing that comes to mind immediately is that when we need to ship a new chart or image version to do a fix after QA on the initial release, the docs will be wrong. This adds more complexity to get the release right the first time.

[2019-12-03 16:53] jordimassaguerpla commented on #621
What about generating a txt file or appending it to the skuba-cluster-images.txt ? So the docs will be fine

[2019-12-03 17:03] innobead commented on #619
@Martin-Weiss Thanks for the feedback. The current document is based on best practices from kubernetes certs management [1] which includes most cert management cases maybe some customers are not willing to create intermediate CA or provide (single root CA) cert key pairs to delegate kubeadm do auto cert management, but imho we still need to provide the options to user.

But let’s focus on this iss

[2019-12-04 07:29] Martin-Weiss commented on #619
Yeah - again a "practice" that was called "best practice" without any explanations and background for decisions ;-). If you have one practice you can call that "best practice" ;-).

In general the implementation depends on current situation and requirements. Based on that a concept is required and needs to be implemented. The current "best practice" does not cover this and I can not find the assum

[2019-12-05 18:52] andavissuse opened #627 "[doc] 1.1 Required Background"
Intro paragraph wording is not correct for bullet points.

[2019-12-05 23:49] r0ckarong commented on #627
Could you please provide more details?

- Which guide/on what URL did you encounter this?
- What is the actual nature of the bug that needs to be fixed?
- What is the expected change to the document that you wish to see?

[2019-12-06 03:48] andavissuse commented on #627
Hi,

Wow, thank you for the very quick reply.  :)  This isn't a big issue at all, just something that I noticed.  The current text is:

********
To keep the scope of these guidelines manageable, certain technical assumptions have been made. These documents are not aimed at beginners in Kubernetes usage and require extensive knowledge of

	• You have some computer experience and are familiar with c

[2019-12-09 13:34] Martin-Weiss commented on #600
FYI - just had to realize that for registry.suse.com the whitelist "registry.suse.com" is NOT sufficient!

We get forbidden due to the URL "https://d20cu4swhmy76u.cloudfront.net/docker/registry/v2/blobs..."
--> why do we get such a DNS entry back when accessing registry.suse.com? Is this going to be fixed on the SUSE registry or do we have to whitelist also *.cloudfront.net ?

[2019-12-09 14:40] lagartoflojo commented on #600
That's correct, we serve the images via CloudFront, which is AWS's CDN.
We'd need to see if we can use a SUSE domain, but if it's something you need in the short-term, I suggest opening the rules to `*.cloudfront.net` as well.

[2019-12-09 14:47] lagartoflojo commented on #600
Added to our backlog: https://trello.com/c/E5W5V2Bl/862-rsc3-serve-files-using-a-suse-domain

[2019-12-10 07:52] kkaempf opened #628 "How to update from "cilium without envoy" to "cilium with envoy""
Reference https://github.com/SUSE/avant-garde/issues/985

[2019-12-10 07:55] kkaempf commented on #628
I used the `4.1.0` tag (lacking a better one). It's actually `4.1.x` since Envoy will not be part of the initial 4.1.0 release.

/cc @mrostecki

[2019-12-10 12:36] r0ckarong commented on #628
/cc @mdarnell-suse

[2019-12-10 12:48] #627 closed

[2019-12-10 14:52] drpaneas opened #630 "Advise to use SUSE helm chart instead of upstream"
At https://susedoc.github.io/doc-caasp/master/caasp-admin/single-html/#nginx-ingress

At the section 4.7.1.2

It says:

[code]

That's not true. We do not support the upstream ingress helm chart that is https://github.com/helm/charts/tree/master/stable/nginx-ingress

but we support our own https://github.com/SUSE/kubernetes-charts-suse-com

I would suggest to rephrase this sentence a bit different

[2019-12-10 16:16] r0ckarong commented on #630
Good call. Will change this wording. The rest of the instructions have been changed to suse charts already.

[2019-12-10 16:22] #630 closed

[2019-12-11 08:16] Martin-Weiss opened #631 "[doc] 4.4.2 AutoYaST Preparation - mention required timezone adjustments"
4.4.2  AutoYaST Preparation

https://susedoc.github.io/doc-caasp/master/caasp-deployment/single-html/#_autoyast_preparation

----
maybe we should also mention that the adjustment of the timezone setting (Etc/GMT) to the correct one should be done in the provided autoyast template?

[2019-12-11 08:22] Martin-Weiss opened #632 "[doc] 5.3 Using kubectl - add an aditional chapter to delete identical pods on same nodes"
5.3  Using kubectl

https://susedoc.github.io/doc-caasp/master/caasp-deployment/single-html/#_using_kubectl
------------------
We should add a chapter about "make coredns, dex and gangway" fault tolerant after the initial cluster creation with sufficient masters and workers.

After deployment we have 2 * coredns, 3 * dex and 3 * gangway running on master1. In case master1 failes - we will have a d

[2019-12-11 09:35] innobead commented on #632
This seems the extension of https://bugzilla.suse.com/show_bug.cgi?id=1157337.

The team is handling automatic distributed workload for dex/gangway in https://github.com/SUSE/skuba/pull/860 (in progress). The idea is during node management (join/remove), skuba will take care workload balanced distribution w/o human involved.

Let's follow on the implementation first, then look back to see if this

[2019-12-11 10:14] Martin-Weiss commented on #632
The skuba solution will only address the problem during deployment (adding nodes).
Skuba (AFAIK) does not take care of re-distribution in case of downtime. So in case we have multiple instances of a replica set on the same worker or master after a worker or master failed - an administrator has to re-distribute by killing pods manually anyway and independent of skuba usage.
Or do I miss something?

[2019-12-11 10:21] c3y1huang commented on #632
By the fix we will also address to the case of downtime. The expectation is to not involve manually killing pods for redistribution.

[2019-12-11 11:13] Martin-Weiss opened #633 "[doc] 3.1.6.1 Mirror Configuration - tiller image missing"
3.1.6.1  Mirror Configuration

https://susedoc.github.io/doc-caasp/master/caasp-deployment/single-html/#airgap-container_registry-mirror

-----
In https://documentation.suse.com/external-tree/en-us/suse-caasp/4/skuba-cluster-images.txt it seems we are missing the helm-tiller image...

[2019-12-11 14:27] r0ckarong commented on #633
@jordimassaguerpla Why would this image be missing?

[2019-12-11 14:37] Martin-Weiss commented on #633
In case you try to do a helm init ..--tiller-image.. in an air-gapped environment. This will fail in case the image was not replicated to the on-premise registry beforehand...

[2019-12-11 15:05] r0ckarong commented on #633
I understand but the question is why this is not listed in the images list, since it should.

[2019-12-11 15:07] Martin-Weiss commented on #633
Ok - just guessing - probably because this is "helm" related and does not matter for "skuba images...".

[2019-12-11 15:08] r0ckarong commented on #633
Maybe I misunderstand but the problem here is that the "chart" is there but can't find the "image" and that's because the image wasn't on the list you need to mirror.

[2019-12-11 15:11] Martin-Weiss commented on #633
Yes - and the list of images that need to be mirrored are in https://documentation.suse.com/external-tree/en-us/suse-caasp/4/skuba-cluster-images.txt   but probably we might need an other helm-images.txt which also covers the list of images we need for all the helm chart related images..

[2019-12-11 15:15] r0ckarong commented on #633
Then I had a misunderstanding. I thought this list would also contain these. @jordimassaguerpla

[2019-12-11 15:20] jordimassaguerpla commented on #633
Don't we have already an issue for the helm ones?

[2019-12-11 15:21] jordimassaguerpla commented on #633
https://github.com/SUSE/doc-caasp/issues/621 Isn't this a duplicate?

[2019-12-11 15:24] r0ckarong commented on #633
Not a duplicate because that one was about versioning in the file. We could use this one to track the other problem proven here and mentioned in the older one.

Is there any work underway to generate a list like that?

[2019-12-11 15:28] Martin-Weiss commented on #633
Basically we need a list of images for skuba images (that is what we have already).
Then we need a list of images for the helm charts we have to deploy with the version dependencies on skuba/k8s.
And we need a place for images that are neither skuba nor helm-charts related - at the moment this is just the helm-tiller image AFAIK and this is why I created this issue #633, here.

[2019-12-11 15:32] Martin-Weiss commented on #632
I am not sure about the fix - but does the planned fix include the case where multiple replicas already exist on one master? I.e. if we had to power of master1 for some hours and then adding the third master some hours later?

[2019-12-11 15:52] #631 closed

[2019-12-11 16:01] r0ckarong commented on #553
@dannysauer ping again ...

[2019-12-11 16:01] r0ckarong commented on #510
This should be fixed with #553 probably

[2019-12-11 17:00] c3y1huang commented on #632
Of a complete cluster that started equal or exceed the replica number (master + worker). There will be no duplicated pods exist on same node.

Let’s look at example when dex set to replica 3, and in a cluster with 1 master and 2 worker:
1. When bootstrap, 3 dex goes on master node - master(3).
2. Worker-1 joins, 1 of dex redistributed to new worker - master(2) + worker-1(1).
3. Worker-2 joins, dex

[2019-12-12 10:17] ereslibre commented on #623
Or if they are cloning the machines, before they create the template they need to make sure that their `/etc/machine-id` file is deleted.

[2019-12-12 10:25] r0ckarong commented on #623
So what is the scenario this would happen? Which platform? Is this all limited to VMWare?

[2019-12-12 12:16] kkaempf commented on #623
That can happen with every platform. VMware just makes it very easy to shoot yourself in the foot.

[2019-12-12 13:13] Martin-Weiss opened #636 "[doc] 6.1.3.4 Grafana - how to serve from sub-path?"
6.1.3.4  Grafana

https://susedoc.github.io/doc-caasp/master/caasp-admin/single-html/#_grafana

-----------------------
In the majority of customer deployments customers do not want to create and manage one DNS entry (A record or CNAME) per application in the kubernetes cluster and they want to access the applications like prometheus, grafana, kubernetes-dashboard via different URLs for the same F

[2019-12-12 13:16] Martin-Weiss commented on #636
FYI  with grafana from upstream helm chart 3.8.14 - the usage of serve_from_sub_path in the grafana.ini was working fine but with grafana helm chart 4.0.0 from SUSE that has an older grafana version than the upstream 3.8.14 the parameter serve_from_sub_path does not exist so we need to find and document an alternative working way.

[2019-12-12 14:01] #623 closed

[2019-12-13 11:02] kkaempf opened #639 "[bsc#1152861] - protect your api-server"
https://bugzilla.suse.com/show_bug.cgi?id=1152861#c7

Asking for a doc update in v3 to explain best practices to protect your api-server.

Hoping that @Klaven can contribute details :wink:

[2019-12-13 12:59] Martin-Weiss commented on #632
Who is doing this re-distribution (killing the POD on master1)? Skuba?

Again redistribution via skuba?

[2019-12-13 13:11] c3y1huang commented on #632
skuba will handle distribution during cluster deployment (step 1, 2, 3). Kubernetes will handle the distribution of after deployment (step 4, 5, 6, 7).

[2019-12-13 13:16] Martin-Weiss commented on #632
Ok - so then I am more than happy!! Thanks :-).

[2019-12-13 14:36] r0ckarong commented on #636
cc/ @kkaempf @ereslibre @lcavajani

Who can contribute how to do this?

[2019-12-13 15:17] #619 closed

[2019-12-13 15:29] Klaven commented on #639
@ereslibre or @mjura please correct me if I am wrong but in v3 the api server is already by default protected by dex and not exposed publicly? If this is the case, Maybe the only thing we need to document is that this was already done and that v3 is protected from un-authenticated api-server attacks?

[2019-12-16 14:29] kkaempf commented on #636
@mjura has done some work in this area. Otherwise, please reach out via `caasp-champions` on RC.

[2019-12-16 14:35] Martin-Weiss commented on #636
Maybe the rewrite function in nginx-ingress can help with this but I could not get it working properly (have a similar problem with the kubernetes-dashboard)

[2019-12-16 15:02] r0ckarong commented on #632
Do we still need a docs update for this after the fix is shipped? Otherwise I will close this once the code is merged.

[2019-12-17 01:22] c3y1huang commented on #632
Let's keep this open for now. I am agreeing to @innobead said earlier:

[2019-12-17 06:58] Martin-Weiss commented on #632
Maybe we can at least add a note to the admin guide that for proper fault tolerance an operator should verify after deployment and also after node failures if "multiple PODs of a replica set that are expected to be running on different nodes for fault tolerance are running on the same nodes - how to detect and how to "fix"".

[2019-12-17 09:38] r0ckarong commented on #632
This starts as a simple request and turns into "how to detect and how to fix", who can provide me with this how to?

[2019-12-17 10:31] c3y1huang commented on #632
I will provide with the fix for balancing replica.

[2019-12-17 15:42] Martin-Weiss opened #643 "[doc] 5.1.1.2 Generating an Overview of Available Addon Updates - looks a bit different"
5.1.1.2  Generating an Overview of Available Addon Updates

https://susedoc.github.io/doc-caasp/master/caasp-admin/single-html/#_generating_an_overview_of_available_addon_updates

......

Why does this look different for me?

[code]

for the updated addons I just see / saw "new addon" but not the previous version...

[2019-12-17 16:09] Martin-Weiss opened #644 "release-notes - not clear what to do for going from 4.0.0 to 4.0.3"
Just updated a cluster from 4.0.0 to 4.0.3 and realized that the dex hint in 4.0.2 about "If you have not applied 4.0.1" is still valid and required but not listed in 4.0.3 required actions.
But the step in 4.0.1 about "The gangway image that shipped with SUSE CaaS Platform 4.0 must be updated manually by performing the following steps:" is not required / valid anymore.

So in case a customer does

[2019-12-17 17:49] r0ckarong commented on #644
@kkaempf Our maintenance releases are incremental right?
We can mention this specifically in the next set of release notes and ask people to go through the instructions. We included all steps since 4.0 in the new RN format.

Writing on consistent instruction is beyong the scope of release notes and is "migration" which to me belongs in the admin guide.

[2019-12-17 17:50] r0ckarong commented on #643
@ereslibre @kkaempf Who can explain this change?

[2019-12-17 17:51] Martin-Weiss commented on #644
zypper up from 4.0.0 to 4.0.3 is not incremental.

[2019-12-17 17:52] r0ckarong commented on #643
Relates to: #626

[2019-12-18 06:56] kkaempf commented on #644
afaik, yes.

Ack.

[2019-12-18 06:58] kkaempf commented on #644
Don't do `zypper up` on a node. Period. Let `skuba` handle this.

[2019-12-18 07:03] kkaempf commented on #643
According to `git blame`, @MaximilianMeister touched this code.

Max, the documentation shows
   `<addon>: <old-version> -> <new-version>`
while the current code only shows
  `<addon>: <new-version>`
(it seems).

[2019-12-18 07:07] Martin-Weiss commented on #644
Probably this was not clear enough - zypper up needs to be done on the admin machine to get the latest skuba and then we run the skuba commands to upgrade the cluster and the cluster addons.

Based on staging - the upgrade will be from 4.0.0 to i.e. 4.0.3 skipping 4.0.1 and 4.0.2.

In this case it is not clear what steps to follow when reading through the release notes or the admin guide. This is

[2019-12-18 07:18] Martin-Weiss commented on #644
In case this is such important - how do we prevent an admin from doing this and how can support detect that a customer did this "wrong"?

Btw. what might happen in case the admin machine already has a newer patchlevel (as zypper up ; reboot was done manually), then the customer runs "skuba node upgrade apply / skuba addon upgrade apply".. (change staging at 8:00am, update admin machine 9:00am and

[2019-12-18 07:26] kkaempf commented on #644
You can't prevent stupid. We would need to remove the `root` account.

That's an interesting question. `zypper` has an option to pass a `transaction id`:
[code]
which will appear in the `zypper.log`. `skuba` could set this id to indicated "zypper was called from skuba" in the zypper.log.

[2019-12-18 07:31] kkaempf commented on #644
Created a [skuba issue](https://github.com/SUSE/skuba/issues/904) to track this.

[2019-12-18 07:31] Martin-Weiss commented on #644
Probably I missed it but the information about "do not use zypper up/dup/patch.. on CaaSP nodes" seems to be missing in the admin guide or at least I can not find it..

[2019-12-18 10:56] r0ckarong commented on #644
Until this issue I was not aware of this limitation. I will add something to the admin guide.

[2019-12-18 11:21] kravciak opened #645 "[doc] 5 Cluster Updates"
5  Cluster Updates

https://susedoc.github.io/doc-caasp/master/caasp-admin/single-html/#_cluster_updates

Before cluster upgrade customers need to upgrade skuba/helm/terraform/... (packages installed by SUSE-CaaSP-Management pattern).

We need `5.0` section since running all `skuba * upgrade` commands without updating skuba first will not show any cluster upgrade. Section should say something like

[2019-12-18 14:42] r0ckarong commented on #645
Relates to: #644

[2019-12-19 06:16] c3y1huang commented on #632
While fix is waiting for review. I've updated doc [here](https://github.com/SUSE/doc-caasp/pull/617).

[2019-12-27 12:54] bhdn opened #646 "[doc] shell redirection won't work if the user has no permission to write"
In the linked (below) section:
[code]
Won't work, as very likely the user has no permission to write to `/etc/docker/registry/auth/htpasswd`

https://documentation.suse.com/suse-caasp/4.0/single-html/caasp-deployment/#id-1.6.2.11.3.7

[2020-01-03 19:42] jodavis-suse opened #648 "[doc] 6.1.1 Introduction"
6.1.1  Introduction

https://documentation.suse.com/suse-caasp/4.0/html/caasp-admin/_monitoring.html#_introduction_3

Simple typo in the AlertManager line - configuratble should be configurable

[2020-01-07 08:54] #648 closed

[2020-01-07 11:06] r0ckarong commented on #646
@ereslibre What needs to be done if the user has no write permissions?

[2020-01-07 11:22] #645 closed

[2020-01-07 13:26] r0ckarong opened #651 "Create 4.1 docs release"
- [X] [Create Merge Request for docserv config](https://gitlab.suse.de/susedoc/docserv-config/merge_requests/77)
- [x] Have MR for docserv merged
- [X] [Create Merge Request for release notes config](https://gitlab.suse.de/buildops/release-notes/merge_requests/23)
- [x] Have MR for buildops config merged
- [x] Create new release tag
- [x] Create new release
- [x] Generate and upload release archiv

[2020-01-07 14:36] r0ckarong commented on #644
Closed with #645

[2020-01-07 14:36] #644 closed

[2020-01-08 03:21] innobead commented on #646
Please help fix by below updated command.

[code]

[2020-01-08 13:51] Martin-Weiss opened #652 "[doc] 5.3.1 Disabling Automatic Updates - document manual steps if automation is deactivated"
5.3.1  Disabling Automatic Updates

https://susedoc.github.io/doc-caasp/master/caasp-admin/single-html/#_disabling_automatic_updates
----

What does a customer have to do to update his cluster "correct" in case he turns of automatic updates following this way? I assume we should document this in addition to the "turn off" function...

[2020-01-08 13:53] Martin-Weiss opened #653 "[doc] 5.3.2 Completely Disabling Reboots - how to do the reboot manually?"
5.3.2  Completely Disabling Reboots

https://susedoc.github.io/doc-caasp/master/caasp-admin/single-html/#_completely_disabling_reboots

------
In case the automated drain and reboot is not used and turned off following this method - what are the manual steps required to be followed for a manual reboot? I assume this needs to be documented. (drain, reboot, uncordon and first all masters in sequenti

[2020-01-08 15:52] Martin-Weiss opened #654 "[doc] 5.3.2 Completely Disabling Reboots - need to document how to configure reboot schedules properly"
5.3.2  Completely Disabling Reboots

https://susedoc.github.io/doc-caasp/master/caasp-admin/single-html/#_completely_disabling_reboots

------
Customers need to adjust the kured reboot schedule so that they can have planned and controlled reboots. For this they have to add i.e.

            - --reboot-days="sat,sun"
            - --start-time=8pm
            - --end-time=11pm
            - --time-

[2020-01-09 08:05] Martin-Weiss commented on #654
FYI - also created https://jira.suse.com/browse/CTNRFEAT-109

[2020-01-09 10:19] r0ckarong commented on #652
@ereslibre @MaximilianMeister

[2020-01-09 10:20] r0ckarong commented on #653
@ereslibre @MaximilianMeister

[2020-01-09 10:20] r0ckarong commented on #654
@ereslibre @MaximilianMeister

[2020-01-09 10:30] Martin-Weiss commented on #652
I assume a manual execution of "skuba-update" on all nodes makes sense for manuall steps and let kured reboot..

But - Just realized that we also need a more detailed explanation on how kured works for rebooting the cluster. It seems that a check "reboot needed?" happens every hour - but if during this time an other node has the "lock" the next reboot check and reboot try will be an hour later.. I

[2020-01-09 11:58] r0ckarong commented on #632
Closed with #617

[2020-01-09 11:58] #632 closed

[2020-01-09 12:07] Martin-Weiss opened #656 "[doc] 5.1.2 Generating an Overview of Available Addon Updates - how to upgrade all the existing addon yaml files?"
5.1.2  Generating an Overview of Available Addon Updates

https://susedoc.github.io/doc-caasp/master/caasp-admin/single-html/#_generating_an_overview_of_available_addon_updates

------------------------------
Just had to realize that skuba addon upgrade apply updates the deployments in the cluster  but does NOT update the existing addon yaml files (i.e. dex.yaml).

When re-applying the existing an

[2020-01-09 12:08] r0ckarong commented on #553
@dannysauer ...

[2020-01-09 13:52] dannysauer commented on #553
I wrote this up in mid-December then asked a question about where the PR goes, but that question seems to have been lost over the holiday break. ;)

Does the PR for this one get opened against Master or a version-specific branch, @r0ckarong?

[2020-01-09 14:01] r0ckarong commented on #553
Ah yes, I was out since the 18th so I must've not seen that. Is there anything that ties the information to a specific package or feature that is released in only a particular version? I think this should be generally applicable and thus please PR against `master`.

[2020-01-09 14:13] r0ckarong commented on #656
@ereslibre

[2020-01-09 15:23] Martin-Weiss opened #657 "[doc] 2.1.3 Storage Performance - how to verify?"
2.1.3  Storage Performance

https://documentation.suse.com/suse-caasp/4.0/single-html/caasp-deployment/#_storage_performance

----
Could we add a command on how to verify if the given disk fulfills the requirements?

[2020-01-09 15:53] Martin-Weiss opened #658 "[doc] 3.1.6.1 Mirror Configuration - txt file with SUSE helm charts and corresponding images vs. CaaSP / Skuba versions"
3.1.6.1  Mirror Configuration

https://susedoc.github.io/doc-caasp/master/caasp-deployment/single-html/#airgap-container_registry-mirror

-----------------------
Thought I already created an issue for this but can not find it at the moment. So creating an other one.

For staging, airgap and version management of helm charts and corresponding images we need a similar file like https://documentation

[2020-01-09 16:39] #639 closed

[2020-01-09 16:39] cmurphy commented on #639
Closed via https://github.com/SUSE/doc-caasp/pull/655

[2020-01-10 09:01] r0ckarong commented on #657
@ereslibre Do we have some simple methods to determine this? From my experience this involves running at least a series of tests with a benchmarking tool over some time to get an idea of the "real" performance. etcd itself recommends `diskbench` or `fio`. Fio is available from packagehub: https://packagehub.suse.com/packages/fio/

[2020-01-10 09:05] r0ckarong commented on #658
The original issue is #633 and still in progress. Closing and continuing in the original issue.

[2020-01-10 09:05] #658 closed

[2020-01-10 09:06] r0ckarong commented on #633
@jordimassaguerpla Any updates on this?

[2020-01-10 09:30] r0ckarong commented on #657
@kkaempf This is one good example of "where to draw the line" in our docs. What's your opinion on this? I personally think measuring performance should be knowledge that the admin possesses or acquires and not something we need to provide.

I would add instructions how to install this unsupported package from packagehub and then link to the fio docs (https://fio.readthedocs.io/en/latest/fio_doc.ht

[2020-01-10 09:49] ereslibre commented on #657
There are mainly two major themes:

- https://github.com/etcd-io/etcd/blob/master/Documentation/op-guide/performance.md
- https://github.com/etcd-io/etcd/blob/master/Documentation/op-guide/hardware.md#disks

Measuring disk I/O throughput is important, but it's also important to ack that network as it is can keep up with the requests. Latency on the network can also impact etcd's operation. For thi

[2020-01-10 09:59] ereslibre commented on #656
There are currently two problems until we have the `kustomize` support merged in regarding addons:

- New addon versions will be forcefully applied, overriding customizations.
- The YAML manifests in the cluster definition folder are not written back with the updated versions.

Until we have `kustomize`, my recommendation here is for users to use `kustomize` nevertheless, so they will change our d

[2020-01-10 10:05] ereslibre commented on #654
I see this feature got introduced in https://github.com/weaveworks/kured/commit/170a3a4bac9fcde23b1a0ca03d8d08c60e76227c, but `kured` wasn't tagged since:

[code]

We could include the patch ourselves if it's pressing.

[2020-01-10 10:13] ereslibre commented on #653
Yes, the operations should be, first on all control plane nodes, then on worker nodes:

- For control plane nodes
  - Drain
  - Reboot
  - Uncordon

- For worker nodes
  - Drain
  - Reboot
  - Uncordon

In principle, if no user workloads are running on the control plane nodes it's safe to reboot them without having to follow the drain/uncordon cycle, but let's document the safest way.

[2020-01-10 10:17] ereslibre commented on #652
@MaximilianMeister, do you have more insight on this? If Max doesn't know I will have a look at Kured's code to confirm.

[2020-01-10 10:18] jordimassaguerpla commented on #633
A proposal is being discussed here https://github.com/SUSE/avant-garde/issues/1197

[2020-01-10 10:24] ereslibre commented on #643
They look different because in this specific installation it's the first time that you use the `skuba addon upgrade` command.

Addon versions are saved inside the cluster in the `skuba-config`ConfigMap, in the `kube-system` namespace.

Since the bootstrap happened with a version of `skuba` that didn't create this ConfigMap, the new version of `skuba` detects all addons as `new addon`. This is expe

[2020-01-10 10:38] ereslibre commented on #636
We might want to ship https://github.com/kubernetes-sigs/external-dns at some point, so this would cover this use case, not in the same approach but in a more generic one.

[2020-01-10 11:09] Martin-Weiss commented on #657
Can we use "ETCDCTL_API=3 etcdctl check perf" before we deploy ETCD?

IMO we have to do two things:
1. clearly define what is the minimum hardware and network requirements are
2. verify if 1. is fulfilled before the deployment

[2020-01-10 11:18] Martin-Weiss commented on #656
We just had to realize that even the secret in dex/gangway (clientSecret) got changed after or during a skuba addon upgrade. So after applying the "old" dex.yaml the "trust" between dex and gangway was broken. So the current "challenge" might als be seen as critical - not sure if I should also create a bugzilla entry on this?

What way we recommend and use - it needs to be tested and also added to

[2020-01-10 11:20] Martin-Weiss commented on #654
As the customer really needs to control when the reboots are allowed / scheduled - do you need anything else beside the Jira entry?

[2020-01-10 11:25] Martin-Weiss commented on #653
It would be nice to document the exact commands required for the drain..
(remember error: cannot delete DaemonSet-managed Pods)

I assume we might need to add
`--ignore-daemonsets=false --delete-local-data=false  --force=true` to `kubectl drain`
?

[2020-01-10 11:27] kkaempf commented on #657
Full ack !

Reaching out to @l-mb here, asking for recommendations on testing storage i/o performance.

[2020-01-10 11:28] Martin-Weiss commented on #643
Thanks - probably we need to inform our customers then about this ;-).
Either in the release notes or in the documentation..

[2020-01-10 11:40] Martin-Weiss commented on #636
I like the idea of dynamic external DNS management  but for on-premise usecases this topic can be an other Pandoras box ;-). Dynamic DNS entries in existing large enterprise DNS infrastructures can be a big challenge especially from a security point of view.
https://github.com/kubernetes-sigs/external-dns/blob/master/docs/tutorials/rfc2136.md does not seem to have more security than TSIG keys and

[2020-01-10 11:57] r0ckarong commented on #643
@jordimassaguerpla When was this change shipped? Can we still get this into the 4.1.0 release notes?

[2020-01-10 12:12] r0ckarong opened #659 "Put back etcd troubleshooting pages"
Uncomment the lines that adds back the etcd troubleshooting in admin guide.

- 9eb1b5030cefd098e6cd8d674e64485105753cdd
- 6b84f49017024c5b1eb71689baca476250d65366

[2020-01-10 13:09] jordimassaguerpla commented on #643
This change is in 4.1.0. We are ready to release so it is too late to change the release notes package. Sorry.

[2020-01-10 13:11] Martin-Weiss commented on #643
Hm - I see the change in 4.0.3 or with the update to 4.0.3..

[2020-01-10 13:20] ereslibre commented on #656
I think this should be a task in engineering backlog to properly allot for the time to document this properly. I'll reach out to @kkaempf about this.

[2020-01-10 13:44] r0ckarong commented on #657
@ereslibre Would you please setup an engineering task to determine these hardware and network requirements?

[2020-01-10 13:45] ereslibre commented on #656
https://github.com/SUSE/caasp-rfc/blob/master/accepted/0046-addon-customizations.md is covering the `kustomize` use case integrated in `skuba`, and I have a PR almost ready for it.

While we get to that I think we can document a similar approach that needs to be added to our backlog.

[2020-01-10 13:45] r0ckarong commented on #653
@ereslibre Please provide the detailed steps to properly perform these procedures or let me know who can provide them.

[2020-01-10 13:46] r0ckarong commented on #656
@ereslibre Please set up an engineering task to produce documentation on how to install and use `kustomize` if this is the desired solution.

[2020-01-10 14:03] ereslibre commented on #654
I don't think so, @kkaempf, is anything else needed?

[2020-01-10 14:47] r0ckarong commented on #659
9eb1b5030cefd098e6cd8d674e64485105753cdd

[2020-01-10 16:51] kkaempf commented on #654
No, nothing else is needed. Looks like a low hanging fruit we should just pick.

[2020-01-10 20:05] r0ckarong commented on #654
Closing this issue.

[2020-01-10 20:05] #654 closed

[2020-01-10 20:46] Fooshyhead opened #660 "[doc] 3.1.2.2.1 Unsecured Tiller Deployment"
3.1.2.2.1  Unsecured Tiller Deployment

https://documentation.suse.com/suse-caasp/4.0/html/caasp-admin/_software_management.html#_unsecured_tiller_deployment

This is not pulling from the registry.  Is the path correct in the documentation?

[2020-01-13 09:27] r0ckarong commented on #660
The attribute {helm_tiller_version} was not correctly replaced in the current version. This should have been substitutes with the correct version of the image to pull.

Please try again replacing the passage:

[code]

We will update this shortly with the new release.

[2020-01-13 09:32] r0ckarong commented on #660
Closed with: 91c8948

[2020-01-13 09:32] #660 closed

[2020-01-13 13:16] MaximilianMeister commented on #652
@Martin-Weiss the kured lock is global and not per node (in contrast to a manual `skuba-update`). Shall we make that more clear in the docs? i hope this answers your doubts

[2020-01-13 13:55] Martin-Weiss commented on #652
@MaximilianMeister - I understand that the lock is global - but is held by one node. And each node checks the lock only once per hours if I understand it right - at the same time when it checks for "reboot needed".

So if we boot up the whole cluster at more or less the same point in time it is pretty likely that we have one node reboot per hour - so a 10 node cluster needs up to ~11 hours to get

[2020-01-13 15:10] MaximilianMeister commented on #652
yeah also it checks the lock only if a reboot is required

I agree this should be separated somehow, the check is only [one for all and always the same](https://github.com/weaveworks/kured/blob/master/cmd/kured/main.go#L310) every hour in our case. Reducing the default time window of the check should already help in this case. However here in this context of the issue we're more talking about a ma

[2020-01-13 15:30] Fooshyhead commented on #660
Micro Focus

[2020-01-14 08:36] Martin-Weiss commented on #652
But it depends on the time when the kured POD started - so if not all nodes booted at the same time / started the POD at the same time - the check and reboot happens at different times within an hour.

Yes and no - disabling the automated updates first means "set --annotate-only" in /etc/sysconfig/skuba-update and with that manual execution of skuba-update at the time the customer wants that.

Thi

[2020-01-14 10:49] r0ckarong commented on #651
4.1.0 released on 2020-01-13

[2020-01-14 10:49] #651 closed

[2020-01-14 13:05] #646 closed

[2020-01-15 08:35] Martin-Weiss opened #662 "[doc] 3.1.6.1 Mirror Configuration - txt file show skuba 1.2.1 with images for k8s 1.15.2 and 1.16.2"
3.1.6.1  Mirror Configuration

https://susedoc.github.io/doc-caasp/master/caasp-deployment/single-html/#airgap-container_registry-mirror

-----
Here https://documentation.suse.com/external-tree/en-us/suse-caasp/4/skuba-cluster-images.txt we have this, now:

[code]

--> is it correct that skuba 1.2.1 for caasp 4.1.0 supports also deployment of k8s 1.15.2? I would have expected just to see 1.16.2 wi

[2020-01-15 13:07] r0ckarong commented on #662
@jordimassaguerpla

[2020-01-15 14:58] Martin-Weiss opened #664 "[doc] 5.2 Updating Kubernetes Components -> add info that addons need to be upgraded first!"
5.2  Updating Kubernetes Components

https://documentation.suse.com/suse-caasp/4.1/single-html/caasp-admin/#_updating_kubernetes_components

-----

It seems that we have to do "skuba addon upgrade plan/apply" always BEFORE we do skuba node or cluster upgrade.

I.e. got this via skuba node upgraded plan:

[code]

It would be nice if we could add a full update/upgrade process description maybe also

[2020-01-15 15:26] jordimassaguerpla commented on #662
This might be a bug in skuba cluster images. skuba 1.2.1 supports migration from 1.15 to 1.16.

[2020-01-15 15:27] jordimassaguerpla commented on #662
@ereslibre What should be expected here?

[2020-01-15 15:30] jordimassaguerpla commented on #662
In the other hand, we are stating that 1.15.2 is a supported version https://github.com/SUSE/skuba/blob/master/internal/pkg/skuba/kubernetes/versions.go#L101 , which makes me think skuba 1.2.1 should be able to work with 1.15.2 and 1.16.2....

[2020-01-15 15:30] ereslibre commented on #662
`skuba` itself won't allow you to choose the Kubernetes version to deploy (this is possible on development `skuba` versions though). However, `skuba` has the old version in the map still because it needs to know if it is expected to infer an upgrade from version X to version Y, and it needs this knowledge on the static versions map.

Also, this static versions map (compiled into skuba) is what `sk

[2020-01-15 15:32] ereslibre commented on #662
`skuba` has a flag `--kubernetes-version` on `skuba cluster init` only visible in development builds. This was done in purpose, partially for smoke testing upgrades with newer versions of skuba, and partially because we might want to support this use case for our customers, however this argument is not exposed in release mode (yet, don't know if we want to do so).

[2020-01-15 15:34] jordimassaguerpla commented on #662
IIUC, you could have a cluster running 1.15. Then, update skuba and you are offered the possibility to run "cluster upgrade" commands. However, you could not run them and still have k8s 1.15. Thus, I believe, to be in the safe side, you should keep 1.15 in your mirrors.
@ereslibre makes sense what am I saying?

[2020-01-15 16:13] Martin-Weiss commented on #662
If we can deploy a supported cluster with k8s 1.15.2 using skuba 1.2.1 - leaving the status as is is fine.
In case we do NOT support this and we support 1.16.2 with skuba 1.2.1 only - we have to remove the 1.15.2 <-> 1.2.1 from the txt file.

Customers need to know which images to fetch for CaaSP 4.1 - and I thought this is 1.16.2 only?

[2020-01-15 17:27] jordimassaguerpla commented on #662
If you want to update a running cluster, in the initial phase, so after updating skuba but before calling the skuba-update commands, you need both, 1.15 and 1.16. To be in the safe side I would leave it as it is.

[2020-01-15 17:27] #662 closed

[2020-01-15 21:22] rssfed23 opened #665 "[doc] 3.1.2.2.1 Unsecured Tiller Deployment"
3.1.2.2.1  Unsecured Tiller Deployment

This section is using version 2.15.1

For v4.1 it should be 2.16.1.

https://documentation.suse.com/suse-caasp/4.1/single-html/caasp-admin/#_unsecured_tiller_deployment

[2020-01-15 21:24] rssfed23 opened #666 "[doc] 1.2 Available Documentation"
1.2  Available Documentation

In the available documentation section it has the line "he SUSE CaaS Platform Admin Guide discusses authorization, updating clusters and individual nodes, monitoring, use of Helm and Tiller, the **Kubernetes dashboard**, and integration with SUSE Enterprise Storage.

But the Kubernetes dashboard isn't mentioned once during the documentation (I assume because we're now

[2020-01-15 21:35] r0ckarong commented on #665
@ereslibre @jordimassaguerpla Could you please verify the versions listed in the attributes file are correct for 4.1.0?

https://github.com/SUSE/doc-caasp/blob/master/adoc/attributes.adoc

I will include this into our docs release procedure to have this updated more towards the end of a release. Apparently there are still too many version changes slipping through.

[2020-01-15 21:38] r0ckarong commented on #666
I think this is due to the text being a verbatim copy of what we used to have for v3. I will remove this sentence.

[2020-01-15 21:57] savasirez opened #667 "[doc] 5.2.1 How To Update Nodes"
Below section only works if you upgrade the addons first. So, I think a new section or an explanation is needed here to upgrade the addons first. Below is what happens if you try to upgrade:

`caas4master:~/caas4-demo # skuba cluster upgrade plan
Current Kubernetes cluster version: 1.15.2
Latest Kubernetes version: 1.16.2

Upgrade path to update from 1.15.2 to 1.16.2:
 - 1.15.2 -> 1.16.2

Addon up

[2020-01-16 07:04] Martin-Weiss commented on #662
Could you explain this in a bit more detail?
When and why do we need the list of images for CaaSP 4.1/k8s 1.15.2 with skuba 1.2.1 exactly?

An other question: Do we support adding or removing nodes on a CaaSP 4.0.3 cluster with skuba 1.2.1 before that is upgraded to 1.16.2?

[2020-01-16 07:42] Martin-Weiss opened #668 "[doc] 3.1.6.2 Client Configuration - registries.conf needs some tuning"
3.1.6.2  Client Configuration

https://susedoc.github.io/doc-caasp/master/caasp-deployment/single-html/#airgap-container_registry-client

------
For airgap setup we use such a setup these days in /etc/containers/registries.conf:

1. Required for unqualified registry (i.e. in case the helm chart has "image: busybox:1.30":

`unqualified-search-registries = ["docker.io"]`

2. For the registry replica

[2020-01-16 08:30] Martin-Weiss opened #669 "[doc] 6.1.3.3 Alertmanager Configuration Example - upgrade related - could we add an example for failed pods?"
6.1.3.3  Alertmanager Configuration Example

https://susedoc.github.io/doc-caasp/master/caasp-admin/single-html/#_alertmanager_configuration_example

-------
Just had a problem that during kured based reboots some PODs did NOT start anymore on other nodes. This can happen i.e. due to some incompatibilities showing up with new patches or config changes.

In such a situation we want to stop the kure

[2020-01-16 09:44] jordimassaguerpla commented on #662
1- You have a running cluster with k8s 1.15.
2- You update skuba to 1.2.1.
3- You still have k8s 1.15.
4- You use the "skuba upgrade" subcommands to update the cluster to 1.16.
5- You have k8s 1.16

At 3, you still have k8s 1.15. Just to play safe, I would keep the k8s 1.15 images in your mirror until you are at point 5.

It may not be totally necessary, but to prevent weird support requests, my r

[2020-01-16 09:50] jordimassaguerpla commented on #665
:cilium_version: 1.5.3
:crio_version: 1.16.0
:dex_version: 2.16.0
:etcd_version: 3.3.15
:gangway_version: 3.1.0-rev4
:kube_version: 1.16.2
:kured_version: 1.2.0-rev4
:vmware_version: 6.7.0.20000
:helm_tiller_version: 2.16.1

[2020-01-16 09:50] ereslibre commented on #664
Not necessarily, only if any addon got upgraded for the current version of your cluster.

https://github.com/SUSE/skuba/pull/911 will improve `skuba cluster upgrade plan` output, telling you whether you have to upgrade addons before upgrading the platform, how the upgrade looks like, and if you have to upgrade addons afterwards as well.

[2020-01-16 09:50] jordimassaguerpla commented on #665
Tiller is the one that needs to be updated in https://github.com/SUSE/doc-caasp/blob/master/adoc/attributes.adoc

[2020-01-16 09:59] r0ckarong commented on #665
Fixed in 32ec549

[2020-01-16 09:59] #665 closed

[2020-01-16 10:21] Martin-Weiss commented on #662
It is not about leaving the 1.15 images - we do / will not remove them from the registry for sure (similar like we never remove old RPMs in RPM staging..).
It is more about which 1.15 images do we use between 3- and 4- and if this is then caasp-4.0.3 patch updates or if this is caasp-4.1..

[2020-01-16 10:26] Martin-Weiss commented on #664
Sure - so the rule will always be "upgrade addons" and then "the nodes / k8s".
In case there are no addon upgrades - this step can be skipped.

Probably we need an other addon upgrades also after the node upgrade in case the addon upgrade can only be applied after the k8s upgrade?

Just realized that after the addon upgrade we need some sort of status check in the node upgrade that verifies if the

[2020-01-16 12:48] mattikbk opened #670 "[doc] 4.1.2 Product Key"
4.1.2  Product Key

https://documentation.suse.com/suse-caasp/4.1/single-html/caasp-deployment/#registration_code

The documentation tells me to "Navigate to Products › ]" but there is no "Products" navigation available. Do you mean "Additional Products"? Plus, there could be some info what to do if "SUSE CaaS Platform" is not found there. Additionally the URL says I'm reading "/suse-caasp/4.1/" b

[2020-01-16 13:51] r0ckarong commented on #669
What would the criteria be to detect that this has happened?

@lcavajani Can you define such a Prometheus alert example?

[2020-01-16 13:59] r0ckarong commented on #670
@jordimassaguerpla This is another side effect of "reusing" the 4.0 channel. SCC will show the wrong version. It only lists 4.0 but the actual contents will be 4.1.

[2020-01-16 14:07] r0ckarong commented on #670
Rewrote this to avoid the version name.

Closed with de8c78d, ddce8e0

[2020-01-16 14:07] #670 closed

[2020-01-16 14:09] r0ckarong commented on #667
Possible duplicate of https://github.com/SUSE/doc-caasp/issues/664

[2020-01-16 14:11] Martin-Weiss commented on #669
At the moment I do these manual checks:

1. watch kubectl get daemonsets. --all-namespaces

--> see if all daemonsets are up and running with latest versions
DESIRED =  CURRENT =  READY = UP-TO-DATE =  AVAILABLE

2. watch kubectl get deployments --all-namespaces
--> see if all deployments are up and running with latest versions
READY =  UP-TO-DATE  = AVAILABLE

3. watch kubectl get pods --all-name

[2020-01-16 14:11] #667 closed

[2020-01-16 16:22] ereslibre commented on #664
Exactly. If you are upgrading from 1.15 to 1.16, this is what it looks like:

- Check that 1.15 addons are at their latest release available. This might be necessary, for example, upgrading addons that are known to be incompatible with 1.16 in their older version, so they can interoperate both with 1.15 and 1.16.
- Upgrade your nodes to 1.16
- Check that addons are up to date for 1.16: e.g. if an

[2020-01-17 08:16] Martin-Weiss opened #671 "[doc] 4.5.3.1.2 Update the Authentication Connector - do not use kubectl edit"
4.5.3.1.2  Update the Authentication Connector

https://susedoc.github.io/doc-caasp/master/caasp-admin/single-html/#_sec.admin.security.rbac.update

-------

From a best practice point of view we should never use kubectl edit.

Could we change this to "adjust yaml and apply yaml"?

[2020-01-17 09:33] r0ckarong commented on #671
@cclhsu Why was kubectl chosen here? Can we simply replace this with changing the yaml file?

[2020-01-17 10:33] Martin-Weiss opened #673 "[doc] 4.6.1 Deploying an External 389 Directory Server - change 3389 to 389"
4.6.1  Deploying an External 389 Directory Server

https://susedoc.github.io/doc-caasp/master/caasp-admin/single-html/#_deploying_an_external_389_directory_server

-------
The ldap port within the docker container / image /entry point is not 3389 - it is 389!

So change:
`-p 389:3389 \`
to:
`-p 389:389 \`

[2020-01-17 11:07] #673 closed

[2020-01-17 11:08] Martin-Weiss commented on #673
tested with wrong image - not sure why 1.4.0 now has a different entry point than the 1.4.0 I had...

[2020-01-17 11:44] Martin-Weiss opened #674 "[doc] external mirror - which registry image to be used?"
https://susedoc.github.io/doc-caasp/master/caasp-deployment/single-html/#id-1.6.2.11.3.7

It seems that there are two registry:2.6.2 images on registry.suse.com:
registry.suse.com/sles12/registry:2.6.2 and
registry.suse.com/caasp/v4/registry:2.6.2

From the image metadata it seems that the one in caasp/v4 is newer
("Created": "2019-03-01T10:17:54Z")
as the one in sles12/
"Created": "2019-08-12T15:

[2020-01-17 11:51] r0ckarong commented on #664
@ereslibre @Martin-Weiss

As I understand this happens automatically. Is there a recommended manual procedure to achieve this? @Martin-Weiss What did you mean when you wrote this as part of the process? Wait for it to happen?

[2020-01-17 12:29] r0ckarong commented on #674
@jordimassaguerpla

[2020-01-17 12:38] r0ckarong commented on #666
Removed some obsolete text and updated wording for admin guide with 0a78445ff3e4a6ea2268da07610fa40c62221bbe

[2020-01-17 12:38] #666 closed

[2020-01-17 13:16] Martin-Weiss commented on #664
1. So far customers asked to configure --annotate-only in /etc/sysconfig/skuba-update to allow this to be executed manually or via other scheduler.

2. For kured - we hope to get a newer version that allows specification of date and time for reboot window. At the moment the only change that we see useful is to change the check interval to i.e 5 / 10 or 15 Minutes to speed up the rolling reboot. (i

[2020-01-17 16:05] Martin-Weiss opened #676 "[doc] 4.8 NGINX Ingress Controller - add: suse nginx-ingress does not support PSP"
4.8  NGINX Ingress Controller

https://susedoc.github.io/doc-caasp/master/caasp-admin/single-html/#nginx-ingress
----

Just tried to deploy on 4.1 with

[code]

And get this error:

`Error: validation failed: unable to recognize "": no matches for kind "PodSecurityPolicy" in version "extensions"`

So the required changed in the helm chart for k8s 1.16.2 seems to be missing and I believe we do not

[2020-01-17 16:07] Martin-Weiss opened #677 "[doc] 4.6.2 Deploying a 389 Directory Server with an External Certificate - rootCA.crt?"
4.6.2  Deploying a 389 Directory Server with an External Certificate

https://susedoc.github.io/doc-caasp/master/caasp-admin/single-html/#_deploying_a_389_directory_server_with_an_external_certificate

-----

as part of this shouldn´t we also replace the Self-Signed-CA.pem so that we do not get this warning in the logs:

`[17/Jan/2020:14:08:22.430464647 +0000] - WARN - Security Initialization - SS

[2020-01-20 03:29] jenting commented on #677
cc @cclhsu

[2020-01-20 08:54] r0ckarong commented on #676
@ereslibre @jordimassaguerpla Can you please verify if this is intentional or a bug?

[2020-01-20 09:34] innobead commented on #671
This should be only for runtime change when @cclhsu worked on this documentation. However dex is part of addon, so it would be better to change the addon manifest  then apply instead of runtime only by `kubectl edit`. So this turns out @Martin-Weiss question.

@cclhsu please help evaluate then change the doc if need. Thanks.

[2020-01-20 10:55] r0ckarong commented on #643
This will be covered with the rework in #675

[2020-01-20 12:40] #657 closed

[2020-01-20 15:23] #653 closed

[2020-01-21 11:19] jordimassaguerpla commented on #639
ASFAIU this is released. @dannysauer please move to done if that is the case. Thanks.

[2020-01-21 13:27] nkoranova opened #680 "Broken links in v3 and v4 (not 4.1)"
Check links this file:
https://w3.nue.suse.com/~sknorr/scd-links-filter

Each link has to be manually checked, because some might be false positives. Remove/fix broken links.

[2020-01-21 14:26] #659 closed

[2020-01-21 15:02] lcavajani commented on #600
So the charts come from the stable repository: `kubernetes-charts.storage.googleapis.com` and the images from `docker.io`.

AFAIK `k8s.gcr.io` is not needed, all the "caasp" images are on `registry.suse.com`

[2020-01-21 15:26] Martin-Weiss commented on #600
I had to use k8s.gcr.io for upstream nginx-ingress (while the SUSE one does not support PSP) and for the upstream kubernetes-dashboard.

[2020-01-21 15:31] lcavajani commented on #600
@r0ckarong  I thought we switched to the SUSE one in the documentation ?

@Martin-Weiss  IIRC we don't provide installation of the kubernetes-dashboard

[2020-01-21 15:34] nkoranova commented on #680
PR for v4: https://github.com/SUSE/doc-caasp/pull/681

[2020-01-22 07:07] Martin-Weiss commented on #600
Ok - probably we might need two lists - one list with what SUSE already provides and one list what customers need in addition for the kubernetes-dashboard or istio or other important things that are not (yet) provided by SUSE?

[2020-01-22 10:12] lcavajani commented on #600
There is also `quay.io` which is used to get the `kube-state-metrics` image

[2020-01-22 13:59] nkoranova commented on #680
PR for v3: https://github.com/SUSE/doc-caasp/pull/683

[2020-01-22 14:14] nkoranova commented on #680
All done. I'll ask for a rebuild of the v3 docs.

[2020-01-22 14:22] thehejik commented on #676
I can confirm this issue. But I don't know if it is intentional or a bug.

[2020-01-22 14:30] Martin-Weiss commented on #676
Upstream version does not have this problem but that is a newer version of nginx and I remember that we had some discussions that we can not provide the newer nginx version for some reason..

[2020-01-22 14:45] thehejik commented on #676
Ok, there is a bug in our nginx-ingress helm chart, we forgot to migrate the deprecated API fro `apiVersion: extensions` to `apiVersion: policy/v1beta1` according to https://kubernetes.io/blog/2019/07/18/api-deprecations-in-1-16/ in https://github.com/SUSE/kubernetes-charts-suse-com/blob/master/stable/nginx-ingress/templates/podsecuritypolicy.yaml

After the change it works as expected. I'll prepa

[2020-01-22 15:33] jordimassaguerpla commented on #676
Thanks @thehejik

[2020-01-22 15:34] jordimassaguerpla commented on #674
The one in https://susedoc.github.io/doc-caasp/master/caasp-deployment/single-html/#airgap-container_registry-mirror is correct.

registry.suse.com/caasp/v4/registry:2.6.2 was part of CaaSPv4 beta1. See the beta tag:

caasp/v4/registry                        2.6.2, 2.6.2-rev1, 2.6.2-rev1-build1.2, 2.6.2-rev1-build2.1, beta1

[2020-01-22 15:34] #674 closed

[2020-01-22 15:43] Martin-Weiss commented on #674
I see multiple images with different tags, here - and "2.6.2" is NOT beta.
"Beta tags also exist for other caasp images - see caasp/v4/cilium                          1.2.1, 1.2.1-rev1, 1.2.1-rev1-build1.1, 1.2.1-rev1-build1.2, 1.2.1-rev1-build1.3, 1.2.1-rev1-build2.1, 1.2.1-rev1-build2.2, 1.2.1-rev1-build2.3, 1.4.2, 1.4.2-rev1, 1.4.2-rev1-build1.11, 1.4.2-rev1-build2.2.1, 1.4.2-rev1-build2.2.2, 1

[2020-01-22 16:21] Martin-Weiss opened #684 "[doc] 6.1.3.3 Alertmanager Configuration Example - no alert when node "NotReady""
6.1.3.3  Alertmanager Configuration Example

https://documentation.suse.com/suse-caasp/4.1/single-html/caasp-admin/#_alertmanager_configuration_example

---------------------------------------
I am not sure if the documentation is wrong - but I configured the alertmanager following this example and it does NOT create any alert in case a node is in the status "NotReady".

Is it just me or is this a

[2020-01-22 16:27] jordimassaguerpla commented on #674
Hi,
I agree the way the information is presented is misleading.
Please open a bug for removing the registry not supported and we will work on that.
thanks.

[2020-01-22 16:39] Martin-Weiss commented on #674
No problem - https://bugzilla.suse.com/show_bug.cgi?id=1161566 created ;-)

[2020-01-23 02:32] kraml opened #685 "[doc] TLS should be disabled in air-gapped docker registry config.yml"
The doc setup nginx as a reverse proxy in front of docker registry in the air-gapped environment.

Since nginx talks to the upstream server in http(no s), the registry should disable TLS support or else nginx will not be able to properly communicate with it.

The current code snippet in nginx configure example in the doc:

[code]

The docker registry config.yml:

[code]
The tls node needs to be re

[2020-01-23 02:41] kraml commented on #668
Also the current doc is a little bit unclear. The original registry.conf is in version 1 format. The example in our doc is in version 2 format. They cannot co-exist. If the user just append the example in our doc in registry.conf without removing original content he actually will not pull from the local mirror.

So could you improve the doc to make this clear, something for example: "the original

[2020-01-23 07:32] Martin-Weiss commented on #685
Any idea why we setup nginx in front of the registry at all? IMO this is not required as the registry could be accessed directly.

[2020-01-23 10:37] r0ckarong commented on #685
If I remember correctly we use nginx as a reverse proxy to redirect traffic to configured addresses to the internal registries.

[2020-01-23 10:37] r0ckarong commented on #684
@lcavajani Could you verify this please?

[2020-01-23 10:39] r0ckarong commented on #680
Since the PRs are merged do you want to close this issue?

[2020-01-23 10:41] nkoranova commented on #680
yes, merged and rebuilt. closing.

[2020-01-23 10:41] #680 closed

[2020-01-23 10:56] Martin-Weiss commented on #685
With a registries.conf configured to fetch from :5000 and running the internal registry on i.e. port :5000 this nginx reverse proxy is just not required at all.

[2020-01-23 11:00] r0ckarong commented on #685
If I'm not mistaken we did this because people were asking how to run multiple internal registries some of which had to be read only to make sure that there was a way to distribute only "approved" images.

@flavio Do you remember more details why we needed this nginx reverse proxy construct?

[2020-01-23 11:04] Martin-Weiss commented on #685
This is also not required in case we use one registry with different namespaces and a proper configured registries.conf.

Maybe we should switch from "registry proxy" setup to "on premise registry" setup?

[2020-01-23 11:31] r0ckarong commented on #685
cc @kkaempf @qnetter @ereslibre

[2020-01-23 11:54] r0ckarong commented on #600
@kkaempf Is this even something we can possibly provide? The most realistic procedure would be to somehow generate a list like that through some steps. Is this something that we need to describe?

[2020-01-23 14:24] nkoranova opened #686 "[doc] 4.8 NGINX Ingress Controller - wrong link"
4.8  NGINX Ingress Controller
https://documentation.suse.com/suse-caasp/4.1/single-html/caasp-admin/#nginx-ingress

Bug found by David Crnko (support engineer) and confirmed by @thehejik.
Link mentioned step 2 under `$suse charts repository` is not supposed to lead to [this private repo](https://github.com/SUSE/kubernetes-charts-suse-com/tree/master/stable/nginx-ingress), but to https://kubernetes

[2020-01-23 15:04] #686 closed

[2020-01-23 19:05] kkaempf commented on #600
Yet. It's on the backlog (as a supplement to Stratos).

[2020-01-23 19:07] kkaempf commented on #600
We can only generate the first list - what SUSE provides and supports.
Any other 'workloads' are customer specific and a respective list would be endless.

[2020-01-23 19:08] kkaempf commented on #685
Yes. `v5` timeframe I'm afraid.

[2020-01-23 21:17] dannysauer opened #690 "[doc] 4.1.4.2 HAProxy TCP Load Balancer with Active Checks"
4.1.4.2  HAProxy TCP Load Balancer with Active Checks

https://documentation.suse.com/suse-caasp/4.0/single-html/caasp-deployment/#loadbalancer.haproxy

Taken out of context, "HAProxy is a very powerful load balancer which, unlike nginx, can be used in production" sounds like we're saying nginx is completely unsuitable for any production use.  If one were to purchase the commercial nginx, it would

[2020-01-23 21:31] r0ckarong commented on #690
The wording "unlike nginx, can be used in production" should probably read more like "unline nginx free version".

We will still have people that choose haproxy over nginx and vice versa. The kicker here is that nginx (now) has a paid supported version with more features.

Is there a good "line" you could draw between using one over the other? It shouldn't be our job to make users aware that nginx

[2020-01-23 23:56] dannysauer commented on #690
Given that we have a "pay us" option for a supported haproxy which is also production-ready, I don't know that it's in our best interest to steer people to the paid version of nginx at all. :)

I'm inclined to maybe say something like:
"Haproxy is a very powerful, fully open source load balancer.  Unlike the nginx solution described in the previous section, haproxy is suitable for use in productio

[2020-01-24 02:27] kraml commented on #685
The current doc deploys nginx on 443 so that makes a little bit sense :D.

Further references to the mirror are mixed, some specified 5000 (the skopeo sync command), some don't (registries.conf), they need to be cleaned up.

I prefer to have nginx in front for a few reasons:

* The access and error logs of nginx can help diagnose whether the registry mirror is been actually access by the cluster o

[2020-01-24 07:00] kkaempf commented on #690
"Production use" is one question customers have. "Supported" is the other (and we need to answer it here). Together with a SLES-HA subscription, I believe Haproxy is supported. @qnetter ??

[2020-01-24 07:23] dannysauer commented on #690
The next paragraph in that doc clarifies that the open source one works, but they have to buy the HA extension to get support. This would indeed be a good time to verify that statement. :)

[2020-01-24 07:31] Martin-Weiss commented on #685
From an architecture point of view it does not make much sense to put a web-server in front of a web-server ;-). So putting nginx in front of the registry just to get more logs might be nice for troubleshooting but that should also be possible on the registry itself.

At customers it is even more important to have authentication and authorization on the registry and support for multiple namespaces

[2020-01-24 07:33] Martin-Weiss commented on #690
Maybe we should just deliver the background about the recommendation for haproxy in production environments.. -> "active checks are required for production but not available in the open source nginx version we deliver"?

[2020-01-24 09:30] Martin-Weiss commented on #600
Agree - maybe we should create a wiki page or similar for the addons we have to use from upstream at the moment because our eco system is not yet complete..

[2020-01-24 15:22] thehejik commented on #676
The PR above was merged but unfortunately it wasn't enough, one more issue with enabled PSP found and reported https://github.com/SUSE/avant-garde/issues/1259

[2020-01-27 10:16] lcavajani commented on #684
I will try to have a look this week

[2020-01-27 11:42] r0ckarong commented on #685
@kkaempf This sounds like another pass at the airgap docs to me. Is what Martin describes here a viable scenario we want to support?

@kraml I will have a look at the airgap docs and see how much we can unify the usage of the port 5000 notation.

[2020-01-27 11:55] kkaempf commented on #685
Well, it's an actual customer use-case @qnetter has to prioritize.

Asking @Martin-Weiss to add this use-case to [Jira](https://jira.suse.com/projects/CAASP/issues/CAASP-61)

[2020-01-27 11:59] #652 closed

[2020-01-27 12:07] r0ckarong opened #692 "Describe how to re-apply customizations during cluster upgrades"
In order to be able to close #675 we're splitting the remaining discussion off to this new issue.

Until the automated `kustomization` tool is available we have to describe how to properly apply all config customizations during cluster upgrades to keep services running correctly.

https://github.com/SUSE/doc-caasp/pull/675#pullrequestreview-346616265

cc @Martin-Weiss

[2020-01-27 12:09] #643 closed

[2020-01-27 12:09] #664 closed

[2020-01-27 12:35] Martin-Weiss commented on #685
Comment added https://jira.suse.com/browse/CAASP-61?focusedCommentId=979834&page=com.atlassian.jira.plugin.system.issuetabpanels:comment-tabpanel#comment-979834

[2020-01-27 14:13] r0ckarong commented on #600
@ereslibre Can you do this or point me to whoever can create that list?

[2020-01-27 14:29] ereslibre commented on #600
Maybe bring this to #caasp-champions or get it as a new task on our sprint (or future sprints), so someone can take ownership of this. Thank you.

[2020-01-27 16:24] r0ckarong commented on #596
Basically replaced by release coordination board: https://github.com/SUSE/avant-garde/projects/16

Not as detailed but works well so far. Will look at this again if this approach fails.

[2020-01-27 16:24] #596 closed

[2020-01-27 16:25] r0ckarong commented on #277
v3 is EOL and this hasn't gotten any response. Closing.

[2020-01-27 16:25] #277 closed

[2020-01-27 16:29] r0ckarong commented on #279
This might be good to add to v4. Moving.

[2020-01-27 16:31] #486 closed

[2020-01-27 16:34] r0ckarong commented on #628
Still not part of 4.1.1

[2020-01-30 09:56] r0ckarong commented on #668
@Martin-Weiss Could you show me an example what your `/etc/nginx/vhosts.d/registry-server-https.conf` looks like for all these mirrors?

[2020-01-30 15:13] Martin-Weiss commented on #668
I just copy the helm data to a sub-directory on the web-server root.
With apache i.e. to /srv/www/htdocs/kube-prod

mkdir /srv/www/htdocs/kube-prod
cd /srv/www/htdocs/kube-prod
helm fetch <app1>
helm fetch <app2>
then I do a "helm repo index" in that directory with --url https://<helm-repo-server>/kube-prod

So nothing special required - just check the root directory of your web-server.

[2020-01-30 16:02] r0ckarong commented on #668
What I meant was how do the entries in the registries.conf correspond to the naming of the subdirectories of your web-server root? I'm assuming you create a directory `docker.io` when you use an entry like `location = "registry01.mydomain.local:5000/docker.io"`

[2020-01-30 16:31] jodavis-suse opened #696 "[doc] Update example 'cluster status' output with STATUS and ROLE columns"
The Administration guide does not mention 'skuba cluster status' or 'kubectl caasp cluster status' anywhere.

The Deployment guide at https://documentation.suse.com/suse-caasp/4.0/single-html/caasp-deployment/#cluster.bootstrap and the Quickstart https://documentation.suse.com/suse-caasp/4.1/single-html/caasp-quickstart/#cluster.bootstrap do have an example `cluster status` output
This needs to be

[2020-01-30 23:18] r0ckarong commented on #696
@jodavis-suse Would you please add a PR showing this `STATUS` and/or `ROLE` output and ideally how to interpret the new output params?

[2020-01-31 07:39] Martin-Weiss commented on #668
Oh - then we are not talking about nginx/apache - we are talking about registries.conf.

So first of all - I create the on premise registry with portus for authentication and authorization, where portus uses :3000 and registry uses :5000.
Then I create different namespaces, teams and users via portus.
After this I replicate the images from external registries to these namespaces and stage images f

[2020-01-31 10:58] r0ckarong commented on #668
Not quite, I'm still wondering where the directories in `caasp-prod` come from. Are those names that skopeo creates?

[2020-01-31 11:34] Martin-Weiss commented on #668
caasp-prod is the namespace I created in portus / on the registry.

first I copy the images from https://documentation.suse.com/external-tree/en-us/suse-caasp/4/skuba-cluster-images.txt to registry01.mydomain.local:5000/registry.suse.com (this is the "daily" namespace)

then I copy the images from the daily namespace to caasp-test so
registry01.mydomain.local:5000/registry.suse.com to registry01.m

[2020-02-03 13:28] #668 closed

[2020-02-03 13:28] #685 closed

[2020-02-03 15:55] jodavis-suse commented on #696
Chang's PR https://github.com/SUSE/skuba/pull/935 has some example output in the description showing some possible values for ROLE and STATUS.  Additionally the README.md at https://github.com/SUSE/skuba/pull/938/files has been updated, though that doesn't have any additional information over the description in 935.

I can give a quick description and @suseclee can correct me or fill in more detai

[2020-02-03 16:41] dannysauer commented on #600
This should be fairly easy to do by simply setting up a proxy to log what is requested when the addons are installed, then collating the proxy log.  I'll see about scripting that, so maybe it'll be easier to generate / update the whitelist after that addon list is put together.

[2020-02-03 18:13] jvanz opened #702 "Docs and kubernetes.spec file show different config values"
The FlexVolume [documentation](https://documentation.suse.com/suse-caasp/4.0/single-html/caasp-admin/#_flexvolume_configuration) says the users should configure their vendor driver at `/usr/libexec/kubernetes/kubelet-plugins/volume/exec/`. However, the [kubernetes.spec](https://build.suse.de/package/view_file/SUSE:SLE-15-SP1:Update:Products:CASP40:Update/kubernetes.SUSE_SLE-15-SP1_Update_Products_

[2020-02-04 05:09] cclhsu commented on #671
I believe we encountered one scenario [591](https://github.com/SUSE/doc-caasp/pull/591) when addon upgrade where yaml in ~/clusters/<CLUSTER_NAME> is not consisted with resource in running cluster.  In such cases, user required to download the existing oidc-dex-config ConfigMap before addon upgrade, then re-apply the downloaded oidc-dex-config ConfigMap after addon upgraded. Or just simply edit th

[2020-02-04 08:10] Martin-Weiss commented on #671
We should never recommend to use "edit" as this causes the deployments to be "non-immutable" and "non-reproducible" anymore.
But yes - there is a problem that the skuba addon yaml files get updated once we do a skuba addon upgrade. This is still an open point where engineering is working on (I believe the idea is to use kustomize in the future..)

[2020-02-04 09:24] innobead commented on #671
Yes as @Martin-Weiss said, there is an on-going effort about kustomize to have merge strategy when upgrading new addons with skuba. (ref: https://github.com/SUSE/skuba/pull/858)

Also understand @cclhsu said, but even we ask user to modify addon manifest, that is still not a source of true, because it's just located in an operator's workstation w/ single copy and w/o any version control (ex: skuba

[2020-02-04 09:27] Martin-Weiss commented on #671
3. ensure the gangway secret and the dex secret config match!

I have seen that for some reason the gangway secret changed and re-applying the old dex secret config will break authentication in case the secret in the configmap changed in the meantime..

[2020-02-04 13:35] r0ckarong commented on #702
@nkoranova Do you remember who contributed the flexvolume config? I think it was @lcavajani if I am not mistaken.

[2020-02-04 13:50] lcavajani commented on #702
@jvanz the doc was created for `v3` which was based on MicroOS so the default directory for flexvolumes could not be used. With `v4` this problematic is gone and we can use the default.

Let me check the BSC.

[2020-02-04 21:05] dwainsims opened #703 "[doc] 1.2 Available Documentation"
1.2  Available Documentation

https://documentation.suse.com/suse-caasp/4.1/html/caasp-admin/_about_this_guide.html#_available_documentation

**Admin Guide
The SUSE CaaS Platform Admin Guide discusses authorization, updating clusters and individual nodes, monitoring, use of Helm and Tiller, the Kubernetes dashboard, and integration with SUSE Enterprise Storage.**

This is the only reference that I

[2020-02-04 23:18] suseclee commented on #636
My best bet is
Adding Haproxy configuration in LB like this
[code]
In this case, you can access dashboard with https://LB-IP and grafana with http://LB-IP.
Dashboard's token can get from `kubectl describe secrets -n kube-system $(kubectl -n kube-system get secret | awk '/dashboard-admin/{print $1}')`. Username and password for grafana to login is configured in grafana yaml file.

Another option wo

[2020-02-04 23:32] suseclee commented on #636
I also tried to use acl in frontend in haproxy configuration but it did not work because the url extentions does not stick to /grafana and /dashboard.

[2020-02-05 08:08] Martin-Weiss commented on #636
I am not sure if you are mixing up things, here.
With the upstream grafana 6.3 or newer version it is simply possible to add the serve_from_sub_path see https://grafana.com/docs/grafana/latest/installation/configuration/ option.

So the idea is to have
Load Balancer with VIP forwarding 80/443 to NGINX-Ingress on nodePorts 32080/32443
Then add a DNS Entry i.e. "caasp-cluster" pointing to the VIP.
N

[2020-02-05 12:00] jvanz commented on #702
This is not a docs issue. It's a packing problem which already being handle. So, I'm closing this. Thanks

[2020-02-05 12:00] #702 closed

[2020-02-05 19:24] suseclee commented on #636
@Martin-Weiss Thanks for clarification.
I will work on how ingress and ingress controller works with CaaSP. It seems promising that once ingress works well, NodePort for application will works with ingress in sub_path.

I will work on
1. I will check we have ingress controller instruction in CaaSP documentation.
    Found: https://documentation.suse.com/suse-caasp/4.1/single-html/caasp-admin/index

[2020-02-06 01:23] suseclee commented on #636
I tried first with libvirt platform with metallb and ingress. I believe this is worst platform regarding network. The actual problem was not the ingress in this platform. The problem was the External-IP from loadbalancer does not accessible. Even though I can apply Ingress fanout in this platform, the external-ip would not be accessible. Tomorrow, I will use openstack with service-provider, this w

[2020-02-06 08:12] Martin-Weiss commented on #636
As load balancer we have just used haproxy based on the deployment guide and added 80/443 forward to 32080/32443 to the worker nodes. We "exposed" nginx-ingress as nodePort.
So https://<load-balancer-vip> is automatically forwarded to nginx-ingress which forwards to prometheus/grafana etc.

[2020-02-06 08:37] mmeiste opened #704 "[doc] 4.2.1 Deploying the Cluster Nodes"
4.2.1  Deploying the Cluster Nodes

https://documentation.suse.com/suse-caasp/4.1/single-html/caasp-deployment/#_deploying_the_cluster_nodes

The image below "7.Now you can deploy the nodes by running:" shows "haproxy".
Does that mean it will only work with haproxy, so e.g. SOC8 Crowbar and it will fail within CLM?

[2020-02-06 09:11] r0ckarong commented on #704
@kkaempf

[2020-02-06 09:14] r0ckarong commented on #703
This was already removed and will be gone with the next update.

https://github.com/SUSE/doc-caasp/commit/0a78445ff3e4a6ea2268da07610fa40c62221bbe

[2020-02-06 09:14] #703 closed

[2020-02-06 20:10] r0ckarong opened #706 "Incorporate feedback for Cluster deployment from mailing list"
From Bryan Gartner on 2020-02-06:

[code]

[2020-02-07 04:42] suseclee commented on #636
I found out how to configure nginx ingress controller in openstack cloud-provider. https://confluence.suse.com/pages/viewpage.action?pageId=416874852. But I am not sure about our supports for the ingress controller because we do not ship ingress controller. https://medium.com/flant-com/comparing-ingress-controllers-for-kubernetes-9b397483b46b is a good doc for ingress controller comparison. I will

[2020-02-07 07:56] Martin-Weiss commented on #636
@suseclee - did you see https://documentation.suse.com/suse-caasp/4.1/single-html/caasp-admin/#nginx-ingress ? We deliver a SUSE supported ingress controller..

[2020-02-11 16:39] suseclee commented on #636
I deployed ingressed kubernetes dashboard. It needs to be the entire domain name.
If I use `- path: /dashboard` in ingress yaml file, the dashboard would not show. The draft doc is https://confluence.suse.com/display/~clee/NGINX+Igress+with+KubernetesDashbaord+and+Prometheus. I will keep working on after heckweek.

[2020-02-12 08:22] r0ckarong opened #707 "Incorporate findings / feedback from install workshop"
- Linear deployment guides work best #544
- Emphasize the bootstrap IP in the deployment process, the IP of the node you bootstrap with first gets stored in the kubeconfig, this might become a problem if that master goes down, use loadbalancer if possible
- Same problem, the bootstrap generates certs for the bootstrapped node, if that goes away the certs become invalid, use wildcard cert or loadba

[2020-02-12 19:05] genet022 opened #708 "[doc] 4.1.2 Registration Code"
4.1.2  Registration Code

https://documentation.suse.com/suse-caasp/4.1/html/caasp-deployment/_deployment_instructions.html#registration_code

This feels like a good spot to mention that a trial Registration Code can be obtained. Perhaps add a pointer to [here](https://www.suse.com/products/caas-platform/download/) in this section?

I could see the argument that this is out of scope for this secti

[2020-02-14 11:33] tgeek77 opened #709 "[doc] 4.3.3.2 SUSE Linux Enterprise Server Installation"
4.3.3.2  SUSE Linux Enterprise Server Installation

https://documentation.suse.com/suse-caasp/4.1/single-html/caasp-deployment/#_suse_linux_enterprise_server_installation

The screenshot still says "Alpha" and the text says "Beta". Neither are correct.

[2020-02-17 14:50] jordimassaguerpla commented on #636
I  see this is wip, removing it from 4.1.2

[2020-02-19 06:18] suseclee commented on #636
I followed the Prometheus and Grafana deployment from the doc: https://documentation.suse.com/suse-caasp/4.1/single-html/caasp-admin/#_monitoring. It already has ingress configuration with it.
![Screenshot from 2020-02-18 19-45-08](https://user-images.githubusercontent.com/43277007/74806492-f65db900-529a-11ea-88f1-e18512cae143.png)
![Screenshot from 2020-02-18 19-47-18](https://user-images.githubu

[2020-02-19 09:43] Martin-Weiss commented on #636
This is not "serve_as_subpath" - this is using ingress with different DNS entries. But for this you have to create multiple DNS entries (one for each application) which is not what customers want to have... they prefer applications to server with subpath (i.e. cluster-dns-name/grafana instead of grafana.cluster-dns-name)

This issue here is the request to document also how to "serve via sub-path".

[2020-02-19 16:39] suseclee commented on #636
This was because doc introduces sub-domain way of ingress for Prometheus and Grafana. If I add Prometheus and Grafana with subpath, where should this doc needs to go in (ingress or monitoring)?

[2020-02-19 19:40] suseclee commented on #636
I created sub_path ingress for Prometheus and Grafana. Everything works ok except Prometheus root directory. This is because Prometheus changed the root path to "graph" after users logged in. I am working on it in my confluence page: https://confluence.suse.com/display/~clee/Prometheus+and+Grafana+on+CaaS+with+separate+ingresses

![Screenshot from 2020-02-19 11-33-28](https://user-images.githubuse

[2020-02-20 01:02] suseclee commented on #636
Now the Prometheus subpath works as well. I changed the above confluence page.
![Screenshot from 2020-02-19 16-50-48](https://user-images.githubusercontent.com/43277007/74890629-6fabe900-5339-11ea-91c6-c50e65b17ceb.png)

Now I will add it to doc-caasp.

[2020-02-20 08:14] Martin-Weiss commented on #636
Great!! I believe we need to do several things:
1. explain for ingress what ingress is and does and what the differences are between different DNS names vs. different sub-paths
2. in grafana and prometheus deployments we should give two examples
   a) with DNS based ingress routing
   b) with sub path ingress routing

Thanks!!

[2020-02-20 11:25] dominikmathern opened #711 "[doc] 3.1.2.2.1 Unsecured Tiller Deployment-> version variable not filled?"
3.1.2.2.1  Unsecured Tiller Deployment

https://documentation.suse.com/suse-caasp/4.0/single-html/caasp-admin/#_unsecured_tiller_deployment

------------------------
We can see this:

`helm init --tiller-image registry.suse.com/caasp/v4/helm-tiller:{helm_tiller_version} \`

but would expect to see the correct tiller version instead of {helm_tiller_version}

[2020-02-20 19:20] suseclee commented on #636
I am not sure if ingress controller is located in 4.Security: https://documentation.suse.com/suse-caasp/4.1/single-html/caasp-admin/#_security. Should I move it somewhere?

[2020-02-22 01:24] suseclee commented on #636
The PR is ready for review: https://github.com/SUSE/doc-caasp/pull/713

[2020-02-24 10:54] r0ckarong commented on #711
This was fixed in a later release of the documentation. The correct version to be placed there is: `2.14.2`.

[2020-02-24 10:57] r0ckarong commented on #711
Duplicate of #495

[2020-02-24 10:58] #711 closed

[2020-02-24 11:02] r0ckarong commented on #709
Need to adjust the text to automatically contain the correct version number (https://github.com/SUSE/doc-caasp/blame/master/adoc/deployment-vmware.adoc#L91) and find some way to update the screenshot automatically (maybe from QA).

[2020-02-24 11:49] r0ckarong commented on #708
@kkaempf Does it make sense to mention trials here? I think we could do it unless there are many restrictions to the trial version (I don't know how they work).

[2020-02-24 17:34] flavio opened #714 "[doc] 5.6 Control plane nodes certificates"
About this section:

I think we should specify how certificates are automatically rotated.

@ereslibre can you provide some information, I fear I might write something wrong here.

[2020-02-24 17:35] flavio opened #715 "[doc] 5.7 Worker nodes certificates"
About this section:

I think we should specify how certificates are automatically rotated.

@ereslibre can you provide some information, I fear I might write something wrong here.

[2020-02-24 17:45] flavio opened #716 "[doc] 1 Product Description - feedback about chart"
Some feedback about the https://susedoc.github.io/doc-caasp/master/html/caasp-architecture/images/architecture-caasp-components.jpg diagram:

* Maybe we can replace "CoreOS dex Server" with "Dex identity service"
* There's no mention of "gangway (https://github.com/heptiolabs/gangway) - authentication component". It should stay next to dex
* The graphic is a little "sad", we could ask for external

[2020-02-24 17:46] flavio opened #717 "[doc] 2 and 3 supported platforms and architectures"
Right now they look a bit "dry". Maybe we could merge the two sections together and write something more to make them feel less empty.

[2020-02-25 10:56] r0ckarong commented on #716
@flavio
This graphic was created by Randia Mohamed for some research she did previously. I don't have the source files for this. We have at least one other open task for creating diagrams like this. Who would suggest as "external help" to produce better diagrams? The basis needs to be a technical diagram verified by engineering and then somebody could rebuild this looking a bit better.

I've done

[2020-02-25 10:57] r0ckarong commented on #716
Also worth noting that the wording on this diagram is very outdated.

[2020-02-25 10:59] r0ckarong commented on #717
The list of "Platforms" is also outdated.

[2020-02-25 12:09] nvin-krja commented on #716
I am good with network diagrams. If you need any help then let me know. I can show you different styles/themes and redo this diagram.

[2020-02-25 12:11] r0ckarong commented on #716
That would be cool. I need to learn some new tricks with diagramming I can do it but it takes way too long. Can I reach you on Rocket Chat?

[2020-02-26 07:43] #636 closed

[2020-02-26 10:16] chentex opened #720 "Add release note for disable `firewalld`"
Add the release notes to explain why we need to disable firewalld.

https://github.com/SUSE/skuba/issues/919

[2020-02-27 10:10] r0ckarong commented on #720
Since there is an open pull request in the release notes repo I will close the Issue here.

[2020-02-27 10:10] #720 closed

[2020-02-27 10:22] manuelbuil opened #721 "[doc] 2.2 Adding Nodes"
2.2  Adding Nodes

https://documentation.suse.com/suse-caasp/4.1/html/caasp-admin/_cluster_management.html#adding_nodes

The $USER must have a passwordless access to sudo. Otherwise, the deployment fails with a useless message:

[code]

[2020-02-27 10:28] r0ckarong commented on #676
@jordimassaguerpla @thehejik Is this resolved now?

[2020-02-27 10:42] thehejik commented on #676
@r0ckarong yes this was fixed and our tests are passing now. This is related fix for PSP on nginx-ingress helm chart  https://github.com/SUSE/kubernetes-charts-suse-com/pull/122

No note about PSP support is needed (now it works in both cases - with enable and disabled PSP as well). I'd say this can be closed.

[2020-02-27 10:54] #676 closed

[2020-03-02 13:05] r0ckarong opened #725 "Clean up link stragglers to old doc portal"
From email by @sknorr:

[code]

[2020-03-02 13:29] #721 closed

[2020-03-02 13:46] sknorr commented on #725
Ftr, all of these links appear to be fixed in the 4.1 version -- this should just be a matter of some backports.

[2020-03-02 13:48] r0ckarong commented on #725
@sknorr I'm explicitly told "no backports" to older versions unless they are significant product breaking bugs. I will close this issue.

[2020-03-02 13:48] #725 closed

[2020-03-02 14:10] adianas opened #726 "[doc] 3.2.1 Deploying the Cluster Nodes"
3.2.1  Deploying the Cluster Nodes

https://susedoc.github.io/doc-caasp/master/html/caasp-deployment/_deployment_instructions.html#_deploying_the_cluster_nodes

The EC2 type instance proposed here ("m1.medium") have been discontinued.
for a master node, a better option might be the "m5.large"

[2020-03-02 14:40] r0ckarong commented on #726
@flavio

[2020-03-03 16:36] #330 closed

[2020-03-03 16:36] #331 closed

[2020-03-03 16:36] #332 closed

[2020-03-04 13:48] r0ckarong commented on #628
Relates to #587

[2020-03-04 13:54] r0ckarong commented on #671
Closed with #712

[2020-03-04 13:54] #671 closed

[2020-03-04 13:55] r0ckarong commented on #677
Closed with #710

[2020-03-04 13:55] #677 closed

[2020-03-04 15:57] innobead commented on #671
JFYI, kustomize just getting merged in skuba master branch, so it means there will be some improvement in the future and doc updated.

[2020-03-05 10:29] ereslibre commented on #656
The kustomize PR has been merged on master and will be released with the next release.

Documentation for that task will be tackled at https://github.com/SUSE/avant-garde/issues/1370.

[2020-03-05 10:29] #656 closed

[2020-03-06 11:04] evrardjp commented on #714
@ereslibre @flavio I am curious, certificate renewals are listed in the Admin guide (https://susedoc.github.io/doc-caasp/master/single-html/caasp-admin/#_automatic_certificate_renewal). That page also mentions the manual renewals. This page is also the complete reference for certificates installation (or referred as such in the quickstart and installation guides). Should we point in the architectu

[2020-03-09 12:28] nkoranova commented on #490
If this remains the recommended configuration, it doesn't look like there is actually a bug in the docs. @Martin-Weiss @jenting can I close this or is there anything specific in need of fixing?

[2020-03-09 12:39] jenting commented on #490
I'd prefer close it.

[2020-03-09 12:47] nkoranova commented on #559
Should be fixed when we re-publish the Architecture description: https://github.com/SUSE/avant-garde/issues/1344

[2020-03-09 12:59] evrardjp commented on #714
As discussed in the meeting this morning, we think it's okay to document things in the caasp admin guide (maybe write in a little less terse manner), and reference to it from the Architectural guide.

Workers should follow the same path.

[2020-03-09 13:06] #490 closed

[2020-03-10 08:48] Martin-Weiss commented on #490
Just to be sure to be sure - what is the exact result of the "recommended configuration"?
- passing all application network I/O to services through the masters or
- passing all the application network I/O to services through the workers?

[2020-03-10 08:56] cduch opened #733 "[doc] 4.2 Deployment on SUSE OpenStack Cloud"
4.2  Deployment on SUSE OpenStack Cloud

https://documentation.suse.com/suse-caasp/4.1/single-html/caasp-deployment/#_deployment_on_suse_openstack_cloud

The link to the image download is broken!

[2020-03-10 09:36] cduch commented on #733
looks like it works for others ... idk why it doesn't work for me.

[2020-03-10 09:36] #733 closed

[2020-03-10 10:25] #684 closed

[2020-03-10 10:54] r0ckarong opened #734 "Rework architecture diagram for v4"
Relates to:

#571
https://github.com/SUSE/doc-caasp/issues/716
#717

Replace the old diagram:
![architecture-caasp-components](https://user-images.githubusercontent.com/4920542/76628820-a1316200-653d-11ea-8b9f-43159a67f7d8.jpg)

[2020-03-10 13:27] r0ckarong commented on #734
Collecting some info here: https://confluence.suse.com/display/~mnapp/Architecture+Diagram+overhaul

[2020-03-10 13:35] jvanz opened #735 "Add documentaton about user sessions in kubeconfig files"
Recently, one customer faced some difficulties to use the kubeconfig file on multiples machines. Turn out that was the expected behavior and it would be nice to have a docs about how it works to avoid confusion in the future.

The bug is [bsc#1165701](https://bugzilla.suse.com/show_bug.cgi?id=1165701)

[2020-03-10 13:36] jvanz commented on #735
I'm willing to add these docs. But I would like to know where is the best section to add those.

[2020-03-10 15:00] r0ckarong commented on #735
@jvanz Since you asked, I think this should go into the Admin Guide as an addition to the security section explaining how these tokens are used and what to consider.

I'm sure Nora will help you with this.

[2020-03-10 15:04] nkoranova commented on #622
Having finally researched this, I found out that there have actually not been any existing k8s upgrades that this output would reflect. We've had 1.15.2 -> 1.16.x and now 1.16.x na 1.17.y ... so those are examples of minor version upgrades, but we haven't had any patch upgrades. It doesn't make much sense to have unrealistic output and it would IMHO make the upgrades section unnecessarily confusin

[2020-03-10 15:04] #622 closed

[2020-03-10 15:46] evrardjp commented on #622
Agreed on this! Patch can be dealt with skuba-update, making it transparent to end users. If there is something special to deal with (maybe one day!), this can be done in release notes.

[2020-03-10 16:40] nkoranova commented on #735
Yep, we're on it. :)

[2020-03-11 09:04] evrardjp commented on #715
This needs further investigation.

[2020-03-11 11:34] evrardjp commented on #715
https://github.com/kubernetes/kubernetes/blob/master/staging/src/k8s.io/kubelet/config/v1beta1/types.go#L181 is set to `True` in our /var/lib/kubelet/config.yaml , which means the configuration is appropriate. I didn't check if certificates appropriately rotated, but at least the kubelet is configured as it should. Which means the documentation I have provided is most likely good enough.

[2020-03-13 11:52] gghh opened #739 "[doc] 5.2.5 Cluster Bootstrap"
5.2.5  Cluster Bootstrap

https://documentation.suse.com/suse-caasp/4.0/html/caasp-deployment/bootstrap.html#cluster.bootstrap

The documentation fails to mention that `<NODE_NAME>` needs a DNS entry so that other nodes can resolve it. In other words, from any node of the cluster, the command
[code]
should return the IP address of the node. This is also omitted in the man page for `skuba-node-boot

[2020-03-13 12:02] gghh commented on #739
For the records, the fact that `skuba-node-bootstrap(1)` and `skuba-node-join(1)` require both a Fully Qualified Domain Name (FQDN) and a resolvable name `NODE_NAME` is confusing; a novice to the tool such as myself would assume that the tool can infer `NODE_NAME` from `FQDN` by itself. All tutorials I'm aware of indeed use nodes hostnames as `NODE_NAME`, such as
[code]
Note the redundancy above,

[2020-03-13 12:47] ereslibre commented on #739
The `--target` is the way the node from where you are bootstrapping from can SSH into the node, whereas the node name is the name that will node will register with against Kubernetes. They have different purposes, e.g. you could use `--target` with an IP address, while still give the node name a meaningful name.

What do you mean that it would result in a broken deployment if the DNS configuration

[2020-03-13 13:22] #714 closed

[2020-03-13 13:22] #715 closed

[2020-03-13 14:14] r0ckarong commented on #734
@flavio @ereslibre @kkaempf This is the current state. Is this any better? Are we missing something?

![caasp_cluster_components](https://user-images.githubusercontent.com/4920542/76628622-4ef04100-653d-11ea-9478-1f13ebab0cd9.png)
![caasp_cluster_software](https://user-images.githubusercontent.com/4920542/76628625-4f88d780-653d-11ea-8a46-03354d8b2e83.png)

[2020-03-13 14:27] r0ckarong commented on #739
Because that isn't the case. `NODE_NAME` is simply a human readable moniker you can give to nodes so the outputs of `kubectl` or `skuba` make more sense to a person. The cluster will rely on the FQDN/IP of the nodes to communicate. Nothing will resolve, or try to resolve, `NODE_NAME` since it's not used in this way.

You are free to create DNS entries pointing to your nodes that have the same stri

[2020-03-13 14:29] r0ckarong commented on #739
I think the misunderstanding is that `NODE_NAME` becomes a "shorthand" for a node so using skuba/kubectl on it is easier. So instead of using `skuba update mylongname.mydomain.org` you would use `skuba update shorthand`. But that isn't implemented as far as I know.

[2020-03-13 14:37] ereslibre commented on #734
Some comments:

- I would put `etcd` out of `System workloads`. It could be inside the `Control Plane` group. The `apiserver` connects to it.

- `kube-proxy` is a DaemonSet in reality, so I would place it into `System workloads` in all nodes.

- `kubelet` talks to `CRI-O`.

- The `load-balancer` is not very clear from my perspective. It should connect to every `apiserver` on every control plane no

[2020-03-13 14:50] ereslibre commented on #739
I would like to know what exactly breaks if you use a nonresolvable DNS name for a given node as reported by @gghh. `kubeadm` by default sets:

`--kubelet-preferred-address-types=InternalIP,ExternalIP,Hostname`

on the APIServer arguments, so when you will get proxied to kubelets, the `hostname` is unlikely to be used. For all we know at this time, the nodename can be descriptive, and I cannot env

[2020-03-13 15:05] r0ckarong commented on #734
This was some orphaned line from a previous user item. I've changed it now.

Changed

[2020-03-13 19:04] gghh commented on #739
Ok, thank you for clarifying this. The issue I opened is most likely invalid.

The reason I opened this issue is that it's been a while I'm trying to deploy my first cluster ever, `skube node join` is failing, a large number of warning and errors end up in my system logs. Some of the most prominent are along the lines of

[code]

and people around me started suggesting I look at DNS. Now, I've pro

[2020-03-13 21:18] r0ckarong commented on #734
@Martin-Weiss Any thoughts on this ...

[2020-03-16 14:22] #333 closed

[2020-03-16 14:37] #548 closed

[2020-03-16 14:48] #690 closed

[2020-03-16 16:29] #735 closed

[2020-03-19 08:22] Martin-Weiss commented on #734
Looks great - but yes - there is something missing that is mandatory for all enterprise customers with on-premise deployments.. -> airgap and staging is missing.

SUSE provides RPMs via SCC -> SMT/RMT/SUSE Manager
SUSE provides Images -> skopeo to on premise registry (docker-distribution-registry+portus - connected to LDAP/AD)
SUSE provides Helm Charts -> helm fetch / copy file to web-server -> he

[2020-03-19 08:51] r0ckarong commented on #734
The airgap diagram is still not finished, as you said it's quite a bit more complex and I haven't untangled all the spaghetti on the picture yet.

[2020-03-19 09:41] r0ckarong commented on #726
@ereslibre Is m5.large the right sizing? Should I change the docs to this?

[2020-03-20 16:45] r0ckarong commented on #739
The `NODE_NAME` seems to be misleading a lot of new users. Reopening to find a better wording.

![Screenshot_20200320_174433](https://user-images.githubusercontent.com/4920542/77186055-92fdbb80-6ad2-11ea-8d69-74b73cc3bcaa.png)

[2020-03-20 16:52] r0ckarong commented on #739
Find a better place to put the notification about what to set the node names to and make clear that while they are originally just a "random" name you can give to nodes, in Openstack and AWS you MUST use the same names that you gave the instances on which the nodes are running. Otherwise the CPI will try to resolve the names given in skuba and won't be able to match/find them in the instances.

[2020-03-20 16:58] r0ckarong commented on #739
@flavio @ereslibre There seems to be a "hidden" requirement by skuba. Skuba will try and resolve the `NODE_NAME` that we teach users to create at will to an actually existing "node name" in the cloud provider instance pool.

- Is this intentional?
- Is there maybe a better way to handle this in skuba?
- Should we just update the docs saying "You MUST name the nodes the same thing that you are goin

[2020-03-21 10:20] AvengerMoJo opened #741 "[doc] Example&nbsp;4.3: Binding a Group to a Role"
Example&nbsp;4.3:  Binding a Group to a Role

https://documentation.suse.com/suse-caasp/4.1/single-html/caasp-admin/#q

roleRef:
- kind: Role
  name: <ROLE_NAME>
  apiGroup: rbac.authorization.k8s.io

Should be

roleRef:
  kind: Role
  name: <ROLE_NAME>
  apiGroup: rbac.authorization.k8s.io

Instead.  Or else got "array", expected "map" error.

[2020-03-21 15:10] AvengerMoJo opened #742 "[doc] 4.4.3 Adding a New Group to an Organizational Unit"
4.4.3  Adding a New Group to an Organizational Unit

https://documentation.suse.com/suse-caasp/4.1/single-html/caasp-admin/#_adding_a_new_group_to_an_organizational_unit

dn: cn=GROUP,ou=OU_NAME,dc=example,dc=org
changetype: add
objectClass: top
objectClass: groupOfNames
gidNumber: GROUPID
cn: GROUP

seem to need to add : objectclass: posixGroup  as following to avoid
ldap_add: Object class violat

[2020-03-23 06:13] innobead commented on #742
@cclhsu please help check.

[2020-03-23 06:23] innobead commented on #741
@cclhsu please help fix this. thanks.

[2020-03-24 13:06] #571 closed

[2020-03-24 13:06] #716 closed

[2020-03-24 13:06] #734 closed

[2020-03-24 13:07] r0ckarong opened #746 "Update airgap diagram"
On the basis of the new architecture diagrams, create a suitable diagram for the airgap deployment scenario.

[2020-03-24 13:10] #717 closed

[2020-03-24 15:13] #746 closed

[2020-03-26 10:17] #692 closed

[2020-03-26 10:59] #741 closed

[2020-03-26 11:10] ereslibre commented on #739
The nodename can be literally anything in general. Of course, it's a better approach if it's resolvable. Now, we have to define resolvable from where. Let me elaborate:

* API Server -> Kubelet tunneling: the API server needs to be able to resolve the name of the nodename, in order to establish a tunnel (e.g. when you do a `kubectl exec`).

  * By default, the API Server `kubelet-preferred-address

[2020-03-26 11:52] r0ckarong commented on #739
The information about the node metadata was actually introduced with #541 just recently and shipped with 4.1.2. I will close this issue.

[2020-03-26 11:52] #739 closed

[2020-03-27 08:59] dsohk opened #747 "[doc] 3.6.1.2 Disabling Swap"
3.6.1.2  Disabling Swap

https://documentation.suse.com/suse-caasp/4.1/html/caasp-deployment/_deployment_instructions.html#_disabling_swap

The current doc does not disable swap permanently. Swap will be used again after reboot.... While it can still go through caasp installation, the kubelet service won't be able to start after the worker node is rebooted as the swap will be in use again.

To per

[2020-03-27 14:19] r0ckarong commented on #747
Are you referring to an automatic reboot or manual reboot after following the steps that are currently in the documentation? I need to figure out the wording on how to prevent this from happening. Thank you.

[2020-03-27 14:47] zoopster commented on #747
Your instruction here does disable swap immediately "swapoff -a" and it will prevent it from starting at reboot if removed from /etc/fstab. In an ideal world, removing the swap partition will completely prevent it from coming back.

Ideally we need to have specifics on setting up the node...disable swap during install (among other things).

[2020-03-27 14:51] r0ckarong commented on #747
Which platform did you deploy on? I know we have dedicated instructions on how to disable/remove swap for existing SLES and VMWare.

[2020-03-27 14:54] dsohk commented on #747
It's deployed by our partner on a hypervisor. He just spinned up a standard SLES15SP1 VM by accepting all the default settings and then handed over to someone to install CaaSP on it. I guess the default installatio of SLES15SP1 will have swap enabled.

[2020-03-27 15:15] r0ckarong commented on #747
Yes, this would be considered a "baremetal"/KVM installation and that specifically has instructions to disable swap.

https://documentation.suse.com/suse-caasp/4.1/single-html/caasp-deployment/#_disabling_swap

[2020-03-27 15:45] dsohk commented on #747
Yes, I am referring to installing CaaSP on existing SLES15SP1. I just found "swapoff -a" and removing swap entry in /etc/fstab alone won't clean enough to make swap disabled after reboot. That's why I outlined the "ideal steps" to ensure it's disabled. Otherwise, even if you can install CaaSP on these nodes by following today's doc, the kubelet service won't be able to start after CaaSP deployed o

[2020-03-27 16:05] r0ckarong commented on #747
@ereslibre How would the nodes "re-enable" swap if you turn swap off specifically AND remove the swap partition from the fstab? The only thing I see here that's not like our instructions is to remove the actual swap partition. Is there some effect where this would be "detected" as swap on boot and just re-added?

I'm happy to add the extra step to the instructions but it doesn't quite make sense t

[2020-03-27 16:24] zoopster commented on #747
It's not a corner case...accepting all defaults on a SLE15 install will enable swap.

[2020-03-27 16:42] alexarnoldy opened #748 "[doc] 3.4.2 Setup with AutoYaST"
3.4.2  Setup with AutoYaST

https://documentation.suse.com/suse-caasp/4.1/single-html/caasp-deployment/#_setup_with_autoyast

I feel like this section and the next one, 3.4.3 Setup using VMWare Template, are mutually exclusive; as in either deploy your nodes with AutoYaST or by way of a VMware Template. If this is true, that should be called out just above this section.

As it's written, someone w

[2020-03-27 16:59] r0ckarong commented on #747
I changed my previous comment with the wording for that. If you follow the docs it clearly tells you to disable SWAP in this scenario and the described method should work.

I am not aware of any mechanism that would re-enable swap. if you do please let me know what it is and I'll add the step for removing the partition volume, too.

[2020-03-27 20:38] qnetter opened #749 "[doc] 3.1 Deployment Preparations"
3.1  Deployment Preparations

https://documentation.suse.com/suse-caasp/4.1/html/caasp-deployment/_deployment_instructions.html#deployment.preparations

Shouldn't this say "not part of the SUSE CaaS Platform cluster" or "not part of the Kubernetes cluster" rather than "not part of the skuba cluster"?

[2020-03-27 21:09] qnetter opened #750 "[doc] 3.1 Deploying the Cluster Nodes"
3.1  Deploying the Cluster Nodes

https://documentation.suse.com/suse-caasp/4.1/html/caasp-quickstart/_deployment_on_suse_openstack_cloud.html#_deploying_the_cluster_nodes

We need to rework the Quickstart Guide to use VMware and Bare Metal/KVM. No new customers can get SOC.

[2020-03-30 08:41] r0ckarong commented on #750
Having more than one deployment in this document is against the purpose that was communicated to me. VMWare is also not a "quick" process. Should we switch this to KVM? This is what we typically tell people to use for a start anyway.

cc / @kkaempf

[2020-03-30 08:47] r0ckarong commented on #748
Yeah, good call. I'm going to change the wording that this must be done in only one way.

[2020-03-30 09:34] kkaempf commented on #750
Yeah, that's what one gets with changing deployment priorities in the middle of a product :-(

I agree with Markus that the 'Quick'start guide should focus on one platform.

In the [core team meeting](https://confluence.suse.com/display/CaaSP/Core+Team) of January 28th we agreed on this priority order for CaaSP deployment platforms
1) VMware
2) KVM
3) Public Cloud
4) Bare Metal
5) SOC

@qnetter: w

[2020-03-30 09:35] #748 closed

[2020-03-30 09:56] r0ckarong commented on #749
I do not know why this wording was chosen at the time. I will change it.

[2020-03-30 09:56] #749 closed

[2020-03-30 10:27] #747 closed

[2020-03-31 09:59] r0ckarong commented on #708
Since I can't get a response how they work I won't be able to add anything regarding trials.

[2020-03-31 09:59] #708 closed

[2020-03-31 10:04] r0ckarong commented on #510
Closing due to inactivity.

[2020-03-31 10:04] #510 closed

[2020-03-31 10:05] r0ckarong commented on #553
Closing due to inactivity.

[2020-03-31 10:06] pgonin commented on #726
I did all my tests with t2.large (default I had in terraform template)

[2020-03-31 10:08] #194 closed

[2020-03-31 10:09] #279 closed

[2020-03-31 10:15] r0ckarong commented on #726
Thanks Paul!

[2020-03-31 10:17] #726 closed

[2020-03-31 10:24] r0ckarong commented on #706
This should already be covered with #675

[2020-03-31 10:24] #706 closed

[2020-03-31 20:33] bhdn opened #751 "[doc] 3.1.1.1 Initial Rollout"
3.1.1.1  Initial Rollout

https://documentation.suse.com/suse-caasp/4.1/single-html/caasp-admin/#_initial_rollout

`ca-certificates-suse` is internal. It's also not mentioned in the deployment guide. (maybe those two other examples could have been mentioned in the Depl. G.)

[2020-03-31 23:16] cseader opened #752 "[doc] 6.1 Monitoring Stack"
6.1  Monitoring Stack

https://documentation.suse.com/suse-caasp/4.1/html/caasp-admin/_monitoring.html#_monitoring_stack

Nooo. this is supported. Now an RFI is going to have trouble.

[2020-04-01 11:49] #751 closed

[2020-04-01 11:50] r0ckarong commented on #752
@kkaempf @qnetter Please confirm that the described monitoring stack is fully supported then I will remove this wording.

[2020-04-01 11:54] kkaempf commented on #752
Yes, Prometheus & Grafana are fully supported for CaaSP.

[2020-04-01 12:02] #752 closed

[2020-04-01 13:35] #742 closed

[2020-04-02 13:39] adianas opened #753 "[doc] 4.5.3.2.1.3 OIDC Tokens"
4.5.3.2.1.3  OIDC Tokens

https://documentation.suse.com/suse-caasp/4.1/single-html/caasp-admin/#_oidc_tokens

If possible, please include the errors that users get for this type of situation and slightly adjust the wording to make it more clearer.

errors:
"msg="failed to rotate keys: keys already rotated by another server instance"
"msg="failed to get refresh token: not found"

https://bugzilla.

[2020-04-06 11:46] sknorr opened #755 "Requirements sections of Deployment Guide and Quick Start lack indication of base SLES version"
Both the Deployment Guide and the Quick Start have Requirements sections and neither makes any real indication which version of SLES is under your CaaSP install, which is a bit weird imo. Afaict, CaaS Platform is only(?) shipped as VM images which already include an OS but mentioning the base OS would still be good so people know what behavior to expect etc.

(Maybe I am wrong of course and this i

[2020-04-06 12:36] r0ckarong commented on #755
That's not true. CaaS is installed as packages (and later containers and charts) from a SLE extension module. We do not ship specific VMs with CaaSP pre-deployed.

The type of OS you need to download is detailed in the actual deployment steps. I will add some wording clarifying this.

[2020-04-06 12:38] #755 closed

[2020-04-09 16:28] r0ckarong commented on #750
As discussed in the PM sync 2020-04-09, switch Quickstart to KVM/Baremetal, unpublish for SUSE internal use, get in touch with VMWare marketing team for customized VMWare quickstart.

[2020-04-09 16:37] r0ckarong commented on #750
Internal discussion continued in https://github.com/SUSE/avant-garde/issues/1485

[2020-04-09 16:37] #750 closed

[2020-04-09 23:07] gaktive opened #757 "[doc] 8.2.2 Procedures"
8.2.2  Procedures

https://documentation.suse.com/suse-caasp/4.1/html/caasp-admin/_integration.html#_procedures

At the very least, the domain `omg.howdoi.website` should be removed since that's an internal DNS. It should be make more generic.

However, a bigger question is that having CAP docs in CaaS Platform is going to be a constant effort in ensuring it's not out-of-date. CAP has its own stru

[2020-04-09 23:12] troytop commented on #757
8.2  SUSE Cloud Application Platform Integration

https://documentation.suse.com/suse-caasp/4.1/html/caasp-admin/_integration.html#_suse_cloud_application_platform_integration

There should be no documentation in the CaaS Platform guide for installing SUSE CAP, just links to the relevant sections of the CAP docs:

https://documentation.suse.com/suse-cap/1.5.2/single-html/cap-guides/#cha-cap-depl-c

[2020-04-10 09:02] jorx-dev opened #758 "[doc] 2.2.9 Deploying SUSE CaaS Platform"
2.2.9  Deploying SUSE CaaS Platform

https://documentation.suse.com/suse-caasp/4.1/html/caasp-deployment/_deployment_scenarios.html#airgap-caasp_deployment

This chapter still references Velum.

[2020-04-10 22:17] dannysauer commented on #553
I forgot to open the PR for this.  Argh.

Reopening, unblocking, and relating to the PR. :D

[2020-04-10 22:24] dannysauer commented on #198
I'm not sure what this had to do with a reboot, but following-up here for historical reasons to note that the important things from above were addressed already. :rofl:

[2020-04-15 20:06] zoopster opened #763 "[doc] 9.6.2.2 Procedure"
9.6.2.2  Procedure
https://documentation.suse.com/suse-caasp/4.1/single-html/caasp-admin/#_procedure_2

In 9.6.2.1 it states the recover procedure only needs to be done on one master as others will sync. Yet at step 10 in 9.6.2.2 it says to repeat step 7, 8, & 9 to recover all remaining masters?
Contradicting perhaps?

[2020-04-16 14:54] tgeek77 opened #764 "[doc] 7.1.4 Deployment"
7.1.4  Deployment

https://documentation.suse.com/suse-caasp/4.1/single-html/caasp-admin/#_deployment

In the minimal working setup command, it might be best to add "--namespace kube-system" or else the rsyslog pods will be created in the default namespace.

[2020-04-17 14:02] tgeek77 opened #766 "[doc] 7.1 Centralized Logging"
7.1  Centralized Logging

https://documentation.suse.com/suse-caasp/4.1/single-html/caasp-admin/#_centralized_logging

The SLE documentation doesn't contain any information for setting up a log server, which is a bug in itself, but here are the lines that should be added to a SLE server's /etc/rsyslog.conf for a minimal log server configuration:

[code]

This will listen for incoming logs on TCP p

[2020-04-20 02:41] innobead commented on #318
Audit logging should is about event auditing by API server. But centralized logging deserves enhancing to support to collect logs from a configured audit log path to forward to external (it should be planned later).

cc @jenting @c3y1huang @cclhsu

[2020-04-20 06:57] Martin-Weiss commented on #766
I would recommend to add the config to /etc/rsyslog.d/remote.conf

in my config I have this:
[code]

--> I also use UDP as with TCP the remote syslog host could be a single point of failure for the cluster.

[2020-04-20 07:00] Martin-Weiss commented on #766
Oh - and forgot the most important point!! Do not forget about log rotation!!!

/etc/logrotate.d/remote

Hint: my hosts are called "caasp*":

[code]

[2020-04-20 07:10] tgeek77 commented on #766
I think all in all, there does need to be logserver section in the SLE Docs and at least some mention of how to set it up in the CaaSP Docs or at least a link.

[2020-04-20 07:56] Martin-Weiss commented on #766
+1

[2020-04-20 08:49] Martin-Weiss opened #769 "[doc] 6.1.3.2.4 Ingress - for grafana and prometheus needs to stay in helm chart and values!"
6.1.3.2.4  Ingress

https://susedoc.github.io/doc-caasp/master/single-html/caasp-admin/#_ingress
-----------------------

It seems that the documented example for "serve from subpath" is based on turning of "ingress" in the prometheus and grafana helm charts values.yaml and then add a separate ingress yaml manually.

This is not the best approach and should only be seen as workaround.

Could this

[2020-04-20 11:58] r0ckarong commented on #769
@suseclee

[2020-04-20 12:06] r0ckarong commented on #766
I'm going to get in touch with the SLE folks and see what we can do here.

[2020-04-20 12:08] r0ckarong commented on #764
@innobead Could you please confirm that the kube-system namespace is the right place for these pods?

[2020-04-20 12:12] r0ckarong commented on #763
AFAIU the etcd database will sync automatically to all configured masters but you still have to manually join these masters to the etcd cluster (which is what 9.6.2.2 / 7-9 describe).

I think this just needs some clarification on what these procedures actually do to make that clear.

@innobead Could you please confirm that my assumption is correct?

[2020-04-20 12:18] r0ckarong commented on #758
Good catch!

[2020-04-20 12:18] #758 closed

[2020-04-20 12:23] r0ckarong commented on #757
@kkaempf I'm happy to remove this and replace with the link provided by Troy. Any objections?

[2020-04-20 13:12] taroth21 commented on #766
Hi all - in the SLE docs, the main chapters with regards to logging are:
- journalctl: Query the systemd Journal, Admin Guide:
https://documentation.suse.com/sles/15-SP1/html/SLES-all/cha-journalctl.html
- Analyzing and Managing System Log Files, Tuning Guide: https://documentation.suse.com/sles/15-SP1/html/SLES-all/cha-tuning-logfiles.html

I will add a card to our backlog that information about

[2020-04-20 15:07] zoopster opened #771 "[doc] 3.3.1.4 IAM Profiles"
The section below states IAM profiles, but describes AWS credentials. These are two distinctly different subjects. Because of how we're using the AWS CPI the IAM profile probably needs to be expanded with a bit more detail on exactly what is needed (the README.md in /usr/share/caasp/terraform/aws has a bit more content, but not enough).

3.3.1.4  IAM Profiles

https://documentation.suse.com/suse-c

[2020-04-20 15:11] zoopster opened #772 "[doc] 3.3.2 Deploying the Infrastructure"
In this section if you leave the iam_profile_master and iam_profile_worker empty, TF does not create the proper IAM Profile even with explicit IAM_Passthru rights or the use of root credentials.
The deployment will fail with a "cannot attach profile" error.
If you add/uncomment these lines, the deployment will finish however the skuba node bootstrap will fail with a error listing instances error.

[2020-04-20 15:14] r0ckarong commented on #772
@flavio @ereslibre What is going wrong here? What is the correct procedure to do this?

[2020-04-20 15:18] r0ckarong commented on #771
This relates to: http://bugzilla.suse.com/show_bug.cgi?id=1169506

[2020-04-20 15:20] r0ckarong commented on #771
@flavio @ereslibre Who can help me expand this info or amend the README for terraform? I don't remember seeing anything specific about setting up IAM in the AWS deployment. If only using one main admin for everything this might work (sort of) but for proper usage of IAM we need to explain this more.

[2020-04-20 16:14] tgeek77 commented on #764
I think creating an rsyslog namespace and putting it there could be acceptable also, but I don't think the default namespace is a good idea for default.

[2020-04-20 16:33] Martin-Weiss commented on #764
I would not create one namespace per application / per daemon set etc.
IMO the rsyslog stuff should go to the kube-system namespace per default.

[2020-04-20 16:38] Martin-Weiss commented on #766
Ok - this does not cover the rsyslog details and logrotate details a customer needs to setup the central logging for CaaSP. I really believe we have to add the right examples..

[2020-04-20 18:08] r0ckarong commented on #766
As usual with this kind of statement, my retort: Can you provide such examples or tell me who can?

[2020-04-21 05:14] innobead commented on #771
cc @cclhsu @maximenoel8

[2020-04-21 05:15] innobead commented on #772
cc @cclhsu @maximenoel8

[2020-04-21 05:49] innobead commented on #763
You just need to restore the database on the first master node, but you still need to form the etcd cluster back by adding the following members into the first master.  Please help check the documentation again and I think the description is correct.

[code]

cc @c3y1huang

[2020-04-21 05:56] innobead commented on #764
Don't see any reason to install in `kube-system` but we can improve this by adding `--namespace` to align with other helm chart installation in the documentation like `--namespace logging`

cc @cclhsu can you help with this. Thanks.

[2020-04-21 06:12] Martin-Weiss commented on #764
Because kube-system namespace already exists and it does not make much sense to create a namespace per single deployment or per single daemon set.

(pretty similar to a filesystem where you also do not create one sub-directory per file ;-)).

"Grouping" most often makes sense if you need separate rights or restrictions.. - so in case we add additional "logging components" one day like ELK and we n

[2020-04-21 06:15] Martin-Weiss commented on #766
See the comments above with the /etc/logrotate.d/remote and /etc/rsyslog.d/remote.conf - I believe these can be good starting points - we just need someone else that double-checks what I have done..

[2020-04-22 07:04] Martin-Weiss opened #774 "[doc] 2 Cluster Management - graceful shutdown and startup procedure missing"
2  Cluster Management

https://susedoc.github.io/doc-caasp/master/single-html/caasp-admin/#_cluster_management

---------------------------------
From time to time it is required to do a full shutdown of the system - i.e. in case there are storage operations or network operations or virtualization operations having an operational risk for the cluster or the applications running within the cluster.

[2020-04-22 10:29] kkaempf commented on #757
not at all ;-)

[2020-04-22 12:08] #757 closed

[2020-04-22 12:42] r0ckarong commented on #774
This was originally part of the Admin Guide RFC but wasn't prioritized so far.
The old backlog item is this:
https://github.com/SUSE/doc-caasp/issues/329

@ereslibre @flavio @kkaempf @qnetter

[2020-04-22 12:52] #600 closed

[2020-04-22 13:05] r0ckarong commented on #709
There was a poor choice made when the release channel was set up in the beginning. All 4.x versions will go into the `4.0` channel and thus the text for the module will not change. I have removed the Alpha/Beta mentions from the text and screenshots.

[2020-04-22 13:07] #709 closed

[2020-04-22 13:16] ereslibre commented on #774
The approach as a super safe way to stop your whole cluster looks fine to me. However, I wonder if this is really necessary.

When there are workloads running, and you shutdown your machine, these workloads will already be terminated by the system by a SIGTERM, right? So in theory, the cleanup will be graceful. I don't know at what time a SIGKILL might be sent if the SIGTERM is not timely. I also

[2020-04-22 14:12] ereslibre commented on #774
What I'm going to propose should be double checked,

1. Cordon all nodes. Do not drain them.
2. Shutdown machines. Either all of them at the same time if you don't care about downtime, or in groups in sequence -- keeping an eye that your workloads are replicated across different nodes.
3. Perform maintenance operation.
4. Start all machines or the subset of machines that you powered off.
5. After

[2020-04-23 05:56] Martin-Weiss commented on #774
So basically we are in agreement - the only left question might be application dependent.
(scale to 0 or not, before you shutdown).

I see that scaling down reduces the load slowly and allows better handling of concurrent actions that might cause a high load during shutdown (concurrent disk IO during closing the application).
After the reboot - nothing is producing load and the load can be slowly

[2020-04-23 08:18] innobead commented on #764
Theoretically what you said makes sense but it's still not a solid reason, because `kube-system` is for kuberentes system components or our builtin addons. All helm charts we provide are for extensibility so it's better to explain in a purposed namespace.

However, we can do that change for sure if this can simplify the adoption/understanding from users :) but that means we also need to check agai

[2020-04-23 10:03] r0ckarong commented on #318
Relates to: https://bugzilla.suse.com/show_bug.cgi?id=1168491

[2020-04-23 10:08] Martin-Weiss opened #775 "[doc] 1.1 Platform - need overview for CaaSP release vs. supported Helm Chart addons in the release notes or documentation"
1.1  Platform

https://documentation.suse.com/suse-caasp/4.0/single-html/caasp-deployment/#_platform

---------------------------------------
Customer is running CaaSP 4.0.3 and we can not find out which Helm Chart versions are tested and supported in combination with this CaaSP release. Running a newer version than tested might cause issues and support discussions - so could we add a spread-sheet

[2020-04-23 10:27] Martin-Weiss commented on #764
True - maybe we have to add a chapter to the docs explaining the sense and best practice for namespaces so enable them to decide themselves.

We have nginx-ingress, prometheus, grafana, kubernetes-dashboard, log-agent-rsyslog, metrics-server, nfs-client-provisioner, velero,.... and it is basically the question about delegated administration and probably also resources management how to split the a

[2020-04-23 18:25] r0ckarong opened #776 "Rework Quickstart guide for KVM"
See https://github.com/SUSE/avant-garde/issues/1485

[2020-04-24 11:23] r0ckarong commented on #318
Relates: https://github.com/SUSE/avant-garde/issues/1520

[2020-04-24 12:17] r0ckarong commented on #775
This isn't covered by this file?

https://documentation.suse.com/external-tree/en-us/suse-caasp/4/skuba-cluster-images.txt

cc/ @jordimassaguerpla

[2020-04-24 12:47] r0ckarong commented on #628
Still blocked by Cilium progress

[2020-04-24 12:58] Martin-Weiss commented on #775
In this file I can only find the skuba images - all the helm charts and addon images / tiller images are missing, there.

At the moment I am trying to maintain an "other-images.txt" file myself manually just to take care about all the other stuff.. (nginx-ingress,...prometheus, grafana, tiller,...... vs. helm chart versions etc.)

A few lines out of that file:

[code]

[2020-04-24 13:07] r0ckarong commented on #775
We've recently added a little information about this but nothing regarding versions per release.

@jordimassaguerpla This request sounds something like what we discussed this morning with the build config but can we somehow generate this for previous versions? This relates directly to a previous unsolved Issue: https://github.com/SUSE/doc-caasp/issues/621

[2020-04-24 13:57] jordimassaguerpla commented on #775
It is in our backlog and I would love to tackle this asap, but unfortunately it is not our top priority right now, so we should tackle this eventually but can't tell when. I am happy to see Martin found out a solution for his customers so this is at least not causing more issues.