[2018-12-03 13:29] otuominen opened #112 "Changing Velum Admin Password"
Procedure&nbsp;1.2:  Changing Velum Admin Password

https://www.suse.com/documentation/suse-caasp-3/singlehtml/book_caasp_admin/book_caasp_admin.html#id5412

# docker exec -it $(docker ps -q -f name=ldap) /bin/bash

[code]

[2018-12-03 13:40] r0ckarong commented on #112
Did you put in the hostname of your LDAP instance in place of `ldaps://`?

[2018-12-03 14:07] r0ckarong commented on #112
There seems to be a problem finding the admin user in the database with the attributes. I'm looking into this.

[2018-12-03 16:42] otuominen commented on #112
Reopening.

[2018-12-03 23:20] nanoscopic commented on #112
Assuming that there exists a cn=admin user in the LDAP DB, the following command would output the full DN of that user:
( executed from LDAP container context )
`slapcat -n1 | grep "dn: cn=admin"`

If nothing appears one could browse through the `slapcat -n1` output to see everything that is there.

If there is no user present then something has gone wrong. When a cluster is first created the cn=a

[2018-12-04 10:17] r0ckarong commented on #112
@otuominen Try this:
Follow the instructions until you are in the bash of the LDAP container.
Then run: `slapcat -n1 | grep uniqueMember`
`uniqueMember: uid=mnapp,ou=People,dc=infra,dc=caasp,dc=local` <- this line will look different for you.

Then replace the `uid` in the password change command with the uid from the output.

So replace `uid=test` here with the uid from your output:

[code]

If a

[2018-12-04 12:19] otuominen commented on #112
So yes, slapcat -n1 | grep uniqueMember` is essential that you capture correct uid!

bash-4.3# slapcat -n1 | grep uniqueMember
5c067044 mdb_monitor_db_open: monitoring disabled; configure monitor database to enable
uniqueMember: uid=admin,ou=People,dc=infra,dc=caasp,dc=local
bash-4.3# ldappasswd -H ldaps:// -D "cn=admin,dc=infra,dc=caasp,dc=local" -w $(cat /var/lib/misc/infra-secrets/openldap-pass

[2018-12-04 12:22] r0ckarong commented on #112
I have already changed the instructions to extract this information and this will be updated with a future update of the docs. I'll close this issue.

[2018-12-04 12:22] #112 closed

[2018-12-07 15:17] thkukuk opened #114 "Assigning Roles to the Cluster Nodes with CaaSP v4"
5.2.5.11  Assigning Roles to the Cluster Nodes

https://www.suse.com/documentation/suse-caasp-3/singlehtml/book_caasp_deployment/book_caasp_deployment.html#sec.deploy.cloud-init.user-data.caasp-roles

With CaaSP v4, the cluster role does no longer configure a NTP client. Instead the admin has to configure one (either chrony or systemd-timesyncd) with cloud-init himself. NTP syncronisaton across th

[2018-12-12 12:09] mssola opened #115 "portus: documentation is missing lots of information"
The documentation for [portus on SLE](https://www.suse.com/documentation/sles-15/singlehtml/book_sles_docker/book_sles_docker.html#sec.docker.portus) is missing a lot of information.

For starters:

This is missing the location where this Docker image can be pulled: the SUSE Container Registry. Portus 2.4 has been released there as a Docker image and it's based on SLE, so customers shouldn't be pu

[2018-12-14 15:00] #115 closed

[2018-12-20 12:16] alexarnoldy opened #116 "Configuring the Administration Node"
4.3  Configuring the Administration Node

https://www.suse.com/documentation/suse-caasp-3/singlehtml/book_caasp_deployment/book_caasp_deployment.html#sec.deploy.nodes.admin_configuration

I would recommend a better description of this setting. It took me a while to figure out what this would do, and Google won't help at all in this case.

[2018-12-21 13:45] alexarnoldy opened #117 "Automatic Installation Using AutoYaST"
4.4.3  Automatic Installation Using AutoYaST

https://www.suse.com/documentation/suse-caasp-3/singlehtml/book_caasp_deployment/book_caasp_deployment.html#sec.deploy.nodes.worker_install.manual.autoyast

The network setup in this section is confusing because it calls for netsetup for DHCP, but then points to the Advanced Network Setup section of Autoyast, which only references ifcfg.

ifcfg has mor

[2018-12-22 14:26] alexarnoldy opened #118 "Automatic Installation Using AutoYaST"
4.4.3  Automatic Installation Using AutoYaST

https://www.suse.com/documentation/suse-caasp-3/singlehtml/book_caasp_deployment/book_caasp_deployment.html#sec.deploy.nodes.worker_install.manual.autoyast

In this section it says "However, each node will have ssh keys for root on the master node pre-installed."

This is not true. The keys are on the Administration node, not on any of the K8s master n

[2019-01-07 16:00] r0ckarong commented on #116
Could you be more specific where you had trouble? The link points to an entire section with various options. Is it the overall description of this setting that should be improved? A particular option?

I'm happy to change/amend the description but I need some more information.

[2019-01-08 13:15] r0ckarong commented on #117
Closed with bc91624

[2019-01-08 13:15] #117 closed

[2019-01-08 13:43] r0ckarong commented on #118
Fixed with ebb2801

[2019-01-08 13:43] #118 closed

[2019-01-11 09:00] r0ckarong commented on #114
This also relates to:

https://bugzilla.suse.com/show_bug.cgi?id=1098743
and some what https://bugzilla.suse.com/show_bug.cgi?id=1071204

[2019-01-11 12:54] alexarnoldy commented on #116
I'm so sorry for not being more clear! For some reason I must have thought that the "Report Bug" link would go straight to the screen I was on.

I was referring to the setting:
"Node allocation size (CIDR length per worker node)
Length of CIDR notation length per worker node in Bits (Default: 23) "

Since the most of the online calculators don't offer this information, it was hard to know if/how t

[2019-01-11 12:56] r0ckarong commented on #116
Ok, thanks. That gives me something to work with. I'm not familiar with this topic myself but I'll get some more information and will amend the description. Thanks.

[2019-01-14 14:05] asemen opened #123 "[doc] 3.1.4 Recovering From Failed Updates"
3.1.4  Recovering From Failed Updates

http://docserv.suse.de/documents/CaaS_Platform_3/caasp-admin/single-html/#sec.admin.software.transactional-updates.recovering

On run of documented 2nd step:

docker exec -it $(docker ps -q -f name="salt-master") \
 salt "*" cmd.run "transactional-update cleanup reboot dup

I do get on my CaaSP 3.0 set up:
"docker: command not found"

[2019-01-14 14:14] asemen opened #124 "[doc] 8.5 Locking Installed Program Temporary Fixes"
8.5  Locking Installed Program Temporary Fixes

http://docserv.suse.de/documents/CaaS_Platform_3/caasp-admin/single-html/#sec.admin.troubleshooting.velum_ptf

There is a problem that the comand to install PTF do not work:
On run of:
 1. Install the PTF manually.
root: transactional-update reboot PTF_FILE.rpm install

I do get
 transactional-update reboot *.rpm install
Usage: transactional-update -

[2019-01-14 14:15] asemen commented on #123
Or I do get this;
docker exec -it $(docker ps -q -f name="salt-master") \

ca:
    /bin/sh: transactional-update: command not found
admin:
    ERROR: Zypper failed with the following message(s):
    You are about to do a distribution upgrade with all enabled repositories. Make sure these repositories are compatible before you continue. See 'man zypper' for more information about this command.

[2019-01-16 08:45] r0ckarong commented on #124
Yes the way this usage of transactional-update works has changed. I will correct the troubleshooting section.

[2019-01-16 08:47] r0ckarong commented on #124
Added with https://github.com/SUSE/doc-caasp/commit/c9cd328f23953fef400aa447000e7421ffaee28e

[2019-01-16 10:12] jordimassaguerpla commented on #123
Hi,
you are trying to apply the updates onto a devel image. By default transactional-update won't let you do that. Please apply updates on a CaaSPv3 official/supported image.

[2019-01-16 11:01] #123 closed

[2019-01-16 14:05] r0ckarong commented on #116
Added with 75317a2ec495cdf5179e87b058da88b7bda6570d

[2019-01-16 14:05] #116 closed

[2019-01-16 14:34] #114 closed

[2019-01-26 18:52] m0rbo opened #129 "[doc] Procedure&nbsp;7.2: Creating a Pod with RBD in Persistent Volume"
Procedure&nbsp;7.2:  Creating a Pod with RBD in Persistent Volume

https://www.suse.com/documentation/suse-caasp-3/singlehtml/book_caasp_admin/book_caasp_admin.html#id-1.5.9.5.3

I was just walking through this section and setting up Persistent Volumes in CaaSP in my lab and as written with the yaml that includes:
monitors:
    - [MONITOR1_IP:MONITOR1_PORT]
    - [MONITOR2_IP:MONITOR2_PORT]
    -

[2019-01-28 11:40] r0ckarong commented on #129
I think the person who wrote this just meant to indicate with the brackets that you had to replace the entire string.
All examples I can find for this are either

[code]
or
[code]
or
[code]

I will change the example to the second format to be on the safe side.

[2019-01-28 11:43] r0ckarong commented on #129
Added with 38e55bf

Thanks for the input!

[2019-01-28 11:43] #129 closed

[2019-01-28 14:37] alexarnoldy opened #130 "[doc] Procedure&nbsp;3.6: Installation of Kubernetes Dashboard"
Procedure&nbsp;3.6:  Installation of Kubernetes Dashboard

https://www.suse.com/documentation/suse-caasp-3/singlehtml/book_caasp_admin/book_caasp_admin.html#id-1.5.5.6.4

Since section 3.4.3 covers installing heapster, step one in procedure 3.6 should have a note that this step can be skipped if heapster is already installed.

[2019-01-28 15:12] r0ckarong commented on #130
I have slightly modified the instructions so the first step of this instruction will point to the previous section detailing heapster installation. Thanks for the heads up!

[2019-01-28 15:12] #130 closed

[2019-01-28 15:45] hwoarang opened #131 "Please add a note that we should not saturate nodes"
We should have a suggestion note that nodes should not be overloaded (or even committed) so workloads can have more chances from moving from one node to another during an update or maintenance window.

[2019-01-29 09:40] r0ckarong commented on #131
Is there a good rule of thumb how `oversized` a cluster should be planned then?

[2019-01-29 09:48] hwoarang commented on #131
I would say 70-80% utilized but that's just me. @ereslibre any other ideas?

[2019-01-29 09:56] ereslibre commented on #131
We could encourage 70% and set 80% as the maximum reasonable limit.

However, assuming a cluster with two worker nodes of the same size if both are at 51% Kubernetes will run into troubles moving those workloads from one to another. Same applies if worker nodes are of different size and at different occupation rate, but only in the case of two workers. With more workers it's harder to hit this pro

[2019-01-29 09:58] r0ckarong commented on #131
The immediate question that comes to my mind is then: How do I limit resources to 80% max?
I have an open task to describe RBAC resource limits but I need more input to know if this will cover this sufficiently.

[2019-01-29 10:00] hwoarang commented on #131
I am not sure if we want to go into such a depth with resource limits. I would leave it as an exercise to the cluster administrator or just point them to upstream docs https://kubernetes.io/docs/concepts/policy/resource-quotas/

[2019-01-29 10:02] ereslibre commented on #131
I agree with @hwoarang, every cluster is different in size and what workloads they run. We should just point to the upstream docs, just wanted to state the previous though.

[2019-01-29 10:11] r0ckarong commented on #131
https://github.com/SUSE/doc-caasp/pull/132

[2019-01-29 11:49] #131 closed

[2019-02-05 14:00] Martin-Weiss opened #135 "[doc] Procedure&nbsp;2.9: Pull Data From Upstream Sources"
Procedure&nbsp;2.9:  Pull Data From Upstream Sources

https://www.suse.com/documentation/suse-caasp-3/singlehtml/book_caasp_deployment/book_caasp_deployment.html#id-1.4.4.3.12.4

--------------

When I follow these instructions I get this output of helm-mirror:

helm-mirror inspect-images /srv/www/htdocs/kubernetes-charts.suse.com/ -o skopeo=x.yaml
helm-mirror: 2019/02/05 14:57:55.037049 inspectIm

[2019-02-05 14:33] r0ckarong commented on #135
Please run the command again with the `--ignore-errors` parameter.

This is a known problem of some of the CAP related charts: https://bugzilla.suse.com/show_bug.cgi?id=1116570

[2019-02-05 15:11] Martin-Weiss opened #136 "[doc] 2.2.7.2 Client Configuration"
2.2.7.2  Client Configuration

https://www.suse.com/documentation/suse-caasp-3/singlehtml/book_caasp_deployment/book_caasp_deployment.html#sec.deploy.scenarios.airgap.helm-charts.client

--> the name of the helm-mirror is case-sensitive and it seems that only "lower case" works.

Please change "SUSE-MIRROR" to "suse-mirror" as otherwise the fetch will not work.

[2019-02-06 14:52] Martin-Weiss commented on #135
I had a look at this bug and I believe this is not a bug in the CAP related charts it is a bug in the helm-mirror tool.

I get the same problem with a mirror of kubernetes-charts.storage.googleapis.com:

helm-mirror inspect-images /srv/www/htdocs/kubernetes-charts.storage.googleapis.com/ -o skopeo=/srv/www/htdocs/kubernetes-charts.storage.googleapis.com/skopeo.yaml

-> shows many many erros.

Coul

[2019-02-06 16:38] r0ckarong commented on #135
It's not a bug in the helm-mirror tool. The CAP charts and those Google charts have values that are filled from the environment on respective chart repos. We can never know these.

For this reason the mirroring of charts from sources other than SUSE is not supported. The CAP charts will be fixed in time but we can not do anything about how other repositories handle their charts.

Please also see t

[2019-02-06 17:28] Martin-Weiss commented on #135
Then the tool might not be fulfilling requirements.

can never know these.

We need the images and these are known - can be found in the values.yaml.
What else do we need to know?

And what about all other Helm repos? Do we have to clone them manually? If yes - then the helm-mirror tool might not be
very useful at all..
(Most applications are not in the SUSE Helm repo)

Not sure if this is true -

[2019-02-08 10:59] r0ckarong commented on #135
Note about `--ignore-errors` flag added with https://github.com/SUSE/doc-caasp/commit/ed55505f3417548ad8c9926f11167b932f411fa0

Please move the discussion about featureset and requirements for helm-mirror to this bugzilla thread.

[2019-02-08 10:59] #135 closed

[2019-02-08 11:09] r0ckarong commented on #136
Corrected example, added link to helm chart naming conventions.

0b24861db9de957347505f68591f89c4a1f0c1f2

[2019-02-08 11:09] #136 closed

[2019-02-08 15:35] emilianolangella opened #138 "[doc] 3.1.4 Recovering From Failed Updates"
3.1.4  Recovering From Failed Updates

https://www.suse.com/documentation/suse-caasp-3/singlehtml/book_caasp_admin/book_caasp_admin.html#sec.admin.software.transactional-updates.recovering

We should target only the real minions using

`salt -P "roles:(admin|kube-(master|minion))"`

otherwise we will target also the `ca` container.

[2019-02-12 15:28] Vogtinator opened #140 "It's "openSUSE Leap 42.x|15.x", not "openSUSE 42.x|15.x""
There is no such thing as "openSUSE 15", but it's still mentioned in various places.

[2019-02-12 16:01] r0ckarong commented on #140
Please detail "various places" I can find exactly two references for openSUSE 15 or 42. I've just fixed those with f86a46d2751d356341f6c75845239f8eaa91daad

[2019-02-12 16:04] Vogtinator commented on #140
Yup, looks good to me.

[2019-02-12 16:04] #140 closed

[2019-02-12 17:00] #138 closed

[2019-02-13 08:09] gfigueira opened #142 "[doc] 3.1.3 Applying Updates"
Nowhere in this document, the registration process is described. It is possible (to what effect I don't know) to use SUSEConnect or transactional-update to register a system against SCC. The correct order the cluster has to be registered and update is also not found here.

3.1.3  Applying Updates

https://www.suse.com/documentation/suse-caasp-3/singlehtml/book_caasp_admin/book_caasp_admin.html#sec

[2019-02-13 08:43] gfigueira opened #143 "[doc] 3.1.4 Recovering From Failed Updates - feature"
Be more verbose between step 1 and 2 since the salt-master can take some time to start. Also there is no word on how much time to wait between step 2 and 3.

Inform that step 2 might take several minutes so the user doesn't close the terminal before it finishes (there is no output for quite some time, no information about what is being done),

3.1.4  Recovering From Failed Updates

https://www.sus

[2019-02-13 16:37] r0ckarong opened #144 "Add workarounds to v4 release notes"
https://confluence.suse.de/display/SUSECaaSPlatform4/v4?focusedCommentId=199295492#comment-199295492

[2019-02-14 14:07] r0ckarong opened #145 "Add info about flexvolume drivers"
https://github.com/kubic-project/salt/pull/724#issuecomment-463628747

[2019-02-19 15:04] r0ckarong opened #147 "Improve mapping documentation for external LDAP"
https://bugzilla.suse.com/show_bug.cgi?id=1125349#c7

[2019-02-20 16:03] r0ckarong commented on #147
https://jira.suse.de/browse/CA-467

[2019-02-26 11:02] r0ckarong opened #149 "Update docs links for K8s 1.13"

[2019-02-26 11:16] r0ckarong commented on #144
Done

[2019-02-26 11:16] #144 closed

[2019-02-26 11:51] #149 closed

[2019-02-26 12:47] rssfed23 opened #150 "[doc] Procedure&nbsp;9.1: Installation of Kubernetes Dashboard"
Procedure&nbsp;9.1:  Installation of Kubernetes Dashboard

https://susedoc.github.io/doc-caasp/develop/caasp-user/single-html/#id-1.6.10.2.4

Gives a 404 when trying to run kubectl apply -f
https://raw.githubusercontent.com/kubernetes/dashboard/master/src/deploy/recommended/kubernetes-dashboard.yaml

[2019-02-26 16:01] r0ckarong commented on #150
Looks like they changed the structure of the project. The closest thing I can find is: https://github.com/kubernetes/dashboard/blob/master/aio/deploy/recommended/kubernetes-dashboard.yaml but I am not sure if this is the right one. I'll look into it.

[2019-02-28 16:13] r0ckarong opened #153 "Clarify updating nodes added to an existing cluster"
Relates to: #146

It depends on how the nodes are installed.

# Media installation

The user installs the node using the v3 installation media. The node
will get all the updated packages only if the customer register it
against SMT/SCC/RMT at installation time.

# AutoYaST

We have customers installing nodes using hand-made autoyast profiles.
This is something we don't support. So let's assume the

[2019-03-01 16:24] r0ckarong opened #156 "Decide on air gapped story for v4"
Once air gap for v4 is developed we need to look at the input and applicability of:

https://bugzilla.suse.com/show_bug.cgi?id=1073507
https://bugzilla.suse.com/show_bug.cgi?id=1139748

[2019-03-05 10:50] r0ckarong opened #157 "Update references from SLE12 to SLE15 microOS"
https://jira.suse.de/browse/CA-471

[2019-03-06 08:41] r0ckarong opened #159 "Add step for manual node removal"
[code]

[2019-03-06 12:34] r0ckarong opened #160 "Add more information about loadbalancer configuration"
https://bugzilla.suse.com/show_bug.cgi?id=1124651

[2019-03-08 14:45] sinicis opened #161 "resource reservations for host system services not applied"
**Type:** Bug

**Topic:** Resource reservations with velum

**Impact:** big if out of resources / low as long enough resources available

**Description**
The resource reservations set in velum are not properly applied to the cluster nodes. The kubelet process does not have the correct parameters.

There is no impact at all as long the nodes have enough resources. But if the situation occurs where

[2019-03-08 16:04] r0ckarong commented on #161
This needs to be filed in bugzilla. This is only the documentation repository and none of the engineers monitors this repository. I will find out how we can move this to bugzilla.

[2019-03-11 15:54] sinicis opened #162 "wrong ldap ports in documentation"
**topic:** wrong LDAP TLS port

**source:** https://github.com/SUSE/doc-caasp/blob/develop/xml/admin_security.xml#L1407

**correction:** should be 636 instead of 646

[2019-03-18 13:06] tgeek77 opened #163 "[doc] 2.5 Scaling the Cluster"
2.5  Scaling the Cluster

https://www.suse.com/documentation/suse-caasp-3/singlehtml/book_caasp_admin/book_caasp_admin.html#sec.admin.scale_cluster

Incorrect:

Correct

[2019-03-19 08:55] pgonin commented on #163
well...
It depends on Admin node RAM
8GB => up to 40 workers
32GB => up to 150 workers

Also it has been tested at time of CaaSP3 release.
It might be possible that since then improvements (on salt automation, velum...) might have side effect of allowing more workers to be added to cluster.

[2019-03-19 13:52] tgeek77 commented on #163
My comment was based on input from AJ. Thanks Paul, the fuller explanation would be best for this bug.

[2019-03-21 10:41] martinhonore opened #166 "[doc] 4.2.2.1 kubelet"
4.2.2.1  <code class="literal">kubelet</code>

https://www.suse.com/documentation/suse-caasp-3/singlehtml/book_caasp_admin/book_caasp_admin.html#sec.admin.monitoring.health.node.kubelet

curl -i https://localhost:10250/healthz doesn't work anymore

It seems kubelet is now configured with port 10248 (HTTP endpoint).

[2019-03-25 10:14] r0ckarong opened #171 "Update instructions for k8s dashboard namespace"
hui.zhi.zhao@suse.com @ caasp-internal@suse.de on 2019-03-25:

[code]

to

[code]

[2019-03-25 12:08] #161 closed

[2019-03-25 13:15] lcavajani commented on #166
# Local monitoring

If for example there is an agent running on each node, this agent can simply fetch the local healthz port: `http://localhost:10248/healthz`.

e.g with curl: `curl -i http://localhost:10248/healthz`

# Remote monitoring

There is two way to fetch endpoints (metrics, healthz...), the both methods use `HTTPS` and a token (1.) and are exectued against the `APISERVER` or directly to

[2019-03-25 14:34] #166 closed

[2019-03-25 14:39] r0ckarong commented on #162
Fixed with: b0710ddc74704f70883d186794627a1493eaffdc

[2019-03-25 14:39] #162 closed

[2019-03-25 15:08] danielorf commented on #162
636 is the correct TLS port

[2019-03-26 11:51] r0ckarong opened #172 "Create Quickstart for vNext"
## Acceptance Criteria
- [ ] Describe deployment scenario
- [ ] Which platform
 - [ ] How many nodes
 - [ ] How are the nodes meant to interact
- [ ] Describe how to deploy and configure vNext nodes on a SLE level with the preferred method
- [ ] Describe which packages to install to prepare for CaaSP deployment
- [ ] Describe how to configure networking and what needs to be considered
- [ ] Descri

[2019-03-26 14:12] martinhonore opened #173 "Configuring External OIDC Provider"
1  Security
https://www.suse.com/documentation/suse-caasp-3/singlehtml/book_caasp_admin/book_caasp_admin.html#cha.admin.security

The configuration of the OIDC Provider is missing from the documentation.

[2019-03-26 14:30] r0ckarong opened #174 "Create docs outline RFC input"
https://github.com/r0ckarong/caasp-rfc
https://github.com/SUSE/avant-garde/issues/150

[2019-04-01 15:17] r0ckarong commented on #161
https://bugzilla.suse.com/show_bug.cgi?id=1128863

[2019-04-02 09:51] r0ckarong opened #175 "Update docs for 1.14 kubernetes"
- [x] Update release notes with new version
- [x] Update entity for kubedocs

[2019-04-02 09:58] r0ckarong opened #176 "Describe logging in vNext"
https://github.com/SUSE/avant-garde/issues/25

[2019-04-02 10:20] #172 closed

[2019-04-03 15:21] r0ckarong opened #177 "Create migration instructions from v3"

[2019-04-04 10:51] r0ckarong opened #178 "Add VMWare Deployment to quickstart guide"
Describe VMWare deployment

https://github.com/SUSE/avant-garde/issues/131

[2019-04-04 10:54] r0ckarong opened #179 "Add Openstack to Quickstart"
https://github.com/SUSE/avant-garde/issues/115

[2019-04-04 10:55] r0ckarong opened #180 "Add bare metal to quickstart"
https://github.com/SUSE/avant-garde/issues/132

[2019-04-04 10:59] r0ckarong opened #181 "Describe how to resolve module conflict for CaaSP v4"
Once the product is shipped as an extension this needs to be discussed in release notes.

https://github.com/SUSE/avant-garde/issues/97

[2019-04-04 11:00] r0ckarong commented on #181
Customers need to enable extensions before installing product

[2019-04-04 11:03] r0ckarong opened #182 "Describe CaaSP vNext/v4 architecture"
Mention cilium
https://github.com/SUSE/avant-garde/issues/120

[2019-04-04 11:05] r0ckarong commented on #182
talk to @mrostecki about what to describe about cilium (for other guides too)

[2019-04-04 11:05] r0ckarong commented on #182
Mention that cilium is now part of the build (which version?)

[2019-04-04 11:06] r0ckarong commented on #175
Describe used k8s version in architecture docs

[2019-04-04 11:08] r0ckarong opened #183 "Describe LDAP usage in vNext"
Needs to clarify if internal or external LDAP is supported and how to configure/use

- [x] https://github.com/SUSE/avant-garde/issues/164
- [x] https://github.com/SUSE/avant-garde/issues/19
- [x] https://github.com/SUSE/avant-garde/issues/17

Output reviews with:

- [x] #298
- [x] #292
- [x] #293

[2019-04-04 11:10] r0ckarong commented on #183
Relates to: https://github.com/SUSE/avant-garde/issues/19

[2019-04-04 13:18] r0ckarong opened #184 "Describe security policy handling in v4"
https://github.com/SUSE/avant-garde/issues/15

[2019-04-08 13:18] r0ckarong commented on #174
https://confluence.suse.de/display/~mnapp/SUSE+CaaS+Platform+4.0+Docs+Outline

[2019-04-08 15:21] r0ckarong opened #186 "Document cilium"
https://github.com/SUSE/avant-garde/issues/16

[2019-04-08 15:25] #175 closed

[2019-04-08 15:42] r0ckarong opened #187 "Move Quickstart to GitHub"
Move the quickstart guide from Confluence to GitHub.

https://confluence.suse.de/display/SUSECaaSPlatform4/SUSE-CaaSP+vNext+Quickstart+Guide

- [X] Translate Confluence page to AsciiDoc
- [x] Configure preview build on susedoc.github.io
- [x] Publish on susedoc.github.io

[2019-04-08 15:46] r0ckarong commented on #182
Cooperate with Rania Mohamed about input.

https://confluence.suse.de/pages/viewpage.action?pageId=231211033

[2019-04-09 08:40] r0ckarong commented on #171
I can't find which section this refers to. The current instructions do not require manually setting this NODE_PORT.

[2019-04-09 08:40] #171 closed

[2019-04-09 10:30] r0ckarong commented on #163
Added with af135ab6691fee9ac2b703a9615d2ba530ddfbac and 263dc4a3bee0141c662b768843454624a16c4861

[2019-04-09 10:30] #163 closed

[2019-04-09 10:38] r0ckarong opened #188 "Publish new docs release"
https://github.com/SUSE/doc-caasp/releases/tag/v3-20190409

https://bugzilla.suse.com/show_bug.cgi?id=1131953

[2019-04-09 16:26] r0ckarong opened #189 "Plan for RBAC explanation documentation"
Discussed in Core Platform call 2019-04-09. RBAC documentation is poor. Upstream documentation is confusing and not helpful. Could be an opportunity to set apart CaaS Platform with good docs.

Alternatively: Fix upstream docs.

Need more input for actual use cases and what needs to be described.
Needs prioritization from CaaSP mgmt to get engineers to describe it and develop test cases.

[2019-04-10 13:08] #188 closed

[2019-04-10 13:08] #187 closed

[2019-04-10 13:13] r0ckarong commented on #157
Since we're rewriting from scratch this is obsolete.

[2019-04-10 13:13] #157 closed

[2019-04-11 07:58] r0ckarong opened #192 "Describe proxy configuration for CRI-O"
From rocket.chat:
https://chat.suse.de/channel/caasp-devel?msg=ZbwH5tYsrzjGQ4q8W

Change `/etc/sysconfig/crio`

[code]

Then restart with `systemctl restart crio`

[2019-04-11 14:32] thehejik commented on #178
@r0ckarong I just created https://confluence.suse.de/display/SUSECaaSPlatform4/Quickstart+guide+for+vNext+on+VMWare

[2019-04-12 14:01] r0ckarong opened #193 "Describe cluster management / bootstrap"
Document how adding/removing nodes works. This is related to:

https://github.com/SUSE/avant-garde/issues/21
https://github.com/SUSE/caaspctl/pull/115/

[2019-04-12 14:55] Klaven commented on #193
To reset a failed bootstrap or join, you can call
`caaspctl node reset --user <user> --sudo --target <ip-or-fqdn> <node-name>`

[2019-04-12 15:30] r0ckarong opened #194 "Create supported scenarios matrix"
Platforms
Scenarios
Configurations
Air gapped
Own Registry

[2019-04-12 15:33] r0ckarong commented on #183
https://github.com/danielorf/doc-caasp/blob/ag17_ldap/ldap/ldap_instructions.md

[2019-04-15 14:42] r0ckarong commented on #178
Releases and reviewed.
Fixes added from #196

[2019-04-15 14:42] #178 closed

[2019-04-15 14:42] #179 closed

[2019-04-15 14:42] r0ckarong commented on #179
ECP quickstart is released

[2019-04-16 09:26] r0ckarong commented on #174
Done and PR added: https://github.com/SUSE/caasp-rfc/pull/28

[2019-04-16 09:26] #174 closed

[2019-04-16 12:55] dannysauer opened #198 "Tweak ssh agent docs"
* Most UNIX and Linux systems do not start an ssh agent automatically; I've worked at multiple large sites where the agent was disabled because of the security risk.  SUSE definitely does not start it, though it's obviously not disabled.
* Some ssh servers disable agent forwarding; we should add a check "somewhere" to validate that to be allowed.
* There is an upper limit on the number of keys whi

[2019-04-16 13:43] r0ckarong opened #199 "Create skeleton for architecture description"
Use inputs already known from:

- https://confluence.suse.de/display/SUSECaaSPlatform4/Architectural+Overview?src=contextnavpagetreemode
- https://confluence.suse.de/download/attachments/217350262/CaaSP%20evolution.pdf?version=1&modificationDate=1552900311000&api=v2
- https://confluence.suse.de/display/SUSECaaSPlatform4/Summary?src=contextnavpagetreemode
- https://confluence.suse.de/pages/viewpage

[2019-04-16 13:54] r0ckarong commented on #199
From Rania Mohammed

![caasp-vnext-diag](https://user-images.githubusercontent.com/4920542/56215375-de585000-605f-11e9-8f15-8f2bde45f162.jpg)

[CaaSp vNext Review.docx](https://github.com/SUSE/doc-caasp/files/3085195/CaaSp.vNext.Review.docx)

[2019-04-16 15:38] NunoFilipeSantos commented on #183
@r0ckarong Please provide some context to why you are blocked, so we can help you.

[2019-04-16 15:43] r0ckarong commented on #183
According to @danielorf the instructions he provided should not be published. I don't understand what I should do with the instructions.

[2019-04-17 12:29] escrevebastante opened #200 "[doc] Procedure 3.5: Installation of heapster"
Procedure&nbsp;3.5:  Installation of heapster

https://www.suse.com/documentation/suse-caasp-3/singlehtml/book_caasp_admin/book_caasp_admin.html#id-1.5.5.5.5.3

In this session, we have the command:

This will install helm version 0.2.7. However, on "3.5 Installing Kubernetes Dashboard" we have:

if version 1.3.0 is necessary to get the Kubernetes Dashboard running, shouldn't we recommend customer

[2019-04-17 14:46] r0ckarong commented on #199
Release Squad tracking: https://github.com/SUSE/avant-garde/issues/209

[2019-04-17 14:51] r0ckarong commented on #200
@escrevebastante The version 0.2.7 refers to the helm chart version not the installed software version. The 0.2.7 version of the chart installs heapster 1.3.0. This is deliberate to get these particular verified versions.

See here:
https://github.com/helm/charts/blob/master/stable/heapster/Chart.yaml#L4

Notice how `version` and `appversion` are different.

[2019-04-17 14:51] #200 closed

[2019-04-17 18:36] stefsuse commented on #194
Suggestion: Helm charts from https://kubernetes-charts.suse.com

Configuration can get complicated fast. Do you think it would be useful to include more generic reminders, ie
"ensure any node level memory or cpu contraints >= constraints set in application manifest." ?

[2019-04-23 16:31] drpaneas commented on #184
Extracted from #15:

We are currently deploying by default (there's no optional way) two PSP policies:
* privileged (full access everywhere)
* unprivileged (pretty much no access apart from the very basic stuff)

This is a binary situation -- all or nothing scenario. This what happens by default:

* All the containers running kube-system namespace are using the privileged policy
* All the new cont

[2019-04-27 03:39] dannysauer commented on #198
Manual reboot will not be required; closing ticket.

[2019-04-27 03:39] #198 closed

[2019-04-30 07:55] r0ckarong commented on #186
Relates to:

https://github.com/SUSE/avant-garde/issues/120
https://github.com/SUSE/avant-garde/issues/217

[2019-04-30 07:56] r0ckarong commented on #184
Relates to: https://github.com/SUSE/avant-garde/issues/156

[2019-04-30 08:14] r0ckarong commented on #182
Relates to https://github.com/SUSE/doc-caasp/issues/199

[2019-05-02 08:21] r0ckarong commented on #142
Registering nodes is described in the deployment guide:
https://www.suse.com/documentation/suse-caasp-3/singlehtml/book_caasp_deployment/book_caasp_deployment.html#sec.configuration.suseconnect

It makes sense to add a note to the update section referring to this section because you won't be able to install updates without registering.

[2019-05-02 10:16] nkoranova commented on #142
https://github.com/SUSE/doc-caasp/pull/203

[2019-05-02 12:46] #142 closed

[2019-05-02 13:18] r0ckarong commented on #145
Ask @lcavajani if this is part of v4 development and implemented yet. Otherwise this just goes into v3 maintenance.

[2019-05-02 13:23] r0ckarong commented on #150
Find out if we can just swap the old link for the new one.
Probably ask @stefsuse

[2019-05-02 13:26] r0ckarong commented on #199
Relates to: https://github.com/SUSE/doc-caasp/issues/160

[2019-05-02 13:26] r0ckarong commented on #173
Find out if OIDC is supported in v3. If so, how can it be configured.

[2019-05-02 13:31] lcavajani commented on #145
@r0ckarong @nkoranova this is only valid for `v3`

in `v4`, we are using the default directory in `/usr/libexec/kubernetes/kubelet-plugins/volume/exec/`

[2019-05-02 13:35] martinhonore commented on #173
The OIDC connector is supported since February 22, 2019

See the following public patch for CaaSP v3:
https://download.suse.com/Download?buildid=SsTSUzb8BY4~
- Complete OIDC connector support

[2019-05-02 14:10] nkoranova commented on #173
That link leads me to an error page. "We're sorry, we are unable to complete the download at this time." Is it just me/temporary or wrong link?

[2019-05-02 14:15] martinhonore commented on #173
It seems there is a format error on the URL.
It should be better with this link -> [https://download.suse.com/Download?buildid=SsTSUzb8BY4~](https://download.suse.com/Download?buildid=SsTSUzb8BY4~)

[2019-05-03 12:41] r0ckarong commented on #199
https://github.com/SUSE/doc-caasp/pull/204

[2019-05-06 09:22] r0ckarong commented on #199
Skeleton exists, further discussion in the PR.

[2019-05-06 09:22] #199 closed

[2019-05-06 10:14] r0ckarong commented on #184
Relates to: https://github.com/SUSE/avant-garde/issues/221

[2019-05-06 10:41] r0ckarong opened #205 "Describe installing CaaSP from SCC"
We have the SCC setup now, meaning CaaSP is installable now as an extension.

The product is in the Alpha stage, meaning only internal SUSE employees can access to it. So we need to document 2 different things:

1- How to use SCC as an employee for the Alpha (release notes or announcement email)
2- How to use SCC in general (deployment)

Later on, we will have to adapt 1 to Beta users.

# How to u

[2019-05-06 10:44] #181 closed

[2019-05-07 13:18] nkoranova commented on #159
Is this something that would go here? https://www.suse.com/documentation/suse-caasp-3/singlehtml/book_caasp_admin/book_caasp_admin.html#sec.admin.nodes.remove

[2019-05-07 13:20] r0ckarong commented on #159
Yes, exactly.

[2019-05-07 13:25] #143 closed

[2019-05-07 14:35] r0ckarong opened #209 "Remove Port 10255 from ports list"
https://chat.suse.de/channel/caasp-devel?msg=EqqATbqiq5feY6Eze

https://github.com/kubernetes/kubernetes/pull/59666
https://github.com/kubernetes/kubeadm/issues/732

[2019-05-08 09:37] rssfed23 commented on #150
I think we should use the helm chart, with some documentation on the common values opposed to applying the updated yaml (I don't know if the new yaml applies all the RBAC stuff like the helm chart does). Plus; the chart is recognised upstream as best practice to install (we can still include the standalone yaml for customers deciding not to use helm)

[2019-05-08 18:19] stefsuse commented on #150
sorry I missed your at-mention @r0ckarong

These instructions are still valid for helm based deployment in v3. https://github.com/SUSE/doc-caasp/blob/dc36ace1e3a692f75bf468332288a02f66dc6091/xml/user_deploy_app.xml

[2019-05-09 11:08] r0ckarong commented on #205
@jordimassaguerpla Currently weird situation because YaST defaults to btrfs for partitions but the images are supposed to use XFS. I am trying to find out what the right behavior is and what to do about this.

[2019-05-09 12:33] flavio commented on #205
We don't actually care that much about the filesystem that is being used on the system.

To provide the bigger picture:

  * We are not using transactional-update anymore, so we don't need btrfs
  * the container engine (docker, crio, podman, all of them) are nowadays working great with overlayfs as graph driver
  * overlayfs can work on top of any kind of underlying filesystem. Translated: `/var/

[2019-05-09 12:50] r0ckarong commented on #205
@flavio

Actually that is a good point. In this case it's special because we explain how to create a template for VMWare for the deployment and that needs SLES.

Who can make the call that for other scenarios that just rely generally on SLES we will not describe their steps anymore? Klaus?

[2019-05-09 13:19] flavio commented on #205
This is needed now, but it won't be on the medium term. That's because our customers are going to pick the official pre-built SLES images for VMware and just use them. They cannot do that right now because a package is missing (cloud-init), but the package is going to be part of the next build of the image.

All of that to say: don't put too much efforts into writing this documentation, we will ho

[2019-05-09 14:22] Martin-Weiss commented on #205
Please keep in mind that the "VMware templating functionality" for base-os does not fit for the majority of deployments so far. Background: when ever we add or replace a node in the cluster the new / replaced node needs to have the same patchlevel than the rest of the cluster. In case the templates are not updated constantly together with applying updates to the cluster - the template needs to be

[2019-05-09 15:03] flavio commented on #205
Thanks for the feedback, don't worry this is a temporary solution until the cloud-init package is made part of the official SLES image for VMware.

However keep in mind that installing CaaSP v4 with AutoYaST is still going to be supported. Even if a customer will use this deployment mechanism on something that is not bare metal.

[2019-05-09 15:47] nkoranova commented on #145
#211

[2019-05-10 06:30] kkaempf commented on #205
Yes, I can do this. We do NOT describe how to install SLES. A pointer to the respective SLES documentation is sufficient.

And when you use @kkaempf in an issue comment next time, it gets my attention immediately :wink:

[2019-05-10 07:59] r0ckarong opened #212 "Add legal includes to guides"
Rework the common includes:

- Disclaimer
- Copyright / Licenses
- About
- Feedback
- Doc Conventions
- Required Background

And add to all guides

[2019-05-10 08:08] r0ckarong commented on #145
Merged #211

[2019-05-10 08:08] #145 closed

[2019-05-10 13:05] #159 closed

[2019-05-10 13:22] r0ckarong commented on #183
@kkaempf What should we do about this? I can not get any information about how the LDAP container is going to be used and if this is being shipped.

[2019-05-10 13:25] r0ckarong commented on #193
- Bootstrap the cluster (deployment-bootstrap.adoc)
 - What does the bootstrap do?
- Add nodes
- Remove nodes
- ? Reconfigure from worker to master
- ? Reconfigure from master to worker
- Restart nodes if stuck
- Fix failed nodes

[2019-05-10 13:39] r0ckarong commented on #182
Duplicate effort.

[2019-05-10 13:39] #182 closed

[2019-05-10 14:01] kkaempf commented on #183
@ereslibre @flavio this needs input from you. Probably for Sprint 6 or 7.

[2019-05-10 15:18] flavio commented on #183
To clarify:

  * No LDAP server is part of the CaaSP offering starting from v4
  * Having an external LDAP is a prerequisite of v4 installation
  * Our installation guidelines will provide instructions about how to point the kubernetes cluster to this external LDAP server. I expect the v3 documentation about external LDAP server to be a still valid.
  * Customers can rely on an external LDAP serve

[2019-05-10 15:40] r0ckarong opened #214 "Publish CaaSP 4.0 release notes from AsciiDoc as packages"
Talk to @sknorr about

- Packaging in OBS
- Document process and steps needed for publishing on suse.com

[2019-05-10 16:12] #205 closed

[2019-05-13 12:52] nkoranova commented on #212
@r0ckarong I propose we add all of those sections except the "About the Making of This Documentation" section, which is about SUSEDoc and XML, which is not relevant to us and probably also mostly not the SUSE toolchain, since we use adoc. There aren't any legal reasons why we should keep this, right?
I can add the document and just comment out the include line.

[2019-05-13 12:59] r0ckarong commented on #212
@nkoranova The "About" section needs to be rewritten for our new approach.

Please just create a new GitHub issue "Rewrite About Section" for this. We can tackle this later. You can leave it out for now.

[2019-05-13 13:05] nkoranova opened #215 "Rewrite the About section"
Rewrite the common "About the Making of This Documentation" section to include relevant information about our documentation tool-chain as discussed in #212.
'common_intro_making_i.adoc'

[2019-05-13 13:52] r0ckarong commented on #173
Waiting for Danny Sauer to provide input PR.

[2019-05-13 15:35] r0ckarong opened #216 "Figure out how to improve doc workflow with the other projects"
The challenge is to have doc work visible as part of the other squad planning.

One suggestion by Klaus: put all the doc backlog in the avant-garde project
Other suggestion that we somehow show issues in multiple projects.

[2019-05-13 18:12] sknorr commented on #214
Fwiw, http://docserv.nue.suse.com/documents/Team_Hitchhikers_Guide/hitchhiker-guide/html/cha.doc.rn.html (internal) is mostly up-to-date.

[2019-05-14 13:53] dannysauer commented on #173
I got formatting mostly figured out yesterday, and hope to actually get the content together today (pending other priority tasks popping up).  I'll hopefully remember to reference this issue when the PR is opened. :)

[2019-05-16 08:37] r0ckarong commented on #216
@kkaempf https://help.github.com/en/articles/linking-a-repository-to-a-project-board

We should enable linking of other projects to project boards. This could be useful for other constellations as well.

[2019-05-16 10:14] #192 closed

[2019-05-16 10:33] r0ckarong commented on #153
This needs to be discussed again during backup implementation for 4.0. Closing for now.

[2019-05-16 10:33] #153 closed

[2019-05-17 05:47] jordimassaguerpla opened #219 "remove github/SUSE/caaspctl references in docs for public beta2"
I see in the deployment guide we refer to github.com/SUSE/ at least in 2 places. We should remove that because this is not public.

thanks.

[2019-05-17 11:57] nkoranova opened #220 "Edit Documentation conventions"
Some documentation conventions from Docbook XML are not relevant for Asciidoc. The Documentation Conventions section contains those conventions which we present to the reader. Decide on ASCIIDoc documetation conventions and edit/remove them in common_intro_typografie_i.adoc.

[2019-05-17 13:39] nkoranova opened #221 "Description below the book title"
This text should appear below the title of the book: "This guide describes general and specialized administrative tasks for {productname} {productversion}." Now it is part of the preface along with the copyright and the warnings.

[2019-05-20 08:06] r0ckarong commented on #221
I think this is an issue with the stylesheet. I noticed too that the subtitle isn't rendered correctly.

[2019-05-20 08:16] r0ckarong commented on #221
Can you create screenshots from the output document where you can see how it's rendered incorrectly so we can file a new bug in https://github.com/openSUSE/suse-xsl/issues?q=is%3Aopen+is%3Aissue

[2019-05-20 08:45] nkoranova commented on #221
Sure, but maybe I will ask @tomschr first to make sure that I got the syntax right before filing the bug. :)

[2019-05-20 08:51] r0ckarong commented on #221
The syntax is:

[code]

But this isn't really how this subtitle should be used I think. The sentence you're using is an introduction to the purpose of the document and not really a subtitle.
Better would be for example:

[code]

[2019-05-20 09:21] tomschr commented on #221
As far as I can see, it's not a stylesheet issue, but a conversion issue. You can't do this directly. However, there is a solution: whenever you want to include additional information into the header (more authors, additional text, other metainformation etc), use so called "docinfo" files.

For more information, see here: https://asciidoctor.org/docs/user-manual/#docinfo-file

[2019-05-20 11:03] r0ckarong commented on #220
While working on this also rename this file to `_typography.adoc` to remove the German remnant.

[2019-05-20 11:05] r0ckarong commented on #220
Also remove the trailing `_i` from the filenames. This is probably meant to show that some files are "includes". In AsciiDoc any file can be an include file so this is pointless here.

[2019-05-20 11:11] r0ckarong commented on #219
@jordimassaguerpla So multiple questions:

- How can you retrieve the terraform files if you can not access the caaspctl repo?
- Prerequisites for caaspctl are only documented in the code repo, how to deal with this if it's private?
- PodSecurityPolicy is embedded in the caaspctl cluster bootstrap manifest. How to deal with this if it's private?

[2019-05-20 11:23] jordimassaguerpla commented on #219
They are now installed by the package

Can you copy that into the deployment guide?

isn't that installed by the rpm?

[2019-05-20 12:35] r0ckarong commented on #219
And what is the location they are installed in? The instructions require the user to modify these files.

I don't think that makes sense. The documentation for caaspctl is maintained and written in the GitHub repo. We are aiming to make this tool publicly available. So then the documentation must be publicly available also. The SSH requirement is already mentioned in the deployment guide and the r

[2019-05-20 12:54] r0ckarong commented on #221
[code]

![Screenshot_20190520_145254](https://user-images.githubusercontent.com/4920542/58023067-324ace80-7b0f-11e9-8d80-d917b0d59358.png)
![Screenshot_20190520_145238](https://user-images.githubusercontent.com/4920542/58023069-324ace80-7b0f-11e9-932e-a1123459bdec.png)

[2019-05-20 12:59] r0ckarong commented on #160
Related to: https://github.com/SUSE/avant-garde/issues/226

[2019-05-20 13:09] r0ckarong commented on #221
We're talking about different things here. What we're trying to do is to display additional information on the title page of the PDF and underneath the main document title. For this we use the `subtitle` in Asciidoctor.

Then there is another error that when there is a `preface` attribute in the asciidoc DAPS will generate a section with an empty title that leads to an empty clickable link in the

[2019-05-20 13:13] r0ckarong commented on #221
![subtitle_page](https://user-images.githubusercontent.com/4920542/58024137-cddd3e80-7b11-11e9-9b44-1c53b8d65f5b.png)
![preface](https://user-images.githubusercontent.com/4920542/58024139-cddd3e80-7b11-11e9-896f-eb6428de0897.png)

[2019-05-20 14:48] jordimassaguerpla commented on #219
download caaspctl from http://download.suse.de/ibs/SUSE:/SLE-15-SP1:/Update:/Products:/CASP40/standard/x86_64/

do "rpm -qlp caaspctl*rpm" and you will get the list of files. IIRC they are under /usr/share/

[2019-05-20 14:50] tomschr commented on #221
Thanks for the screenshots, @r0ckarong

Actually, I think we aren't that far away. :wink: However, there are different aspects which leads to your problems. Let me explain my ideas.

Subtitle is... well.. for subtitles, not for a complete paragraph. :wink: As such, you can't abuse subtitle if you want to add a whole paragraph. For that, I've suggested to use a docinfo file. In this file, you can a

[2019-05-21 06:31] tomschr commented on #221
Actually, I forgot to mention how subtitles are really created. Sorry.
From the XML side, the part that is relevant for the cover page looks like this (SLE HA Guide):

[code]

The subtitle is created by using the `info/title` as the main title. The subtitle is created by `info/productname` and `info/productnumber`. The abbreviation (`info/productname[@role='abbrev]`) is used in the footer.

You ne

[2019-05-21 08:29] r0ckarong opened #223 "Review centralized logging docs"
Relates to: https://github.com/SUSE/avant-garde/issues/325

[2019-05-21 08:36] r0ckarong commented on #219
`/usr/share/caasp/terraform/openstack/terraform.tfvars.example`

The cluster init manifests files are not installed with this package.

[2019-05-21 09:39] nkoranova commented on #220
done in  #224 https://github.com/SUSE/doc-caasp/pull/224/commits/399d2200b42d65235b5fb762d7b7be8597874394

[2019-05-21 09:44] nkoranova commented on #212
#224

[2019-05-21 10:05] r0ckarong opened #225 "Remove IBS repositories from deployment guides"
The product is deployed through SCC and SUSE Connect adds the repository when run.
The offical repository is added to the machines automatically in this step.

Remove all the mentions of the IBS repositories for CaaSP from the official deployment guides.

@jordimassaguerpla Do we then need an "internal" deployment guide on how to install from IBS?

[2019-05-21 10:08] r0ckarong commented on #225
Relates to: https://github.com/SUSE/caaspctl/pull/220

[2019-05-21 10:22] nkoranova commented on #209
#226

[2019-05-21 11:13] jordimassaguerpla commented on #225
@r0ckarong for internal releases we can use the announcement email. Makes sense?

[2019-05-21 14:46] #212 closed

[2019-05-21 15:47] r0ckarong opened #227 "Describe release docs artifact creation process"
Describe the steps and processes we perform to get release documentation out.

[2019-05-21 15:50] r0ckarong commented on #227
https://confluence.suse.com/display/SUSECaaSPlatform4/Release+Documentation

[2019-05-21 16:06] r0ckarong commented on #225
Use asciidoc attributes and ifdef to generate docs with differences for internal and external release.

- Disclaimer
- Using IBS repos and zypper instead of SUSE Connect

[2019-05-21 16:09] r0ckarong opened #228 "Define list of questions QA needs to answer about bugs for the patchinfo"
- What does the user have to do after installing this patch?
- What is the impact of not applying this patch?

[2019-05-21 16:11] r0ckarong commented on #228
Add a format example/suggestion for the patchinfo content.

[2019-05-22 07:58] nkoranova commented on #220
Sorry to reopen this again, but I feel like aside from the renaming files and what I have edited before, there are still a couple of minor things here:
*  "This paragraph is only relevant for the {amd64} /{intel64} architecture." - this can probably be deleted unless there is a good alternative for it in ASCIIDoc?
* "This paragraph is only relevant for the architectures `{zseries}` and ``{power}``

[2019-05-22 08:04] #209 closed

[2019-05-22 09:23] r0ckarong commented on #160
Can not create load balancer by terraform

[2019-05-22 12:47] r0ckarong opened #229 "Start Docs changelog for v4"
Generate initial changelog and add includes in all guides.

[2019-05-22 12:48] r0ckarong commented on #229
https://confluence.suse.com/display/SUSECaaSPlatform4/Docs+Publishing

[2019-05-23 09:03] r0ckarong commented on #228
From Klaus:

- a severity (critical ... enhancement)
- how to install the patch
  a short - standardized - description about what an admin
  needs to know. How to install it ? How to verify that installation
  was successful ?
- any dependencies ?
- what happens if I do *not* install the patch ?

[2019-05-23 13:21] #216 closed

[2019-05-23 13:36] r0ckarong commented on #216
Once we figure out if this is actually possible and enable this, the docs repo needs to be linked to the new "Release Coordination Squad" board (not sure this exists yet).

[2019-05-23 14:16] #225 closed

[2019-05-24 08:30] r0ckarong commented on #173
@dannysauer Any updates here?

[2019-05-24 08:54] kravciak opened #233 "We need SLES-beta, not CaaSP-beta to get JeOS image"
https://susedoc.github.io/doc-caasp/master/caasp-deployment/single-html/#_deployment_on_suse_openstack_cloud

Instruction says `Download the latest SUSE SLES15-SP1 for SUSE OpenStack Cloud from https://www.suse.com/betaprogram/caasp-beta/#download`.

It should say to download JeOS-OpenStack image (currently SLES15-SP1-JeOS.x86_64-15.1-OpenStack-Cloud-GMC.qcow2) from https://www.suse.com/betaprogra

[2019-05-24 08:57] r0ckarong commented on #233
Quickstart is literally the same content included in a different meta file.

[2019-05-24 08:59] jordimassaguerpla commented on #233
All images (and isos) are in the sle15sp1 beta page.

[2019-05-24 09:01] r0ckarong commented on #233
ok then I can change my link variable

[2019-05-24 09:02] #233 closed

[2019-05-24 09:02] r0ckarong commented on #233
Fixed with 5788618

[2019-05-24 09:03] jordimassaguerpla opened #234 "Registration code for beta"
https://susedoc.github.io/doc-caasp/master/caasp-deployment/single-html/#registration_code

These instructions are for the alpha codes which are only internal.

We should change this for instructions on how to get the beta codes. From the announcement email:

Customers who wish to beta test SUSE CaaS Platform 4 should send an e-mail to beta-programs@lists.suse.com to request a SUSE Customer Center

[2019-05-24 11:23] r0ckarong commented on #234
Added internal logic that displays the correct method for registration codes depending on release type.

[2019-05-24 11:23] #234 closed

[2019-05-24 13:42] r0ckarong commented on #160
Work continuing in PR

[2019-05-24 13:42] #160 closed

[2019-05-24 14:34] r0ckarong commented on #227
Added details

[2019-05-24 14:34] #227 closed

[2019-05-27 06:34] kkaempf commented on #216
This doesn't work as described. The [Release Coordination v4](https://github.com/SUSE/avant-garde/projects/9) project does not show `Settings` in its menu. I only see `Edit` and `Copy` :disappointed:

[2019-05-27 10:38] #229 closed

[2019-05-27 10:42] r0ckarong commented on #216
@kkaempf I appears this option is only available for user boards and organization boards. Since we set up this entire avant garde thing as a separate repository and work in repository boards this isn't available. I've asked GitHub support to clarify this for me but if I'm right this is very unfortunate.

From my perspective we should set up a organization level project board for this and then link

[2019-05-27 11:16] r0ckarong commented on #220
1. Removed this
2. Same
3. I already fixed this in the file, what is needed here was to enable substitution of the entities in the code examples. You need to add the option `subs=attributes` to the source block parameters. This then will take any `{attribute}` notations and replace them with the known attribute value (from entities.adoc most of the time.

This can cause some problems with some cod

[2019-05-27 11:17] #220 closed

[2019-05-27 12:23] kkaempf commented on #216
Ugh, sounds like a restart from scratch - which I'd like to avoid. Does [transferring a repo](https://help.github.com/en/articles/transferring-a-repository#transferring-a-repository-owned-by-your-organization) help here ?

[2019-05-28 09:40] r0ckarong opened #236 "Document review for kured service"
This relates to the [Epic: upgrade of base OS](https://github.com/SUSE/avant-garde/issues/331)

Review the documentation contributed from the devs:

* [x] Explain how to completely disable automatic reboots
* [x] Explain how to prevent nodes running special workloads from being rebooted
* [ ] Explain how to prevent nodes with specific prometheus alerts from being rebooted

[2019-05-28 09:44] r0ckarong opened #237 "Rename caaspctl to skuba in docs"
Relates to: https://github.com/SUSE/avant-garde/issues/316

[2019-05-28 09:47] r0ckarong opened #238 "Create supportconfig docs"
Relates to: https://github.com/SUSE/avant-garde/issues/287

Should go into "troubleshooting / debugging" in admin guide

[2019-05-28 09:49] r0ckarong opened #239 "Document Public Cloud deployment"
Relates to: https://github.com/SUSE/avant-garde/issues/267

[2019-05-28 10:01] r0ckarong opened #240 "Document central logging container"
https://github.com/SUSE/avant-garde/issues/324

[2019-05-28 10:12] r0ckarong opened #241 "Review centralized logging docs"
https://github.com/SUSE/avant-garde/issues/325

[2019-05-28 10:12] #241 closed

[2019-05-28 10:16] r0ckarong opened #242 "Review automatic registration to SMT/SCC to docs"
https://github.com/SUSE/avant-garde/issues/289

[2019-05-28 10:18] r0ckarong commented on #189
https://github.com/SUSE/avant-garde/issues/220

[2019-05-28 12:21] r0ckarong commented on #237
https://github.com/SUSE/skuba

[2019-05-28 13:06] r0ckarong commented on #237
Work continues in PR.

[2019-05-28 13:06] #237 closed

[2019-05-28 13:51] emilianolangella opened #244 "Improve Adding Nodes section"
2.3.1 Adding Nodes

https://www.suse.com/documentation/suse-caasp-3/singlehtml/book_caasp_admin/book_caasp_admin.html#sec.admin.nodes.add

I do believe we need a clear statement on our documentation saying that before adding a new worker, you need to update that worker to the same patch level as other cluster nodes to avoid issues.

[2019-05-28 15:23] abonillasuse opened #245 "Documentation: Improve ssh-agent section"
The documentation assumes that a key already exists and that is already shared across all nodes. We'd need to document or mention generating a key and copying it to the relevant nodes. It also forgets to mention where to run the ssh-agent. This was the most frustrating part of testing  CaaSP.

[2019-06-03 09:24] jordimassaguerpla commented on #236
Hi! Just a heads up on something that came up during today standup. Are we considering documenting how to update the management node?

[2019-06-03 12:10] MaximilianMeister commented on #236
this is one PR to review https://github.com/SUSE/doc-caasp/pull/246

another one will follow about how to disable automatic updates

[2019-06-03 12:39] r0ckarong commented on #236
@jordimassaguerpla  What exactly is meant with "update the management node"? Updating the OS packages? Updating the runtime? I don't think we specifically considered this for the admin guide so far but this is because I wasn't aware of any requirements for updating. Who can provide this information?

[2019-06-03 13:46] r0ckarong commented on #245
The key should be distributed via terraform.

I will look at the other points.

[2019-06-04 11:55] jordimassaguerpla opened #248 "install terraform package from SUSE CaaSP extension"
In the deployment guide for ECP I see we are installing terraform from download.opensuse.org/repositories/systemsmanagement:/terraform

while we should install it from the SUSE CaaSP extension. Actually, if the user has installed the CaaSP Management pattern, terraform should be installed.

[2019-06-04 14:13] jordimassaguerpla commented on #236
Packages (skuba, terraform) are installed by a pattern. I assume our customers will see updates to the packages installed using the SLE tools, be that zypper, SUSE Manager, ... So we were wondering if we should say something about that or point to the SLE guides. @kravciak Is this what you mean at the standup? Did I get it right or am I missing anything?

[2019-06-05 08:23] innobead commented on #223
@r0ckarong

centralized logging document is ready for review at https://confluence.suse.com/display/SUSECaaSPlatform4/Centralized+Logging+Document, please work with @cclhsu to add documents in doc-caasp. Thanks.

P.S. @cclhsu is my member from Taiwan team.

Ref: https://github.com/SUSE/avant-garde/issues/325

[2019-06-05 08:41] innobead commented on #240
@r0ckarong what info you want to know? For centralized logging architecture, you can check below document. For any help and info, feel free to reach out to @cclhsu, thanks!

https://confluence.suse.com/display/SUSECaaSPlatform4/Centralized+Logging+Document

[2019-06-05 11:15] jordimassaguerpla opened #249 "update how to obtain the reg code master deployment (and quickstart) guide"
From now on, the reg code needs to be requested to the beta program as explained in the beta documentation.

Can you update the docs in master as well?

[2019-06-05 11:21] jordimassaguerpla opened #250 "Make it more obvious the reg code is caasp and not sle"
From Section 3.1.2, we use "REGISTRATION_CODE"

This is confusing for customers because they are requesting SLE15SP1 registration codes.

Can we make it more obvious? What about replacing it by "CAASP_REGISTRATION_CODE" in the examples?

[2019-06-05 11:23] jordimassaguerpla opened #251 "add "edit source | report bug""
In SLE docs, you can see a link to the right of the chapters about editing or reporting a bug:

https://susedoc.github.io/doc-sle/develop/SLES-dockerquick/single-html/#Docker_Architecture

This is very useful.

Can we have this as well?

[2019-06-05 11:24] jordimassaguerpla commented on #251
Thanks @vmoutoussamy for the feedback.

[2019-06-05 12:29] vmoutoussamy commented on #249
Please replace :

By

Why ? because the former is available only to SUSE Employee (for now), the later is fine for both public/internal because then we (me)  can forward codes from the public beta pool to the public and the former speech to internal.

NOTE: Of course this should be replaced by "something else" for GA.

[2019-06-05 12:44] vmoutoussamy commented on #250
Overall I think this need more attention and maybe PM input. Because CaaSP regcode gives both SLES and CaaSP channels AND it make no sense to me to note that you can register your SLES first >  "Activate SUSE Linux Enterprise (Skip if you already have an activated operating system)".

Still IMHO the perfect solution would have been that the user only need to do the following with a caasp regcodes:

[2019-06-05 12:50] vmoutoussamy commented on #251
The "EDIT SOURCE" is optional but could point to github and the "REPORT BUG" could either point to "https://bugzilla.suse.com/enter_bug.cgi?&product=Beta%20SUSE%20CaaS%20Platform%204&component=Documentation" or github's issues.
You can decide what's best for you : ).

[2019-06-06 16:01] MaximilianMeister commented on #236
it's now part of the same PR, separate commit

[2019-06-07 07:41] kravciak commented on #236
@jordimassaguerpla I meant this scenario:
 - user installs skuba, run bootstrap & add 1 worker
 - user goes for 2 months vacation
 - user comes back, runs wants to add 1 more worker

While he was gone, cluster was self-updating (SUSE-CaaSP-Node), but skuba (SUSE-CaaSP-Management) did not.

Is it possible that at this point skuba (outdated) will not be compatible with cluster (up-to-date)?

[2019-06-07 08:46] jordimassaguerpla commented on #236
@MaximilianMeister This is possible. Imagine that kubelet gets updated in the node but the kubernetes containers are not. Which containers to use is managed by skuba.

[2019-06-11 07:35] cclhsu commented on #240
@nkoranova I just notice that @r0ckarong is not available till next week. Do you know if this ticket would be pickup by other members of technical writing team?

[2019-06-12 09:24] nkoranova opened #255 "Update minimal hardware requirements info"
Relates to:
https://github.com/SUSE/avant-garde/issues/395

Depends on Cilium 1.5:
https://docs.cilium.io/en/v1.5/install/system_requirements/

[2019-06-12 09:38] nkoranova opened #256 "Document deployment on Public Cloud - AWS"
Relates to:
https://github.com/SUSE/avant-garde/issues/267

@inercia should provide the steps.

[2019-06-12 09:58] nkoranova opened #257 "Document how to run the external LDAP server"
Relates to:
https://github.com/SUSE/avant-garde/issues/164

Inspiration from v3:
https://www.suse.com/documentation/suse-caasp-3/book_caasp_admin/data/sec_admin_security_external_ldap.html

We might need some use cases for this. Do we know of anyone who is using this?

[2019-06-12 10:57] jordimassaguerpla commented on #193
As a result of the planning, we are moving this to sprint 8.

[2019-06-12 10:58] jordimassaguerpla commented on #239
As a result of the planning, we are moving this to sprint 8.

[2019-06-12 10:58] jordimassaguerpla commented on #228
As a result of the planning, we are moving this to sprint 8.

[2019-06-12 10:58] jordimassaguerpla commented on #238
As a result of the planning, we are moving this to sprint 8.

[2019-06-12 11:57] nkoranova commented on #193
https://github.com/SUSE/doc-caasp/pull/247

[2019-06-14 07:21] nkoranova commented on #240
@cclhsu no, it's just me and Markus, I will try to draft the article today and we will wait for next week for @rockalong to review and merge it into the docs.

[2019-06-17 08:22] r0ckarong commented on #251
I will talk to the Doc team how we can enable this.

[2019-06-17 08:56] r0ckarong commented on #250
Ok I will reword this and spam the CaaSP name.

[2019-06-17 09:10] r0ckarong commented on #240
Related to: https://github.com/SUSE/doc-caasp/issues/176

[2019-06-17 09:10] #176 closed

[2019-06-17 09:10] r0ckarong commented on #180
Work being done in: https://github.com/SUSE/doc-caasp/pull/222

[2019-06-17 09:10] #180 closed

[2019-06-17 09:17] r0ckarong commented on #223
Relates to:
https://github.com/SUSE/doc-caasp/issues/176
https://github.com/SUSE/doc-caasp/issues/240

[2019-06-17 15:53] nkoranova commented on #240
pull request here: #260

[2019-06-18 09:23] r0ckarong opened #261 "Clarify multiple load balancer scenario and LB configuration"
my idea was to explain how to use keepalived with two load balancers

but HA is literally another suse product, so we are conflicting there

my idea was for real HA you need two LB (you don't have a SPOF). With DNS you have `my-cluster.company.corp` that resolves to a VIP that is managed with `keepalived` in those two LB, when one is down the other uses the VIP, so you always use `my-cluster.compa

[2019-06-18 11:47] r0ckarong opened #263 "Document disabling automatic patching without turning it off completely"
Input will be the outcome of https://github.com/SUSE/avant-garde/issues/408

[2019-06-18 12:02] r0ckarong commented on #236
@MaximilianMeister Regarding the last bullet point in the original description. Is it enough that we have the "block reboot for specific nodeID" and let the user figure out how to implement reaction to prometheus events to perform this step on the flagged node? If so we can close this Issue.

[2019-06-18 12:19] vmoutoussamy commented on #250
FYI: What's in the code of skuba for registration https://github.com/SUSE/skuba/blob/1a302d0743b86c53d24a43d309071c0131b47953/ci/infra/openstack/cloud-init/register-scc.tpl

[2019-06-18 14:15] r0ckarong opened #264 "Review CAP POC documentation"
Cameron Seader provided a step-by-step document describing the manual deployment process on OpenStack. Review what we already cover and integrate into the deployment instructions were possible.

[2019-06-18 15:03] r0ckarong commented on #251
Created a shared `docinfo.xml` file for the books.
Added the `:docinfo: shared-head` attribute to the book files.

Modified docmanager settings the docinfo file from https://github.com/SUSE/doc-sle/blob/develop/xml/MAIN.SLEDS.xml#L43 to be used with CaaSP / GitHub.

[2019-06-18 15:19] r0ckarong commented on #251
Configuring according to: http://docserv.nue.suse.com/documents/Team_Hitchhikers_Guide/hitchhiker-guide/html/cha.doc.docserv.html#sec.doc.out.docserv.bug

[2019-06-18 15:36] r0ckarong commented on #251
Still trying to find out why the "Edit" link won't show up but this should be ok for now.

[2019-06-19 08:24] MaximilianMeister commented on #236
not sure i fully understand the question, the docs regarding configuring prometheus to interact with kured are already in https://github.com/SUSE/doc-caasp/blob/master/adoc/deployment-bootstrap.adoc#prevent-nodes-with-any-prometheus-alerts-from-being-rebooted

so i guess this behaviour (last bullet point) can be configured already, but maybe you can clarify again what you mean

[2019-06-19 10:18] r0ckarong commented on #236
@MaximilianMeister Ah, I wasn't part of that pull request that added this stuff. I didn't know it was in the deployment guide. Ok so this can be closed.

[2019-06-19 10:18] #236 closed

[2019-06-19 11:45] r0ckarong opened #267 "Set up Admin Guide issues and project"
The RFC for the Admin Guide is accepted and now we need to start processing and producing the contents.

https://github.com/SUSE/caasp-rfc/blob/master/accepted/0028-admin-guide.md

- [X] Set up project board in doc-caasp repo
- [x] Create Epics for Chapters
- [x] Create Issues for contents

[2019-06-19 12:07] #251 closed

[2019-06-20 11:15] nkoranova commented on #223
#260

[2019-06-20 11:15] #223 closed

[2019-06-20 11:16] #240 closed

[2019-06-20 12:49] #186 closed

[2019-06-25 21:21] dwainsims opened #274 "[doc] 3.4.2 AutoYaST preparation"
3.4.2  AutoYaST preparation

https://susedoc.github.io/doc-caasp/beta/caasp-deployment/single-html/#_autoyast_preparation

This file does not exist....
Obtain example AutoYaST file from /usr/share/caasp/autoyast/bare-metal/autoyast.xml

[2019-06-26 09:02] lnyiri63 opened #275 "[doc] 2.2.3.2.3 SSL Certificates"
2.2.3.2.3  SSL Certificates

https://www.suse.com/documentation/suse-caasp-3/singlehtml/book_caasp_deployment/book_caasp_deployment.html#id-1.4.4.3.7.3.5
Missing reference of need to remove password from private key, need to name CA cert with extension crt (not cert).

[2019-06-26 09:09] lnyiri63 opened #276 "[doc] Procedure&nbsp;2.6: Set Up The External Mirror"
Procedure&nbsp;2.6:  Set Up The External Mirror

https://www.suse.com/documentation/suse-caasp-3/singlehtml/book_caasp_deployment/book_caasp_deployment.html#id-1.4.4.3.10.3.6

Step 8 part referencing to certificates is wrong based on command in step 9. Proper certificates placement (based on command in step 9) is /etc/docker/registry/certs
Step 8 contains wrong alignment of last option. It has to

[2019-06-26 09:10] lnyiri63 opened #277 "[doc] 2.2.6.1 Mirror Configuration"
2.2.6.1  Mirror Configuration

https://www.suse.com/documentation/suse-caasp-3/singlehtml/book_caasp_deployment/book_caasp_deployment.html#sec.deploy.scenarios.airgap.container-registry.mirror

Unfortunately the external registry mirror is RO too. Something is wrong in this guide at basic level

[2019-06-26 09:16] lnyiri63 opened #278 "[doc] 2.2.2 Concepts"
2.2.2  Concepts

https://www.suse.com/documentation/suse-caasp-3/singlehtml/book_caasp_deployment/book_caasp_deployment.html#sec.deploy.scenarios.airgap.concepts

Honestly, which network setup is most common? directly connected to the internet or air gaped? Neither. The most common scenario is connecting external mirror from behind firewall-ed proxy (with or without internal air gaped mirror). Thi

[2019-06-27 13:43] msvec opened #279 "[doc] 2.2.6.1 Mirror Configuration"
2.2.6.1  Mirror Configuration

https://www.suse.com/documentation/suse-caasp-3/singlehtml/book_caasp_deployment/book_caasp_deployment.html#sec.deploy.scenarios.airgap.container-registry.mirror

The text is rather complex, it would be great to have a picture outlining the setup with internal/external registries and how they are interconnected together and with CaaSP.

[2019-06-28 16:28] rdannert opened #281 "[doc] 3.4.2 AutoYaST preparation"
3.4.2  AutoYaST preparation

https://susedoc.github.io/doc-caasp/beta/caasp-deployment/single-html/#_autoyast_preparation
the provided
/usr/share/caasp/autoyast/bare-metal/autoyast.xml
doesn't work, when used on a 30GB  system disk
You get an error with the /var/lib partition

the terraform.tfvars file includes sizes for master and worker nodes(50 and 30 GB respectively)
but for the autoyast insta

[2019-06-28 19:39] jvanz opened #282 "[doc] Procedure&nbsp;2.6: Set Up The External Mirror"
Procedure&nbsp;2.6:  Set Up The External Mirror

https://www.suse.com/documentation/suse-caasp-3/singlehtml/book_caasp_deployment/book_caasp_deployment.html#id-1.4.4.3.10.3.6

In step 8 we set the certificate:

[code]

However, in the following step we do not add a volume to the `/etc/rmt` in the container registry. Thus, the registry will fail because it does not find the certificates.

[2019-06-28 19:41] jvanz opened #283 "[doc] Procedure&nbsp;2.6: Set Up The External Mirror"
Procedure&nbsp;2.6:  Set Up The External Mirror

https://www.suse.com/documentation/suse-caasp-3/singlehtml/book_caasp_deployment/book_caasp_deployment.html#id-1.4.4.3.10.3.6

According with docker [documentation](https://docs.docker.com/registry/configuration/#health), the field `threshold: 3` in step 8 should be under `storagedriver`

[2019-07-01 08:19] r0ckarong commented on #274
You did install the CaaSP pattern beforehand right?

[2019-07-01 08:24] r0ckarong commented on #278
Can you provide additional information on the "firewalled proxy" scenario e.g. specific configuration exceptions?

[2019-07-01 08:29] r0ckarong opened #286 "Improve "deployment on existing SLES docs""
According to this:

https://chat.suse.de/channel/caasp?msg=o94NJbzsJ4GXQa9Mt

We need to improve the instructions for the existing SLES scenario. The steps install the wrong software pattern which is missing skuba. The entire "management node" concept is not clear enough.

[2019-07-01 08:33] r0ckarong opened #287 "Add mention of Layer 7 for Cilium"
https://chat.suse.de/channel/caasp-devel?msg=hjtXhknjYgTK5KPai

[2019-07-01 08:37] r0ckarong commented on #287
https://www.techopedia.com/definition/20338/layer-7

[2019-07-01 09:54] r0ckarong opened #288 "Describe docs contribution process and make decisions on workflow"
Caused by: https://github.com/SUSE/avant-garde/issues/479

[2019-07-01 11:11] r0ckarong commented on #267
Goal until October roughly 40% done, find the most important items and set those up to be visible.

[2019-07-01 11:46] jordimassaguerpla commented on #287
L7 is not in our product yet but it is plan for post-FCS. Please let's make sure what we document is aligned with the product.

L7 filtering is already in our Devel projects, so this may confuse some people.

[2019-07-01 12:27] cduch opened #289 "[doc] 3.1.2 Installation tools"
3.1.2  Installation tools

https://susedoc.github.io/doc-caasp/beta/caasp-deployment/single-html/#_installation_tools

sudo SUSEConnect -p sle-module-containers/15.1/x86_64

should be:
sudo SUSEConnect -p sle-module-containers/15/x86_64

[2019-07-01 12:29] cduch commented on #289
my fail ...

[2019-07-01 12:29] #289 closed

[2019-07-01 13:59] #283 closed

[2019-07-01 14:00] #282 closed

[2019-07-01 14:02] dwainsims commented on #274
Markus:

We figured this out eventually.  It turns out you need the
SUSE-CaaSP-Management pattern,  and that needs to get applied to your Admin
node.  That is where the autoyast file will be found.  This is in the doc
someplace, but was not in the thread I thought I was following.

Thanks for asking.

Dwain
dsims@suse.com

On Mon, Jul 1, 2019 at 4:19 AM Markus Napp <notifications@github.com> wrote

[2019-07-01 15:48] r0ckarong commented on #281
@thehejik @kravciak Can you guys provide a minimum disk size for AutoYaST installation or tell me who would know this?

[2019-07-02 07:27] thehejik commented on #281
According to AutoYaST and its `partitioning` section:
* 200MB for /boot/efi
* 30GB for /
* the rest of HDD capacity for /var/lib (mainly for container images)

So the minimal disk size would be about 40GB - that means 10GB for containers. Of course it depends on the desired workload and if user plans to use cluster node as "local-storage" for data . Anyway it will be pretty hard to buy such a smal

[2019-07-02 09:16] r0ckarong opened #292 "Document Dex"
https://github.com/SUSE/avant-garde/issues/165

[2019-07-02 09:16] r0ckarong opened #293 "Document gangway"
https://github.com/SUSE/avant-garde/issues/166

[2019-07-02 09:18] r0ckarong opened #294 "Update docs for k8s 1.15"
- Change the version numbers in attributes.doc
- Check if all references are changed
- Add "new kubernetes features" to release notes where appropriate

Get input from @ereslibre about new k8s features.

[2019-07-02 09:19] r0ckarong commented on #294
https://github.com/SUSE/avant-garde/issues/466

[2019-07-02 09:27] r0ckarong opened #295 "Document "upgrade planning" feature for skuba"
Cluster: https://github.com/SUSE/avant-garde/issues/444
Node: https://github.com/SUSE/avant-garde/issues/445

https://github.com/SUSE/avant-garde/issues/451

[2019-07-02 09:27] r0ckarong commented on #295
@ereslibre Need more clarification of what this is about.

[2019-07-02 09:29] r0ckarong opened #296 "Document "upgrade apply" feature for skuba"
https://github.com/SUSE/avant-garde/issues/446

[2019-07-02 09:31] r0ckarong commented on #296
@ereslibre Is there a separate "skuba cluster upgrade apply"?

[2019-07-02 09:32] r0ckarong opened #297 "Review changes for rsyslog agent"
https://github.com/SUSE/avant-garde/issues/476

[2019-07-02 09:34] #189 closed

[2019-07-02 09:34] r0ckarong opened #298 "Review RBAC documentation"
https://github.com/SUSE/avant-garde/issues/475

Review this:
https://confluence.suse.com/pages/viewpage.action?pageId=271351970

[2019-07-02 09:48] ereslibre commented on #296
No, what will be implemented is what's described in https://github.com/SUSE/caasp-rfc/blob/master/accepted/0040-platform-upgrade.md. This is:

* `skuba cluster upgrade plan`
* `skuba node upgrade plan`
* `skuba node upgrade apply`

We are trying to be 1:1 with the RFC, but ideally after a major command is finished we should write the initial documentation in the place that helps you the most and e

[2019-07-02 09:50] #257 closed

[2019-07-02 09:50] r0ckarong commented on #183
Relates to new: https://github.com/SUSE/avant-garde/issues/164

Review the output of this task

[2019-07-02 09:51] r0ckarong commented on #183
#292 #293 #298

[2019-07-02 12:36] r0ckarong commented on #278
@kkaempf @qnetter @ereslibre Do we have any knowledge of this "most common" scenario?

[2019-07-02 12:38] r0ckarong commented on #277
Have you verified that the configuration for the external registry mirror does not contain the readonly attribute enabled?

https://www.suse.com/documentation/suse-caasp-3/singlehtml/book_caasp_deployment/book_caasp_deployment.html#id-1.4.4.3.10.3.6

[2019-07-02 12:41] r0ckarong commented on #244
This should be closed with #269

[2019-07-02 12:41] #244 closed

[2019-07-02 13:00] r0ckarong commented on #193
Work continues in the PR

[2019-07-02 13:00] #193 closed

[2019-07-02 13:02] r0ckarong commented on #238
Please ask @flavio and @ereslibre what needs to be done and what info they can provide.

[2019-07-02 13:06] r0ckarong commented on #238
Based on the v3 version, describe what `supportconfig` does and what the options are.

https://www.suse.com/documentation/suse-caasp-3/singlehtml/book_caasp_admin/book_caasp_admin.html#cha.admin.troubleshooting

[2019-07-02 13:07] nkoranova commented on #238
This will probably require a separate troubleshooting section in the admin guide. We also need to consult the process with CaaSP support.

[2019-07-02 13:10] r0ckarong commented on #255
@jordimassaguerpla How important is this for the next release. We didn't manage to do this in Sprint 7.
@lcavajani Did the underlying testing for this happen or can it happen this sprint?

[2019-07-02 13:11] r0ckarong commented on #239
Relates to: https://github.com/SUSE/doc-caasp/pull/266 (AWS Deployment)

[2019-07-02 13:15] #228 closed

[2019-07-02 13:24] lcavajani commented on #255
@r0ckarong I'm currently working on it

[2019-07-02 13:42] dannysauer commented on #173
https://github.com/SUSE/doc-caasp/pull/299

[2019-07-02 15:24] jordimassaguerpla commented on #238
@r0ckarong Can we move this to the Release Coordination project so we have a better overview? Makes sense to you?

[2019-07-02 15:30] jordimassaguerpla commented on #238
see https://github.com/SUSE/avant-garde/issues/287#issuecomment-507728278

[2019-07-02 15:34] flavio commented on #238
I don't think we have to document anything special, `supportconfig` works in the same way as on SLES. Hence we can point to the official sles documentation, that already has a [section](https://www.suse.com/documentation/sles-12/book_sle_admin/data/sec_admsupport_supportconfig.html) about it (forgive the SLES12 link, that's the first hit I got).

Question for @jordimassaguerpla: are we installing

[2019-07-02 16:31] jordimassaguerpla commented on #238
Not by default but it is available in the repos.

[2019-07-02 17:08] NunoFilipeSantos commented on #294
@r0ckarong The Feature Squad will be bumping several packages versions, you might want to check out before moving to done.

[2019-07-03 08:45] jordimassaguerpla commented on #238
kudos to @mjura , I only accepted it ;)

[2019-07-03 10:23] r0ckarong commented on #292
https://github.com/SUSE/avant-garde/issues/475

[2019-07-03 12:34] r0ckarong opened #305 "Define/Describe target audience for Admin Guide"
Create a persona and describe the required knowledge for the readers of the Admin guide

[2019-07-03 12:38] r0ckarong opened #306 "Write Introduction contents for Admin Guide"
- [x] [Admin Guide Purpose and explanations](https://github.com/SUSE/doc-caasp/issues/307)
- [x] [Target Audience / Required Knowledge / Skills](https://github.com/SUSE/doc-caasp/issues/305)
- [x] [Workstation description / requirements](https://github.com/SUSE/doc-caasp/issues/308)
~~[Architecture Blueprints](https://github.com/SUSE/doc-caasp/issues/309)~~

[2019-07-03 12:39] r0ckarong opened #307 "Write Admin Guide introduction"
Describe the purpose and content of the admin guide

[2019-07-03 12:40] r0ckarong opened #308 "Define workstation requirements"
Describe which minimum workstation configuration is recommended to work with CaaSP

- Operating system
- Screen resolution
- Input devices
- Peripherals (external drives etc.)
- Network connection speed and performance

[2019-07-03 12:42] r0ckarong opened #309 "Describe architecture blueprints for CaaSP admin"
Create some high level explanations for deployment scenarios and their respective challenges

- Configuration requirements
- Pitfalls and common misconceptions
- Recommendations for common maintenance and best practice

[2019-07-03 12:45] r0ckarong opened #310 "Write Security Chapter for Admin Guide"
- [x] [Security concepts](https://github.com/SUSE/doc-caasp/issues/311)
- [x] [Managing Users and Groups](https://github.com/SUSE/doc-caasp/issues/312)
- [x] [Role Management (RBAC)](https://github.com/SUSE/doc-caasp/issues/313)
- [x] [LDAP configuration and usage](https://github.com/SUSE/doc-caasp/issues/314)
- [x] [Certificates](https://github.com/SUSE/doc-caasp/issues/315)
- [x] [Pod Security P

[2019-07-03 12:48] r0ckarong opened #311 "Describe Security Concepts"
Describe which security concepts are employed in CaaSP

- Authentication methods
- Encryption cyphers
- Roles
- User / service accounts
- LDAP / identity federation
- Networking security etc.

and any other topics that is relevant to security in CaaSP, ask stakeholders for the questions customers ask them about security

[2019-07-03 12:53] r0ckarong opened #312 "Managing User and service accounts and groups"
Define which concepts apply to CaaSP, describe the full lifecycle for all types
Describe how accounts can be added, removed, modified.

- [ ] Adding Users
- [ ] Removing Users
- [ ] Password / key / credential Management
- [ ] Adding Groups
- [ ] Editing Groups
- [ ] Removing groups
- [ ] Service accounts

[2019-07-03 12:54] r0ckarong opened #313 "Role Management (RBAC)"
Will at least partially be covered by: #298

- [x] Defining roles
- [x] Managing access using roles
- [x] Configuration examples for various scenarios

[2019-07-03 12:55] r0ckarong opened #314 "LDAP configuration and usage"
Will at least partially be covered by: #183 #147

- [x] Integration with LDAP systems
- [ ] Federation
- [x] Examples how to use LDAP data for access control

[2019-07-03 12:58] r0ckarong opened #315 "Describe certificate handling"
- [ ] Usage of certificates within product
- [ ] Which certificates are generated
- [ ] Which certificates can be swapped in from existing CA
- [ ] How to generate certificates
- [ ] How to use certificates from existing CA instead of auto generated certificates
- [ ] Renewal / replacement
- [ ] Lifecycle management
- [ ] Certificate specifications (encryption algorithms used, strength of encrypti

[2019-07-03 12:59] r0ckarong opened #316 "Describe Pod Security Policies"
- [ ] Concepts and usage
- [ ] Designing pod security policies
- [ ] Deployment
- [ ] Undeployment
- [ ] Modification

[2019-07-03 13:00] r0ckarong opened #317 "Describe Cilium networking policies"
- [ ] Concepts and usage
- [ ] Designing pod security policies
- [ ] Deployment
- [ ] Undeployment
- [ ] Modification

[2019-07-03 13:01] r0ckarong opened #318 "Describe Security Audit Log"
Kubernetes provides a security audit log. Describe how it can be configured, what it is used for, how it can be accessed and how the contents can be interpreted.

[2019-07-03 13:44] r0ckarong opened #319 "Describe Software Management"
- [ ] [Installing software](https://github.com/SUSE/doc-caasp/issues/320)
- [ ] [Updating Cluster nodes](https://github.com/SUSE/doc-caasp/issues/321)
- [ ] [Upgrading CaaSP](https://github.com/SUSE/doc-caasp/issues/322)
- [ ] [Migration](https://github.com/SUSE/doc-caasp/issues/323)

[2019-07-03 13:47] r0ckarong opened #320 "Describe software installation procedures"
How to install software on a CaaSP cluster (for workloads)
How to install additional software / drivers for enabling cluster functionality

- [ ] From package repositories / modules
- [ ] From containers
- [ ] From other sources (helm etc.)
- [ ] How to install patches and temporary fixes
- [ ] How to update, when to update, expected maintenance windows

[2019-07-03 13:48] r0ckarong opened #321 "Describe cluster / node updates"
How to update the software on one or more cluster nodes, if downtimes must be expected, how to update without interruption of workloads, update channels etc.

[2019-07-03 13:50] r0ckarong opened #322 "Describe CaaSP Upgrade procedure"
How to upgrade from one CaaSP version to the next, what to expect, which precautions to take

- [x] Describe minor -> minor upgrade
- [ ] Describe minor -> major upgrade
- [ ] Describe major -> major upgrade
- [x] Describe point release upgrade/updates

[2019-07-03 13:52] r0ckarong opened #323 "Describe migration path from CaaSP v3 -> v4"
Migration of workloads and all related settings. This is a MAJOR effort that will involve a lot of conversation with stakeholders and customer experienced staff.

We must describe basic migration from a regular supported scenario to the new version.

Scope of this must be defined by PM/PO.

[2019-07-03 13:59] r0ckarong opened #324 "Describe Cluster Management"
- [x] [Interacting with the cluster](https://github.com/SUSE/doc-caasp/issues/325)
~~[Reserving Compute Resources](https://github.com/SUSE/doc-caasp/issues/326)~~
- [x] [Cluster scaling](https://github.com/SUSE/doc-caasp/issues/327)
- [x] [Node Management](https://github.com/SUSE/doc-caasp/issues/328) (partially covered by #247)
- [X] [Graceful Shutdown and Startup](https://github.com/SUSE/doc-caa

[2019-07-03 14:02] r0ckarong opened #325 "Describe cluster interaction"
- [x] How to access the cluster nodes
- [x] How to deploy software
- [x] How to run maintenance tasks
- [x] How to check logs and collect information

[2019-07-03 14:03] r0ckarong opened #326 "Describe how to reserve compute resources in the cluster"
How to configure workloads to restrict usage of cluster resources

[2019-07-03 14:04] r0ckarong opened #327 "Describe Cluster scaling and sizing"
- [ ] How to plan cluster size
- [ ] What to take into consideration
- [x] How to scale the cluster (adding nodes and other tasks)

[2019-07-03 14:09] r0ckarong opened #328 "Describe node management"
- [x] Adding nodes
- [x] Removing nodes properly
- [x] Replacing nodes

[2019-07-03 14:11] r0ckarong opened #329 "Describe Graceful Shutdown and Startup"
Describe how to shut down a cluster properly
How to start a cluster back up with all intended workloads

For example for moving machines to a different datacenter, migrating to other machines, in preparation for a maintenance window or emergency, startup after an emergency and so on

[2019-07-03 14:13] r0ckarong opened #330 "Describe Disaster Recovery"
- [ ] [Backup](https://github.com/SUSE/doc-caasp/issues/331)
- [ ] [Restore](https://github.com/SUSE/doc-caasp/issues/332)
- [ ] [Workload shifting](https://github.com/SUSE/doc-caasp/issues/333)
- [ ] [Data Retention policies](https://github.com/SUSE/doc-caasp/issues/334)
- [ ] [Best Practices](https://github.com/SUSE/doc-caasp/issues/335)

[2019-07-03 14:14] r0ckarong opened #331 "Describe Backup"
Describe how to backup the cluster.

Scope for backup must be defined by PM/PO. Customer expectation is full configuration and workload backup.

[2019-07-03 14:15] r0ckarong opened #332 "Describe Restore from Backup"
Describe how to restore a cluster to full working condition from a backup as described in #331

[2019-07-03 14:22] r0ckarong opened #333 "Describe how to shift workloads to specific nodes"
In some situations cluster nodes might be unavailable and can not be replaced. Describe how to shift workloads to another cluster or specific set of nodes.

Need to determine if this is actually supported and intended.

[2019-07-03 14:30] r0ckarong opened #334 "Describe data retention policy recommendations"
This is very low priority.  And probably needs specific work from sales engineers or professional services with the individual customer.

- [ ] Describe what data can be stored
- [ ] What to roughly consider how to preserve this data in an emergency
- [ ] What data can be deleted/discarded

[2019-07-03 14:31] r0ckarong opened #335 "Describe Disaster Recovery Best practices"
This should only be a high level overview which precautions to take to be able to recover from a disaster and ensure business continuity with CaaSP. If possible, give some recommendations on what intervals data should be backed up.

[2019-07-03 14:38] r0ckarong opened #336 "Describe Monitoring"
- [ ] Monitoring recommendations
- [ ] Monitoring the cluster
- [ ] Health Checking

[2019-07-03 14:39] r0ckarong opened #337 "Describe Logging"
- [ ] Formats
- [ ] Logging recommendations
- [ ] Central log collection

[2019-07-03 14:39] r0ckarong opened #338 "Create Troubleshooting section"

[2019-07-03 14:40] r0ckarong opened #339 "Describe integration with other SUSE products"
- [x] CAP
- [ ] SUSE Manager
- [ ] SUSE Enterprise Storage
- [x] SES as Storage backend (StorageClass with rbd...)
- [x] CPI with SUSE OpenStack Cloud

PM/PO needs to specify which other products we integrate with

[2019-07-03 14:41] r0ckarong commented on #267
Project board (filtered for Epics) is here: https://github.com/SUSE/doc-caasp/projects/3?card_filter_query=label%3Aepic

[2019-07-03 14:41] #267 closed

[2019-07-03 15:46] r0ckarong opened #341 "Reword "Management node" in the CaaSP description"
Suggestion by @qnetter via email:

```Please let’s not call it the CaaSP management node. That sounds like a dedicated machine like the admin node. Let’s say you need to install the CaaSP deployment or bootstrap tools or something on a (SLES 15 SP1?) system. ```

Find mentions of this in the guides and reword accordingly. Internally this will probably be referred to as the "management node" in fut

[2019-07-04 08:53] #263 closed

[2019-07-04 10:13] #261 closed

[2019-07-04 10:38] r0ckarong commented on #287
OK I misread/missed the original line about this from roger. I will add to the release notes saying that L7 policies will not work.

[2019-07-04 10:38] #287 closed

[2019-07-04 10:41] r0ckarong commented on #287
Fixed with https://github.com/SUSE/caasp-release-notes/commit/9229c4ba8f46d1900a9b35810520c577f2811109

[2019-07-04 11:46] r0ckarong commented on #276
This was a misunderstanding because of some outdated information. The folder "/registry/certs/" is never filled with anything. It was left over from a previous version of the instructions.

The only certificates required are the SMT server certificates that are generated during the setup of SMT and must be provided to the reverse proxy to function properly.

I will amend the documentation.

[2019-07-04 11:49] r0ckarong commented on #238
Work is being done in the PR #304, closing.

[2019-07-04 11:49] #238 closed

[2019-07-04 11:50] r0ckarong commented on #238
Work is being done in the PR #304, closing.

[2019-07-04 12:02] r0ckarong commented on #276
I also fixed the alignment of the `threshhold` option.

[2019-07-04 12:03] r0ckarong commented on #276
21edd1f + 18609c3

[2019-07-04 12:03] #276 closed

[2019-07-04 12:13] #239 closed

[2019-07-04 14:56] viccuad opened #345 "[doc] 4.1.1 Cluster initialization"
4.1.1  Cluster initialization

https://susedoc.github.io/doc-caasp/master/caasp-deployment/single-html/#_cluster_initialization

"cluster init generates the folder named my-cluster and initializes the directory that will hold the configuration for the cluster."

We should also say that the kubeconfig for accessing the cluster with kubectl is there.

[2019-07-04 14:57] viccuad commented on #345
Fair enough, it's also at https://susedoc.github.io/doc-caasp/master/caasp-deployment/single-html/#_using_kubectl

[2019-07-08 09:31] r0ckarong commented on #345
Fixed with 739dbb9

[2019-07-08 09:31] #345 closed

[2019-07-08 09:59] r0ckarong commented on #331
@kkaempf @qnetter @NunoFilipeSantos Could you please define the official scope of CaaSP v4 backup.

Same topic as for v3

* Technology
* Scope
* Full cluster or single nodes
* If/How to preserve configurations and workloads

[2019-07-08 10:00] r0ckarong commented on #323
@kkaempf @qnetter @NunoFilipeSantos Could you please define the scope of the migration scenarios we support, the versions that can be migrated to which new version of CaaSP and who is responsible for performing migration tests and is the owner on the development side for this topic.

[2019-07-08 10:01] r0ckarong commented on #339
@kkaempf @qnetter @NunoFilipeSantos Could you please define which products we want/need to describe integrations for and to what detail level.

[2019-07-08 11:30] kkaempf commented on #339
[Testing CAP](https://github.com/SUSE/avant-garde/issues/397) is a QA requirement. So we should be able to document this.

SUSE Manager is currently being [experimented with](https://github.com/SUSE/avant-garde/issues/536) and might have an outcome by GA.

I'm not aware of any other requirements.

[2019-07-08 11:31] kkaempf commented on #323
That's a post-FCS deliverable

[2019-07-08 11:34] kkaempf commented on #331
I do not think we should document backup of individual nodes. It's a cluster and nodes are expected to die.

We probably can restrict it to pointing to SLE best practices of backing up the admin node (where terraform/skuba runs) configurations.

cc @flavio

[2019-07-08 12:24] pgonin commented on #339
There is testing with SES as Storage backend (StorageClass with rbd...)
There is also CPI with SUSE OpenStack Cloud

[2019-07-08 16:08] inercia commented on #256
Documented in #266

[2019-07-09 07:03] flavio commented on #331
Yes, I agree. However we still need to have a document that explains what to do when there's a partial cluster failure. For example, what to do if one of these cases happens:

  * One of the worker nodes just fails (due to a terrible hardware failure)
  * One of the master nodes fails, but the etcd quorum is not lost

If I'm not mistaken these are the scenarios that we covered inside of the docume

[2019-07-09 18:08] r0ckarong commented on #293
This is covered with #298

[2019-07-09 18:08] #293 closed

[2019-07-09 18:08] r0ckarong commented on #292
This is covered with #298

[2019-07-09 18:09] #292 closed

[2019-07-09 18:10] r0ckarong commented on #183
https://confluence.suse.com/display/SUSECaaSPlatform4/External+LDAP+Server+Document

[2019-07-10 09:39] nkoranova commented on #294
https://github.com/SUSE/caasp-release-notes/pull/6

[2019-07-10 13:42] nkoranova opened #351 "Add a note that users shouldn't use 127.0.0.1 as the cluster IP"
Based on:
https://bugzilla.suse.com/show_bug.cgi?id=1140636

[2019-07-10 15:20] #351 closed

[2019-07-10 16:10] #255 closed

[2019-07-11 10:20] r0ckarong commented on #183
The provided documentation from the Taiwan team does not include any deployment instructions for the testing LDAP.

[2019-07-11 10:24] innobead commented on #183
This is the current decision, the deployment instruction will be come out until 389-ds container image ready, it is under SLES MR flow.

References:
https://github.com/SUSE/avant-garde/issues/474
https://github.com/SUSE/avant-garde/issues/164

[2019-07-11 10:27] r0ckarong commented on #183
@flavio @innobead When was the prerequisite for LDAP added? This wasn't communicated to the docs people.

This needs to be mentioned in the release notes and the first question will be: How to I set up an LDAP for testing, where are the instructions? What can we provide to users?

[2019-07-11 10:29] r0ckarong commented on #298
Work continues in PR.

[2019-07-11 10:29] #298 closed

[2019-07-11 10:33] innobead commented on #183
@r0ckarong

LDAP server setup is optional for v4, because most of customers have their own directory server mentioned in https://github.com/SUSE/avant-garde/issues/474. Also, 389-ds image needs to go through SLES MR first before documentation.

1. So the first priority is to provide the admin guide *how to guide user provides correct LDAP connector settings for Dex* and some existing LDAP operatio

[2019-07-11 10:41] hwoarang commented on #183
It's true that we can copy most of these stuff from v3 although it's important to have some sort of basic instructions on how to deploy LDAP for people (ie sales, support, $someone) who are testing v4 with rbac. I would like to see that once 389-ds MR is accepted.

[2019-07-11 12:59] #275 closed

[2019-07-11 13:43] r0ckarong commented on #256
Merged #266

[2019-07-11 13:43] #256 closed

[2019-07-12 05:46] BlackBear3YearOld opened #358 "[doc] 4.1.4 Cluster bootstrap"
[ClusterBootstrap_Issue_base64_empty.txt](https://github.com/SUSE/doc-caasp/files/3385100/ClusterBootstrap_Issue_base64_empty.txt)

4.1.4  Cluster bootstrap

https://susedoc.github.io/doc-caasp/beta/caasp-deployment/single-html/#_cluster_bootstrap

while doing bootstrap a CaaSP 4 Cluster, always fail to apply kubadmin.init

`skuba node bootstrap -u root -s -t node154.archlab master`

Command Line

[2019-07-12 06:05] #358 closed

[2019-07-12 06:06] BlackBear3YearOld commented on #358
I should report to bugzilla not document issue. Please delete this issue, thanks.

[2019-07-12 14:32] r0ckarong commented on #294
@nkoranova I updated the attributes file in the main repo as well. Closing this.

[2019-07-12 14:32] #294 closed

[2019-07-16 08:51] r0ckarong commented on #248
Check if we are still mentioning manual installation of this from OBS.

[2019-07-16 12:06] r0ckarong opened #360 "Test Docserv2"
http://docserv.nue.suse.com/documents/Team_Hitchhikers_Guide/hitchhiker-guide/html/cha.doc.docserv2.html

[2019-07-16 12:14] #215 closed

[2019-07-16 12:15] r0ckarong opened #361 "Define common styling for AsciiDoc in SUSE/CaaSP docs"
For example:

- variable names
- substitutions in commands
- command names
- filenames

[2019-07-16 12:18] r0ckarong commented on #219
Obsolete

[2019-07-16 12:18] #219 closed

[2019-07-16 12:35] r0ckarong opened #362 "Clarify kubernetes-dashboard v4 status"
Is it supported? Do we suggest installing it?

@kkaempf @qnetter

[2019-07-16 12:38] kkaempf commented on #362
No. Not interlocked.

[2019-07-16 12:45] r0ckarong commented on #362
@nkoranova If Jason needs this for training purposes it needs to go through the PO/feature pipeline and be discussed otherwise it's unsupported and can only be communicated as such.

[2019-07-16 14:58] #362 closed

[2019-07-17 14:49] nkoranova opened #366 "Document 389-ds container image based on 15-SP1"
https://github.com/SUSE/avant-garde/issues/598

[2019-07-17 14:54] nkoranova opened #367 "Review AD test cases in Authentication and RBAC e2e test cases document"
https://github.com/SUSE/avant-garde/issues/585

[2019-07-17 18:13] dwainsims opened #368 "[doc] 2.2.2 IP Addresses"
2.2.2  IP Addresses

https://susedoc.github.io/doc-caasp/beta/caasp-deployment/single-html/#_ip_addresses

Communication       on the first line, and then nothing...  Maybe a copy/paste error.

[2019-07-18 16:34] zoopster opened #371 "[doc] 2 Cluster management"
This is empty.

2  Cluster management

https://susedoc.github.io/doc-caasp/beta/caasp-admin/single-html/#_cluster_management

[2019-07-19 14:17] nkoranova commented on #360
https://trello.com/b/kSN57LFa/doc-docserv2-team-tasks
http://docserv.nue.suse.com/docserv-build-test-eli/#caasp

[2019-07-24 08:33] nkoranova opened #373 "Add howto for flannel security fix to the v3 release notes"
The fix makes sure that flannel (layer 3 networking fabric) runs in unprivileged mode. This fix comes in the next release and Ludo's howto describes how to apply those changes here: https://github.com/SUSE/kubic-salt-security-fixes/pull/5#issuecomment-509173363

* put the steps in xml
* update v3 release notes

[2019-07-25 07:49] savasirez opened #376 "[doc] 4.1.1 Install <code class="literal">skuba</code>"
On the following part, it's not very clear what needs to be installed before cluster bootstrap. My setup failed when I tried, it was only able to continue after I installed necessary components like below:

Master node:
zypper in -t pattern SUSE-CaaSP-Management
zypper in kubernetes-kubeadm kubernetes-kubelet kubernetes-client cri-o cni-plugins

Worker node:
zypper in kubernetes-kubeadm kubernetes

[2019-07-25 14:10] nyoung02 opened #378 "[v3] [doc] Example 1.7: Binding a Group to a Role"
Example&nbsp;1.7:  Binding a Group to a Role

https://www.suse.com/documentation/suse-caasp-3/singlehtml/book_caasp_admin/book_caasp_admin.html#ex.admin.security.groups.role

There should not be a - in the "- kind: Role" line

[2019-07-26 12:51] savasirez opened #379 "[doc] 3.1.3.1.1 Configuring The Load Balancer"
What is $MY_REG_CODE below?

SUSEConnect -r $MY_REG_CODE

-------
3.1.3.1.1  Configuring The Load Balancer

https://susedoc.github.io/doc-caasp/beta/caasp-deployment/single-html/#_configuring_the_load_balancer

[2019-07-30 16:38] rdannert opened #387 "[doc] 4.2.3 Cluster bootstrap"
4.2.3  Cluster bootstrap

https://susedoc.github.io/doc-caasp/beta/caasp-deployment/single-html/#cluster.bootstrap

skuba node bootstrap --user sles --sudo --target <IP/FQDN> <NODE NAME>
doesn't work with user sles

in bootstrap.go
the following command will fail even with sudo as user sles, because modprobe is not in the PATH of user sles

"sudo sh -c 'modprobe br_netfilter'"

[2019-07-30 16:41] rdannert opened #388 "[doc] 3.1.1 Registration Code"
3.1.1  Registration Code

https://susedoc.github.io/doc-caasp/beta/caasp-deployment/single-html/#registration_code

it should be pointed out, that the user requesting the Beta registration code should use an email address, that has a corresponding SCC account, otherwise it will not be possible to activate the Beta subscription

[2019-07-30 16:44] rdannert opened #389 "[doc] 3.1 Deployment Preparations"
3.1  Deployment Preparations

https://susedoc.github.io/doc-caasp/beta/caasp-deployment/single-html/#deployment.preparations

ssh-add <path to key>
is ambiguous

ssh-add ~/.ssh/id_rsa
is not valid and will give problems later on

you have to use i.e.:
ssh-add /home/sles/.ssh/id_rsa

[2019-07-30 16:51] rdannert opened #390 "[doc] 3.1.3.1.1 Configuring The Load Balancer"
3.1.3.1.1  Configuring The Load Balancer

https://susedoc.github.io/doc-caasp/beta/caasp-deployment/single-html/#_configuring_the_load_balancer

the example nginx.conf used doesn't include configuration options for gangway and dex
as mentioned in the paragraph preceding this one

"It also needs access to Gangway port 32001 and Dex port 32000 on all master and worker nodes in the cluster for RBAC a

[2019-07-30 16:53] rdannert opened #391 "[doc] 3.3.2.2 Preparation of the VM as a template"
3.3.2.2  Preparation of the VM as a template

https://susedoc.github.io/doc-caasp/beta/caasp-deployment/single-html/#_preparation_of_the_vm_as_a_template

I am not sure, if the cloud-init related systemd files should be used for VMware

  systemctl enable cloud-init cloud-init-local cloud-config cloud-final

[2019-07-31 08:45] #367 closed

[2019-07-31 08:46] #366 closed

[2019-07-31 08:50] jordimassaguerpla commented on #288
This was closed SUSE/avant-garde#479 so I am closing this as well.

[2019-07-31 08:50] #288 closed

[2019-08-01 14:23] abonillasuse opened #394 "[doc] 4.2 Cluster Deployment"
4.2  Cluster Deployment

https://susedoc.github.io/doc-caasp/beta/caasp-deployment/single-html/#_cluster_deployment

This section should add that one can simply run

eval `ssh-agent` and note that it will only run temporarily

[2019-08-01 14:27] nkoranova commented on #373
https://gitlab.suse.de/documentation/release-notes-caasp/merge_requests/7

[2019-08-01 14:28] abonillasuse opened #395 "[doc] 4.2.1.4 Prevent Nodes Running Special Workloads From Being Rebooted"
4.2.1.4  Prevent Nodes Running Special Workloads From Being Rebooted

https://susedoc.github.io/doc-caasp/beta/caasp-deployment/single-html/#_prevent_nodes_running_special_workloads_from_being_rebooted

Needs to be a bit less vague - what kind of nodes should be added here? If we think these are external services or we have an example in mind, we should mention it to clarify the intention on when

[2019-08-01 14:34] abonillasuse commented on #394
Additionally, we should mention that if ssh keys have already been copied across nodes, they can simply run ssh-add to include known identities

"If all nodes taking part of the cluster already share ssh keys, a quick-start would be to:
"# eval `ssh-agent`"
"# ssh-add""

[2019-08-02 11:45] nkoranova opened #396 "Improve Release Notes contents for public releases"
The current CaaSP 4 release notes only list feature changes and include none of our usual boilerplate content. We should add the following to formalize the content:

- [x] Product introduction -- people should know what they bought and what the headline new features are.
- [x] Support statement & time frame -- customers need to know how they are supported; our website is sadly completely useless i

[2019-08-05 11:47] jordimassaguerpla commented on #360
Done.

[2019-08-05 11:47] #360 closed

[2019-08-05 11:49] jordimassaguerpla commented on #183
All items in the checklist are done.

[2019-08-05 11:49] #183 closed

[2019-08-05 11:50] jordimassaguerpla commented on #373
Blocked because the fix for v3 is not merged.

[2019-08-05 11:59] jordimassaguerpla commented on #264
@drpaneas will provide you with more recent docs https://github.com/SUSE/avant-garde/issues/397

[2019-08-06 08:22] nkoranova commented on #264
I am not sure that this entirely covers what @r0ckarong intended to do with that step-by-step document by Cameron Seader. Does anyone know where that document can be found? I couldn't find it in confluence.

[2019-08-06 08:22] nkoranova commented on #264
https://github.com/SUSE/doc-caasp/pull/397

[2019-08-06 11:22] nkoranova commented on #245
This is the section we have on the ssh-agent:
https://susedoc.github.io/doc-caasp/master/caasp-deployment/single-html/#deployment.preparations
duplicate information is also here:
https://susedoc.github.io/doc-caasp/master/caasp-deployment/single-html/#_cluster_deployment

We need to add:
- [ ] how to add the key to all the nodes.
- [ ] where to run the ssh-agent

@jordimassaguerpla, who could help

[2019-08-06 13:57] nkoranova commented on #264
I got input from Panos about the `--strict-cap-defaults` flag and working on integrating the info into the deployment guide.

[2019-08-07 15:00] jordimassaguerpla commented on #150
@nkoranova do we have this docs in v4?

[2019-08-07 15:35] jordimassaguerpla commented on #249
This is not needed any more.

[2019-08-07 15:35] #249 closed

[2019-08-07 16:01] jordimassaguerpla commented on #371
It is not empty now but I see this text

/= Cluster Management

looks like a typo in asciidoc

[2019-08-07 16:04] jordimassaguerpla commented on #395
@MaximilianMeister I think you wrote the initial contents of this. Can you tell us "what kind of nodes"?

[2019-08-07 16:05] jordimassaguerpla commented on #394
Related to (if not duplicated) https://github.com/SUSE/doc-caasp/issues/245

[2019-08-07 16:07] jordimassaguerpla commented on #390
@kravciak @lcavajani can you confirm we need this configuration?

[2019-08-07 16:09] jordimassaguerpla commented on #389
Related to (if not duplicated) https://github.com/SUSE/doc-caasp/issues/245

[2019-08-07 16:10] jordimassaguerpla commented on #388
Beta reg codes will be removed https://github.com/SUSE/avant-garde/issues/713

[2019-08-07 16:10] #388 closed

[2019-08-07 16:11] jordimassaguerpla commented on #387
@lcavajani @kravciak which should be the instructions here?

[2019-08-07 16:13] jordimassaguerpla commented on #379
MY_REG_CODE can be the SUSE CaaSP Registration Code or the SUSE Linux Enterprise Registration Code.

[2019-08-07 16:14] jordimassaguerpla commented on #378
This looks related to RBAC. @innobead can you confirm we need to fix it as proposed?

[2019-08-07 16:17] jordimassaguerpla commented on #376
I don't think you need to install the patterns in the master and worker, skuba should do it.
@ereslibre can you confirm?

[2019-08-07 16:22] nkoranova commented on #264
Ludo has provided Cameron's step-by-step guide.

[2019-08-07 16:23] jordimassaguerpla commented on #274
Can we close this issue?

[2019-08-07 16:32] jordimassaguerpla opened #401 "Review SES docs"
SUSE/doc-caasp#400

[2019-08-07 16:41] ereslibre commented on #376
Correct, skuba will install the correct node pattern on all nodes when bootstrapping and joining.

[2019-08-07 17:13] sknorr opened #403 "Broken links in CaaSP 3 documentation"
Hi, we had Slade from the Web team to review 404 links. The CaaSP 3 documentation had 32 broken links. Note that some links may be false positives.

[code]

[2019-08-07 17:41] nkoranova commented on #274
No, I think this bug shows that the procedure isn't described well enough - I need to add a note about when and how this 'caasp/autoyast/bare-metal/autoyast.xml' is created (link to the Deployment guide section where this happens).

[2019-08-08 09:05] nkoranova commented on #403
Kubernetes documentation only goes down to v1.11. I will have to check the specific links, but my general approach would be to just replace those with v1-11 links. Since I can't find 1.10 anywhere, I don't see a way how to tell what has changed between the two versions, the changes won't be that big with most basic features. I also wonder why v1.10 Kubernetes documentation is not in the archive (o

[2019-08-08 09:19] nkoranova commented on #403
v 1.10 docs are here: https://github.com/kubernetes/website/tree/release-1.10/content/en/docs (probably)

[2019-08-08 09:36] nkoranova commented on #403
https://github.com/kubernetes/website/issues/15739

[2019-08-08 10:20] NunoFilipeSantos commented on #396
@qnetter Can you please provide more insight on the added value of this information, while also contributing to it? Otherwise we will stick with what we currently have.

[2019-08-08 10:30] jordimassaguerpla commented on #387
Work for feature squad to figure this out.

[2019-08-08 10:34] jordimassaguerpla commented on #376
Then nothing to do in the docs.

[2019-08-08 10:34] #376 closed

[2019-08-08 10:37] NunoFilipeSantos commented on #341
@qnetter what should we name it too?

[2019-08-08 10:38] kravciak commented on #387
We use this and it works fine.
[code]

There is not enough information here (platform, skuba version, JeOS image).

Wild guess is that you use outdated skuba. Do you have this section in terraform.tfvars?
[code]

[2019-08-08 10:39] jordimassaguerpla commented on #338
Work for update squad.

[2019-08-08 10:40] innobead commented on #378
This is already included in https://github.com/SUSE/doc-caasp/blob/master/adoc/admin-security-rbac.adoc#kube-role-binding.

[2019-08-08 10:41] jordimassaguerpla commented on #286
featuresquad: please figure out which should be the instructions.

[2019-08-08 10:42] jordimassaguerpla commented on #281
This looks done. Can we close this issue?

[2019-08-08 10:47] jordimassaguerpla commented on #379
duplicated of https://github.com/SUSE/doc-caasp/issues/250

[2019-08-08 10:47] #379 closed

[2019-08-08 10:56] NunoFilipeSantos commented on #338
https://susedoc.github.io/doc-caasp/beta/caasp-admin/single-html/#_troubleshooting I think there is a typo in the beginning of the section.

[2019-08-08 10:57] jordimassaguerpla commented on #338
We already have a section in admin guide: https://susedoc.github.io/doc-caasp/beta/caasp-admin/single-html/#_troubleshooting

Only the typo should be fixed.

[2019-08-08 10:59] NunoFilipeSantos commented on #337
@innobead Do you have this content, or does it still need to be developed?

[2019-08-08 11:00] NunoFilipeSantos commented on #336
@lcavajani and @fgerling do you have any information you can share on this topic?

[2019-08-08 11:05] innobead commented on #337
For now, we have centralized logging documentation, good enough.

[2019-08-08 11:06] NunoFilipeSantos commented on #328
I think there is a typo on the beginning of the section here: https://susedoc.github.io/doc-caasp/beta/caasp-admin/single-html/#_cluster_management

@nkoranova shouldn't this guide complete this task?

[2019-08-08 11:10] NunoFilipeSantos commented on #325
On the "How to check logs and collect information" isn't this related to the Troubleshooting guide?

[2019-08-08 11:11] jordimassaguerpla commented on #322
work for updatesquad

[2019-08-08 11:12] jordimassaguerpla commented on #321
work for updatesquad.

[2019-08-08 11:31] NunoFilipeSantos commented on #194
@qnetter Can you please clearly describe the desired outcome of this?

[2019-08-08 12:35] nkoranova commented on #328
@NunoFilipeSantos Well in my opinion this part is good enough, I wrote that chapter and Markus merged it. It's possible Markus wanted to somehow improve on it, because it is not very detailed, but it contains all the info I got from developers and I would need some more input/feedback to be able to tell if/how this needs improving.

[2019-08-08 12:39] nkoranova commented on #328
Fixed the typo with https://github.com/SUSE/doc-caasp/commit/5a6038aba88e06ba55ecb9e273f3f83e523f5f44 thanks!

[2019-08-08 12:39] NunoFilipeSantos commented on #337
@nkoranova Can we close this issue then?

[2019-08-08 12:42] NunoFilipeSantos commented on #328
@nkoranova The node management seems described as it stands. Please close the issue as there are no clear questions for the engineering team.

[2019-08-08 12:43] #328 closed

[2019-08-08 13:34] nkoranova commented on #281
If nobody wants to review it, then yeah :)

[2019-08-08 13:34] #281 closed

[2019-08-08 13:36] nkoranova commented on #337
.... I guess, I mean what we probably have is good enough. I am guessing Markus created this issue based on the RFC, he was creating issues for some of the sections we still need to document. We can always open a new one, if we find that section insufficient at some point.

[2019-08-08 13:36] #337 closed

[2019-08-08 17:24] qnetter commented on #194
Since @r0ckarong opened it, I'm not sure exactly. But I would say that, for GA, @stefsuse's guidance is a good start. We should call out minimum and recommended resources - nodes, CPU, memory, storage.

As to specific scenarios, I think we should cover that in the SE review, or seed the discussion - I will gladly kick that off.

Airgap and private-registry configurations will not be supported till

[2019-08-08 17:28] qnetter commented on #396
- Product introduction: Chris Lentricchia, Abhinav, and I will supply.
- Support policy: I have a graphical representation of it, and will work on getting the written version of it ready for both the release notes and the website.
- How to get documentation - I will steal/modify content from SLES.
- Technology Preview: is anything in 4.0 at this stage? Again, I can lift from SLES. Ditto for obtain

[2019-08-08 17:38] qnetter commented on #341
Management host. "Node" implies that it is a member of the cluster.

[2019-08-08 17:42] qnetter commented on #339
That's the correct list. SUSE Manager for container scanning and (if work is completed in time) deployment or at least init/bootstrap. SES as persistent storage. SOC CPI integration. CAP integration is really part of the CAP docs, but I will check what back-reference they want,

[2019-08-08 17:49] qnetter commented on #331
We need to document a procedure to restore the cluster if it disappears. In the absence of a dedicated admin node, we need to back up what it would take to re-bootstrap it with the original configuration, including all of the etcd data. Backup of containers themselves can be out of scope of the instructions.

[2019-08-08 17:50] qnetter commented on #323
The docs need a guidance message about our recommendation (back up workloads, rebuild cluster, restore workloads), as well as our plans to provide a SUSE service offering to support cases where this is not possible. I'll draft it.

[2019-08-08 17:54] qnetter commented on #278
Who's the OP, by the way?

I agree that the configuration that uses HTTP(S) proxy to access the internet will be common. Several folks - Cameron, among others - have the info.

[2019-08-09 07:33] nkoranova commented on #396
@qnetter, thanks! About the Legal notices - I suspect they are the same for all products and adding them will be very easy for me. I can do that.
https://www.suse.com/releasenotes/x86_64/SUSE-CAASP/3.0/#Legal

[2019-08-09 08:08] jordimassaguerpla commented on #194
About hardware requirements, this is already covered at https://susedoc.github.io/doc-caasp/beta/caasp-deployment/single-html/#_hardware

[2019-08-09 08:20] jordimassaguerpla commented on #341
@NunoFilipeSantos given we have the info and it is an easy fix, should I make it P2?

[2019-08-09 09:41] #274 closed

[2019-08-09 10:02] drpaneas commented on #245
I can help you with that.

This is done by skuba. You have to copy-paste the key [you previously added to the ssh-agent](https://susedoc.github.io/doc-caasp/master/caasp-deployment/single-html/#deployment.preparations) into your tfvars file as described [here](https://susedoc.github.io/doc-caasp/master/caasp-deployment/single-html/#_deploying_the_cluster_nodes) and number 7. So all the information

[2019-08-09 10:16] jordimassaguerpla commented on #245
@drpaneas Thanks!

[2019-08-09 10:39] jordimassaguerpla commented on #339
CPI: https://susedoc.github.io/doc-caasp/beta/caasp-deployment/single-html/#_enabling_cloud_provider_integration

SES: https://github.com/SUSE/doc-caasp/pull/400

CAP is being handled here: https://github.com/SUSE/doc-caasp/issues/264 and https://github.com/SUSE/doc-caasp/pull/397

@qnetter Do the above look like what you were expecting/would accept for 4.0? Otherwise, can you provide us with some

[2019-08-09 10:45] NunoFilipeSantos commented on #341
We can, looks like a find and replace to me.

[2019-08-09 10:47] NunoFilipeSantos commented on #194
Like @jordimassaguerpla said, HW we are covered. This is why I was trying to understand if, for now, we were still missing something @qnetter .

[2019-08-09 10:52] NunoFilipeSantos commented on #323
Thank you @qnetter ! 👍

[2019-08-09 12:11] drpaneas commented on #394
Please /close this issue and keep the information in one place (e.g. at 245)

[2019-08-09 12:29] bergmannf commented on #245
The information about the `operating system runs` is incorrect - the `ssh-agent` in case of big desktop environments use coupled to their `key-management` services, so `gnome`, `kde`, `mate` asf start those on the user login and will automatically add the `ssh-key` usually.

[2019-08-09 12:32] bergmannf commented on #391
@jordimassaguerpla AFAIR without enabling those `cloud-init` did run into problems and did not complete successfully, which is why we added them to the documentation.

@lcavajani Do you remember which part of `cloud-init` failed without them?

[2019-08-09 12:38] bergmannf commented on #389
I don't see any mention of `ssh-add ~/.ssh/id_rsa` - all references in the linked documentation are with pseudo path-variables.

There was an error of using `ssh-add -i <some_path>` though - which I opened a PR for to fix it: https://github.com/SUSE/doc-caasp/pull/406

[2019-08-09 12:42] bergmannf commented on #371
https://github.com/SUSE/doc-caasp/pull/407

[2019-08-09 13:04] #394 closed

[2019-08-09 13:44] nkoranova commented on #396
https://github.com/SUSE/caasp-release-notes/pull/10

[2019-08-09 14:41] nkoranova commented on #401
https://github.com/SUSE/doc-caasp/pull/400

[2019-08-09 16:35] abonillasuse commented on #245
Why is this request taking so long to implement? Can we just reference that customers should

# eval `ssh-agent`
# ssh-add

In the documentation?

I wrote this on #394 - unless there is going to be a more sane way to do this, which is unlikely at this version of CaaSP.

[2019-08-09 22:48] stefsuse commented on #194
Thanks for the HW link. I was thinking more along the lines of the charts themselves when I said memory and cpu requirements (among other things like storage). For example, if a client wants a large number of smaller nodes they should be aware of the chart requirements. Some applications may not work though we generally support the deployment and the images.

[2019-08-12 08:53] jordimassaguerpla commented on #245
Because this is not the only doc we have to fix/write ;)

We flagged this as P2, so this is in our top priority list.

 Can we just reference that customers should

@abonillasuse Is this https://github.com/SUSE/doc-caasp/issues/245#issuecomment-519861671 enough?

[2019-08-12 08:58] nkoranova commented on #371
That heading was supposed to be commented out (it's a long story, but essentially the only way I found out for the document structure to look ok and build - don't ask). What is actually missing is the other slash to have it properly commented out and it's already in the code, https://github.com/SUSE/doc-caasp/blob/beta/adoc/admin-cluster-management.adoc
I just have to find out why the build docs h

[2019-08-12 08:58] #371 closed

[2019-08-12 14:28] jordimassaguerpla commented on #264
This is 20 page document!!

[2019-08-12 15:24] fgerling commented on #336
Is this from the "Point Of View" of the customer or devs/QA?

I have done some work of monitoring based on prometheus, node_exporter and grafana here: http://techno.qa.prv.suse.net:3000

Please ask me on Rocket.chat or mail for credentials.

It is monitoring system resources on kernel level. I integrated an auto-discovery feature so we can easily add a new cluster to it. Regardless of OpenStack, b

[2019-08-12 15:30] lcavajani commented on #336
I wrote the doc for v3 https://www.suse.com/documentation/suse-caasp-3/book_caasp_admin/data/sec_admin_monitoring_stack.html

and a couple of dashboards https://github.com/kubic-project/monitoring

@NunoFilipeSantos AFAIU this will be tackled by the Taiwan team since they worked on Logs, cc to get more info ;) @innobead

[2019-08-12 15:35] #389 closed

[2019-08-12 15:50] jordimassaguerpla commented on #336
Thanks for the info @lcavajani and @fgerling . Adding the Taiwan Squad label so they can work on that based on your docs.

[2019-08-13 00:20] dannysauer commented on #245
I'm a little concerned about offering advice on running an ssh key agent which continues running for any particular period of time.  We're telling customers to load their private ssh key material - with any password controls removed - into a potentially long-running program whose access is controlled only by filesystem permissions on the socket.  We need to be careful to also provide information o

[2019-08-13 01:51] innobead commented on #336
@lcavajani thanks for the info.

Let's just use v3 admin guide as base for v4 documentation.

Because we don't have monitoring feature integration in v4 yet that means no sustainable container images/packages provided, so we will focus on configuration & usage instead of deployment.

[2019-08-13 02:05] innobead commented on #312
Documentation already in https://github.com/SUSE/doc-caasp/blob/master/adoc/admin-security-ldap.adoc#managing-users-and-groups which is also based on v3 documentation https://www.suse.com/documentation/suse-caasp-3/book_caasp_admin/data/sec_admin_security_users.html.

[2019-08-13 02:05] innobead commented on #312
@nkoranova please confirm if this is still needed, thanks.

[2019-08-13 02:18] innobead commented on #378
@jordimassaguerpla  **I think this ticket is a bug for v3 documentation instead of v4.**

v4 related ticket should be https://github.com/SUSE/doc-caasp/issues/313 we will work on.

[2019-08-13 10:00] jordimassaguerpla commented on #264
This task is not needed anymore because of https://github.com/SUSE/avant-garde/issues/745 . @nkoranova please share the doc with Taiwan Team and see what can they reuse.

[2019-08-13 10:00] #264 closed

[2019-08-13 10:03] jordimassaguerpla commented on #245
@dannysauer Please create a PR to the doc-caasp repo with the modifications so doc team can review it. This issue is becoming confusing with so many comments and seems you know how this should look like. This would be very helpful. Thanks.

[2019-08-13 12:41] Klaven commented on #387
I checked with the original issuer, this issues has not been seen again. can be closed.

[2019-08-13 12:51] dannysauer commented on #245
I figured with all that discussion, someone had already started on it. If that's not the case, I'll write up a PR other people can tear apart then. :)

[2019-08-13 14:45] jordimassaguerpla commented on #245
Yes please :)

[2019-08-13 14:57] jordimassaguerpla commented on #387
Thanks.

[2019-08-13 14:57] #387 closed

[2019-08-13 15:06] jordimassaguerpla commented on #341
@nkoranova Alvaro will work on this.

[2019-08-13 15:15] nkoranova opened #408 "Spellchecking and proofreading the docs before the GC"
DAPS has a spellcheck and a stylecheck, which we should run before the release and also a urlcheck. All three of these steps can be done either by me or @r0ckarong.
Apart from that, the docs should be proofread at least once from a professional proofreader. @taroth21 should be able to tell us who we need to contact and how early ahead of our potential deadline.

- [x] spellcheck
- [ ] stylecheck
-

[2019-08-13 16:32] stefsuse commented on #286
I believe the wrong pattern issue has been addressed in last beta.

We have an open ticket for the "management node" wording.  https://github.com/SUSE/doc-caasp/issues/341

Can this issue be closed?

[2019-08-13 22:50] suseclee commented on #390
Working from feature squad: https://github.com/SUSE/avant-garde/issues/762

[2019-08-14 02:55] innobead commented on #264
This document is incomplete.

1. For OpenStack infra, it uses manual way to setup instead of the terraform scripts provided by us
2. It describes more about Air-gapped environment, but this documentation is not ready and it was planned at `post-GA`.
3. It does not provide CAP deployment steps
4. It mixed CaaSP v3 info inside
5. In summary, it is CaaSP deployment only (and based on `caaspctl`)

@jo

[2019-08-14 07:07] jordimassaguerpla commented on #390
@suseclee Can you provide a PR to doc-caasp?

[2019-08-14 07:13] jordimassaguerpla commented on #264
Hi @innobead . The document was provided to us by a Sales Engineer but this does not mean it has to go into the docs as it is.

Please just reuse what you think makes sense (if any) for the CAP documentation. We thought this could be helpful, but if it turns out it is better to write from scratch on how to deploy CAP on top of CaaSP, then trash it and start from scratch.

Thanks

[2019-08-14 07:58] nkoranova commented on #264
@innobead, I agree with @jordimassaguerpla. What is described in the document can be used as inspiration, but definitely take it with a grain of salt, as it's probably already outdated.

[2019-08-14 08:21] innobead commented on #264
@jordimassaguerpla @nkoranova I don't agree actually, because this document is not CAP deployment documentation, and what we planned is for `review CAP documentation` that is different from creating a new documentation.

But let's move forward to solve the issue :)

Even we can come out the CAP deployment on v4, but this looks overlapped with CAP product documentation (https://www.suse.com/documen

[2019-08-14 08:23] jordimassaguerpla commented on #264
@NunoFilipeSantos I think we need your input here

[2019-08-14 09:07] NunoFilipeSantos commented on #264
I don't know where you have been looking at.
See https://github.com/SUSE/avant-garde/issues/397 and https://github.com/SUSE/doc-caasp/pull/397/files

[2019-08-14 09:16] innobead commented on #264
The PDF provided by Sales Engineer was @nkoranova shared yesterday to you, jordi and me.

@NunoFilipeSantos you did not get my point, please look at my previous comment or below.^

[code]
https://github.com/SUSE/doc-caasp/pull/397/files is about (--strict-cap-defaults) is part of prerequisites for CAP deployment.

[2019-08-14 09:25] NunoFilipeSantos commented on #264
Setup of CaaS Platform and Cloud Application Platform a quick road to success for our customers.

[2019-08-14 09:53] innobead commented on #264
Should this documentation be updated in doc-cap or doc-caasp? CAP production documentation already covers this part (https://www.suse.com/documentation/cloud-application-platform-1/book_cap_guides/data/cha-cap-depl-caasp.html) but it is for v3 like I mentioned above.

I would suggest let's just come out CAP integration documentation like we did for SES, but SES focus on `usage`, CAP will more focu

[2019-08-14 10:38] jordimassaguerpla commented on #264
@innobead

I would expect this:

1- prerequisistes for CAP
2- simple deployment via helm charts
3- link to CAP docs for more details and/or complex deployments

In general, something short with references to CAP but at the same time useful to do a simple deploy because CAP docs are out of our hands.

[2019-08-14 10:39] NunoFilipeSantos commented on #264
Exactly what @jordimassaguerpla said.

[2019-08-14 10:43] innobead commented on #264
Yes, this is what I described. We are on the same page now, and definition clarified. Thanks.

[2019-08-14 11:02] jordimassaguerpla commented on #390
thanks for picking this one.

[2019-08-14 14:11] #401 closed

[2019-08-15 10:50] BriggsyUK1970 opened #416 "[doc] 3.2.1 Deploying the cluster nodes"
3.2.1  Deploying the cluster nodes

https://susedoc.github.io/doc-caasp/beta/caasp-deployment/single-html/#_deploying_the_cluster_nodes

I have been trying to follow this as the document explains and find it extremely confused if not plain incorrect.

in 3.2.1.3 it states that the file structure for editing vars in terraform is "~/my-cluster/cloud-init" but the example explains this is to be at "~

[2019-08-16 10:19] nkoranova commented on #245
Issue solved in #409 Thanks for your contributions. :)

[2019-08-16 10:19] #245 closed

[2019-08-16 13:15] nkoranova commented on #250
I finally get to this, but I am slightly confused about what the underlying system is. @vmoutoussamy can confirm that if this is correct:
The way I understand it according to our [documentation ](https://susedoc.github.io/doc-caasp/master/caasp-deployment/single-html/#registration_code ) is that there is just one registration code both for SLE and for CaaSP: "You can use your SUSE CaaS Platform re

[2019-08-19 11:10] #341 closed

[2019-08-19 12:33] vmoutoussamy commented on #250
I assume this is correct, but please note that I didn't test it lately, it would be better to double check with @jordimassaguerpla for both the beta and official regcodes.

I think we should. But my assumption is if you register a SLES with regcode A, but then install the CaaSP product and uses regcode B. Your system doesn't use regcode A anymore but only regcode B which supply SLES and CaaSP repo

[2019-08-19 14:29] #250 closed

[2019-08-20 08:09] pablochacin opened #421 "[doc] 3.1.4 Create Role Bindings"
3.1.4  Create Role Bindings

https://susedoc.github.io/doc-caasp/master/caasp-admin/single-html/#_sec.admin.security.role.create_binding

"To bind a group or user to a **rule**"  should probably be "To bind a group or user to a **role**" instead.

Also, numbering should be reset to 1:

[2019-08-20 08:57] MaximilianMeister commented on #248
I'm going to grab this one

[2019-08-20 09:19] MaximilianMeister commented on #248
this should be fine already, i can't find any occurrence of this obs repo anymore:

we are mentioning the correct way of installing terraform through the management pattern in all deployment guides for the different platforms

[2019-08-20 12:09] bergmannf opened #424 "[doc] 3.1.1 deletecollection can remove more than just CronJob"
[code]

The `deletecollection` verb can be used for more than removing the `CronJob` resource.

[2019-08-20 13:10] bergmannf opened #426 "[doc] Example&nbsp;3.2: Cluster Role for Creation of Pods"
Example&nbsp;3.2:  Cluster Role for Creation of Pods

https://susedoc.github.io/doc-caasp/master/caasp-admin/html/_security.html#id-1.5.2.5.4

The listing is incorrectly numbered in the text following it:

the listig itself has `1, 2, 3, ...` numbers, but the descriptions refer to `6, 7, 8, ...`

The same issue appears in the following listings as well.

[2019-08-20 14:08] inercia commented on #368
@nkoranova Please assign to me.

[2019-08-20 14:35] thehejik opened #427 "[doc] 2.3.2 Permanent Removal - add --drain-timeout flag description"
2.3.2  Permanent Removal

https://susedoc.github.io/doc-caasp/master/caasp-admin/single-html/#_permanent_removal

Please describe also a new important flag `--drain-timeout <duration>` (available since Beta5?) as described in `skuba node remove --help` output:
[code]
There is default infinite timeout 0s so command `skuba node remove` (without the timeout flag) takes forever on offline node or on n

[2019-08-21 07:47] MaximilianMeister commented on #395
@jordimassaguerpla e.g. if `Node A` runs `ImportantPod` you can flag the **pod** as important, and therefore the node where it runs on will not be rebooted. So it's not so much about the node here, it's more about flagging the workload

[2019-08-21 11:00] inercia commented on #286
I think we can close this issue. #341 has been merged.

[2019-08-21 12:23] bergmannf opened #431 "[doc] 3.5.2.1 Policy File Examples"
3.5.2.1  Policy File Examples

https://susedoc.github.io/doc-caasp/master/caasp-admin/html/_security.html#_policy_file_examples

The example `psp` still shows:

[code]

The values generated by `skuba` now are `runtime/default` though.

[2019-08-21 12:26] bergmannf commented on #431
Will be fixed by #430

[2019-08-21 14:31] inercia commented on #242
I'm taking this issue. @nkoranova @r0ckarong or @jordimassaguerpla assign this to me.

[2019-08-22 09:17] #368 closed

[2019-08-22 10:23] #390 closed

[2019-08-22 10:26] jordimassaguerpla commented on #248
Thanks @MaximilianMeister

[2019-08-22 10:26] #248 closed

[2019-08-22 10:29] jordimassaguerpla commented on #378
@innobead Can you provide a fix for v3 as well?

[2019-08-22 10:30] #286 closed

[2019-08-22 11:11] innobead commented on #378
Sure if this is priorities, we can put in the queue.

[2019-08-22 11:14] jordimassaguerpla commented on #378
https://github.com/SUSE/avant-garde/projects/13

@NunoFilipeSantos: given v3 is at the bottom of the priorities. Should we not fix this one?

[2019-08-22 11:33] NunoFilipeSantos commented on #378
V3 is always there, it is the current product in the hands of our customers.
If this is generating bugs reports from customers, fix it now.

[2019-08-22 12:01] #424 closed

[2019-08-22 13:08] nkoranova commented on #338
Typo fixed with https://github.com/SUSE/doc-caasp/commit/f33ca6f3ea26670c42f1e1326ac726d6d6642ac8
We should continue to add advice on how to troubleshoot, but we will probably have to collect that information once we have a little more feedback and know what frequent issues are.

[2019-08-22 13:08] #338 closed

[2019-08-22 14:10] jordimassaguerpla commented on #396
Hi @qnetter ! Could you provide us with this info or an ETA for us to plan? Thanks.

[2019-08-22 14:11] jordimassaguerpla commented on #396
@qnetter Also please, what should we say about "Obtaining source -- legal requirement" ?

[2019-08-23 05:10] escrevebastante opened #437 "[doc] 3.1 Cluster Size Requirements"
3.1  Cluster Size Requirements

https://www.suse.com/documentation/suse-caasp-3/singlehtml/book_caasp_deployment/book_caasp_deployment.html#sec.deploy.requirements.system.cluster

I would like to open a discussion here regarding this statement specifically:

I don't think that we should support a 4 node cluster setup. This setup implies that the worker nodes are also members of etcd cluster. In th

[2019-08-23 12:16] MaximilianMeister commented on #395
https://github.com/SUSE/doc-caasp/pull/439

[2019-08-23 13:16] #395 closed

[2019-08-23 14:41] jordimassaguerpla commented on #408
Waiting for Microfocus proof reading.

[2019-08-23 17:38] stefsuse commented on #437
I agree that the wording is misleading. Removing the word "supported" is a good start. Maybe we should remove "Note: Test and Proof-of-Concept Clusters" too since it also implies the 4 node setup is somehow more supported.

The related release notes section is better, but for consistency that note can be removed and the minimum production cluster (3 master, 2 worker) added. https://www.suse.com/re

[2019-08-24 09:20] madhavkobal opened #440 "[doc] 3.2.1 Adding a New Organizational Unit"
3.2.1  Adding a New Organizational Unit

https://susedoc.github.io/doc-caasp/beta/caasp-admin/single-html/#_adding_a_new_organizational_unit

Existing typo error as follows:
Run ladapmodify to add the new Organizational unit:

Suggested change:
Run ldapmodify to add the new Organizational unit:

[2019-08-26 11:56] otuominen opened #442 "[doc] 4.1.1.3 Upgrades of the Kubernetes platform"
4.1.1.3  Upgrades of the Kubernetes platform

https://susedoc.github.io/doc-caasp/beta/caasp-architecture/single-html/#_upgrades_of_the_kubernetes_platform

There is no option "check".
Correct option is "plan".

skuba cluster upgrade --help
** This is a BETA release and NOT intended for production usage. **
Manages cluster-wide upgrade operations

Usage:
  skuba cluster upgrade [command]

Availabl

[2019-08-27 03:39] cclhsu commented on #378
Fix PR[441](https://github.com/SUSE/doc-caasp/pull/441)

[2019-08-28 14:12] nkoranova commented on #396
Work is being done in:  https://github.com/SUSE/caasp-release-notes/pull/13

[2019-09-02 09:08] nkoranova commented on #408
The proofread pdfs are in and I will start manually integrating the suggestions today. After this is done, I will create a Tag to mark the changes: http://docserv.nue.suse.com/documents/Team_Hitchhikers_Guide/hitchhiker-guide/single-html/#sec-doc-proof-tag

[2019-09-02 11:45] jordimassaguerpla commented on #242
This was already done https://github.com/SUSE/doc-caasp/commit/c12d1543d0c65e003ac3f279959602531e689bbe#diff-080a8c5ea31c1a66ad301eac1c5178a4

For vmware, I can't find the commit but I see a similar text about how to use registration.auto.tfvars is there.

[2019-09-02 11:45] #242 closed

[2019-09-03 09:05] jmlambert78 opened #455 "[doc] 8.1 Prerequisites"
8.1  Prerequisites

https://susedoc.github.io/doc-caasp/master/caasp-admin/single-html/#_prerequisites_3

When you apply that and the swapaccount is already=1... this generates an error
as it includes swapaccount=1 after like :
GRUB_CMDLINE_LINUX_DEFAULT="mitigations=auto quiet cgroup_enable=memory swapaccount=1 crashkernel=128M,high crashkernel=80M,lowswapaccount=1 "

[2019-09-03 09:59] scmschmidt opened #456 "[doc] 3.2 Deployment on SUSE OpenStack Cloud"
3.2  Deployment on SUSE OpenStack Cloud

https://susedoc.github.io/doc-caasp/beta/caasp-deployment/single-html/#_deployment_on_suse_openstack_cloud

Get the SLES15-SP1 image.

    Download the pre-built image of SUSE SLES15-SP1 for SUSE OpenStack Cloud from https://www.suse.com/products/server/jeos/.
<<<

When following the link above and continuing to the download section, only SUSE Linux Enterpr

[2019-09-03 10:01] jordimassaguerpla commented on #431
Merged and so this bug is fixed.

[2019-09-03 10:01] #431 closed

[2019-09-03 10:54] jordimassaguerpla commented on #456
I am asking Vincent Moutoussamy (JeOS PM)

[2019-09-03 11:09] jordimassaguerpla commented on #426
I just checked and this is fixed.

[2019-09-03 11:09] #426 closed

[2019-09-03 11:18] jordimassaguerpla commented on #442
@ereslibre Can you confirm it should be

skuba cluster upgrade plan

instead of

skuba cluster upgrade check

?

[2019-09-03 11:28] ereslibre commented on #442
Yes, it's `skuba cluster upgrade plan`.

[2019-09-03 12:02] jordimassaguerpla commented on #456
Waiting on Vincent answer...

[2019-09-03 12:28] jordimassaguerpla commented on #456
The download page is not updated. Vincent is taking care. Blocked for now.

[2019-09-03 13:59] jordimassaguerpla commented on #456
From Vincent: better use https://download.suse.com/Download?buildid=OE-3enq3uys~

[2019-09-03 14:10] scmschmidt commented on #456
https://download.suse.com/Download?buildid=OE-3enq3uys~ works.
I can forward the link to my SAP colleague for now. Thanks. The download page is going to be updated soon I guess?

[2019-09-04 08:19] jordimassaguerpla opened #463 "SES requires `ceph-common`, `xfsprogs` and `nfs-client`"
see https://bugzilla.suse.com/show_bug.cgi?id=1144991

[2019-09-04 11:51] jordimassaguerpla commented on #463
The current content is correct.

[2019-09-04 11:51] #463 closed

[2019-09-04 14:16] nkoranova commented on #408
https://github.com/SUSE/doc-caasp/pull/465

[2019-09-04 14:21] nkoranova commented on #173
Merged and published. :)

[2019-09-04 14:21] #173 closed

[2019-09-05 00:57] jenting commented on #416
@BriggsyUK1970 Thanks for reporting. We file a PR to fix this.

[2019-09-05 10:40] jordimassaguerpla opened #468 "Quick start guide has only openstack instructions"
https://susedoc.github.io/doc-caasp/beta/caasp-quickstart/html/index.html has only openstack instructions.

I would expect to have also vmware, bare metal and deploying on existing SLE installations (chapters already in the deployment guide).

Can we include those?

[2019-09-05 11:51] nkoranova commented on #408
https://github.com/SUSE/doc-caasp/releases/tag/CaaSP_4_proofreading_1

[2019-09-05 12:44] nkoranova commented on #468
Hmm, I am not sure what the point of having the same information in two places should be. The Quickstart guide is already largely just a subset of the Deployment guide and in my opinion we could just get rid of the Quickstart guide without much loss. I would have to check what the content overlap is first of course.

[2019-09-05 14:34] jordimassaguerpla commented on #468
The only diff between quick start guide and deployment guide would be:

4 Bootstrapping the Cluster

    4.1 Preparation

    4.2 Cluster Deployment

    4.3 Using kubectl

5 Network security

    5.1 Cilium

[2019-09-05 14:35] jordimassaguerpla commented on #468
As far as I know, we never released quick start guide in the beta program

https://www.suse.com/betaprogram/caasp-beta/#themes

But we had a quick start guide for CaaSPv3.

[2019-09-05 14:36] jordimassaguerpla commented on #468
However, I am not deciding this. I will check

[2019-09-05 15:58] NunoFilipeSantos commented on #468
Dropping this in favour of the deployment guide.

[2019-09-06 08:20] #468 closed

[2019-09-06 08:35] nkoranova commented on #468
Just a note: I had a look and most SUSE products don't have a Quick installation guide. CaaSP v3 did, but v2 didn't. There is no need to force it, if we don't have anything special to put in it.

[2019-09-06 11:31] #442 closed

[2019-09-06 11:33] #416 closed

[2019-09-06 11:34] #456 closed

[2019-09-06 11:35] #440 closed

[2019-09-06 11:35] #421 closed

[2019-09-06 11:36] #455 closed

[2019-09-06 14:14] NunoFilipeSantos commented on #468
Exactly @nkoranova .

[2019-09-09 08:55] r0ckarong commented on #278
No idea. We get a lot of contributions from SUSE members that only stumble onto GitHub because our documentation portal links to this repository when you want to file a bug for the docs. Then I assume they create some GitHub account, never fill in details and then leave forever.

@qnetter @kkaempf So can I get a prio please when we need to describe this for v4 / v5 and backport to v3? The original

[2019-09-09 10:48] r0ckarong opened #472 "Update backup instructions for v3 (bsc#1144601)"
https://bugzilla.suse.com/show_bug.cgi?id=1144601

[2019-09-09 10:53] Martin-Weiss opened #473 "[doc] 3.2.4.1 Adding A New User"
3.2.4.1  Adding A New User

https://susedoc.github.io/doc-caasp/beta/caasp-admin/single-html/#_adding_a_new_user

--> could we get an example added about which parameters to use for slappasswd?

i.e. slappasswd -n -h {crypt} <password>

[2019-09-09 12:39] kkaempf commented on #278
No backport for v3. We will only fix L3s in v3 from now on.
The 'airgap' topic is scheduled for a future v4 sprint.

[2019-09-09 13:10] #278 closed

[2019-09-09 13:11] r0ckarong commented on #156
Relates to #278

[2019-09-09 15:28] jordimassaguerpla commented on #214
This is done.

[2019-09-09 15:28] #214 closed

[2019-09-09 15:29] jordimassaguerpla commented on #396
We are blocked on getting a review of the https://susedoc.github.io/caasp-release-notes/master/release-notes/single-html/#_support_and_life_cycle by @qnetter

[2019-09-09 15:29] #408 closed

[2019-09-09 16:07] jordimassaguerpla commented on #403
Moving it to sprint14 according to the team priorities for sprint13

[2019-09-09 16:07] jordimassaguerpla commented on #378
Removing it from sprint12 and postponing this for later according to the team priorities for sprint13

[2019-09-10 06:09] r0ckarong commented on #437
@qnetter @kkaempf This discussion must happen on the PM/PO level. We specifically worded this for 4 nodes because there was complaints that anything larger would scare away some customers. I can not make this call on what is "supported" or can be even called "supported" for marketing reasons.

Please define the official cluster minimum size. Same discussion needs to happen for v4.

[2019-09-10 07:34] kkaempf commented on #437
Actually, PM can ask engineering to support specific scenarios, but the last word is on engineering.

Passing on to @flavio and @ereslibre :wink:
- which _minimal_ cluster size is supportable ?

[2019-09-10 09:17] r0ckarong opened #474 "Rework for GM release"
- [x] Rework mentions of registration codes and replace with product codes
- [x] Remove mentions of beta
- [x] Rewrite links in release notes for final docs location

[2019-09-10 09:26] r0ckarong commented on #474
Caused by:

https://github.com/SUSE/avant-garde/issues/713
https://github.com/SUSE/avant-garde/issues/686

[2019-09-10 11:11] Martin-Weiss opened #475 "[doc] 2 Nodes"
2  Nodes

https://susedoc.github.io/doc-caasp/beta/caasp-deployment/single-html/#_nodes

Two issues, here:
1. why do we need two load balancers? One should be sufficient
2. I am missing the admin/infrastructure/control-plane machine from where we use skuba

[2019-09-10 11:17] Martin-Weiss opened #476 "[doc] 3.1.3 Installation tools"
3.1.3  Installation tools

https://susedoc.github.io/doc-caasp/beta/caasp-deployment/single-html/#_installation_tools

Could we get the list of SLES 15 SP1 channels required also added, here? Which SLES 15 SP1 channels are required to be available (base, product, server-applications,...?)

[2019-09-10 11:20] Martin-Weiss commented on #476
I assume the list should look like this:

#  | Alias                                        | Name                                         | Enabled | GPG Check | Refresh
---+----------------------------------------------+----------------------------------------------+---------+-----------+--------
 1 | SLE-Module-Basesystem15-SP1-Pool             | SLE-Module-Basesystem15-SP1-Pool             | Y

[2019-09-10 14:20] #396 closed

[2019-09-13 07:32] Hui-Zhi opened #478 "[doc] 3.1.4.1.1 Configuring the Load Balancer"
3.1.4.1.1  Configuring the Load Balancer

https://susedoc.github.io/doc-caasp/master/caasp-deployment/single-html/#_configuring_the_load_balancer

Should we change "Register SLES:" to "Register Server Applications Module" and change "SUSEConnect -r $MY_REG_CODE" to "SUSEConnect --product sle-module-server-applications/15.1/x86_64"?

[2019-09-16 08:41] pablochacin opened #479 "[doc] 3.1.4.1.1 Configuring the Load Balancer"
3.1.4.1.1  Configuring the Load Balancer

https://susedoc.github.io/doc-caasp/master/caasp-deployment/single-html/#_configuring_the_load_balancer

Rendering of notes in the nginx.conf file seems broken. Not all callouts are described. Notes appears in random order.

![Screenshot from 2019-09-16 10-36-58](https://user-images.githubusercontent.com/720259/64944180-0f86b780-d86e-11e9-8733-f0373286ed92

[2019-09-16 09:51] Martin-Weiss opened #480 "[doc] 2.1.3 Worker nodes"
2.1.3  Worker nodes

https://susedoc.github.io/doc-caasp/master/caasp-deployment/single-html/#_worker_nodes

--------------------
We should add something like the following:

The worker nodes should also have sufficient memory, CPU and disk space for the PODs/containers/applications that are planned to be hosted on these workers.

[2019-09-16 09:52] Martin-Weiss commented on #480
(be more clear about what "workload" means)

[2019-09-16 10:08] Martin-Weiss opened #481 "[doc] 2.2.1 Ports"
2.2.1  Ports

https://susedoc.github.io/doc-caasp/master/caasp-deployment/single-html/#_ports

---
For centralized logging do we have to add the rsyslog details?

Should we mention ingress/prometheus/grafana, too? (based on the recommended way to deploy them)?

[2019-09-16 10:09] Martin-Weiss opened #482 "[doc] 2.2.2 IP Addresses"
2.2.2  IP Addresses

https://susedoc.github.io/doc-caasp/master/caasp-deployment/single-html/#_ip_addresses

----
we should clearly state IPv4 only, here.

(until we add IPv6 support..)

[2019-09-16 11:38] r0ckarong commented on #478
@jordimassaguerpla Can you confirm that just registering is not enough? I thought server-applications will be added automatically.

[2019-09-16 12:03] r0ckarong commented on #479
This is a weird output quirk of our document processor. I've filed a bug for it. Nothing I can fix right now.

https://github.com/openSUSE/daps/issues/528

[2019-09-16 12:03] #479 closed

[2019-09-16 12:15] r0ckarong commented on #480
I can add this note but how would one determine which values to consider here?

[2019-09-16 12:22] r0ckarong commented on #481
@innobead @cclhsu Could you please contribute the ports required for centralized logging to this list:

https://github.com/SUSE/doc-caasp/blob/master/adoc/deployment-sysreqs.adoc#ports

[2019-09-16 12:23] Martin-Weiss commented on #480
The values that need to be considered need to be delivered by the application vendor / developer / are hopefully specified on the PODs restrictions.

[2019-09-16 12:23] r0ckarong commented on #481
This is a question for @kkaempf @qnetter @ereslibre. Are we officially describing/supporting these things in some capacity and need to add this to the official list of ports?

[2019-09-16 12:27] r0ckarong commented on #480
OK then I will add this note that they have to have sufficient resources. That you need to plan to size your machines for the workload should be basic implicit knowledge about how to user Kubernetes. Do we really need to go into such detail? We're not a "beginner" product and I haven't heard that our documentation should be aimed at people who've never used Kubernetes.

[2019-09-16 12:31] Martin-Weiss commented on #480
I am fine with setting such limitations in the scope of the documentation (not a beginner product, need pre-existing k8s knowlege) - but then they need to be clarified in the beginning to set proper expectations.

[2019-09-16 12:37] kkaempf commented on #481
prometheus/grafana - not yet. That will be added later.

[2019-09-16 13:03] r0ckarong commented on #482
Added with: https://github.com/SUSE/doc-caasp/commit/9a2129f9f16e9011fd62d2d546f59013240b2f42

[2019-09-16 13:03] #482 closed

[2019-09-16 13:04] r0ckarong commented on #480
Added worker node clarification with https://github.com/SUSE/doc-caasp/commit/9a2129f9f16e9011fd62d2d546f59013240b2f42

I will clarify the wording we can use to define the target audience more clearly.

[2019-09-16 13:26] cclhsu commented on #481
For centralized logging, we only provide Rsyslog Log Agent configuration to deploy and collect different control plane and user space log.  We do not provide centralized logging server and user deploy their centralized log server solution inside or outside the k8s cluster with port of their choice.

[2019-09-16 13:53] r0ckarong commented on #481
rsyslog agent works without configuring a port in the cluster network?

[2019-09-16 14:02] Martin-Weiss commented on #481
I thought rsynclog is 514 - but not sure.

Do we want to have a complete list for firewall admins?
In this case also DNS (UDP 53, NTP UDP 123 might be required)?
And HTTP/HTTPS for access to SMT/RMT?

[2019-09-16 16:06] cclhsu commented on #481
For RSyslog Server, port 514 is usually the default listening port.  However, it is configurable by logging rules and listening to multiple ports. RSyslog log agent is configured with targeted logging server FQDN/IP and port and doesn't need to expose any port locally.

[2019-09-16 16:22] m0rbo opened #484 "[doc] 5.1.4 Prometheus"
5.1.4  Prometheus

https://www.suse.com/documentation/suse-caasp-3/singlehtml/book-caasp-admin/book-caasp-admin.html#prometheus

Due to upstream changes in the Prometheus Helm Chart, the current steps to deploy Prometheus no longer work and need a slight update.

I was told "This seems to be due to Update psps to support all pods (#15055) · helm/charts@af1e617"
Related: https://github.com/helm/cha

[2019-09-17 07:34] Martin-Weiss opened #485 "[doc] 3.1.1 Basic SSH Key Configuration"
3.1.1  Basic SSH Key Configuration

https://susedoc.github.io/doc-caasp/master/caasp-deployment/single-html/#ssh.configuration

------

It seems that the ssh-agent process keeps on running even if the ssh session is closed
(create new ssh session and check with "ps aux")

Maybe we should add a note that keeping ssh-agent running is a security risk and before closing the ssh session the ssh-agent n

[2019-09-17 07:56] Martin-Weiss opened #486 "[doc] 3.1.4 Load Balancer"
3.1.4  Load Balancer

https://susedoc.github.io/doc-caasp/master/caasp-deployment/single-html/#_load_balancer

-------------------------
could we get an example added for using haproxy as load balancer, here?
(the free nginx must not be used in production - so we also have to give an example for production..)

[2019-09-17 08:01] Martin-Weiss opened #487 "[doc] 2.1 Hardware"
2.1  Hardware

https://susedoc.github.io/doc-caasp/master/caasp-deployment/single-html/#_hardware

------
disk space requirements need to be enhanced i.e. for /var/lib/containers (sufficient disk space for images, filesystem btrfs or xfs?, second disk for this space?)

[2019-09-17 08:17] Martin-Weiss opened #488 "[doc] 4.2.5 Cluster Bootstrap - adjustment of kubeadm-init.conf?"
4.2.5  Cluster Bootstrap

https://susedoc.github.io/doc-caasp/master/caasp-deployment/single-html/#cluster.bootstrap
------------------------------------

It seems I can not find any details about the required adjustments of kubeadm-init.conf
-> i.e. network settings for pods and services..

Customers have to adjust this:
networking:
  podSubnet: 10.244.0.0/16
  serviceSubnet: 10.96.0.0/12

To ens

[2019-09-17 10:37] Martin-Weiss opened #490 "[doc] 3.1.4.1.1 Configuring the Load Balancer -> dex and gangway via master??"
3.1.4.1.1  Configuring the Load Balancer

https://susedoc.github.io/doc-caasp/master/caasp-deployment/single-html/#_configuring_the_load_balancer

-----------------------------
I would expect PODs that are not running on the masters to be reached via nodeports on the workers.. and I see dex and gangway not starting on the masters ... we might need to change this in the nginx config example!

[2019-09-17 13:00] Klaven commented on #308
I can pick this one up.

[2019-09-17 13:00] pablochacin opened #491 "[doc] 3.3.2.1 SUSE Linux Enterprise Server Installation"
3.3.2.1  SUSE Linux Enterprise Server Installation

https://susedoc.github.io/doc-caasp/master/caasp-deployment/single-html/#_suse_linux_enterprise_server_installation

Instructions suggest using the "minimal" installation, but it doesn't include `sudo` which is needed.

[2019-09-17 13:36] Klaven commented on #320
I will work on this!

[2019-09-17 21:18] innobead commented on #490
NodePort service should be allowed to access from any node in the cluster, the traffic would be routed to the node running the pod.

To configure the rule to access user facing services like dex n gangway will make sense to users without impacting by any workers change.

[2019-09-18 05:40] Martin-Weiss commented on #490
True - but what is the sense of routing the traffic through the masters for PODs running only on the workers?

A worker change (patch / reboot / load) will have impact on PODs running on the workers. And to solve this problem we setup a load balancer "in front" of that and ensure that all PODs have replica >1.

So I still believe it makes sense to change 32000/32001 to point to the workers and not

[2019-09-18 14:27] r0ckarong commented on #305
Got permission from Klaus and Support to rewrite the "target audience" portion to the following:

[code]

[2019-09-18 14:29] nkoranova opened #493 "[doc] 6.1.1 Types of Logs"
6.1.1  Types of Logs

https://documentation.suse.com/suse-caasp/4/single-html/caasp-admin/#_types_of_logs

[2019-09-18 14:29] #493 closed

[2019-09-19 07:06] ajaeger opened #494 "[doc] 4.1.1.1 Generating and Overview of Available Updates"
4.1.1.1  Generating and Overview of Available Updates

https://documentation.suse.com/suse-caasp/4/single-html/caasp-admin/#_generating_and_overview_of_available_updates

The documentation says that "skuba node upgrade plan <node>" is supported but it is not.

skuba cluster status
NAME              OS-IMAGE                              KERNEL-VERSION           KUBELET-VERSION   CONTAINER-RUNTIME

[2019-09-19 07:07] ajaeger commented on #494
I missed the parameter chagne from cluster to node.

Usererror

[2019-09-19 07:07] #494 closed

[2019-09-19 10:49] r0ckarong commented on #403
The saltstack link is a false positive. Works fine for me.
I replaced the entity creating the broken kubernetes docs links with 1.11 and fixed the others manually where needed.

[2019-09-19 10:49] #403 closed

[2019-09-19 13:36] cduch opened #495 "[doc] 6.1.3 Installing Helm and Tiller"
6.1.3  Installing Helm and Tiller

https://documentation.suse.com/suse-caasp/4/single-html/caasp-admin/#helm_tiller_install

The example refers to a helm version variable which does not exists.

[code]

I assume that {helm_tiller_version} is a placeholder for "2.14.2"? That's the current helm client version in SLES 15 SP1.

[2019-09-19 14:15] Martin-Weiss opened #496 "[doc] 3.5 Configuring an External LDAP Server - persistence of data not working"
3.5  Configuring an External LDAP Server

https://susedoc.github.io/doc-caasp/master/caasp-admin/single-html/#_configuring_an_external_ldap_server

------
Either the documentation or the image does not work the way it is documented.
Please see also bug https://bugzilla.suse.com/show_bug.cgi?id=1151343

[2019-09-19 14:43] zoopster commented on #495
There is no need to use --tiller-image. The init *should* pull the latest available.
For RBAC installs we have to use --service-account when installing tiller.

[2019-09-19 15:10] Martin-Weiss opened #497 "[doc] 3.5.3.1.1 Example 1: 389-ds Content LDIF - password management?"
3.5.3.1.1  Example 1: 389-ds Content LDIF

https://susedoc.github.io/doc-caasp/master/caasp-admin/single-html/#_example_1_389_ds_content_ldif

-----
I can not find the information on how to set / reset the password for the users created via ldif. (LDIF files do not have password??)

[2019-09-19 15:38] Martin-Weiss opened #498 "[doc] 3.5.3.1.2 Example 2: Dex LDAP TLS Connector Configuration (<code class="literal">addons/dex/dex.yaml</code>) -> example for root ca data should be added before ldap example"
3.5.3.1.2  Example 2: Dex LDAP TLS Connector Configuration (<code class="literal">addons/dex/dex.yaml</code>)

https://susedoc.github.io/doc-caasp/master/caasp-admin/single-html/#_example_2_dex_ldap_tls_connector_configuration_addonsdexdex_yaml
--------------------------
For AD we have this hint at the end:
base64 encoded PEM file can be generated by running:

cat <root-ca-pem-file> | base64 | awk

[2019-09-19 15:41] Martin-Weiss opened #499 "[doc] 3.5.3 Examples of Usage -> kubectl apply / patch example should be added for dex adjustments"
3.5.3  Examples of Usage

https://susedoc.github.io/doc-caasp/master/caasp-admin/single-html/#_examples_of_usage

-----
when following the docs here - customer modifies the dex.yaml and then reaches pod security without the info how to apply the config change and how to verify if it is working.

Could we get the info added how the change is applied and how customers can verify if the ldap connecti

[2019-09-19 15:44] Martin-Weiss commented on #495
How do we ensure that the SUSE image for tiller is used in case we do not specify --tiller-image?

[2019-09-19 16:35] Martin-Weiss opened #500 "[doc] 3.5.3.1.2 Example 2: Dex LDAP TLS Connector Configuration (<code class="literal">addons/dex/dex.yaml</code>) - example should match to 389-ds ldap server configuration"
3.5.3.1.2  Example 2: Dex LDAP TLS Connector Configuration (<code class="literal">addons/dex/dex.yaml</code>)

https://documentation.suse.com/suse-caasp/4/single-html/caasp-admin/#_example_2_dex_ldap_tls_connector_configuration_addonsdexdex_yaml

-------
In my example I had to use this:

    connectors:
    - type: ldap
      id: weiss-2-389-ds
      name: weiss-2-389-ds
      config:
        host

[2019-09-19 16:57] Martin-Weiss opened #501 "[doc] 3.6.1 Default Policies -> unclear default PSP role"
3.6.1  Default Policies

https://documentation.suse.com/suse-caasp/4/single-html/caasp-admin/#_default_policies

-------
I believe this is not complete or clear enough:
"All authenticated users and service accounts have a RoleBinding to run pods using the privileged policy in the kube-system namespace."

I believe this should read:
"All authenticated system users (group system:authenticated) and s

[2019-09-20 07:19] Martin-Weiss opened #502 "[doc] 4.1.2 Updating Nodes - details about process and load balancer management?"
4.1.2  Updating Nodes

https://documentation.suse.com/suse-caasp/4/single-html/caasp-admin/#_updating_nodes
-----
Here we read this: "During the upgrade to a newer version, the API server will be unavailable so it is recommended to remove the node you are upgrading from the load balancer pool before the upgrade to avoid any connection issues."

--> could we be more clear with this? how do we have

[2019-09-20 07:34] ereslibre commented on #502
There is no need to remove master nodes from the load balancer. If the load balancer performs active health checks and has a pool of active backends, it should remove from the pool and add back just fine.

Since we are enforcing that an upgrade goes from a minor version to the immediate next one (e.g. if you have to upgrade from 1.14 to 1.16, `skuba` will force you to go through 1.15), and taking

[2019-09-20 08:01] Martin-Weiss commented on #502
Ok - thanks - then we should remove that sentence from the documentation about removing masters from the load balancer (Or change the sentence that the upgrade process requires a load balancer with active checks :-))

[2019-09-20 09:04] r0ckarong commented on #485
Added with: https://github.com/SUSE/doc-caasp/commit/e18e4b760fc62a0075fef521fed25b36934e7208

[2019-09-20 09:04] #485 closed

[2019-09-20 09:05] r0ckarong commented on #486
@Martin-Weiss Can you provide such an example?

@ereslibre Who can provide me with an example for haproxy configuration? So far I was told to assume that people understand how to set up "their" load balancer solution.

[2019-09-20 09:10] r0ckarong commented on #487
@ereslibre What is the recommended default filesystem type now? If I remember correctly it was XFS but we needed to stick with Btrfs for VMWare. Is this still true?

@Martin-Weiss Can you give some rough details about a real world example that could be used as a sizing example for what you're talking about? These requirements are clearly stated as "minimum" and thus imply they can and should be ex

[2019-09-20 09:12] r0ckarong commented on #488
@kkaempf @ereslibre Who can help me with this?

[2019-09-20 09:16] Martin-Weiss commented on #486
Here is what I have so far - secondary IP added on caasp4-01, 02..04 masters, 05..08 workers.
-> but this is just a simple example as a first start and I am not sure if this is correct what I did:

/etc/haproxy/haproxy.cfg

global
  log /dev/log daemon
  maxconn 32768
  chroot /var/lib/haproxy
  user haproxy
  group haproxy
  daemon
  stats socket /var/lib/haproxy/stats user haproxy group haproxy

[2019-09-20 09:23] Martin-Weiss commented on #487
It really depends on the images and image update process that is used. I have seen scenarios where the image used for a container was >6G in size (flat and not layered) and where ever line of code change through CI/CD caused re-distribution of an updated image to all container hosts (workers). This can cause lots of space needed for /var/lib/containers or /var/lib/docker.

Just my one /var/lib/doc

[2019-09-20 09:25] Martin-Weiss commented on #487
In the docker world we have been using and recommending BTRFS especially for /var/lib/docker - but now with CRI-O this might change to XFS and overlay2 driver instead of BTRFS? But with the default setup we do BTRFS for /var/lib/containers ... so do we stay with BTRFS or switch to XFS and if yes or no - why?

[2019-09-20 09:28] r0ckarong commented on #495
Somehow the entity specifying the version got skipped during a merge. I've re-added this.

With regards to Martins' question @flavio @hwoarang any ideas?

[2019-09-20 09:32] r0ckarong commented on #495
Main issue resolved with: https://github.com/SUSE/doc-caasp/commit/e9c64c1ceff73ee59ba9ae5ff166668333e8c87b

[2019-09-20 09:32] #495 closed

[2019-09-20 09:43] Martin-Weiss opened #503 "[doc] 6.1.3 Installing Helm and Tiller - section should be moved to a place before helm is used the first time"
6.1.3  Installing Helm and Tiller

https://documentation.suse.com/suse-caasp/4/single-html/caasp-admin/#helm_tiller_install

--------
in 6.1.3 we learn how to deploy helm and tiller - but it gets used in the monitoring section already - so could we move the helm and tiller "before this"?
Maybe it should be at a place where also kubectl installation on a client is mentioned?
Maybe a chapter on "how

[2019-09-20 09:46] Martin-Weiss opened #504 "[doc] 6.1.3 Installing Helm and Tiller - one tiller per cluster and / or per namespace?"
6.1.3  Installing Helm and Tiller

https://documentation.suse.com/suse-caasp/4/single-html/caasp-admin/#helm_tiller_install
-----------------
Should we also document how a customer can use multiple tiller installations in a cluster i.e. one per namespace?
(required for shared clusters or clusters with staging areas)

[2019-09-20 10:04] Martin-Weiss opened #505 "[doc] 6.1.3 Installing Helm and Tiller - deployment insecure??"
6.1.3  Installing Helm and Tiller

https://documentation.suse.com/suse-caasp/4/single-html/caasp-admin/#helm_tiller_install
-----
when I follow the docs and deploy tiller with the command specified I get this output:

------
Please note: by default, Tiller is deployed with an insecure 'allow unauthenticated users' policy.
To prevent this, run `helm init` with the --tiller-tls-verify flag.
For more

[2019-09-20 10:04] ereslibre commented on #488
I can help with this.

[2019-09-20 10:07] r0ckarong commented on #496
@innobead Are you guys familiar with this and can have a look?

[2019-09-20 10:08] ereslibre commented on #487
I think BTRFS or XFS will work just fine. Our current layout is:

* ISO ([autoyast](https://github.com/SUSE/skuba/blob/71aa30f4ca2fbe62da0135280e79e0aa7cc732c2/ci/infra/bare-metal/autoyast.xml#L47-L69))
  * `/` is `btrfs`
  * `/var/lib` is `xfs`

* JeOS image (openstack)
  * `/` is `xfs`

We have support for both, as for what is the recommended one depending on the driver, @saschagrunert or @cypha

[2019-09-20 10:10] ereslibre commented on #486
I think we have been avoiding to document an explicit haproxy configuration, since this is another SUSE product and companies should have already knowledge on how to configure their load balancers.

cc/ @flavio @kkaempf

[2019-09-20 10:12] r0ckarong commented on #497
@innobead

[2019-09-20 10:13] ereslibre commented on #475
`skuba` will automatically fail if it's too old to handle an existing cluster. We would have to audit all actions (e.g. like node removal), but in the general case, joining new nodes, or upgrading a cluster, if `skuba` is too old to handle this it will fail or report that there are no upgrades based on its current version.

As for `skuba` running from a SLE15 SP1 this is exactly the case, it's pub

[2019-09-20 10:14] r0ckarong commented on #497
If I understand it correctly you just "overwrite" the user with the same LDIF but with a new password.
Like descibed here in the general LDAP stuff:

https://susedoc.github.io/doc-caasp/master/caasp-admin/single-html/#_adding_a_new_user

@innobead Please confirm this is the correct procedure.

[2019-09-20 10:20] r0ckarong commented on #498
Moved as a TIP to the beginning of the examples.

https://github.com/SUSE/doc-caasp/commit/4ebdfd293104c6e28beebbe3e1f86cdd9846da34

[2019-09-20 10:20] #498 closed

[2019-09-20 10:22] Martin-Weiss commented on #487
Why did you split of /var/lib instead of /var/lib/containers?
In AutoYaST it seems that all is going to the same disk and the root FS is smaller than what we recommend for SLES (AFAIK we recommend 50G).. - not sure if I would recommend this AutoYaST setup in production or for physical deployments.

[2019-09-20 10:26] r0ckarong commented on #499
@drpaneas Can you give me some info how to do this or whom I can ask?

[2019-09-20 10:27] Martin-Weiss commented on #486
For pysical load balancers I agree that we do not have to give examples - and in case the SLE-HA product has a good example that matches to what we need for CaaSP v4 we can also link that - but IMO we have to give customers a good and complete start that can be used in production also in case they do not have physical load balancers...

[2019-09-20 10:30] Martin-Weiss commented on #497
No - this is not the same with 389-ds. There you have to have the password in clear text in the ldif and then overwrite or hash the password with an other tool (pwdhash).

I am also not sure what the process is for a user to change his own password, now - but we really need that for security reasons.

[2019-09-20 10:43] r0ckarong commented on #497
@innobead So given this above comment would you please provide

a) Procedure to set/change password for 389-ds user
b) Procedure for user to self-change password

[2019-09-20 10:53] pablochacin commented on #491
Quick fix: add the following actions to section [3.3.2.2 Preparation of the VM as a Template](https://susedoc.github.io/doc-caasp/master/caasp-deployment/single-html/#_preparation_of_the_vm_as_a_template)

* change to root user: `su`
* install sudo:  `zypper install sudo`
* add `sles` user to sudoers: `echo "sles ALL=(ALL) NOPASSWD: ALL" >> /etc/sudoers`
*  return to `sles` user: `exit`

[2019-09-20 11:09] r0ckarong commented on #500
@innobead Could you please provide an updated example. Thanks.

[2019-09-20 11:12] r0ckarong commented on #501
Added with: https://github.com/SUSE/doc-caasp/commit/0200a374e681dbf20dc64748f059337d645ae777

[2019-09-20 11:12] #501 closed

[2019-09-20 11:23] ereslibre commented on #486
The problem that I see with this approach is that we are giving a wrong advice. Setting up one load balancer is only part of the HA story. If we say how to configure one load balancer and the customer goes this way just copying & pasting our configuration they still have a single point of failure (the LB). As said, we SUSE provides an HA product and I'm reluctant to provide this much detail here,

[2019-09-20 11:31] Martin-Weiss commented on #486
In most environments we deploy on VMware where VMware does the "physical" fault tolerance. And here a single VM with haproxy would still be better than no load balancer at all.
At the moment we give an nginx example which  has the same problem but is not even giving prechecks.. so adding a second example would still help.. (even through the customer needs SLE-HA subscription for that)

[2019-09-20 11:33] ereslibre commented on #486
I'd prefer @flavio, @kkaempf or @qnetter to provide feedback regarding this before we go ahead and document how to configure a single LB.

[2019-09-20 12:19] Martin-Weiss opened #506 "[doc] 5.1.3.3 Prometheus - need storage before deploying Prometheus"
5.1.3.3  Prometheus

https://documentation.suse.com/suse-caasp/4/single-html/caasp-admin/#_prometheus

-----
we describe that we should use an existing storage class for prometheus deployment but we do not explain how to configure storage before..
-> could we get the storage provisioning added, first?

Here is what I have done:
helm fetch stable/nfs-client-provisioner
helm inspect values nfs-clien

[2019-09-20 12:23] Martin-Weiss opened #507 "[doc] 5.1.3.1 NGINX Ingress Controller - need to switch to SUSE helm chart and need to do this outside of Monitoring"
5.1.3.1  NGINX Ingress Controller

https://documentation.suse.com/suse-caasp/4/single-html/caasp-admin/#_nginx_ingress_controller
-----
similar to storage - this is a pre-requisite for many applications we deploy to k8s.
Due to that the nginx-ingress controller chapter should be outside and before monitoring.
In addition to that we have a "suse/nginx-ingress                      0.28.4" on https:/

[2019-09-20 12:35] Martin-Weiss opened #508 "[doc] 5.1.3.1 NGINX Ingress Controller - node port and load balancer instead of external IP"
5.1.3.1  NGINX Ingress Controller

https://documentation.suse.com/suse-caasp/4/single-html/caasp-admin/#_nginx_ingress_controller
----------------------
I believe we should change this:
    externalIPs:
      - 10.86.4.158

--> instead of using external IPs we have to use nodeport and export 30080/30443 and then put a load balancer in front of it (similar to kube-api).

[2019-09-20 12:43] r0ckarong commented on #491
Installation of sudo is already part of the instructions though:

https://susedoc.github.io/doc-caasp/master/caasp-deployment/single-html/#_preparation_of_the_vm_as_a_template

Step 5:

[code]

[2019-09-20 12:43] #491 closed

[2019-09-20 12:46] kkaempf commented on #486
It's hard to give clear advise here at this point. I'd rather wait for actual SE/consultant feedback and a concrete use case.

Would SLE-HA be a concrete use case, @Martin-Weiss ?
Which other LB solutions are in use at customers ? Which is the most used one ?

[2019-09-20 12:51] r0ckarong commented on #504
@ereslibre Is using multiple tiller installations recommended or desireable?

[2019-09-20 12:52] r0ckarong commented on #503
I had the same idea when working on this earlier. We currently don't have a "software management" chapter like we did with v3 so I'm still working out what the best place to move this to is. But I agree this should be moved out of the logging section.

[2019-09-20 12:56] r0ckarong commented on #502
Added with: https://github.com/SUSE/doc-caasp/commit/eb8fb83a91f74e183234adcbbad67a8d26210fd9

[2019-09-20 12:56] #502 closed

[2019-09-20 13:01] Martin-Weiss commented on #486
K8S requires a load balancer - without it does not make much sense.

Many customers have physical load balancer i.e. F5 (the most common one).
But - there are customers that do not / not yet have a Load Balancer and then the best offer we can make is to use SLE-HA with HAPROXY as we can fully support that. AFAIK we do not have any other "production ready load balancer in the SUSE eco system".

[2019-09-20 13:03] r0ckarong commented on #505
@ereslibre Is there a reason we deploy in this unsecure mode by default or did we just never bother to follow those best practices?

[2019-09-20 13:05] r0ckarong commented on #506
@lcavajani Can you verify this example and confirm that this is what I can add to make it work please?

[2019-09-20 13:05] ereslibre commented on #486
Not claiming otherwise. What I am claiming is whether we should include an explicit configuration for the LB on the documentation.

I'd propose for the time being to just document that they have to provide a set of load balancers properly configured (with active health checks) in order for their setup to be really HA (of course, at least 3 master nodes).

[2019-09-20 13:08] r0ckarong commented on #507
@lcavajani Any reason we are using upstream nginx-ingress instead of the one on the suse repo? Support question maybe? I vaguely recall hearing something about nginx-ingress and a package support problem at the time but I don't know the details anymore.

Also we so far only describe nginx-ingress as part of the monitoring. I am not aware of any other of the "many applications we deploy" to use thi

[2019-09-20 13:09] r0ckarong commented on #508
@lcavajani Can you please provide the info on how to do this.

[2019-09-20 13:11] ereslibre commented on #504
I think this is part of the regular operation of the cluster, we could mention it, but it's really Kubernetes user knowledge; they can deploy whatever they want, including different tiller servers on different namespaces with different permissions.

[2019-09-20 13:12] ereslibre commented on #505
I'd say the latter. We have to follow up on this.

[2019-09-20 13:15] r0ckarong commented on #505
I've assigned you the issue. Anything else I need to do? Duplicate this to avant-garde or are you taking care of that?

[2019-09-20 13:32] Martin-Weiss commented on #486
The problem her is "properly configured (with active health checks)" -> what is this and how can we give the right advice on this? How can someone get a supported SUSE solution?

As said - either remove the nginx example, too or add the haproxy example (or point to the sle-ha documentation with giving the right advice for  "properly configured (with active health checks)".

-> Did I configure hapr

[2019-09-20 13:33] Martin-Weiss commented on #507
Just created https://bugzilla.suse.com/show_bug.cgi?id=1151493 - seems we have to use upstream because the SUSE provided version does not work on v4 / with PSPs (or I am doing something wrong..)

[2019-09-20 14:10] Martin-Weiss commented on #508
Here is what I have done:

haproxy.conf:
Adjust
[code]

and add the following in /etc/haproxy/haproxy.cfg:

[code]

And this in values.yaml:

[code]

Now I need to point my DNS entries to 10.1.1.150 (haproxy load balancer IP) and configure the ingress to forward <DNS>/<URL> to the right service/pod.

[2019-09-20 18:36] rkoktan opened #509 "Sudo issue during "minimal" installation"
The docs suggest in section 3.3.2.1, step 6, to use the "minimal" System Role for master and worker node installations, however, if one does so, "sudo" does not get installed, and thus subsequent steps fail as a result, for example, section 4.2 "echo "USERNAME ALL=(ALL) NOPASSWD: ALL" >> /etc/sudoers" fails on account that the sudoers file does not exist without sudo installed.  Farther along, dur

[2019-09-20 18:45] rkoktan opened #510 "ssh key procedure clarification"
Section 3.1.1 is not clear, especially for CaaSP beginners like me... it should note that the steps therein only need to be undertaken on the management node, not the master and worker nodes, and ought to be as follows...

Generate SSL keys on the management node as user "sles"...
# ssh-keygen -t rsa -b 4096
# eval "$(ssh-agent)"
# ssh-add

Omitted is the requirement for the key to be placed on al

[2019-09-20 23:00] dannysauer commented on #510
Thanks for noting this.  I've got a task I'm working on to develop some training material on this specific part of the process. That will be ready next week after I get it edited to be more presentable, and I'm planning to submit a PR to get the documentation made more explicit to match. :)

Among other things, we should be encouraging the use of more efficient, (arguably) more secure elliptic cur

[2019-09-21 07:19] lcavajani commented on #507
@r0ckarong when I first created this for v3, the SUSE nginx ingress controller was not ready/working yet. Now that we have a SUSE working version, I think this should be in it's own chapter now.

Need to check @Martin-Weiss bsc now ;)

[2019-09-22 20:08] innobead commented on #500
@cclhsu please help on this. Thanks.

[2019-09-22 22:33] lnyiri63 opened #511 "[doc] 3.3 Installation Tools"
3.3  Installation Tools

https://documentation.suse.com/suse-caasp/4/single-html/caasp-quickstart/#_installation_tools

![image](https://user-images.githubusercontent.com/52237953/65394931-df6e7580-dd93-11e9-804a-53f32d69696a.png)
As anyone can see, there is no "Product".

[2019-09-22 22:59] lnyiri63 opened #512 "[doc] 3.3.3.1 Terraform"
3.3.3.1  Terraform

https://documentation.suse.com/suse-caasp/4/single-html/caasp-deployment/#_terraform

How is setup procedure communicating with SuSE OpenStack Cloud - isolated, firewalled environment, installed from RMT server (RMT server is communicating with internet by proxy, no other server is allowed to communicate with internet)? What data are transfered to SuSE OpenStack Cloud? What is

[2019-09-23 02:56] cclhsu commented on #500
change have made in fork branch [389ds](https://github.com/cclhsu/doc-caasp/tree/Remove_INSTANCE_NAME).  Will check in once reviewed.

[2019-09-23 06:43] lcavajani commented on #508
Both can be done, either use `NodePort` which will expose the port on ALL the nodes including the masters which is something I always prefer to avoid.

Using `NodePort` is like doing this on port `80` and `443` (it is still possible to change the ports)

Considering:

* caasp4-05.suse = 10.0.0.5
* caasp4-06.suse = 10.0.0.6
* caasp4-07.suse = 10.0.0.7
* caasp4-08.suse = 10.0.0.8

We can use:

[code

[2019-09-23 07:04] lcavajani commented on #506
I don't think defining a storage belongs to the Prometheus section. However we should have a chapter for this and point to it when we document how to deploy something required persistent storage.

@r0ckarong @Martin-Weiss I have no opinion with the `nfs-client-provisioner` but can we add this to the doc ?

[2019-09-23 07:30] Martin-Weiss commented on #508
Yes - sure - both will work but I would recommend using nodePort with high ports (pre-defined nodePort range) as using the host network might also cause conflicts one day.

[2019-09-23 08:35] savasirez opened #514 "[doc] 3 Deployment Instructions"
3  Deployment Instructions

https://documentation.suse.com/suse-caasp/4/single-html/caasp-deployment/#_deployment_instructions

There needs to be a space between "couldrender" like below:
If you do not remove the repository before installation, there might be conflicts with the package dependencies that **could render** your installation nonfunctional.

[2019-09-23 08:41] cclhsu commented on #496
for bsc#1151340, bsc#1151343, bsc#1151414, create PR's in both [caasp-container-images](https://github.com/SUSE/caasp-container-images/pull/29) and [doc-caasp](https://github.com/SUSE/doc-caasp/pull/513).  Solution under reviews.

[2019-09-23 08:46] cclhsu commented on #497
We have a section in "https://susedoc.github.io/doc-caasp/master/caasp-admin/single-html/#_modifying_a_user" to instruct user to change password or attribute.

[2019-09-23 08:55] Martin-Weiss commented on #497
But this requires the "Bind DN and Bind password" of the LDAP admin user - so the user (not the admin) can not change the password himself with this procedure.

Also the hashing for the password to ensure it is not in clear text in the LDIF file is missing.

[2019-09-23 09:57] r0ckarong commented on #506
@kkaempf @qnetter  Is `nfs-client-provisioner` officially supported and should we describe it in the docs?

[2019-09-23 10:05] r0ckarong commented on #507
@lcavajani What is the correct command in helm to install the latest version of the chart? Or are we limited to installing this specific 0.28.4?

What I currently have is
[code]

[2019-09-23 10:09] r0ckarong commented on #486
@Martin-Weiss @kkaempf So this is "blocked" for me now. Who can provide the things Martin is asking for? What is a "supported SUSE" load balancer solution and who can describe it in detail for documentation?

Can I simply add the haproxy example (also relates to #508) and where can I find this "right advice" about configuration?

[2019-09-23 10:10] r0ckarong commented on #508
Can't move forward with this until I get some more info on #486 and which load balancers we are actually supposed to describe.

[2019-09-23 10:13] r0ckarong commented on #509
This is a duplicate of #491

3.3.2.2 describes how additional packages (including sudo) must be installed.

[2019-09-23 10:13] #509 closed

[2019-09-23 10:22] lcavajani commented on #486
@kkaempf @Martin-Weiss @r0ckarong   I've recently deployed SUSE HA for this purpose:
* 2 nodes with one VIP + HAproxy

I could write the procedure for the documentation.

[2019-09-23 10:28] r0ckarong commented on #511
https://github.com/SUSE/doc-caasp/commit/e67d6eac2b1d665845968288c7d212b1577e254c

[2019-09-23 10:28] #511 closed

[2019-09-23 10:34] kkaempf commented on #506
I would vote against it, since NFS is not a recommended storage option for CaaSP.

@Martin-Weiss usually has an opinion on topics like these :wink:

[2019-09-23 10:34] r0ckarong commented on #512
This deployment has nothing to do with SOC. The deployment instructions for SOC and VMWare were originally created from the same template and we didn't replace one of the product entities that fills in product names. I've corrected the file.

https://github.com/SUSE/doc-caasp/commit/369308d96ad54f73fed343adb14a27296374adee

[2019-09-23 10:34] #512 closed

[2019-09-23 10:40] #514 closed

[2019-09-23 11:29] Martin-Weiss commented on #506
At the moment we deliver upstream prometheus, grafana and nginx-ingress with our deployment/admin guides. So where exactly is the difference to the nfs-client-provisioner regarding the support questions?

Regarding the nfs-client-provisioner - this is what "everyone" is using per default already. (even internally - see caasp mailing list). And as long as we have no other storage solution we can us

[2019-09-23 11:33] savasirez opened #515 "[doc] 3.4.3 Provisioning the Cluster Nodes"
3.4.3  Provisioning the Cluster Nodes

https://documentation.suse.com/suse-caasp/4/single-html/caasp-deployment/#_provisioning_the_cluster_nodes

Below Link to autoyast configuration is incorrect:

Install SUSE Linux Enterprise 15 SP1 from your preferred medium and follow the steps for [Invoking the Auto-Installation Process](https://www.suse.com/documentation/sles-15/singlehtml/book_autoyast/book

[2019-09-23 11:35] savasirez commented on #515
I think correct link should be [this](https://documentation.suse.com/sles/15-SP1/single-html/SLES-autoyast/#invoking-autoinst)

[2019-09-23 11:38] Martin-Weiss commented on #486
It would be great if we could have this!

I believe in the CaaSP documentation we just need the specifics required for the haproxy.conf for CaaSP (API, DEX, Gateway, Nginx-Ingress, ssl?, active checks?).

I believe the VIP and SLE-HA setup should be linked to the SLE-HA documentation for setting this up (in case it can be found there already) as long as this does not have CaaSP specific requiremen

[2019-09-23 11:47] #515 closed

[2019-09-23 12:00] Martin-Weiss opened #516 "[doc] 2.2.1 Ports - which ports are required between admin / management host and the rest of the cluster?"
2.2.1  Ports

https://susedoc.github.io/doc-caasp/master/caasp-deployment/single-html/#_ports

-------------------------
In scenarios where one admin/management node is used to manage multiple clusters it is pretty likely that this admin/management host is in a different network and can only reach the cluster (master, api, dex.....) via router and firewall.

Could we also add the information to th

[2019-09-23 12:38] r0ckarong commented on #516
@ereslibre Can you provide this information?

[2019-09-23 12:43] #295 closed

[2019-09-23 12:43] #296 closed

[2019-09-23 13:06] savasirez opened #517 "[doc] 3.5 Deployment on Existing SLES Installation"
3.5  Deployment on Existing SLES Installation

https://documentation.suse.com/suse-caasp/4/single-html/caasp-deployment/#_deployment_on_existing_sles_installation

There is no indication of "removal of swap" before bootstrapping the cluster with skuba.
So it should be written here to disable and remove swap before going forward.

[2019-09-23 13:34] savasirez opened #518 "[doc] 4.3 Using kubectl"
4.3  Using kubectl

https://documentation.suse.com/suse-caasp/4/single-html/caasp-deployment/#_using_kubectl

The bold line below is incorrect:
Then you can perform all cluster operations as usual. For example, checking cluster status with either:
**skuba cluster status**
or
kubectl get nodes -o wide
or

Below command fails after linking admin.conf to kubeconfig, I believe it should be removed fro

[2019-09-23 15:35] drpaneas commented on #499
Ask Martin or Tomas from QA. I think they have a test case for Dex which we can use in the docs as an example of usage. If not, ping Nuno to create a card for it asap.

PS: I will come back at the office on Wednesday.

[2019-09-23 17:08] innobead commented on #499
@jenting @cclhsu please also take a look. Thanks.

[2019-09-23 18:41] rkoktan commented on #509
I see that now that you've pointed it out, however, based on the section title, "Preparation of the VM as a Template", I skipped this section as I was installing on KVM VMs, not VMware templates, so perhaps this info could be re-iterated in the Bare Metal section?

[2019-09-23 21:57] cseader opened #519 "[doc] 3.4.1 Environment Description"
3.4.1  Environment Description

https://documentation.suse.com/suse-caasp/4/html/caasp-deployment/_deployment_instructions.html#_environment_description_2

It would seem the quickstart has information on the load balancer setup. Can we have a pointer to that documentation or include it here.

[2019-09-23 22:31] cseader opened #520 "[doc] 3.4.1 Environment Description"
3.4.1  Environment Description

https://documentation.suse.com/suse-caasp/4/html/caasp-deployment/_deployment_instructions.html#_environment_description_2

The Autoyast preparation needs to be more obvious in the steps in order to deploy with a local RMT server. If you don't have this information in the docs then someone reading this for the first time is taken on a goose chase to find the right i

[2019-09-24 03:31] jenting commented on #508
`NodePort` is a best practice in production due to node might auto-scaling and with load-balancer in front of it, growing/shrinking nodes can provide service to outside.
`externalIPs` is good for node auto-scaling not supported or enabled.

I preferred to keep both but recommended the user to use `NodePort`.

[2019-09-24 04:22] jenting commented on #507
The reason why we did not use suse/nginx-ingress is that we do not have grafana helm chart in https://kubernetes-charts.suse.com. So, we wanna make the monitoring document used helm charts all aligned.

Also, I tested `suse/nginx-ingress:0.28.4` have an issue on PSP, we need to change the example `nginx-ingress-config-values.yaml`.

And yes, we could move the NGINX ingress controller part to new c

[2019-09-24 04:29] cclhsu commented on #499
The document already have "https://susedoc.github.io/doc-caasp/master/caasp-admin/single-html/#_update_the_authentication_connector" and "https://susedoc.github.io/doc-caasp/master/caasp-admin/single-html/#_user_access" for apply and access through web/cli  Will just added a reference to the sections.

[2019-09-24 04:45] jenting commented on #490
What's the scenario dex and gangway need to deploy with replica > 1?

[2019-09-24 06:05] MaximilianMeister commented on #505
Default helm 2 is known to be insecure. We can use https://github.com/helm/helm/blob/master/docs/securing_installation.md#best-practices-for-securing-helm-and-tiller as a general guideline

[2019-09-24 06:46] lcavajani commented on #508
I'm not pleading in favor of `externalIPs` but the same thing can be achieved in the situation you describe, there is just one more step and it's a matter of adding the new node IP in the service definition.

But in general if I was going to production I would not use `NodePort`.

[2019-09-24 07:03] Martin-Weiss commented on #519
Strange - I would have expected that the quickstart is just a reduced part of the deployment and architecture guide.. I would not have expected to find information in the quickstart that are not in the deployment guide..

[2019-09-24 07:04] Martin-Weiss commented on #520
Maybe we can even add a recommendation / hint to checkout our Consulting Installation Framework at https://github.com/Martin-Weiss/cif ;-?

[2019-09-24 07:07] jenting commented on #507
@r0ckarong There is an [issue](https://bugzilla.suse.com/show_bug.cgi?id=1151493) with `suse/nginx-ingress:0.28.4` and I saw you changed the doc already. Recommends to reverts it until we found the solution for this.

[2019-09-24 07:07] Martin-Weiss commented on #507
IMO Ingress is not a "monitoring" component anyway - this is like storage a component that is required globally and should be outside...

In case we use "upstream" - we might have to lock down on the helm chart versions and image versions that should be used with CaaSP v4 as it might happen that there are newer versions "upstream" that will not work with CaaSP v4 anymore..

[2019-09-24 07:12] Martin-Weiss commented on #490
Fault tolerance. No service in a cluster should be provided by a single pod instance only. In case there is a failure on the host hosting this pod it takes a "long" time until the pod is restarted on a second node - this can be several minutes and this failure scenario can be avoided by running every POD with replica >1 and running them on different workers per default.

(in CaaSP v3 we also ran d

[2019-09-24 07:28] Martin-Weiss opened #521 "[doc] 5.1.3.3 Prometheus - persistent storage - NFS needs to be v4"
5.1.3.3  Prometheus

https://documentation.suse.com/suse-caasp/4/single-html/caasp-admin/#_prometheus

----------------
Just had to learn that the NFS server backing the persistent storage behind prometheus and grafana must be providing NFSv4 - otherwise the database locks created are not possible.

So could we add the information "NFSv4 required on the NFS server providing the export" to the sect

[2019-09-24 07:33] Martin-Weiss commented on #508
I am not sure if I understand the background of this message. Could you explain why?

[2019-09-24 07:38] jenting commented on #490
A [bug](https://bugzilla.suse.com/show_bug.cgi?id=1143232) already filed, thanks for reporting this.

[2019-09-24 08:22] r0ckarong commented on #517
@ereslibre Must swap be disabled on existing SLE systems? From my understanding this installation method would be run in parallel to the existing stuff on those SLE systems that might use swap.

[2019-09-24 08:25] savasirez commented on #517
It must be disabled, because:
1. It fails during skuba init
2. If you just disable and initialize the cluster, cluster fails to start the next time you reboot (swap is re-mounted during boot) with the following error:
2019-09-24T09:37:22.850213+03:00 caas4master kubelet[2586]: F0924 09:37:22.850089    2586 server.go:273] failed to run Kubelet: Running with swap on is not supported, please disable

[2019-09-24 08:34] savasirez commented on #518
I think it should be a documentation issue, because below item, mentions about removing swap partition from the nodes during SLES installation:
https://documentation.suse.com/suse-caasp/4/single-html/caasp-deployment/#_deployment_on_vmware
3.3.2.1
"Remove the swap partition."

[2019-09-24 08:34] ereslibre commented on #517
Yes, @savasirez is correct, swap must be disabled on the target nodes that will join (or initialize) the cluster. The machine where `skuba` was called from is not relevant, unless it will form part of the cluster as well.

[2019-09-24 08:35] r0ckarong commented on #519
There is a prerequisites section that applies to all deployment types. This contains the load balancer instructions (3.1.4 Load Balancer). I assume you jumped straight to "bare metal" and

https://documentation.suse.com/suse-caasp/4/html/caasp-deployment/_deployment_instructions.html#_load_balancer

The bare metal instructions were missing the box telling you to complete the preparations. I've add

[2019-09-24 08:37] #519 closed

[2019-09-24 08:45] r0ckarong commented on #518
Just to verify, you are running "skuba cluster status" as root?

[2019-09-24 08:47] savasirez commented on #518
Yes, I also installed as root.

[2019-09-24 08:48] r0ckarong commented on #518
Filed a bugzilla for this: https://bugzilla.suse.com/show_bug.cgi?id=1151797

[2019-09-24 09:00] r0ckarong commented on #507
So revert this to upstream again?

[2019-09-24 09:01] r0ckarong commented on #507
@Martin-Weiss @lcavajani So which namespace should nginx-ingress be installed to if it's not `monitoring` any more?

[2019-09-24 09:08] ereslibre commented on #516
They need, at least:

* SSH access to all machines in the cluster
* Access to the apiserver (the load balancer will expose it), that will in turn talk to any master in the cluster
* Access to Dex in the nodeport (32000) using the load balancer when the OIDC token has expired, in order to renew it using the refresh token

[2019-09-24 09:10] jenting commented on #507
Yes, until the issue got fixed.

[2019-09-24 09:13] r0ckarong commented on #507
https://github.com/SUSE/doc-caasp/commit/bbb749a39b7a22f4e603607c5531693bb6f87dc8

[2019-09-24 09:19] #520 closed

[2019-09-24 09:21] r0ckarong commented on #521
Waiting for a definitive answer that we are actually going to officially describe `nfs-client-provisioner`.

[2019-09-24 10:38] r0ckarong commented on #509
@rkoktan So you installed KVM on baremetal without AutoYaST? Or does AY select the minimal sles image?

[2019-09-24 10:41] savasirez commented on #518
Yes, thats why below line should be removed from there, because it may be understood that, after the link, it will work in any way...

------------
To talk to your cluster, simply symlink the generated configuration file to ~/.kube/config.
ln -s ~/clusters/my-cluster/admin.conf ~/.kube/config
Then you can perform all cluster operations as usual. For example, checking cluster status with either:
**