[2020-04-24 15:21] Martin-Weiss commented on #775
The real problem I see is i.e. in case a system runs the oldest Prometheus or nginx-ingress etc. for k8s 1.15 we released but we do not support this on the latest k8s version i.e. 1.17 anymore. So a customer and support really needs an overview "what do I have i.e. via helm list" and has to compare this with what we support "release notes / helm charts vs images".

[2020-04-27 06:12] cclhsu commented on #772
[fix issue for aws iam profile [bsc#1169506] (1517) #1058](https://github.com/SUSE/skuba/pull/1058) shoudl fixes this issue.

[2020-04-27 08:36] r0ckarong commented on #772
Does this need any additional docs updates?

[2020-04-27 08:40] r0ckarong commented on #775
cc/ @kkaempf

[2020-04-27 08:54] kkaempf commented on #775
This is more than just documentation and needs QA and probably other squads involved. To be discussed in next grooming.

[2020-04-27 09:00] cclhsu commented on #772
@r0ckarong No document update required, we only need to update terraform file to properly create iam and instance profile.

[2020-04-27 09:26] r0ckarong commented on #772
@jordimassaguerpla We should add this to the known issues until it's merged.

[2020-04-27 10:26] #776 closed

[2020-04-27 10:30] jordimassaguerpla commented on #772
@r0ckarong Does it need to have some content or just the bug mentioned?

[2020-04-27 10:39] r0ckarong commented on #772
@jordimassaguerpla To do it right we would have to explain the entire workaround with doing the steps terraform is missing by hand but I'm not sure if you can salvage an already failed deployment that way.
If we just mention the issue then AWS is basically non functional until we ship the patch.

Not sure what to do with the right amount of effort.

@kkaempf What do you think?

[2020-04-27 11:15] kkaempf commented on #772
That's one of the problems with "tech previews". :-/

Well, if it's really _non functional_, that's embarrassing :facepalm:

Workaround for now:
- document it in the release notes
- make a fixed package available _internally_ (+ announce it on caasp-internal)
- wait for bug reports

Not perfect, but (imho) a minimal effort approach.

[2020-04-27 13:36] zoopster commented on #772
If you simply document the workaround (setup the instance profile prior) then the fix to the tf files can come later and it's functional until then.

[2020-04-27 13:44] r0ckarong opened #778 "[WIP] Update Cilium documentation for 1.6 update"
We are finally nearing shipping a new Cilium. This needs an overhaul of various aspects of the networking related docs.

Existing issues and PRs are:

https://github.com/SUSE/doc-caasp/pull/587
https://github.com/SUSE/doc-caasp/issues/628

Criteria:

- [x] Update deployment-cilium.adoc with instructions on how to deploy on fresh cluster
- [x] Update admin-updates.adoc with instructions how to depl

[2020-04-27 13:53] r0ckarong commented on #772
@cclhsu Could you provide the steps required to set up the IAM profile to work around this? I think linking to this specification (https://github.com/kubernetes/cloud-provider-aws#readme) and some steps on how to achieve this on AWS would suffice?

[2020-04-27 14:16] r0ckarong commented on #778
@mdarnell-suse Which other criteria would you see for the docs of this?

@mrostecki @mmnelemane

[2020-04-27 14:26] #763 closed

[2020-04-27 16:21] soumynathan commented on #778
ok I can pick up Update architecture-description.adoc with cilium details

[2020-04-27 16:22] mrostecki commented on #778
I'm picking admin-upgrade and admin-security.

[2020-04-28 01:22] zoopster commented on #772
Through the aws console...it's just a matter of creating a role with the documented policy (in iam_policies.tf) and the instance profile will be created automatically with the same name of the role. That role/instance profile name needs to be added to the terraform.tfvars (where  the commented caasp-k8s-master-vm-profile is noted). If you need specific docs...happy to create them...

[2020-04-28 03:43] mmnelemane commented on #778
I can help with updating the release notes

[2020-04-28 05:59] soumynathan commented on #778
Added this PR with the details.
https://github.com/SUSE/doc-caasp/pull/781

[2020-04-29 09:50] #553 closed

[2020-04-30 09:12] #772 closed

[2020-04-30 11:06] tgeek77 opened #788 "[doc] 9.2.2.2 The backup location on S3-compatible storage providers."
9.2.2.2  The backup location on S3-compatible storage providers.

https://documentation.suse.com/suse-caasp/4.1/single-html/caasp-admin/#_the_backup_location_on_s3_compatible_storage_providers_2

Correct helm command:

[code]
The line: --set configuration.backupStorageLocation.bucket=<BUCKET_NAME> was included per an email from JenTing Hsiao in the caasp-internal mailing list on 30.4.20. Without t

[2020-04-30 11:41] tgeek77 opened #789 "[doc] 9.1.1.2.2.2 Minio"
9.1.1.2.2.2  Minio

https://documentation.suse.com/suse-caasp/4.1/single-html/caasp-admin/#_minio

You must also define a region name or else velero can't connect to minio
export MINIO_REGION_NAME=<region_name>

[2020-05-04 02:44] cclhsu commented on #771
[Add documents for creation of AWS role instance policy and profile (Closes #772) #782](https://github.com/SUSE/doc-caasp/pull/782) has addressed this issue and merged.

[2020-05-04 09:02] #771 closed

[2020-05-04 09:14] r0ckarong commented on #789
@innobead Could you give me the correct example how to do this and verify please? Thanks

[2020-05-04 09:14] r0ckarong commented on #788
@innobead

[2020-05-04 13:24] innobead commented on #789
@jenting please help with this. Thanks.

[2020-05-05 00:34] jenting commented on #788
Thanks for the reporting, already merged #786.
Wait for @r0ckarong to release it :bow:

[2020-05-05 00:36] jenting commented on #764
As #773 merged, closing issue.

[2020-05-05 00:37] #788 closed

[2020-05-05 01:22] jenting commented on #789
@tgeek77
Sorry, I can't reproduce it.

What's the _region-name_ setting `--set configuration.backupStorageLocation.config.region` when helm install?
Is your minio server in _or_ out k8s cluster?

[2020-05-05 09:38] #764 closed

[2020-05-05 09:40] #753 closed

[2020-05-05 13:19] tgeek77 commented on #789
I can't reproduce it again either.

[2020-05-05 13:32] jenting commented on #789
Never mind~
Closing the issue, feel free to re-open if you find the way to reproduce it, thanks :bow:

[2020-05-05 13:32] #789 closed

[2020-05-06 12:34] r0ckarong commented on #774
@kkaempf Rafa wrote "What I'm going to propose should be double checked,". Who can do that? This is keeping me from adding this to the docs in any meaningful way.

[2020-05-06 14:27] r0ckarong commented on #778
Waiting for the PR against https://github.com/SUSE/caasp-release-notes/pulls

As detailed in the PR I can not use this.

[2020-05-06 17:41] kkaempf commented on #774
@flavio and @dirkmueller come to mind.

[2020-05-06 18:25] jodavis-suse commented on #669
I think the link has moved to https://susedoc.github.io/doc-caasp/master/single-html/caasp-admin/#alertmanager_configuration_example

[2020-05-06 22:43] dirkmueller commented on #774
Sorry @kkaempf I have no meaningful prior experience on this topic.

I can do some googling om this over the next few days. I think the original ask was to check Rafa's recommend procedure. I think that could be done by testing it.

[2020-05-07 09:14] Martin-Weiss opened #794 "[doc] 3.3.5.1 Using Terraform - resource pool definition needs to have better explanation / example"
3.3.5.1  Using Terraform

https://susedoc.github.io/doc-caasp/master/single-html/caasp-deployment/#_using_terraform

-----------------------

Customers tend to not have a resource pool definition in their VSphere environment.
And in case the "default" NO manually created resource pool - it is unclear what to specify in the terraform.tfvars.

In my case this works perfect:

vsphere_resource_pool =

[2020-05-07 10:29] Martin-Weiss opened #795 "[doc] 3.3.4 Setup using VMWare Template - network configuration details missing"
3.3.4  Setup using VMWare Template

https://susedoc.github.io/doc-caasp/master/single-html/caasp-deployment/#_setup_using_vmware_template

-----------------------------

It seems that it is assumed that a customer does NOT configure a static IP for the VM during creation and that DHCP is available in the servers network.

Unfortunately this assumption is wrong and customers have to give servers st

[2020-05-07 10:51] kkaempf commented on #774
Adding @fgerling to provide QA capabilities.

[2020-05-07 10:59] ereslibre commented on #774
I agree with @dirkmueller. QA or an engineer can check that it works as expected. I can help in whatever is needed, but don't have the cycles at the moment to try it out myself entirely.

[2020-05-07 11:26] r0ckarong commented on #794
@innobead

[2020-05-07 12:18] r0ckarong commented on #795
@kkaempf @ereslibre

This doesn't seem to have been a criteria during the testing. What is the correct thing here? Can we use terraform to actually configure this properly? If not, what are the correct steps and where in the procedure must they be taken to configure the deployed machines?

Is this going to be simplified with the vApp approach that is in the works? @thehejik provided me with the VM

[2020-05-07 12:33] r0ckarong commented on #322
These are pretty much covered in the release notes for individual releases were needed, update instructions continuously updated. Closing.

[2020-05-07 12:33] #322 closed

[2020-05-07 12:51] kkaempf commented on #795
I already reached out to @qnetter before, asking for a contact within the 'vmware team'.

[2020-05-11 06:39] innobead commented on #794
@c3y1huang please help on this. Thanks.

[2020-05-11 08:34] c3y1huang commented on #794
Sync vsphere_resource_pool example with with terraform site and add ref link to doc, xref: https://www.terraform.io/docs/providers/vsphere/d/resource_pool.html.

[2020-05-11 08:41] c3y1huang commented on #794
@Martin-Weiss I think `Name of the vsphere cluster` is more of a description than an example. I've update so its sync with the example in terraform site.

[2020-05-11 08:49] Martin-Weiss commented on #794
Thanks - please ensure that we also add a sentence in the documentation what to configure here in case the customer did not create manually created resource pools ;-).

[2020-05-11 10:00] r0ckarong commented on #669
@evrardjp

[2020-05-11 10:33] r0ckarong commented on #704
bump
@kkaempf @evrardjp

[2020-05-11 11:47] kkaempf commented on #704
Uhm, I can't answer that. @ereslibre maybe ?

[2020-05-11 11:52] ereslibre commented on #704
@mmeiste I don't know a lot about OpenStack. As far as I know `haproxy` is one of the two LB implementations OpenStack has, right? Are you asking if other backend will work? Can you please clarify the question?

[2020-05-11 12:07] ereslibre commented on #704
As a side note, I see that the openstack terraform provider supports a `loadbalancer_provider` setting. We haven't tried to override this value and at this time we are defaulting to whatever the openstack terraform provider is doing.

[2020-05-11 12:27] evrardjp commented on #704
CPI doesn't necessary need to be enabled.
If enabled, Octavia or LBaaS needs to be enabled in the cloud, for having load balancing services, While the terraform files might need adapting to set the `provider` or `loadbalancer_provider`, both should work (TM).

IIRC, CLM8 supported Neutron LBaaS v2, and 9 supports octavia. I can't remember if those were defaults or not. To be confirmed by @dirkmuel

[2020-05-11 12:28] mmeiste commented on #704
seems for clm based cloud following change adding 'loadbalancer_provider = "haproxy"' worked. load-balancer.tf:
---snip---
   resource "openstack_lb_loadbalancer_v2" "lb" {
     name          = "${var.stack_name}-lb"
     loadbalancer_provider = "haproxy"
---snap---

[2020-05-11 13:34] dirkmueller commented on #704
@mmeiste the screenshot is taken from a SOCC8 installation, which only supported haproxy. in general as long as the terraform scripts do not configure an explicit _provider, any should work.

there was an issue that CLM did not deploy the lbaasv2 compat layer (which is used by terraform), but that has been fixed.

[2020-05-11 14:37] r0ckarong opened #798 "Look into GitHub Actions for improving Docs automation / visibility"
Check out GitHub Actions and how it can help making docs items more visible in the squad boards or ease triaging for the squads.

- https://github.com/marketplace/actions/auto-assign-action
- https://help.github.com/en/actions/getting-started-with-github-actions
- https://help.github.com/en/actions/configuring-and-managing-workflows/creating-and-storing-encrypted-secrets

[2020-05-11 15:18] #794 closed

[2020-05-11 15:23] wtmpx opened #799 "[doc] 4.5.3.1.2 Update the Authentication Connector"
4.5.3.1.2  Update the Authentication Connector

https://documentation.suse.com/suse-caasp/4.1/single-html/caasp-admin/#_sec.admin.security.rbac.update

Based on the manifest in ~/clusters/<CLUSTER_NAME>/addons/dex/base/dex.yaml, provide a kustomize patch to ~/clusters/<CLUSTER_NAME>/addons/dex/patches/dex-patch.yaml of the form of strategic merge patch or a JSON 6902 patch.

[2020-05-11 15:24] wtmpx commented on #799
yaml

[2020-05-11 15:26] evrardjp commented on #669
I have serious doubts about adding workload dependent recommendations.

If we add recommendations, I guess we could technically list all the minimum deployment expectations (=what's installed in caasp by default).

I would remove the daemonsets/static pods from this, as a kured operation on a sane cluster would naturally drop the value of the CURRENT/READY. This recommendation would therefore mark

[2020-05-11 15:31] evrardjp commented on #669
If we wanted to continue, I suggest to add that to the APJ squad's backlog. What do you think @innobead ?

[2020-05-11 15:45] evrardjp commented on #766
After a discussion with @innobead , we agreed that most of the setup information of a new central logging solution is out of scope of the CaaSP documentation.

At best, we could point to SLE documentation on how to set up log servers. It's not necessary, but I can agree it's nice for customers. The rest of the logging details (the kubernetes specifics) is already in our documentation, and shouldn'

[2020-05-12 11:15] tgeek77 opened #800 "[doc] 6.1.2 Prerequisites"
6.1.2  Prerequisites

https://documentation.suse.com/suse-caasp/4.2/single-html/caasp-admin/#_prerequisites_2

Steps 3 and 4 are in reverse order. You should create the namespace before trying to use it with the secret.

[2020-05-12 13:09] nkoranova opened #801 "Add Intro to etcd Cluster Backup"
We are missing and introduction to etcd as mentioned in:
https://github.com/SUSE/doc-caasp/pull/791#issuecomment-625195309

What is cluster backup good for?
What is etcd?
How does it differ from Velero and what role does it play in disaster recovery?

[2020-05-12 13:14] #799 closed

[2020-05-12 13:33] wtmpx opened #802 "[doc] 6.1.2 Prerequisites"
6.1.2  Prerequisites

https://documentation.suse.com/suse-caasp/4.1/single-html/caasp-admin/#_prerequisites_2

Create secret in Kubernetes cluster

kubectl create secret generic -n monitoring prometheus-basic-auth --from-file=auth
Monitoring namespace

We will deploy our monitoring stack in its own namespace and therefore create one.

kubectl create namespace monitoring

Creating namespace should

[2020-05-12 14:02] #800 closed

[2020-05-12 14:02] #802 closed

[2020-05-12 14:18] evrardjp commented on #704
AFAIK, we don't explicitly give a provider in those loadbalancer tf files. This should be good to go without extra changes then.

[2020-05-12 14:18] #704 closed

[2020-05-12 15:51] innobead commented on #801
cc @c3y1huang

[2020-05-14 07:20] evrardjp commented on #774
We should just propose the drain and the operation on the node. It's by far simpler, and that's what recommended in the kubernetes world. Not sure what you want to avoid. It's even what's done with kured, so it's consistent with our testing.

Just drain, do you operation on your hardware, restart.
Drain cordons, so I think that's enough. If you want to avoid rescheduling you should probably not us

[2020-05-14 07:23] evrardjp commented on #774
See also: https://kubernetes.io/docs/tasks/administer-cluster/safely-drain-node/ , https://kubernetes.io/docs/concepts/workloads/pods/disruptions/ , and https://kubernetes.io/docs/tasks/administer-cluster/cluster-management/#maintenance-on-a-node

[2020-05-14 07:24] evrardjp commented on #774
We can indeed QA this, but that wouldn't be far from testing kured's behaviour.

[2020-05-14 07:31] ereslibre commented on #774
In the context of this card (shutting down the whole system), if it's at once, I would not recommend draining, because it will generate a storm of rescheduling of everything running in the cluster. Also, drains will honor the pod disruption budgets.

I think that if you know beforehand that you want to stop the whole system it's better to not drain and follow an approach similar to https://github.

[2020-05-14 08:02] evrardjp commented on #774
I missed the "full" part.

[2020-05-14 09:49] evrardjp commented on #774
Agreed with Rafa's comment on the "full shutdown" story.

I think in the context of our documentation, it's probably worth explaining when to do the drain and cordon (which are explained at the bottom of the section https://susedoc.github.io/doc-caasp/master/single-html/caasp-admin/#node_operations), respectively for a partial cluster graeceful shutdown, and for a full shutdown.

[2020-05-14 09:50] evrardjp commented on #774
@r0ckarong do you need further help on this?

[2020-05-14 11:33] r0ckarong commented on #774
Yes, I need someone to fully verify that these steps work and give me detailed step-by-step instructions how to perform the procedures.

And, in my opinion, we need someone from QA to create test cases around this so these instructions are perdiodically verified and tested.

[2020-05-14 11:36] kkaempf commented on #774
@r0ckarong please talk to @fgerling when he's back next week if/how to approach this.

[2020-05-14 15:50] r0ckarong commented on #778
@manuelbuil @mmnelemane I'm still waiting for the Release notes contribution.

[2020-05-14 18:59] jvanz opened #805 "Wrong fexvolume driver directory"
Hi guys!

I believe we have a problem in the documentation. The path of the directory where the customer should put their Flex Volume driver, seems to be wrong. The [documentation](https://documentation.suse.com/suse-caasp/4.0/single-html/caasp-admin/#_flexvolume_configuration) show the directory as `/usr/libexec/kubernetes/kubelet-plugins/volume/exec/`. However, the spec file path is `%define vol

[2020-05-15 07:57] r0ckarong commented on #805
So what is the correct location then?
This other path seems to come from here: https://github.com/kubernetes/community/blob/master/contributors/devel/sig-storage/flexvolume.md

[2020-05-15 08:30] r0ckarong commented on #805
@jvanz Reading this https://github.com/SUSE/avant-garde/issues/1338 it appears to me this is not entirely resolved yet and should be introduced with the next major release. Please confirm.

[2020-05-15 15:32] #310 closed

[2020-05-15 15:32] #318 closed

[2020-05-18 07:21] Martin-Weiss opened #808 "[doc] 4.6.3.1.2 Example 2: Dex LDAP TLS Connector Configuration (<code class="literal">addons/dex/patches/custom.yaml</code>) -> need correct kustomization and filename"
4.6.3.1.2  Example 2: Dex LDAP TLS Connector Configuration (<code class="literal">addons/dex/patches/custom.yaml</code>)

https://susedoc.github.io/doc-caasp/master/single-html/caasp-admin/#_example_2_dex_ldap_tls_connector_configuration_addonsdexpatchescustom_yaml

----------------------------------------------

1. the filename addons/dex/patches/custom.yaml is different than ~/clusters/<CLUSTER_

[2020-05-18 08:15] Martin-Weiss commented on #669
IMO we should at least add the minimum based on the default workloads we document (grafana, nginx-ingress, rsyslog-daemon sets, nfs-client-provisioner,...).

Basically for the standard checks you would do manually anyway (get nodes, get pods see if all are running with 1/1 or 2/2 etc.).

Agreed

I see that we also need to verify the kured and rsyslog daemon sets as i.e. setting a wrong image or wr

[2020-05-18 09:36] r0ckarong commented on #808
@mjura

[2020-05-18 12:03] evrardjp commented on #669
Kured is shipped as an addon, while rsyslog daemonset isn't. Probably worth separating the cases here.

For kured, the addon upgrade is handled just fine in our processes. So that shouldn't be a problem.
For rsyslog, I think we shouldn't assume everyone would be using rsyslog, so I am not sure it matters for this alertmanager config. However, it could make sense to write best practices if necessar

[2020-05-18 12:33] r0ckarong commented on #798
https://github.com/marketplace/actions/labeler

[2020-05-18 13:02] Martin-Weiss commented on #669
How do you want to know how a customer adjusted / customized the kured parameters?
How do you want to realize as a customer that with the new parameter - kured pods die every 10 Minutes?

All the customers following the admin guide will setup a remote syslog server as this is a standard and basic requirement and also best practice ;-).

However - I do not think that we do want application specific

[2020-05-18 13:52] fgerling commented on #774
Thanks @r0ckarong for mentioning test cases. I added the issue to the QA Project. We can come up with a case and verify the steps from https://github.com/SUSE/doc-caasp/issues/774#issuecomment-617804308.

[2020-05-18 13:58] r0ckarong commented on #774
I still need someone to pick this up and produce the instructions.

[2020-05-18 14:06] evrardjp commented on #669
I am interested, but I should not: In this case, it doesn't matter. There is no way we can QA every single _non standard_ configuration of a software correctly or incorrectly defined.

For me, if the customer moves away from a standard configuration, he is responsible for it. In this case, I would test my upgrade before doing it in prod. If it fails, it should be detected in my upgrade test cases.

[2020-05-19 04:27] innobead commented on #808
@jenting please help with this.

cc @cclhsu

[2020-05-19 04:36] innobead commented on #801
@nkoranova closing. Please reopen if you think something missing.

[2020-05-19 04:36] #801 closed

[2020-05-19 09:59] r0ckarong commented on #798
https://github.com/marketplace/actions/issue-labeler

[2020-05-19 10:10] r0ckarong commented on #798
https://github.com/marketplace/actions/pr-label-by-files

[2020-05-19 11:53] r0ckarong opened #811 "[doc] Test VMWare labelling"
Trigger this thing because of bsc#1234567

Ignore v3.

[2020-05-19 12:51] r0ckarong opened #812 "[doc] test"
vmware Bug

[2020-05-19 13:13] jvanz commented on #805
Yeah, for CaaSP v4 that's the right path. I think you can keep the trailing slash

That's right. But there is a change in the latest CaaSP v4 already. Which changed the path to `/usr/lib/kubernetes/kubelet-plugins/volume/exec`. In other words, it can change again in CaaSP v5.

[2020-05-19 13:27] Martin-Weiss opened #813 "[doc] 6.3 Stratos Web Console - link should be changed to 1.5.2 I assume"
6.3  Stratos Web Console

https://susedoc.github.io/doc-caasp/master/single-html/caasp-admin/#_stratos_web_console
----

pointing to outdated 1.5.1 might not be good as helm chart is not 2.6.1 anymore - it is 3.1.0, now

[2020-05-19 13:57] #811 closed

[2020-05-19 14:05] r0ckarong commented on #813
Will be fixed with next build and properly in 4.2.1 release.

https://github.com/SUSE/doc-caasp/commit/1367940458b641a746324250d4c43675d1d18a7a

[2020-05-19 14:05] #813 closed

[2020-05-19 14:43] r0ckarong commented on #805
Then I will just change the path for v4 and hope that this will come up during v5 development when it happens.

[2020-05-19 18:59] nkoranova commented on #801
I think it's all done, just forgot to close the issue. Thanks!

[2020-05-20 11:46] #812 closed

[2020-05-20 12:59] r0ckarong opened #814 "Check documentation for places of SLES 15 SP1 install media"
CaaSP v5 will use SLES 15 SP2 as the base OS. Check which parts of the docs refer to the SP2 install media since those have changed.

https://www.suse.com/releasenotes/x86_64/SUSE-SLES/15-SP2/#_changes_in_15sp2

[2020-05-21 09:45] bodi4a opened #815 "[doc]"
`skopeo sync --source-yaml sync.yaml dir:/tmp/skopeodata `  not working

`skopeo sync --src yaml --dest dir sync.yaml /tmp/skopeodata `  correct format

https://documentation.suse.com/suse-caasp/4.1/html/caasp-deployment/_deployment_scenarios.html#id-1.5.3.13.4

[2020-05-25 09:45] nkoranova commented on #778
looks like the copy paste issue was fixed: https://github.com/SUSE/doc-caasp/pull/781#issuecomment-626604670

[2020-05-25 10:31] nkoranova commented on #778
Release notes were updated with https://github.com/SUSE/caasp-release-notes/pull/54

[2020-05-25 10:32] nkoranova commented on #778
As far as I can tell, this can be closed.

[2020-05-25 10:32] #778 closed

[2020-05-26 08:29] Martin-Weiss opened #817 "[doc] 1.4.9.1 Reduce replica number - do not recommend to use "edit""
1.4.9.1  Reduce replica number

https://susedoc.github.io/doc-caasp/master/single-html/caasp-deployment/#_reduce_replica_number

----

Here we should recommend to use the command for temporary changes:

kubectl scale

And we should recommend to use kustomize for the addons so that the changes are defined persistent in "code".

[2020-05-26 08:33] Martin-Weiss opened #818 "[doc] 2.1 Default Deployment Scenario - replace sles15sp1 with sles15sp2 or remove the OS version in the picture"
2.1  Default Deployment Scenario

https://susedoc.github.io/doc-caasp/master/single-html/caasp-deployment/#_default_deployment_scenario

-----

for caasp 5 the OS will not be 15 sp1 anymore (AFAIK) - not even for the management workstation I assume.

[2020-05-26 08:39] Martin-Weiss opened #819 "[doc] 2.2.6.2 Client Configuration - add default registry search"
2.2.6.2  Client Configuration

https://susedoc.github.io/doc-caasp/master/single-html/caasp-deployment/#airgap-container_registry-client

------
In case images are specified i.e. in deployments or helm charts without a registry - the default registry (docker.io) needs to be configured in the registries.conf.

Please add this option to the config in the registries.conf:

`unqualified-search-registr

[2020-05-26 08:50] Martin-Weiss opened #820 "[doc] 3.1.1 Basic SSH Key Configuration - key with ed25519 instead of ecdsa, timeout for ssh-agent"
3.1.1  Basic SSH Key Configuration

https://susedoc.github.io/doc-caasp/master/single-html/caasp-deployment/#ssh.configuration

------------------------

Why do we recommend to use ed25519 instead of ecdsa? I thought ecdsa is the new sles default?

For loading the ssh-agent we should add a timeout to expire loaded keys for security reasons!

So could we change:

`eval "$(ssh-agent)"`

to timeout 1

[2020-05-26 08:54] Martin-Weiss opened #821 "[doc] 3.1.4 Installation Tools - references in the whole 5.0 guide need to change to caasp/5.0/? and sles15sp2?"
3.1.4  Installation Tools

https://susedoc.github.io/doc-caasp/master/single-html/caasp-deployment/#_installation_tools

.....

seems also here we have caasp/4.0/ -> will this change to 5.0?

and we have sles15sp1 but might need to change all to sles15sp2?

[2020-05-26 09:15] Martin-Weiss opened #822 "[doc] 3.2 Deployment on SUSE OpenStack Cloud - download link broken"
3.2  Deployment on SUSE OpenStack Cloud

https://susedoc.github.io/doc-caasp/master/single-html/caasp-deployment/#_deployment_on_suse_openstack_cloud
----

Download the pre-built image of SUSE SLES15-SP1 for SUSE OpenStack Cloud... -> the specified link does not lead to the download anymore after the changes in SUSE download page..

[2020-05-26 09:16] Martin-Weiss opened #823 "[doc] 3.2.1 Deploying the Cluster Nodes - novell NTP servers?"
3.2.1  Deploying the Cluster Nodes

https://susedoc.github.io/doc-caasp/master/single-html/caasp-deployment/#_deploying_the_cluster_nodes

---
Should we really promote these NTP servers?

0.novell.pool.ntp.org....

[2020-05-26 09:21] Martin-Weiss opened #824 "[doc] 3.3.1 Environment Description - load balancer message "wrong"?"
3.3.1  Environment Description

https://susedoc.github.io/doc-caasp/master/single-html/caasp-deployment/#_environment_description

-----

This seems to be outdated:

This will be added in future versions. You must provide your own load balancing solution that directs access to the master nodes.

-> we have the nginx and haproxy load balancer examples in this guide - so maybe just link it?

[2020-05-26 09:25] Martin-Weiss opened #825 "[doc] 3.3.5 Deploying VMs from the Template - second disk for /var/lib/containers missing!"
3.3.5  Deploying VMs from the Template

https://susedoc.github.io/doc-caasp/master/single-html/caasp-deployment/#_deploying_vms_from_the_template

--------------------------

We recommend to have >50GB for /var/lib/containers and it seems that the vmware (and openstack?) process does not cover this.

Could we get this extended to add the second disk to both processes?

[2020-05-26 09:50] Martin-Weiss opened #826 "[doc] 3.4.3 Provisioning the Cluster Nodes - number of nodes??"
3.4.3  Provisioning the Cluster Nodes

https://susedoc.github.io/doc-caasp/master/single-html/caasp-deployment/#_provisioning_the_cluster_nodes

-----

    2 load balancers

    3 masters

    3 workers

--> why 2 load balancers and 3 workers where in the messages earlier in the document we have 1 load balancer and 2 workers?

[2020-05-26 10:12] Martin-Weiss opened #827 "[doc] 4.2.5 Cluster Bootstrap - add logging examples to skuba node join etc."
4.2.5  Cluster Bootstrap

https://susedoc.github.io/doc-caasp/master/single-html/caasp-deployment/#cluster.bootstrap

---------------------------
In the examples we should add `-v5 |tee <nodename>-skuba-join.log` or similar so that customers have a log of what ever happens in skuba and it is easier to help our customers in case they have issues..

[2020-05-26 10:15] Martin-Weiss opened #828 "[doc] 5 Network Policies - replace "see" with "can communicate with"."
5  Network Policies

https://susedoc.github.io/doc-caasp/master/single-html/caasp-deployment/#_network_policies

--------------------
PODs do not have eyes ;-)

Replace
that all pods can see all other pods within a cluster
with
that all pods can communicate with all other pods within a cluster

[2020-05-26 10:21] Martin-Weiss opened #829 "[doc] - add a disclaimer about the update / upgrade lifecycle requirements for CaaSP"
https://susedoc.github.io/doc-caasp/master/single-html/caasp-deployment/#id-1.2

----------------------

Customers tend to be slow in patch and upgrade of servers and systems and they must realize from the first day that in the container / k8s world it is a basic requirement to upgrade the whole stack on a regular basis and often. The recommended update/upgrade schedule IMO should be every 3 Month

[2020-05-26 10:23] Martin-Weiss opened #830 "[doc] 2 Available Documentation - architecture guide not mentioned"
2  Available Documentation

https://susedoc.github.io/doc-caasp/master/single-html/caasp-deployment/#_available_documentation

-----

It seems in this list of documentation available we miss the architecture guide.. https://susedoc.github.io/doc-caasp/master/single-html/caasp-architecture/

[2020-05-26 10:27] Martin-Weiss opened #831 "[doc] 2.3 Adding Nodes - add a note that the node joined new should have the same patchlevel as the others in the cluster"
2.3  Adding Nodes

https://susedoc.github.io/doc-caasp/master/single-html/caasp-admin/#adding_nodes

-----------------------

When using template cloning it might happen that the clone is not patched to the same version the other nodes have got in the meantime. So before adding the node a zypper up; reboot might be required so that the new node has the same patchlevel as the others..

-> can we ge

[2020-05-26 10:40] ereslibre commented on #826
A single load balancer would mean a SPOF, on an ideal setup at least two load balancers should exist. We assume that customers know how to set up this already though (e.g. using keepalived for example).

[2020-05-26 10:43] Martin-Weiss commented on #826
I believe we discussed this already - we need 1 load balancer and that must be fault tolerant. (i.e. 1 load balancer appliance from F5 or 1 load balancer provided via a SLE-HA cluster or 1 load balancer provided as a VM made highly available by the virtualization infrastructure).

And this needs to be sync for all the deployment methods we have in the document. (number of load balancers and number

[2020-05-26 10:48] Martin-Weiss opened #832 "[doc] 4.6.3.2.2 Example 2: Dex Active Directory TLS Connector Configuration -> change login for AD to samaccountname"
4.6.3.2.2  Example 2: Dex Active Directory TLS Connector Configuration

https://susedoc.github.io/doc-caasp/master/single-html/caasp-admin/#_example_2_dex_active_directory_tls_connector_configuration

-----------------------

Email address is not a standard attribute in active directory and might be different (UPN) vs. real users email address. So in AD worlds we most often use samAccountName for

[2020-05-26 11:03] ereslibre commented on #826
Not sure what you mean, with a VIP + keepalived?

I think we did yeah... I found something here https://github.com/SUSE/doc-caasp/issues/486, maybe there's more...

[2020-05-26 11:14] Martin-Weiss commented on #826
Yes - and we have the haproxy configs in the deployment guide with a hint to SLE-HA - so here we should just replace "2 load balancers" with "1 fault tolerant load balancer" ;-).

(I am not sure if we already support keepalived - so far we have SLE-HA with pacemaker..)

[2020-05-26 11:18] Martin-Weiss opened #833 "[doc] 4.7 Pod Security Policies - wording needs to be adjusted"
4.7  Pod Security Policies

https://susedoc.github.io/doc-caasp/master/single-html/caasp-admin/#_pod_security_policies

-----
This is something we should adjust:

The default policies shipped with SUSE CaaS Platform are not suitable for production environments.

Customers expect that what we deliver is "production ready".

Maybe to something like this:

The default policies shipped with SUSE CaaS

[2020-05-26 11:40] Martin-Weiss opened #834 "[doc] 4.8.1.2 Deploy ingress controller from helm chart - number of replicas"
4.8.1.2  Deploy ingress controller from helm chart

https://susedoc.github.io/doc-caasp/master/single-html/caasp-admin/#_deploy_ingress_controller_from_helm_chart

------
I believe we should also recommend to have at least replica=2 for both PODs

[2020-05-26 11:43] Martin-Weiss opened #835 "[doc] 4.8.1.3 Create DNS entries - add info about wildcard DNS entry"
4.8.1.3  Create DNS entries

https://susedoc.github.io/doc-caasp/master/single-html/caasp-admin/#_create_dns_entries

...........

Most often we use wildcard DNS entries these days:

*.clustername.customerdomain. CNAME <load-balancer-FQDN>.

This way all DNS names i.e.

dashboard.clustername.customerdomain.
prometheus.clustername.customerdomain.
grafana.clustername.customerdomain.

are resolved to

[2020-05-26 11:43] Martin-Weiss opened #836 "[doc] 4.8.2 Deploy Kubernetes Dashboard as an example - change to final version"
4.8.2  Deploy Kubernetes Dashboard as an example

https://susedoc.github.io/doc-caasp/master/single-html/caasp-admin/#_deploy_kubernetes_dashboard_as_an_example

-----
2.0 seems to be released - so rc5 needs to be replaced with 2.0

[2020-05-26 11:47] Martin-Weiss opened #837 "[doc] 4.8.2 Deploy Kubernetes Dashboard as an example - why access token?"
4.8.2  Deploy Kubernetes Dashboard as an example

https://susedoc.github.io/doc-caasp/master/single-html/caasp-admin/#_deploy_kubernetes_dashboard_as_an_example

-------
Note: Access Token -> we should not login to the dashboard with this access token.. it would be better to explain how to get the personal ID token from ~/.kube/config and use this to login to the dashboard.

[2020-05-26 11:50] Martin-Weiss opened #838 "[doc] 4.10.3 Certificate Location - remove "`""
4.10.3  Certificate Location

https://susedoc.github.io/doc-caasp/master/single-html/caasp-admin/#_certificate_location

------
There is one character too much at the end of that line:

"/etc/kubernetes/pki/front-proxy-ca.crt,key`"

[2020-05-26 12:03] ereslibre commented on #826
I have some doubts about the wording, I just cannot understand how 1 load balancer can be fault tolerant. I would instead say that it needs a fault tolerant load balancer system?

[2020-05-26 12:11] Martin-Weiss commented on #826
This would also mean "1 caasp cluster is not fault tolerant" and we have to deploy "2 caasp clusters".

If you order "1 load balancer appliance" - or "1 NetApp storage system" - these systems are fault tolerant per default.

1 load balancer service provided in a HA setup is fault tolerant.

And if you discuss this to the end - even two might not be the right solution for a three or four data-cente

[2020-05-26 12:14] Martin-Weiss opened #839 "[doc] 4.10.5 Replace Server Certificate signed by a Trusted CA Certificate - kustomize changed the addon handling"
4.10.5  Replace Server Certificate signed by a Trusted CA Certificate

https://susedoc.github.io/doc-caasp/master/single-html/caasp-admin/#_replace_server_certificate_signed_by_a_trusted_ca_certificate

--------------------
I believe this sentence is not true anymore since 4.2.0 and kustomize:

The oidc-dex and oidc-gangway server certificate and key would be replaced when skuba addon upgrade appl

[2020-05-26 12:20] Martin-Weiss commented on #839
IMO we have to adjust this via the dex-patch.yaml

      - name: dex-cert-path
        secret:
          secretName: oidc-dex-cert

--> use oidc-dex-cert-custom

and create oidc-dex-cert-custom with the customers certificate content.

And for gangway change gangway-patch.yaml

        - name: gangway-cert-path
          secret:
            secretName: oidc-gangway-cert

to
        - name: gangway-

[2020-05-26 12:20] ereslibre commented on #826
Not sure... You can certainly have a single caasp cluster with a certain failure tolerance level (depending on the etcd instances).

Cannot argue there, I don't know anything about them. However this documentation was for a generic use case of setting VM's for load balancing.

Hm, I'm not so sure, but I also dont' want to discuss small details ad infinitum. An HA setup doesn't have to be fault tol

[2020-05-26 12:29] ereslibre commented on #826
In any case, we can reword the documentation so we don't state those extra nodes, just the need for a fault tolerant load balancer, would that work @Martin-Weiss?

[2020-05-26 12:30] Martin-Weiss commented on #826
General rule of fault tolerance: one of anything is not fault tolerant ;-).
So 1 cluster, 1 data-center, 1 storage, 1 admin, 1 IP.
A single command can kill the whole CaaSP cluster - so regardless how big it is - having only one is not fault tolerant..
1 IP also can be down i.e. with ARP problems.

The question is always what RTO / RPO do you need and how to you achieve and guarantee that..

Basic

[2020-05-26 12:37] Martin-Weiss opened #840 "[doc] 4.10.7.2 Renewing Certificates Created -> why /etc/kubernetes/pki.bak ?"
4.10.7.2  Renewing Certificates Created by <code class="literal">skuba</code>:

https://susedoc.github.io/doc-caasp/master/single-html/caasp-admin/#_renewing_certificates_created_by_skuba

------

For this process I would recommend to use the skuba cluster directory on the admin node and not /etc/kubernetes/pki.bak

--> /etc/kubernetes/pki.bak does not exist on the admin node and would also not be

[2020-05-26 12:46] Martin-Weiss opened #841 "[doc] 4.10.8.2 Self-signed Server Certificate - wording needs to be changed for self signed"
4.10.8.2  Self-signed Server Certificate

https://susedoc.github.io/doc-caasp/master/single-html/caasp-admin/#self_signed_certificate
---------------------
This should be changed:

Do not use self-signed certificates in production environments. There is severe risk of Man-in-the-middle attacks. Use proper trusted 3rd-party signed certificates.

To:

Make sure that in case you use self-signed certi

[2020-05-26 13:47] Martin-Weiss opened #842 "[doc] 6.1.3.1.5 Adding Grafana Dashboards - incomplete "Use our pre-built dashboards to monitor the SUSE CaaS Platform system""
6.1.3.1.5  Adding Grafana Dashboards

https://susedoc.github.io/doc-caasp/master/single-html/caasp-admin/#adding_grafana_dashboards

-----

Following this example - we do not have all dashboards and the etcd one does not work because there is further adjustment required.

Maybe we should "copy" https://github.com/SUSE/caasp-monitoring/blob/master/README.md or just link in this git project?

[2020-05-26 15:26] Martin-Weiss opened #843 "[doc] 6.1.4.2 ETCD Cluster - see issue https://github.com/SUSE/caasp-monitoring/issues/9"
6.1.4.2  ETCD Cluster

https://susedoc.github.io/doc-caasp/master/single-html/caasp-admin/#_etcd_cluster

-----

For ETCD scraping we should use our own SSL certificate instead of one from the masters.

So we should have all we need on the skuba node and would not need to steal anything from a master.

[2020-05-26 15:28] Martin-Weiss opened #844 "Add explanation on how to get the servers short name and FQDN into the SANs of the server.crt for ETCD"
At the moment ETCD is using a server.crt which per default only has the IP address of the master node it is running on.

In case we want to scrape or backup etc. it would be better if we could target etcd with the FQDN and/or short name of the master instead of using the IP address.

Could we add the information to the documentation on how to do this?

[2020-05-27 03:18] innobead commented on #843
@jenting please help with this, thanks.

ref: https://github.com/SUSE/caasp-monitoring/issues/9

[2020-05-27 03:21] innobead commented on #844
@jenting please help with this. Thanks.

ref: kubeadm provides `InitConfiguration` to configure `ServerCertSANs` and `PeerCertSANs` of builtin local etcd.

[2020-05-27 03:24] innobead commented on #841
@jenting please help with this. Thanks.

[2020-05-27 05:39] jenting commented on #838
Nice catch!

[2020-05-27 06:25] jenting commented on #842
I'd prefer to link the GitHub repo directly since we might add more pre-built dashboards in the future.

[2020-05-27 06:40] jenting commented on #840
Because we based on the assumption that the admin login into one of the control plane nodes, so we suggest backup the certificate in `/etc/kubernetes/pki.bak`.

And yes, we could change to back up the certificates in the admin node.

[2020-05-27 07:00] jenting commented on #843
Agree, but we still need to login to the control plane node in order to sign an ETCD client cert by ETCD CA.

[2020-05-27 07:12] jenting commented on #832
cc @cclhsu

[2020-05-27 07:33] Martin-Weiss commented on #843
We have the ETCD CA key and crt in the clusters skuba pki directory on the admin node.. so we can create our own cert for ETCD health check monitoring instead of "stealing one of the masters.."

[2020-05-27 07:43] jenting commented on #843
ok, we'll update the doc :wink:

[2020-05-27 08:48] Martin-Weiss opened #851 "[doc] 6.1.4.1 Prometheus Jobs - not 100% correct?"
6.1.4.1  Prometheus Jobs

https://susedoc.github.io/doc-caasp/master/single-html/caasp-admin/#_prometheus_jobs

------

I assume this is not correct: prometheus.io/port=true
-> I would expect a port number and not "true"

I am also not sure if prometheus.io/scrape=true really needs to be set as annotation on all ports as I understood that it is the default to scrape all pods per default and we jus

[2020-05-27 09:02] Martin-Weiss opened #852 "[doc] 6.1.4.2 ETCD Cluster - also add scrape config to helm chart and do not use "edit""
6.1.4.2  ETCD Cluster

https://susedoc.github.io/doc-caasp/master/single-html/caasp-admin/#_etcd_cluster

-----
This should not be done:

kubectl edit -n monitoring configmap prometheus-server

(similar to the secret - volume map - we need to add the scrape config to values.yaml..)

[2020-05-28 01:59] jenting commented on #844
Thanks @innobead pointing out :bow:

@Martin-Weiss I'm wondering if the user would like to change ETCD server SAN to FQDN at day-2 operation.

[2020-05-28 06:46] Martin-Weiss commented on #844
Hopefully not - servers should get static names (short, FQDN) and also static IP addresses. IMO any server rename should require a reinstall - similar to master remove; reinstall; re-add.

It would be nice to support server rename and IP changes but with all the dependencies we have at the moment I am not sure if the effort is worth the value..

[2020-05-28 08:23] innobead commented on #842
1. Yes, the easy way is to link to the repo but I found the README of the repo is not complete, and it just describes well about `etcd cluster monitoring` part only. So it's necessary to improve.
2. Please also think further about one case: the release gap between CaaSP release and `caasp-monitoring` repo. I believe there is a delay gap between the current CaaSP release and `caasp-monitoring` mast

[2020-05-28 08:28] Martin-Weiss commented on #842
The problems I see with linking to github:
- probably causing support problems as external stuff might not be supported
- QA might not be able to test and might not see changes on external sources
- not included in the PDF or other documentation downloads

[2020-06-02 11:23] r0ckarong commented on #798
The ecosystem for these is still pretty poor. Most things I've tried look like proof of concept projects which are not very feature complete or have poor documentation. None work as what I would expect without having to extend the code. I don't think this is going to help us without dedicated engineering time writing improvements for the available actions.

[2020-06-02 11:23] #798 closed

[2020-06-02 11:56] r0ckarong commented on #851
Closed with #854

[2020-06-02 11:56] #851 closed

[2020-06-02 11:58] #852 closed

[2020-06-02 12:00] r0ckarong commented on #815
This is going to be fixed in 4.2.1 and onward.

[2020-06-02 12:00] #815 closed

[2020-06-02 12:17] #818 closed

[2020-06-02 13:00] r0ckarong commented on #820
@ereslibre @kkaempf Who can answer the question about the choice of cipher?

Do we have any technical reasons not to implement agent timeout?

[2020-06-02 13:02] r0ckarong commented on #821
You're again too hasty :) Development of 5 literally just began a week ago and the site you are referencing are rolling builds of the current state. We haven't gotten around to changing it all.

From what I am told the new package repo will be `caasp/5/` or something of that nature that avoid the current confusing situation.

References to SLE 15 SP1 will be updated as we work on the respective se

[2020-06-02 13:05] kkaempf commented on #820
@jsegitz should be best suited to answer security question within CaaSP.

[2020-06-02 13:05] r0ckarong commented on #822
I wasn't aware that the downloads page changed and also not about the fact we apparently do not offer any SOC images anymore.

@kkaempf Should we remove SOC deployment from 5 altogether? And is there a new location where we can point to the SOC image for v 4.x?

[2020-06-02 13:06] #821 closed

[2020-06-02 13:08] r0ckarong commented on #823
@kkaempf Do we have SUSE NTP servers or should I just change this to the general ntp pool servers?

This was written when still part of MF and thus Novell was not a voldeword yet.

[2020-06-02 13:21] #819 closed

[2020-06-02 13:21] #823 closed

[2020-06-02 13:27] r0ckarong commented on #824
This box is related to the VMWare deployment and we do not provide any information on how to set up load balancer in a VMWare environment (yet). From what I recall we rely on the VMWare administrator to know how to set up load balancing in their environment. I will change the wording slightly to reflrect this box is directly talking about VMWare.

[2020-06-02 13:31] Martin-Weiss commented on #821
:-) Sorry - just went to the documentation the headline was about CaaSP v5 - so I was assuming someone already did the search/replace ;-).

[2020-06-02 13:34] Martin-Weiss commented on #824
See https://susedoc.github.io/doc-caasp/master/single-html/caasp-deployment/#loadbalancer - this is not "environment specific" at all. And even in the terraform for VMware we deliver "segments" of the load balancer configuration for VMware.. ;-).

[2020-06-02 14:03] kkaempf commented on #823
I do not know. I only know about `opensuse.org` ntp servers.

I would leave specifics out and refer to `https://www.ntppool.org/en/use.html` instead. Customers usually have their local ntp servers or respective usage guides/procedures.

You must not refer to "general ntp pool servers", this is [explicitly discouraged](https://www.ntppool.org/en/vendors.html#vendor-zone)

[2020-06-02 14:04] r0ckarong commented on #824
@thehejik @kkaempf Are both nginx and haproxy tested on VMWare? If so can I just assume they can be deployed like for any other platform?

[2020-06-02 14:05] r0ckarong commented on #823
I guess that was the reason we used the novell. distinction these are generalized examples after all that make little sense without probable values. I will change those to 0.example.ntp.org in the config file examples.

[2020-06-02 14:06] kkaempf commented on #823
I just checked the SLES documentation, which keeps things pretty generic:

(from https://documentation.suse.com/sles/15-SP1/html/SLES-all/cha-install.html#sec-yast-install-welcome)

[2020-06-02 14:06] r0ckarong commented on #823
Yeah but we have full terraform files as examples.

[2020-06-02 14:09] kkaempf commented on #822
That's for @qnetter to decide.

@dirkmueller do you know ?

[2020-06-02 14:10] kkaempf commented on #824
@fgerling - can you answer this ?

[2020-06-02 14:12] r0ckarong commented on #825
@ereslibre @kkaempf I would think the admin can tack on additional storage as they like. Should we really go into SOC here again? Who can give me the steps on VMware to create a volume and adding it? Is this just an additional step during the template phase or does this have to be done afterwards?

[2020-06-02 14:18] r0ckarong commented on #827
@ereslibre Isn't skuba doing any logging b default during this? That doesn't sound right to me.

[2020-06-02 14:22] kkaempf commented on #825
If @lcavajani doesn't know, Alex Arnoldy and Christophe LeDorze from the VMware team should.

[2020-06-02 14:24] #828 closed

[2020-06-02 14:29] r0ckarong opened #857 "Cherry Pick v4 changes from 4.2.1 release to master"
Bring master up to date with the commits that have only gone into maintenance/CaaS4 during 4.2.1 release and version skip.

[2020-06-02 14:40] r0ckarong commented on #829
@kkaempf @qnetter This is too hot an iron for me to try and come up with wording. Officially I am told our version support ends as soon as 2 months after the next one comes out. How can this reflect on these 3/6/9 month mentions here?

What is the actual support window that we should describe here?

What is the expectation of the docs? Backporting all fixes for docs across maybe 3-4 versions at th

[2020-06-02 14:43] r0ckarong commented on #830
Architecture guide was outdated and the rewrite is blocked by lack of engineering cycles. Unfortunately nothing I can change. Once the revamp is done this will officially be added back. Right now, it's not available publicly.

See: https://github.com/SUSE/avant-garde/issues/1344

[2020-06-02 14:43] #830 closed

[2020-06-02 14:47] r0ckarong commented on #833
Closed with #850

[2020-06-02 14:47] #833 closed

[2020-06-02 14:48] r0ckarong commented on #834
@lcavajani Would this have to be specified as a parameter to helm during installation or as a config change later on?

[2020-06-02 15:00] #836 closed

[2020-06-02 15:03] r0ckarong commented on #837
@kkaempf Who can tell me how to get this personal ID token? Is there even a permissions difference between those? I think the example was written so people can actually admin the dashboard once it's installed. Would that be possible with this personal token? If not we need to describe even more stuff about dashboard permissions and such.

[2020-06-02 15:04] #838 closed

[2020-06-02 15:09] thehejik commented on #824
It wasn't tested for quite some time.

The info in doc should be suitable for any platform if you configure it manually.

We are not delivering haproxy nor nginx code in terraform states to customers, although skuba master branch has the haproxy lb tf code available for vmware and kvm/libvirt but for development purposes only (we are removing it by skuba patch in IBS).

[2020-06-02 15:14] kkaempf commented on #837
apj squad (@innobead) has most knowledge around authentication. Otherwise @ereslibre might know.

[2020-06-03 06:44] innobead commented on #837
I think the documentation is `ok` from my view and actually follow up the one way suggested by Kubernetes documentation.

ref: https://kubernetes.github.io/dashboard/docs/user/access-control/creating-sample-user.html

But it deserves some enhancement by using user id-token from their kubeconf on hand. Let's put into the backlog to revisit later.

cc @jenting @cclhsu @c3y1huang

[2020-06-03 10:07] Martin-Weiss opened #858 "[doc] 6.2 Health Checks - cAdvisor???"
6.2  Health Checks:

https://susedoc.github.io/doc-caasp/master/single-html/caasp-admin/#_health_checks

----
I believe this sentence needs to be removed as we do not have cAdvisor reachable anymore and we also do not have this on the admin node:

<SNIP>
A very basic (visual) health check can be achieved by accessing cAdvisor on the admin node at port 4194. This will display a basic statistics UI

[2020-06-03 10:19] r0ckarong commented on #824
What is the correct procedure to deploy a load balancer for a VMWare environment? Deploy the same template you use for the rest of the cluster nodes and deploy LB software on it and configure? And then proceed with the actual cluster setup?

[2020-06-03 10:36] Martin-Weiss opened #859 "[doc] 7.1.3 Enable Auditing On Running Cluster - how to ensure this is also forwarded via log-agent-rsyslog ?"
7.1.3  Enable Auditing On Running Cluster:

https://susedoc.github.io/doc-caasp/master/single-html/caasp-admin/#_enable_auditing_on_running_cluster

--------
When enabling audit logging I assume we should configure it in a way that also allow forwarding this log to the configured central syslog server via log-agent-rsyslog.

--> what else do we have to configure to allow this?

[2020-06-03 10:51] Martin-Weiss commented on #824
Either setup a single VM with SLES and install haproxy package or setup a SLE-HA cluster in VMs.

Then configure haproxy based on the documented haproxy.conf adjusted to the names of your masters/workers.

Create a DNS entry for "api" pointing to the load balancers VIP and then deploy the cluster using skuba.

P.S. in the meantime we might not need to document / recommend the nginx "workaround" an

[2020-06-03 10:56] r0ckarong commented on #858
@lcavajani Is this fully deprecated now? Can I remove this sentence? We still have prometheus checks against cAdvisor.

[2020-06-03 10:57] r0ckarong commented on #859
@c3y1huang Can you help here?

[2020-06-03 11:02] Martin-Weiss opened #860 "[doc] 8.1.2.4 Using CephFS in a Pod - replace "image" with cephfs.."
8.1.2.4  Using CephFS in a Pod:

https://susedoc.github.io/doc-caasp/master/single-html/caasp-admin/#_using_cephfs_in_a_pod

------
I believe this sentence in the cephfs usage is a copy / paste error ;-).

<SNIP>
Create a pod that uses the image by executing the following command.
</SNIP>

I assume this should read:

Create a pod that uses the cephFS filesystem by executing the following command.

[2020-06-03 12:32] r0ckarong commented on #857
Done with #861

[2020-06-03 12:32] #857 closed

[2020-06-03 14:18] lcavajani commented on #834
@r0ckarong this has to be specified in the `nginx-ingress-config-values.yaml`

If we take the example from the doc, this would look like:

[code]

[2020-06-03 14:33] Martin-Weiss opened #862 "[doc] 9.1.2.1 Procedure - invalid escape characte detected for the backslash here: /backup/etcd-snapshot-\$(date +%Y-%m-%d_%H:%M:%S_%Z).db"
9.1.2.1  Procedure:

https://susedoc.github.io/doc-caasp/master/single-html/caasp-admin/#_procedure

----
had to change this: /backup/etcd-snapshot-\$(date +%Y-%m-%d_%H:%M:%S_%Z).db

to this: /backup/etcd-snapshot-$(date +%Y-%m-%d_%H:%M:%S_%Z).db

--> not sure why in your case the backslash worked..

[2020-06-03 14:36] Martin-Weiss opened #863 "[doc] 9.1.2 Creating an etcd Cluster Database Backup"
9.1.2  Creating an etcd Cluster Database Backup:

https://susedoc.github.io/doc-caasp/master/single-html/caasp-admin/#_creating_an_etcd_cluster_database_backup

-----

Add a better example with remote NFS export and correct etcd image..

--> using "hostpath" and writing local on a master that gets lost and not even backed up is not the best way.. so I would recommend NFS or cephFS - either direct

[2020-06-03 14:46] Martin-Weiss opened #864 "[doc] 9.1.3 Scheduling etcd Cluster Backup - example of backing up every three minutes?"
9.1.3  Scheduling etcd Cluster Backup:

https://susedoc.github.io/doc-caasp/master/single-html/caasp-admin/#_scheduling_etcd_cluster_backup

------
SCHEDULE="*/3 * * * *"

--> this means to backup etcd every three minutes - does this make sense?

Maybe we should change this to once per day in the examples?

[2020-06-03 15:41] lcavajani commented on #858
@r0ckarong yes `cAdvisor` is fully deprecated, Prometheus is using kubelet api to fetch metrics

[2020-06-04 00:37] zoopster opened #865 "Backup/Restore section wording"
Not sure if this has been addressed...apologies if it has. I didn't look at all the pull requests.

Both 9.4 and 9.5 are quite confusing. Shouldn't the installation be the same no matter where CaaSP is running?
For starters..."on on-premise" probably is not a proper statement.
It seems the titles are misleading a bit. No need to state "Kubernetes cluster". It would be the CaaSP Cluster, right?
The

[2020-06-04 13:01] jenting commented on #862
cc @c3y1huang

[2020-06-04 13:01] jenting commented on #863
cc @c3y1huang

[2020-06-04 13:01] jenting commented on #864
cc @c3y1huang

[2020-06-05 01:32] c3y1huang commented on #864
Updated Kubernetes etcd cronjob example to backup daily at 1am.

[2020-06-05 02:00] c3y1huang commented on #862
@Martin-Weiss the backslash is by purpose and use to escape the `$` in `cat` command for generating the manifest. Without it will put the actual time in the manifest instead of `$(date +%Y-%m-%d_%H:%M:%S_%Z)`
[code]
If you've manually copied the content instead of using `cat` then yes you will need to remove the backslash.

[2020-06-05 02:02] #862 closed

[2020-06-05 02:13] c3y1huang commented on #859
Currently log-agent-rsyslog doesn't monitor and parse the audit log path. Yes I could help later if no one picks this up.

cc @innobead

[2020-06-05 08:31] #860 closed

[2020-06-05 08:36] #864 closed

[2020-06-05 09:09] r0ckarong commented on #865
@innobead @jenting Could you clarify if there are any reasons (other than legibility) why we have multiple instructions for cloud and on-premise?

Can you find more appropriate wording for the points mentioned above?

[2020-06-05 12:10] #858 closed

[2020-06-05 13:14] #669 closed

[2020-06-05 13:15] r0ckarong commented on #808
@innobead I haven't seen anything regarding this since your comment. Is this still in your backlog?

[2020-06-05 13:47] jenting commented on #808
yes, it's still on my radar.

[2020-06-05 13:54] jenting commented on #865
okay, the suggestion looks good at first glance, we'll discuss next week.

[2020-06-05 13:59] #696 closed

[2020-06-05 14:28] r0ckarong commented on #825
According to Alex Arnodly:

[code]

@qnetter @kkaempf What is the intended method we want to focus on? Creating a 100GB boot volume sounds weird to me especially for a template that is also going to be used for master nodes. Both make the setup on VMWare more complex in any case.

[2020-06-06 09:42] Martin-Weiss commented on #825
In my scenarios we have de-dup on the storage and we also can use thin-provisioned sometimes. So as a best practice we use 100G for all /var/lib/containers.. From the experience with CaaSP 4 plus CAP and some other deployments I already went out of disk space in /var/lib/containers with having 50G only - so now even my LAB has 75G..
But yes - on Masters we can "theoretically" use less for /var/lib

[2020-06-07 07:46] Martin-Weiss opened #869 "[doc] 4.2.3.2.2 vSphere In-tree CPI (VCP) - how to enable vsphere CPI on an existing cluster?"
4.2.3.2.2  vSphere In-tree CPI (VCP):

https://susedoc.github.io/doc-caasp/master/single-html/caasp-deployment/#cluster.bootstrap.vcp

-----

I can not find how to enable the vsphere CPI on an existing cluster.. is that documentation available, somewhere?

[2020-06-08 09:10] Martin-Weiss opened #870 "[doc] 4.2.3.2.2 vSphere In-tree CPI (VCP) - in-tree vs. out-of-tree and disk.EnableUUID"
4.2.3.2.2  vSphere In-tree CPI (VCP):

https://susedoc.github.io/doc-caasp/master/single-html/caasp-deployment/#cluster.bootstrap.vcp

------------------------------

I can see a few problems, here!

1. disk.EnableUUID seems to be required but is not mentioned anywhere. So we have to adjust the image template / terraform and also the documentation on how to create your own template

2. Based on ht

[2020-06-08 09:14] Martin-Weiss commented on #870
Oh - and I see that VSphere 6.7 U3 seems to be required - we might have to add this requirement also to the documentation..

[2020-06-08 09:18] r0ckarong commented on #869
@innobead

[2020-06-08 09:18] r0ckarong commented on #870
@innobead

[2020-06-08 12:10] r0ckarong commented on #835
@ereslibre Is usind DNS wildcards our recommended way to do it? If so I will change the respective places in the docs to use these wildcards instead of single purpose DNS entries.

[2020-06-08 12:38] adianas opened #871 "[doc] 4.10.5 Replace Server Certificate signed by a Trusted CA Certificate"
4.10.5  Replace Server Certificate signed by a Trusted CA Certificate:

https://documentation.suse.com/suse-caasp/4.2/single-html/caasp-admin/#_replace_server_certificate_signed_by_a_trusted_ca_certificate

Is it still necessary to reapply the changes made (custom server certs) to  oidc-dex and oidc-gangway after each cluster upgrade or is not longer needed if you use kustomize to re-apply the cha

[2020-06-08 12:44] r0ckarong commented on #871
@innobead @jenting Can you help with this please?

[2020-06-08 13:04] #843 closed

[2020-06-08 13:06] r0ckarong commented on #871
This is actually a duplicate of #839
Closing, please follow the other issue.

[2020-06-08 13:06] #871 closed

[2020-06-08 13:06] #840 closed

[2020-06-08 13:07] #841 closed

[2020-06-08 13:14] r0ckarong commented on #327
Planning is individual to the customer, most requirements are mentioned or too broad to define. Closing.

[2020-06-08 13:14] #327 closed

[2020-06-08 13:14] #334 closed

[2020-06-08 13:15] #335 closed

[2020-06-08 15:41] innobead commented on #870
@c3y1huang I did remember you have it documented, but not sure in the official or confluence page. Please help check to see if we need to fix it. Thanks.

The goal is to release vSphere storage support soon, so this is why we release in-tree first then out-of-tree later. Actually the evaluation work of out-of-tree has been done, and it will be planned to release in v5.

[2020-06-08 15:45] innobead commented on #859
This is more like a feature request, we will create a ticket on engineering backlog to proceed first.

[2020-06-09 00:58] jenting commented on #842
I was thinking to make these SUSE provided grafana dashboard merged into SUSE release grafana helm chart. Then we have the version information for support and QA on which version customer reported or which version QA had verified. Would it be better? @innobead @Martin-Weiss

But I have to make sure this idea works in the air-gapped environment.

[2020-06-09 04:35] c3y1huang commented on #870
VSphere 6.7 U3 is not required for in-tree vcp, but its required for out-of-tree.

[2020-06-09 04:38] c3y1huang commented on #870
Provision with terraform script will automatically enable `disk.EnableUUID`. But sure we could add this to doc.

[2020-06-09 05:01] innobead commented on #870
@c3y1huang to confirm for smooth upgrading to out-of-tree, should we require vSphere 6.7 U3 at the beginning even when using in-tree?

[2020-06-09 05:28] c3y1huang commented on #870
IMO is not necessary as we've already included `hardware_version` to terraform vars. This allows user to upgrade their vsphere tmx to the required version using  `terraform apply`.

[2020-06-09 06:29] Martin-Weiss commented on #842
I believe we just would have to deliver the json / yaml files and the documentation on how to add own or SUSE or official available dashboards via configmaps.

I believe adding them direct into the helm chart makes it difficult to maintain and upgrade, adjust and customize and also might make it difficult for customers that already have a Grafana running "somewhere else".

Maybe we should just fol

[2020-06-09 06:36] Martin-Weiss commented on #870
Please keep in mind that VMware deployments are NOT guaranteed to be done using terraform. Many customers have their own frameworks to install their servers.

And in my case - terraform did NOT enable the disk.enableUUID - maybe this was added later?

Is the in-tree fully supported also by VMware and against 7.0 and newer?
(it would be bad if i.e. VCenter or ESXi would crash when using the in-tree

[2020-06-09 06:45] c3y1huang commented on #870
Please set `cpi_enable = true` in your tfvar. Ref: https://susedoc.github.io/doc-caasp/master/single-html/caasp-deployment/#_using_terraform

iirc its been tested on 6.7 and 6.7 U3. cc @maximenoel8

[2020-06-09 07:11] Martin-Weiss commented on #870
My terraform copy does not include this - seems we need to document how to upgrade and adjust terraform after updating the skuba rpm..

--> how to update terraform and all deployment systems with it from CaaSP 4.1.x to terraform CaaSP 4.2.x.?

I really believe we have to add a chapter in the requirements section or in the CPI/CSI section for VMware that describes what is supported by SUSE and by t

[2020-06-09 07:13] jenting commented on #839
Thanks for your idea.

According to this limitation https://github.com/kubernetes-sigs/kustomize/issues/170 and current skuba code, the oidc-dex-cert Secret is generated in skuba code https://github.com/SUSE/skuba/blob/release-caasp-4.2.0/internal/pkg/skuba/dex/dex.go#L55-L65, not from the base manifest, and skuba allows only one base manifest for now https://github.com/SUSE/skuba/blob/release-caa

[2020-06-09 09:48] innobead commented on #870
vSphere cloud provider integration is more about client operation with vSphere server-side ( ESXi/cluster), so it's common as other clients do. If anything goes wrong, it definitely relates to the operation failure between both sides.

Basically, we should focus on the scope of CaaSP cluster itself.  For example, if PVC for vSphere block storage is not bound to a PV, the way to troubleshoot should

[2020-06-09 09:56] innobead commented on #842
Hmm, it seems there is a need for portability for customers.

This is a good suggestion. cc @flavio

@jenting I would suggest focusing on fixing this issue first, then we can come out another ticket to tackle something for integration or some specific purpose.

[2020-06-09 10:49] #870 closed

[2020-06-10 15:27] Johngoutbeck opened #876 "[doc] 2.2 Bootstrap and Initial Configuration"
2.2  Bootstrap and Initial Configuration:

https://documentation.suse.com/suse-caasp/4.1/html/caasp-admin/_cluster_management.html#_bootstrap_and_initial_configuration

Please add example 'skuba cluster init' syntax/line
and
Please add example 'skuba node bootstrap ' syntax/line

just like in section 2.3

[2020-06-11 06:08] jenting commented on #842
This [repo](https://github.com/eedugon/grafana-dashboards-configmap-generator) might fulfill your requirement although the downloaded dashboard must be with suffixed `-dashboard.json` or -`datasource.json`, and the `--namespace` flag only works with `--apply-configmap` flag.

[2020-06-11 20:41] Johngoutbeck opened #880 "[doc] 3.1.3 Unique Machine IDs"
3.1.3  Unique Machine IDs:

https://documentation.suse.com/suse-caasp/4.1/html/caasp-deployment/_deployment_instructions.html#machine-id

The 3 run commands do NOT change the machine-id
need to delete or rename the machine-id file, then the 3 run commands

so add the command
rm /etc/machine-id before the 3 run commands

[2020-06-12 06:20] Martin-Weiss commented on #842
Yes - that looks like what we might need to deliver the dashboards! Maybe we can add this to our product delivery? I believe this really would give added value..

As a side-note.. we also need a solution documented to add Grafana plugins..

[2020-06-12 07:43] flavio commented on #842
I don't see any problem with doing that :rocket:

[2020-06-12 12:20] Martin-Weiss opened #884 "[doc] 4.2.3.3 Example vSphere Cloud Provider Configuration - folder must be specified!"
4.2.3.3  Example vSphere Cloud Provider Configuration:

https://susedoc.github.io/doc-caasp/master/single-html/caasp-deployment/#_example_vsphere_cloud_provider_configuration

------------
I have not created and folder nor put VMs into a folder. So I assumed I can leave "folder" empty or even remove this parameter. But unfortunately with the in-tree vsphere CSI the kubelet does not start if folder

[2020-06-12 12:52] Martin-Weiss opened #885 "[doc] 4.10.4.1 Prerequisites - message: secret/oidc-gangway-cert not labeled"
4.10.4.1  Prerequisites:

https://susedoc.github.io/doc-caasp/master/single-html/caasp-admin/#_prerequisites_2

----------------
[code]

--> why do I get the message "not labeled"?

[2020-06-12 13:10] Martin-Weiss opened #886 "[doc] 6.1.3.1.5 Adding Grafana Dashboards - adding custom / own certificates"
6.1.3.1.5  Adding Grafana Dashboards:

https://susedoc.github.io/doc-caasp/master/single-html/caasp-admin/#adding_grafana_dashboards

-----

We explain how to monitor custom certificates / add them to the exporter - but we do not explain how to add these to the dashboard..

In the prometheus and grafana explanations we describe how to create and add ingress ssl certificates - maybe we should add t

[2020-06-15 02:53] jenting commented on #842
@flavio
The next question is how do I contribute the dashboards to https://grafana.com/grafana/dashboards on behalf of SUSE? Now, I only have my personal grafana account.

[2020-06-15 02:58] c3y1huang commented on #863
@Martin-Weiss we've recommended in doc to use the external device mounted to the VMs and used as the backup "hostpath". The backed up data in external device should persist even if the master node or entire cluster gets lost. Do you think customer would better prefer network storage instead? Also I am not sure how customer would prefer to deal with backups in an air-gapped environment.

[2020-06-15 07:28] jenting commented on #885
I think it's due to skuba `4.2.1` helps to label the secret for you.

We added the prerequisites to the user is because the cert-exporter is delivered by helm-chart, which means it can be run on all Kubernetes versions we delivered.
If the user deploys a cluster with skuba `4.2.0` and the user want to install cert-exporter to monitors the certificate, then the user must do the prerequisites to let

[2020-06-15 07:32] jenting commented on #886
It would be shown in "Secret PKI Certs Expiry".

Good suggestion. It needs to add label/annotation to the ingress SSL and configures the cert-exporter to monitors the SSL certificates.

[2020-06-15 08:10] Martin-Weiss commented on #885
Ok - then we should at least inform the admin that he might see the message "not lableled". (getting an error message might make admins nervous ;-))

[2020-06-15 10:46] jenting commented on #885
sure~

[2020-06-16 22:32] zoopster opened #889 "[doc] 6.1.1 Introduction"
6.1.1  Introduction:

https://documentation.suse.com/suse-caasp/4.2/single-html/caasp-admin/#_introduction_3

This section can be a bit confusing because we now have a Kubernetes metrics-server in addition to Prometheus/Grafana where Prometheus is defined as a "metrics server". May wish to delineate in some form? For instance the k8s metrics server is utilized only for HPA/VPA where Prometheus is

[2020-06-17 00:25] jenting commented on #844
@Martin-Weiss Question: would it be possible that different etcd server with different FQDN? Like
- etcd-server-1: FQDN=etcd-server1
- etcd-server-2: FQDN=etcd-server2
- etcd-server-3: FQDN=etcd-server3

Currently evaluation is it's doable by
- etcd-server-1: FQDN=etcd-server1,etcd-server-2,etcd-server3
- etcd-server-2: FQDN=etcd-server1,etcd-server-2,etcd-server3
- etcd-server-3: FQDN=etcd-server

[2020-06-17 01:17] c3y1huang commented on #859
@Martin-Weiss the engineer team discussed in sprint review to have K8s audit log forwarding `enabled` by default. Please let me know if you disagree.

[2020-06-17 01:47] jenting commented on #808
PR in flight.

[2020-06-17 01:48] jenting commented on #820
cc @dannysauer

[2020-06-17 08:17] phegedus83 opened #890 "[doc] 6.2 Health Checks"
6.2  Health Checks:

https://documentation.suse.com/suse-caasp/4.2/html/caasp-admin/_monitoring.html#_health_checks

    - targets: ['192.168.0.32:2379','192.168.0.17:2379','192.168.0.5:2379'
missing character:
    - targets: ['192.168.0.32:2379','192.168.0.17:2379','192.168.0.5:2379']

[2020-06-17 11:11] Martin-Weiss commented on #844
FQDN = the FQDN of the server .. (hostname -f)
"etcd-server1" is a short name. etcd-server1.<domain>.<country> wound be a FQDN.

A single ETCD would not have multiple FQDNs.

IMO the etcd SAN needs to have the FQDN of the server ETCD is running on - so a different SAN on each ETCD host.

[2020-06-17 11:17] r0ckarong commented on #880
I will update the wording for future versions but I wonder how you missed both places in the same section that tell you to remove (or have removed) the file beforehand.

[2020-06-17 13:08] jenting commented on #844
@Martin-Weiss
Thanks for the explanation, so the expected etcd SAN should be like this:

etcd-server-1: FQDN=etcd-server1..
etcd-server-2: FQDN=etcd-server2..
etcd-server-3: FQDN=etcd-server3...

Correct me if I’m wrong.

[2020-06-17 13:33] #826 closed

[2020-06-17 13:58] Martin-Weiss commented on #844
Yes

So the best would be to have the short and full qualified domain name as SAN and also the IP addresses of the host:

etcd-server-1: SANs: DNS.1.etcd-server1.<domain>;  DNS.2.etcd-server1; IP.1: IPv4; IP.2: IPv6

[2020-06-17 14:08] Johngoutbeck commented on #880
Sometimes I'm blind in 1 eye and cant see out the other

[2020-06-17 14:29] r0ckarong commented on #884
@kkaempf @lcavajani  Who can check if this is a bug?

[2020-06-17 14:32] r0ckarong commented on #885
@jenting If you create a PR in response to an issue, please use the "Link Issue/PR" feature in the sidebar. This makes attributing this easier while tracking and also closes the issue when merging PR through the GH interface. Automation keywords are great for closing this on the Git CLI but for project tracking please also link the PR issues.

/cc @innobead

[2020-06-17 14:34] r0ckarong commented on #889
Note to self: Add HPA VPA abbreviations to glossary.

[2020-06-17 14:36] #890 closed

[2020-06-17 14:39] kkaempf commented on #884
Vsphere cloud provider is owned by @innobead and @c3y1huang ;-)

[2020-06-17 14:44] r0ckarong commented on #889
@kkaempf Who can give me more insights into how the different metrics servers are used?

[2020-06-17 15:52] kkaempf commented on #889
https://github.com/SUSE/avant-garde/issues/915 shows @ereslibre and @lcavajani should have knowledge.

[2020-06-18 06:18] innobead commented on #884
@c3y1huang please help with this. Thanks.

[2020-06-18 12:37] #885 closed

[2020-06-18 12:40] lcavajani commented on #889
`metrics-server` does not have the same purpose as Prometheus. `metrics-server` collects metrics in-memory so it's not possible to forward them somewhere else and use them like Prometheus does. Unlike Prometheus, `metrics-server` is not a monitoring solution.

From the `metrics-server` official doc, it says:

[code]

It is also used to provide metrics when using `kubect trop node|nodes` and `kubec

[2020-06-19 04:55] dannysauer commented on #820
Sorry - I missed the tag. :)

ed25519 is slightly faster than ecdsa, but no one will actually notice that. They're both eleptic curve algorithms and quite good; mathematically they're essentially the same in terms of theoretical security, and both better than prime factor based algorithms in about every possible way.

The ecdsa signing algorithm (curve P-256) has been around longer (in ssh, especi

[2020-06-19 05:09] dannysauer commented on #820
For a timeout, that's really a site-specific security measure related to things like shell inactivity. If we do suggest a timeout, I'd do it on the `ssh-add` instead of the agent. Some people will use an alternate agent, like gpg-agent or their desktop keyring / wallet. By doing the timeout on the `ssh-add`, we help all users rather than just those using the openssh agent. :)

How do we pick a tim

[2020-06-19 09:26] Martin-Weiss commented on #820
Thanks for the feedback!

Regarding ssh-key - I really believe this is some sort of a religion and at least we should have this identical within SUSE for all the products (SLES/SES/SUMA/CaaSP....) and I see ed25519 in CaaSP the first and only time.

Regarding the timeout - I believe we should have the timeout per default and skuba should also prompt for re-adding the key in case it times out durin

[2020-06-19 12:36] nkoranova opened #894 "Replace "my-cluster" with <CLUSTER_NAME>"
As discussed in https://github.com/SUSE/doc-caasp/pull/874#discussion_r442808325 using `my-cluster` to refer to directory names can be confusing, because `my-cluster` is a configurable _cluster name_, which we normally format as `<CLUSTER_NAME>`.

[2020-06-20 17:03] dannysauer commented on #820
I'd be inclined to say that troubleshooting might be easier with customers if we were only proposing a timeout in one place. I'm also a little hesitant to propose things that have potential impact outside of our product. :) Personally, I don't like timeouts on stuff like that at all; my experience is that it leads to complacency, and that the timeout still leaves plenty of time for compromise. So

[2020-06-22 09:42] #865 closed

[2020-06-23 09:20] c3y1huang commented on #884
The folder in the cloud-config is used by the VCP storage class persistent volume claim only. You can input any value to the `folder` if only intend to use for in-line and persistent volume.

Out-of-tree does not require this kind of folder structure as the driver was completely re-written with another library to call for the vCenter entity.

[2020-06-23 09:53] Martin-Weiss commented on #884
What do I have to enter for "folder" if I have NO folder created and the machines are in the "root"?

[2020-06-23 10:08] c3y1huang commented on #884
The VMs created by default should have a path look like:
[code]

You need to manually create a folder in vCenter and move the cluster node VMs inside.

The new path should looks like:
[code]
`.

[2020-06-23 10:19] Martin-Weiss commented on #884
I do not want to have a folder - so the machines should be in the default place where VMs get created.
So what do I need to specify for the "folder" variable to create all VMs in the default root?
(where also new VMs are created with an undefined folder using the out-of-tree CSI)

[2020-06-23 16:21] bdekany opened #901 "[doc] 4.4.4.1 Adding a New User"
4.4.4.1  Adding a New User:

https://documentation.suse.com/suse-caasp/4.2/single-html/caasp-admin/#_sec.admin.security.users.add

The command given to create a SSHA hash is wrong. There is a typo.

Current:
/usr/bin/pwdhash -s SSHA $ <USER_PASSWORD>

Should be:
/usr/bin/pwdhash -s SSHA <USER_PASSWORD>

[2020-06-23 16:23] bdekany opened #902 "[doc] 4.5.3.1.2 Update the Authentication Connector"
4.5.3.1.2  Update the Authentication Connector:

https://documentation.suse.com/suse-caasp/4.2/single-html/caasp-admin/#_sec.admin.security.rbac.update

The links to kustomize documentation changed.

Current:
https://github.com/kubernetes-sigs/kustomize/blob/master/docs/glossary.md#patchstrategicmerge https://github.com/kubernetes-sigs/kustomize/blob/master/docs/glossary.md#patchjson6902

Should b

[2020-06-24 22:36] dannysauer commented on #820
PR for the agent/add timeout documentation opened.  Rather than dictate a default timeout, I thought adding a note about the security impact would work out better in the common case, while users who have concerns can heed the warning.  Feel free to disagree in the PR discussion. :D

[2020-06-24 22:37] dannysauer opened #905 "[doc] 3.1.4 Installation Tools"
3.1.4  Installation Tools:

https://documentation.suse.com/suse-caasp/4.2/single-html/caasp-deployment/#_installation_tools

I don't think the curlrc file should necessarily be in `/root`, as we usually run skuba as non-root, and the only parts which run as root run on the cluster nodes (not the management node).  The `.curlrc` should probably be in `$HOME`.

If skuba _is_ run as root (or any othe

[2020-06-30 12:04] #905 closed

[2020-07-01 13:52] JanZerebecki opened #910 "[doc] 4 Bootstrapping the Cluster - skuba addons directory is currently not document"
The existing skuba addons directory is currently not document: https://documentation.suse.com/suse-caasp/4.2/single-html/caasp-deployment/#bootstrap https://github.com/SUSE/doc-caasp/blob/master/adoc/deployment-bootstrap.adoc

https://github.com/SUSE/skuba/pull/1127 added support for the addons/containers directory.

This documentation about the addons direcotory could be linked as a mention that

[2020-07-01 17:14] dannysauer commented on #820
I did a bit more digging, and asked the "official" security group.  The most compelling argument I've heard so far is that ecdsa is a FISP-approved DSS algorithm, while ed25519 is not yet (it's in [a draft proposal](https://nvlpubs.nist.gov/nistpubs/FIPS/NIST.FIPS.186-5-draft.pdf) right now, though).  I can't find an avant-garde issue talking about FIPS compliance, but I know that's something we'r

[2020-07-02 14:31] wtmpx opened #914 "[doc] 3.1.5.1.1 Configuring the Load Balancer"
3.1.5.1.1  Configuring the Load Balancer:

https://documentation.suse.com/suse-caasp/4.2/single-html/caasp-deployment/#_configuring_the_load_balancer

With this configuration:
    server {
        listen 6443;
        proxy_connect_timeout 5s;
        proxy_timeout 5s;
        proxy_pass k8s-masters;
    }

The kube-apiserver will report TLS Certification handcheck error. To fix the issue increase

[2020-07-02 15:30] nkoranova opened #915 "Document Istio"
Istio is a service mesh component for securing, connecting, and monitoring microservices.

@manuelbuil is the coordinator of the release of Istio in CaaSP
official documentation: https://istio.io/latest/docs/concepts/what-is-istio/
internal docs: https://confluence.suse.com/display/CaaSP/Istio

For starters we need the following input:

1. Intro
    What is it? What are it's functions? What does i

[2020-07-06 02:29] jenting commented on #808
The doc PR merged already, close this issue.

[2020-07-06 02:29] #808 closed

[2020-07-06 02:34] jenting commented on #844
I can't find a way to fulfills each ETCD server's have its short/FDQN as SAN.

All I could find now is all ETCD servers use the same short/FQDN as SAN. So adding a blocked label.

[2020-07-06 05:37] Martin-Weiss commented on #844
An other option would be to use a wildcard certificate..

Am 06.07.2020 um 04:34 schrieb JenTing Hsiao <notifications@github.com>:

﻿

I can't find a way to fulfills each ETCD server's have its short/FDQN as SAN.

All I could find now is all ETCD servers use the same short/FQDN as SAN. So adding a blocked label.

—
You are receiving this because you were mentioned.
Reply to this email directly, vi

[2020-07-07 03:55] innobead commented on #869
We don't support for enabling vSphere CPI in the existing cluster due to some changes introduced to terraform script operation.

Do we still have this request for now?

cc @c3y1huang

[2020-07-07 04:03] innobead commented on #886
So as per @jenting comment, I think there is no problem for now for this issue.

There is no operator for now for helping this kind of logic, so we should tackle this in another ticket on avant-garde in the future.

Closing, if still have any question, feel free to reopen.

[2020-07-07 04:03] #886 closed

[2020-07-07 06:06] Martin-Weiss commented on #869
Yes - all customers that are currently on VMware and that are using NFS because they do not have SES will have the need and motivation to move from NFS to VSPhere storage.

So at least we have to describe the manual steps required to enable VSphere Storage on existing CaaSP clusters in the documentation.
We also have to make sure that the VSphere CPI/CSI works well in case NO terraform is used to

[2020-07-08 07:30] jenting commented on #839
The v5 will have a solution for addon certificate rotation (includes custom CA) which leverages `cert-manager`.

Personally, I'd like to use the cert-manager to cover the addon custom CA certificate scenario that the custom CA certificate won't be refresh after `skuba addon upgrade apply` instead to enhance skuba code.

[2020-07-08 08:08] jenting commented on #844
Ref to https://github.com/coreos/etcd-operator/issues/901

[2020-07-09 03:31] innobead commented on #884
As per @c3y1huang explained, the folder is necessary for in-tree VCP, so there is nothing we can do for the non-folder case, except migrating to out-of-tree in the future.

[2020-07-09 06:14] innobead commented on #869
I have created an issue in the engineering backlog, and let's follow up there.

[2020-07-10 05:23] jenting commented on #844
@Martin-Weiss Could you elaborate more on your user cases? What commands did your execute? This would make us know more about field/customer user case/feedback. Thanks in advance.

[2020-07-10 06:04] Martin-Weiss commented on #844
Not sure what commands you are asking for - basically I just checked the certificates with openssl.

openssl s_client -connect .... |openssl x509 -noout -text..

[2020-07-10 06:29] jenting commented on #844
I think the command would begin with `etcdctl`.

I was wondering you mentioned in description `scrape or backup etcd cluster`. I had read the ETCD backup documentation, but I can't imagine a scenario the admins have to change ETCD server SAN with a short name/FQDN.

From now, I could think the scenario to support SAN with short name/FQDN is the ETCD server externally (not insides Kubernetes cluste

[2020-07-10 06:33] Martin-Weiss commented on #844
Ah - now I get the question! The problem is the Prometheus configuration for the scraping!

      - job_name: etcd
        static_configs:
          - targets: ['10.1.1.152:2379','10.1.1.153:2379','10.1.1.154:2379']

--> we should NEVER use IP addresses - and use FQDNs instead. BUT the usage of FQDN with the certificates used for ETCD does not work as the SANs are not correct / do not have the FQD

[2020-07-15 10:17] nkoranova opened #927 "Change links from `single-html` to `html` versions"
Links to html instead of single-html mean shorter download times and it is the preferred way of linking across SUSE's documentation. CaaSP documentation overall links to single-html. We should investigate why we do this and update the current docs.

See also third bullet here:
https://github.com/SUSE/doc-sle/pull/579#issue-402627684
and this discussion:
https://github.com/SUSE/doc-caasp/pull/898/f

[2020-07-16 08:34] #884 closed

[2020-07-16 10:22] #839 closed

[2020-07-20 14:18] #914 closed

[2020-07-20 22:46] #902 closed

[2020-07-20 22:52] jenting commented on #835
/cc

[2020-07-20 22:52] jenting commented on #834
/cc

[2020-07-20 22:53] jenting commented on #817
/cc

[2020-07-20 22:53] jenting commented on #910
/cc

[2020-07-21 00:57] jenting commented on #835
I believe the answer is _yes_.

[2020-07-21 12:57] #901 closed

[2020-07-22 11:25] #859 closed

[2020-07-22 11:44] #869 closed

[2020-07-22 13:29] #814 closed

[2020-07-23 08:40] r0ckarong commented on #774
Somewhat related: https://github.com/SUSE/avant-garde/issues/1808

[2020-07-23 09:19] #834 closed

[2020-07-23 09:28] #817 closed

[2020-07-23 09:35] #835 closed

[2020-07-23 09:42] #832 closed

[2020-07-24 08:02] r0ckarong opened #938 "Re-add PR #923 (Enhance skuba addon upgrade plan)"
Prematurely merged #923 and reverted. Needs to be added back.

[2020-07-24 10:42] jordimassaguerpla opened #939 "remove not 5.0.0 features"
Hi,
features in skuba master branch are not all in 5.0.0, only those present in release-caasp-5.0.0, which was branched when we built the Release Candidate.

I went through the latest commits and added the label remove_from_5.0.0 to those that need to be removed for 5.0.0.

https://github.com/SUSE/doc-caasp/pulls?q=is%3Apr+is%3Aclosed+label%3Aremove_from_5.0.0

Please either revert them or create

[2020-07-24 10:43] jordimassaguerpla opened #940 "Add list of changes from 1.17 to 1.18 into the release notes"
Could we add a link to this chapter into the release notes? https://github.com/SUSE/doc-caasp/commit/94f487e2acce08d01640ee82f744ebc85676279a

This is very useful information for the migration and our customers will look into the release notes for this kind of information.

[2020-07-24 11:30] jordimassaguerpla commented on #938
Putting the on hold label: Merge when the feature is ready to be released (probably first maintenance update).

[2020-07-24 12:04] r0ckarong commented on #939
Reverted the specified PRs.

[2020-07-24 12:04] #939 closed

[2020-07-27 09:38] #940 closed

[2020-07-27 12:34] r0ckarong commented on #876
@Klaven Is this something you could look at?

[2020-07-27 12:46] #880 closed

[2020-07-27 17:11] dannysauer commented on #820
The SLES ssh documentation is at https://documentation.suse.com/sles/15-SP2/html/SLES-all/cha-ssh.html
Do you have any thoughts on how to work that link into `adoc/deployment-preparation.adoc`, @r0ckarong ?

[2020-07-27 17:40] cmurphy commented on #822
I think this can be closed. Currently it seems the download link goes to https://www.suse.com/download/sles/ , if from there you click `AMD64/Intel 64` under Architecture you can download the `SLES15-SP2-JeOS.x86_64-15.2-OpenStack-Cloud-GM.qcow2` image which is what you should upload to OpenStack.

[2020-07-27 18:16] cmurphy commented on #827
skuba only logs to stdout/stderr, there's no built-in way to log to disk to my knowledge. So suggesting to `| tee` or `|& tee` may be useful.

`-v5` creates debug-level logs so I wouldn't instruct customers to use it by default, but it could be mentioned in a note as an option for debugging.

[2020-07-27 20:40] jodavis-suse commented on #633
It does seem like we should add some explanation to https://susedoc.github.io/doc-caasp/master/single-html/caasp-deployment/#airgap-container_registry-mirror to call out the Tiller image.  While tiller is in registry.suse.com, it isn't called out in the https://documentation.suse.com/external-tree/en-us/suse-caasp/4/skuba-cluster-images.txt as it is not used by skuba.  We don't need to create a he

[2020-07-28 06:00] r0ckarong commented on #820
@dannysauer There shouldn't be any special things to be considered. The separate product guides don't "interlink" in any way so this would be handled like any ordinary external(to the document) link.

[2020-07-28 06:10] r0ckarong commented on #822
Agreed, closing.

[2020-07-28 06:10] #822 closed

[2020-07-28 10:52] nkoranova commented on #915
https://confluence.suse.com/pages/viewpage.action?pageId=532906191

[2020-07-28 11:38] manuelbuil commented on #915
https://github.com/SUSE/doc-caasp/pull/936

[2020-07-28 11:39] #820 closed

[2020-07-28 23:35] dannysauer commented on #820
Sorry, @r0ckarong - I meant I wasn't sure where to put the link. It seems awkward to me to add it anywhere in this section about keys. :/

[2020-07-29 06:33] jenting commented on #844
I encountered into a problem, my cluster is bootstrap by IP address and I'd like to access ETCD servers by its hostname so my Prometheus scrape config would like this:

[code]

However, due to the etcd Pod does not have Service so the coredns can't resolve the etcd server's record.
Does anybody have better idea of this :thinking: ?

Ref to https://kubernetes.io/docs/concepts/services-networking/dn

[2020-07-30 11:06] tgeek77 opened #953 "[doc] 6.4.3.7 Deploying Stratos"
6.4.3.7  Deploying Stratos:

https://documentation.suse.com/suse-caasp/4.2/single-html/caasp-admin/#_deploying_stratos

Step 1 is no longer true. Now you get a screen asking you if you want to use UAA or create an account. If you create a default account, it will not use the password in the values file.

Also, should you go one step further and tell them how to connect Stratos to CaaSP because tha

[2020-07-31 11:31] r0ckarong commented on #953
I have no experience with either CAP or Stratos. Who can help me here with how this should be done?

@tgeek77 Can you provide me with these additional steps that now would be correct?

From what I understand the CAP docs describe how to deploy on CaaSP but I don't know enough about it to judge if it's enough to just link the instructions or if those are too specific for general use cases.

@kkaemp

[2020-07-31 11:53] r0ckarong commented on #910
@JanZerebecki Some questions:

1. How would a user "use" the addons directory during deployment? Will they put addons/configs there and then be able to do something in skuba to deploy these? If so, what are the steps?
2. If we mention that you can deploy the registry config file via skuba, what are the steps to do so?

[2020-07-31 12:13] JanZerebecki commented on #910
1. After `skuba cluster init my-cluster` a user can add/edit the following files in the `my-cluster` directory. They will be copied during `skuba node bootstrap`. Each addons/crio.conf.d/*.conf file will be copied to /etc/crio/crio.conf.d/ on each node. If it exists a file addons/containers/registries.conf it will be copied to /etc/containers/registries.conf on each node.
2. Place the file my-clus

[2020-07-31 22:11] jodavis-suse opened #954 "Air-gapped skopeo command line options have changed vs CaaSP documentation"
### Summary

The command line options for skopeo 0.1.41 don't match what is written in the documentation for CaaSP 5
https://susedoc.github.io/doc-caasp/master/single-html/caasp-deployment/#id-1.5.3.13.4

I discovered when trying to use skopeo 0.1.41 that there is no --source-yaml parameter, which is a documented step in the CaaSP documentation.
Digging in to build.suse.de I can see that the 0.1.3

[2020-08-03 09:46] r0ckarong commented on #910
@ereslibre What other items can be customized this way and can they be updated just like the other kustomize workflow once the cluster is running?

[2020-08-03 10:45] #769 closed

[2020-08-03 12:27] JanZerebecki commented on #910
The files are also copied in the same way during `skuba node upgrade apply` and `skuba node join`.

Not sure what "updated just like the other kustomize workflow" refers to, is that already documented somewhere?

[2020-08-03 12:33] r0ckarong commented on #910
Not really, we have various places in the deployment instructions that refer how you can modify various aspects using kustomize but I don't think we fully described this functionality. Part of the PR for closing this issue would be a generalized description how kustomize works and how it can be used. For that I need some more info which kinds of changes can be made.

So far we have the files for k

[2020-08-03 12:53] JanZerebecki commented on #910
I don't think changing the configuration without an upgrade was thought of, but may just work the same way, but I have not tested that.

The docs for crio.conf.d is at https://github.com/cri-o/cri-o/blob/master/docs/crio.conf.5.md or `man crio.conf` on the installed system.

There is no additional config copied from the addons directory like what I already listed above. But there is some functiona

[2020-08-03 13:03] r0ckarong commented on #910
@kkaempf @jordimassaguerpla @ereslibre Who can clarify that addons directory usage?

[2020-08-03 13:24] Klaven commented on #329
@r0ckarong to me, I will describe shutdown, but to be honest, if they are dealing with a power outage they should be able to bring their cluster back online just fine. Really shutdown only maters for what is running on their cluster.

shutting down:
0. take a backup
1. Scale all applications down to zero.
2. Drain/cordon all nodes except for control plane.
3. Shut down worker nodes nodes.
4. Shut

[2020-08-03 22:05] jodavis-suse commented on #954
Fixing this as part of #633

[2020-08-03 22:51] jodavis-suse commented on #633
I attempted to walk all the steps in a local setup, though had some trouble with the docker mirror setup (likely due to some of my shortcuts to avoid having to actually use two different SLES systems).  Result is in PR https://github.com/SUSE/doc-caasp/pull/957

[2020-08-05 03:02] jenting commented on #910
Generally, the user would prepare the kustomize patch to overwrite the default base addon manifest configuration.
There is some example to overwrite the dex OIDC connector in the doc already.

[2020-08-05 10:19] jordimassaguerpla opened #958 "Include back the GPU documentation"
Given this https://github.com/SUSE/skuba/pull/1192 was backported for GMC2, we should include https://github.com/SUSE/doc-caasp/pull/908 in docs for 4.5.0.

[2020-08-05 11:23] #633 closed

[2020-08-05 12:36] r0ckarong commented on #958
Added back with: 3ed4363edc6dd897e1580b08010289c3cec3e1a1

[2020-08-05 12:36] #958 closed

[2020-08-05 12:42] r0ckarong commented on #889
@innobead While working on this i noticed that we provide steps to change the metric-server cert but not list it in addon certs list. Could you please review the certificates section and amend what is missing?

https://github.com/SUSE/doc-caasp/blame/master/adoc/admin-security-certificates.adoc#L116

[2020-08-05 12:47] #889 closed

[2020-08-06 02:05] jenting commented on #889
I remember I had added the metrics-server certificate in the add-on certificates list.

* master branch
![image](https://user-images.githubusercontent.com/49380831/89482256-0c6d2080-d7cc-11ea-92f2-4bad40f0e351.png)
* maintenance/CaaS4 branch
![image](https://user-images.githubusercontent.com/49380831/89482343-3fafaf80-d7cc-11ea-825e-3ac102ff3be9.png)

[2020-08-06 09:44] r0ckarong commented on #544
Somewhat started with splitting the airgap deployment instructions into a separate document. It was bloating the main deployment guide.

082a944fa217bd51e27c9877994ec8ff9dee8a73

[2020-08-06 09:46] r0ckarong commented on #889
My bad, sorry. Must've missed this :/

[2020-08-06 12:27] #827 closed

[2020-08-07 09:08] evrardjp commented on #774
@mssola this card is for a full shutdown, not a partial shutdown. Your PR is valuable, but doesn't fix the issue here.

[2020-08-07 10:36] #954 closed

[2020-08-10 11:49] r0ckarong opened #961 "Add back removed features to 4.5"
We removed a few docs features that weren't ready to be released with ~~5.0~~ 4.5. These will come back at a later date.
Find the removed things here https://github.com/SUSE/doc-caasp/pulls?q=is%3Apr+label%3Aremove_from_5.0.0+is%3Aclosed

Discuss with release manager when these can come back.

[2020-08-10 11:49] r0ckarong commented on #961
Relates to: #938

[2020-08-10 17:42] jordimassaguerpla opened #963 "Fix SP1 references"
If I do a "grep SP1" I found several references.

We should make sure we have the proper SP2 references.

[2020-08-12 08:13] tgeek77 opened #965 "[doc] 11 Backup and Restore with Velero"
11  Backup and Restore with Velero:

https://documentation.suse.com/suse-caasp/4.2/single-html/caasp-admin/#_backup_and_restore_with_velero

That's bad English. Here's a better version:

Replicate or migrate a cluster for any purpose, for example replicating a production cluster to a development cluster for testing.

[2020-08-12 11:12] dsohk opened #966 "[doc] 5.6 Configuring an External LDAP Server"
5.6  Configuring an External LDAP Server:

https://documentation.suse.com/suse-caasp/4.2/html/caasp-admin/_security.html#_configuring_an_external_ldap_server

It seems external LDAP server is required to enable administrator to add multiple users to the CaaSP cluster for authentication. This means it should be stated as as system requirement if the users want to add new user account? Currently the

[2020-08-13 07:36] #963 closed

[2020-08-13 07:43] #965 closed

[2020-08-13 08:41] mkiss-katacoda opened #967 "[doc] 4.4.2 Completely Disabling Reboots"
4.4.2  Completely Disabling Reboots:

https://documentation.suse.com/suse-caasp/4.2/single-html/caasp-admin/#_completely_disabling_reboots
"Once the node is back, remember to uncordon it so it is scheduleable again:
kubectl cordon <NODE_ID>"
"kubectl uncordon"  is the correct

[2020-08-13 09:06] #967 closed

[2020-08-13 09:50] mkiss-katacoda opened #968 "[doc] 7.1.4.2 ETCD Cluster"
7.1.4.2  ETCD Cluster:

https://documentation.suse.com/suse-caasp/4.2/single-html/caasp-admin/#_etcd_cluster

extraScrapeConfigs: |
  - job_name: etcd
    static_configs:
    - targets: ['192.168.0.32:2379','192.168.0.17:2379','192.168.0.5:2379'

missing closing ]

[2020-08-13 10:16] r0ckarong commented on #968
Duplicate of #890, was missing backport to 4.2.x. Closed with 189d95d

[2020-08-13 10:16] #968 closed

[2020-08-14 12:06] r0ckarong commented on #966
@innobead Could you help me with this? Thanks.

[2020-08-14 16:01] r0ckarong opened #970 "[CAP on CaaSP] Figure out load balancer / ingress combination for on-prem"
From @alexarnoldy

We recently went through a round of testing with CAP installed on CaaSP with Nutanix as the infrastructure provider. One of the biggest problems we encountered wasn't even about interfacing with Nutanix (though that did take a while to work out).

The problem we found is that the preferred method of deploying CAP requires an ingress controller to manage an application load balan

[2020-08-14 16:03] r0ckarong commented on #970
@qnetter @kkaempf @ereslibre What can we do about this from our side? The instructions must be adjusted on the CAP end but is there a supported scenario? What does it look like and how can it be done? Is this anything we can do?

/ cc @alexarnoldy

[2020-08-18 13:56] dff1980 opened #973 "[doc] 1.2.6.1 Mirror Configuration"
1.2.6.1  Mirror Configuration:

https://documentation.suse.com/suse-caasp/4.2/single-html/caasp-deployment/index.html#airgap-container_registry-mirror

"egistry.suse.com/caasp/v4.5/etcd" instead "registry.suse.com/caasp/v4.5/etcd"
In a table in a row "KUBEADM | etcd | egistry.suse.com/caasp/v4.5/etcd"

[2020-08-18 15:31] dirkmueller commented on #970
Whats not working with ingress-nginx ? that should be working with caasp and CAP on nutanix.

[2020-08-19 10:05] r0ckarong commented on #973
Fixed with 73526e0

[2020-08-19 10:05] #973 closed

[2020-08-19 10:39] jordimassaguerpla opened #975 "add a note about envoy security fix"
see https://github.com/SUSE/avant-garde/issues/1893

[2020-08-19 10:39] jordimassaguerpla opened #976 "add a note about etcd cve"
see https://github.com/SUSE/avant-garde/issues/1876

[2020-08-19 10:51] jordimassaguerpla commented on #975
duplicated https://github.com/SUSE/caasp-release-notes/issues/68

[2020-08-19 10:51] #975 closed

[2020-08-19 10:51] jordimassaguerpla commented on #976
duplicated https://github.com/SUSE/caasp-release-notes/issues/69

[2020-08-19 10:51] #976 closed

[2020-08-26 12:40] #966 closed

[2020-08-27 14:36] zoopster opened #980 "[doc] 3.2.1 Initializing the Cluster"
3.2.1  Initializing the Cluster:

https://documentation.suse.com/suse-caasp/4.2/single-html/caasp-deployment/#_initializing_the_cluster

The init command is missing "--cloud-provider aws" as it's needed to use the AWS CPI

[2020-08-28 02:05] jenting commented on #980
We have it at https://documentation.suse.com/suse-caasp/4.2/single-html/caasp-deployment/#_amazon_web_services_aws_cpi

[2020-08-31 09:14] #980 closed

[2020-09-02 12:00] r0ckarong commented on #329
@Klaven I only got around to answering during backlog refinement. From what I understand drain/cordon is now done automatically by skuba. Could you open a PR that describes what you started here taking this new feature into account?

[2020-09-02 12:01] r0ckarong commented on #774
Relates to #329

[2020-09-02 12:03] r0ckarong commented on #766
This should be covered with the work that went into #952

[2020-09-02 12:03] #766 closed

[2020-09-02 12:11] Martin-Weiss commented on #329
During "Starting" don´t we have to uncordon the workers as step 3 and "enjoy" in step 4?

[2020-09-07 06:17] gfigueira opened #983 "[doc] 4.2.1 Deploying the Cluster Nodes"
4.2.1  Deploying the Cluster Nodes:

https://documentation.suse.com/suse-caasp/4.0/single-html/caasp-deployment/#_deploying_the_cluster_nodes

Down in this section, there is an "Important" point about noting down the ips/fdqns of the resources. This is right after the "terraform appy" step. Isn't it redundant to have this note here? After the terraform apply you will see all the info you need.

[2020-09-08 08:28] r0ckarong commented on #983
This box just explains how you can find the IPs for the nodes you deployed again. It's best practice to have some sort of "operations manual" that documents everything about the software you deployed and that would include the IPs for the nodes. If you don't have that you might need to find the IPs again and this is the quick way to do it.

[2020-09-08 08:28] #983 closed

[2020-09-08 09:32] r0ckarong commented on #221
From what I can tell this is not really possible with the way AsciiDoctor is handling docinfo files. It will append information but not overwrite it from the contents of the docinfo. This, at the time of writing, just isn't possible to do what we wanted.

[2020-09-08 09:32] #221 closed

[2020-09-08 12:19] #894 closed

[2020-09-09 06:12] phakkarainen opened #987 "[doc] 1.4.1 Sub-Network Sizing"
1.4.1  Sub-Network Sizing:

https://documentation.suse.com/suse-caasp/4.5/single-html/caasp-deployment/#_sub_network_sizing

"The **default** pod subnet is 10.244.0.0/**16**. It allows for 65536 IP addresses overall. Assignment of CIDR’s is **by default /24** (254 usable IP addresses per node)."

[2020-09-09 07:02] phakkarainen opened #988 "[doc] 3.1.5.1 Nginx TCP Load Balancer with Passive Checks"
3.1.5.1  Nginx TCP Load Balancer with Passive Checks:

https://documentation.suse.com/suse-caasp/4.5/single-html/caasp-deployment/#loadbalancer-nginx

allows the **use of use** passive health checks

[2020-09-09 11:48] r0ckarong commented on #987
Could you please provide more information about what change to the documentation you expect? You added some emphasis on these parts of the text but what am I supposed to do here?

[2020-09-09 11:50] #988 closed

[2020-09-09 11:51] phakkarainen commented on #987
Sorry for the confusion.

From the text I get impression there's only one network. Yet there are two masks /24 and /16.
I still think that there should be two networks (pods and nodes) with separate masks.

Pete

[2020-09-09 11:53] r0ckarong commented on #987
@kkaempf @ereslibre @mdarnell-suse
Do we actually have to separate networks here? Suggestions on how we can communicate this better?

[2020-09-10 10:59] evrardjp commented on #329
nope, I think they will come back online uncordoned. TBC.

[2020-09-10 10:59] evrardjp commented on #774
Can we close this card?

[2020-09-10 13:22] #774 closed

[2020-09-14 14:05] Martin-Weiss opened #991 "[doc] 5.1 Migration to SUSE CaaS Platform 4.5 -> add high level overview of the process, please"
5.1  Migration to SUSE CaaS Platform 4.5:

https://documentation.suse.com/suse-caasp/4.5/single-html/caasp-admin/#caasp-migration

----------------------
For me it is unclear if we just upgrade the OS on the admin machine and skuba does the "zypper migration" on masters+worker or if the customer has to upgrade the OS on admin+master+worker before running through the skuba cluster upgrade apply...

[2020-09-15 08:33] dsohk opened #992 "[doc] 13.4 Deployment"
13.4  Deployment:

https://documentation.suse.com/suse-caasp/4.5/single-html/caasp-admin/#_deployment_2

Is there any velero deployment setup/configuration guide using SES (SUSE Enterprise Storage) as backup object storage provider?

[2020-09-15 09:35] r0ckarong commented on #992
https://documentation.suse.com/suse-caasp/4.5/single-html/caasp-admin/#_object_storage_and_its_credentials

If you scroll past the section about the Public Cloud Providers you will find a section "S3-Compatible Providers" that links to the relevant SES docs.

I have reworked this section in the next build so that it becomes a distinct item in the navigation and makes it clearer where to find it.

[2020-09-15 09:35] #992 closed

[2020-09-15 09:53] dsohk commented on #992
That’s great! Thank you for pointing out and re-organizing it to stand out the use of SES as velero backup storage provider.

From: Markus Napp <notifications@github.com>
Date: Tuesday, September 15, 2020 at 5:35 PM
To: SUSE/doc-caasp <doc-caasp@noreply.github.com>
Cc: Derek So <derek.so@suse.com>, Author <author@noreply.github.com>
Subject: Re: [SUSE/doc-caasp] [doc] 13.4 Deployment (#992)

https

[2020-09-15 10:39] r0ckarong commented on #991
@kkaempf To me this sounds like part of https://github.com/SUSE/avant-garde/issues/1919

[2020-09-15 11:10] kkaempf commented on #991
Yes, indeed

[2020-09-15 11:50] r0ckarong commented on #829
@kkaempf @qnetter What is the current status of the product support lifecylce? What should we describe here? We currently already basically force sequential upgrades because 4.2 -> 4.5 doesn't work in any other way.

[2020-09-15 12:00] #831 closed

[2020-09-15 13:57] kkaempf commented on #829
https://www.suse.com/lifecycle/ currently says

4.2 EOL: 07 Dec 2020* (with footnote: * Users of SAP Data Intelligence: for extended support information, contact your account team.)
4.5 EOL: 31 May 2021

The [4.5 interlock slide deck](https://confluence.suse.com/pages/viewpage.action?pageId=535626270) says "Six months overlap between version 4.2 and 4.5."

[2020-09-15 13:59] kkaempf commented on #829
I've added this topic to the agenda of the next pm/eng sync meeting

[2020-09-16 06:23] Martin-Weiss opened #993 "[doc] 6.9.4 Monitoring Certificates -> ${RELEASE_NAME}"
6.9.4  Monitoring Certificates:

https://documentation.suse.com/suse-caasp/4.5/single-html/caasp-admin/#_monitoring_certificates

--> seems that the variable RELEASE_NAME is not defined..

[2020-09-16 09:52] r0ckarong commented on #993
@cclhsu I believe you wrote most of the monitoring docs originally. Is `${RELEASE_NAME}` a placeholder for the respective commands or should this have been exported to an environment variable somewhere? I can't find a variable declaration anywhere.

[2020-09-16 10:00] Martin-Weiss opened #994 "[doc] 5 Upgrading SUSE CaaS Platform - need an overview helm chart versions <-> CaaSP version that are supported"
5  Upgrading SUSE CaaS Platform:

https://susedoc.github.io/doc-caasp/master/single-html/caasp-admin/#_upgrading_suse_caas_platform

----------------------
We are upgrading 4.2.1 to 4.2.3 and later to 4.5.
Now during the upgrade from 4.2.1 to 4.2.3 we find many helm charts on kubernetes-charts.suse.com that use images from 4.5 - so we do NOT know which helm chart / which application we have to upd

[2020-09-16 10:02] Martin-Weiss opened #995 "[doc] 5 Upgrading SUSE CaaS Platform - structure.. move update/upgrade from admin guide to deployment guide"
5  Upgrading SUSE CaaS Platform:

https://susedoc.github.io/doc-caasp/master/single-html/caasp-admin/#_upgrading_suse_caas_platform

------
To be discussed:

I would expect update/upgrade instructions in the deployment guide and not in the release-notes or the admin guide.
What do you think? Could we have "install, update and upgrade" moved into the "deployment" guide?

[2020-09-16 11:53] r0ckarong commented on #994
This is basically a duplicate of the unresolved portion of #621

@jordimassaguerpla How could we provide that in a maintainable way?

[2020-09-16 12:01] r0ckarong commented on #995
The way the documents were meant is:

Deployment - Initial planning, installation and rollout
Admin - Daily operations and maintenance

Upgrading, to me, is part of maintenance and not a separate rollout and that's why upgrading is part of the admin guide.

The release notes will contain release specific upgrade instructions occasionally. I don't want to re-write the update instructions for each r

[2020-09-16 12:36] Martin-Weiss commented on #995
Looking and many other product documentations - installation and upgrade are part of the deployment guides - that is why I was requesting this change..

Daily patching/operations is right in the admin guide but should be also linked from the deployment guide as all servers should always be patched before doing an upgrade.

[2020-09-16 13:18] r0ckarong commented on #995
Out of curiosity, could you give me some examples? Maybe I can better understand how others are structuring this if this is the way you would prefer.

I'll have a look how badly the procedures are entangled in the admin guide so I could move them.

[2020-09-16 14:27] Martin-Weiss commented on #995
SLES and SUSE Manager have separate upgrade guides
SES https://documentation.suse.com/ses/6/single-html/ses-deployment/#ses-deployment
Open Enterprise Server https://www.novell.com/documentation/open-enterprise-server-2018/oes_implement_lx/data/bookinfo.html

I believe many product documentations have the deployment document with install and upgrade..

Regarding the release notes.. these were the

[2020-09-17 08:36] cclhsu commented on #993
I am not sure original owner is, but `RELEASE_NAME` is  just a bash variable with user defined name for helm deployment.

[2020-09-17 08:42] r0ckarong commented on #993
And this is the name you later use to easier access a given helm deployment, right? Then I should change this to something more sensible.

[2020-09-17 09:24] jordimassaguerpla commented on #795
ping @qnetter

[2020-09-17 11:02] r0ckarong commented on #993
The reason this was used is that helm (unhelpfully) chose to re-coin the term "release" as the instance of an installed chart that is actively maintained in the cluster (basically, what "deployment" is in Kubernetes terms). This means you can give each installation a separate name and this is what $RELEASE_NAME is referring to here. Not even an environment variable but a placeholder for the name y

[2020-09-17 11:04] #993 closed

[2020-09-17 16:18] jordimassaguerpla commented on #829
@qnetter will supply with the text https://confluence.suse.com/pages/viewpage.action?pageId=380698630

[2020-09-18 10:40] #910 closed

[2020-09-19 02:51] mdarnell-suse commented on #987
I'll weigh in with my opinion, but I'd like to have @rktidwell verify.

The answer for me is that yes, we need two networks. The first network is the host or API network. These are the IP addresses assigned to the primary NIC on all of the Kubernetes nodes.

The second network is the generally non-routable IP subnet provided to the Kubernetes cluster, and all pod IP addresses are issued from this

[2020-09-21 06:34] Martin-Weiss commented on #987
We also should be very clear about the size for the POD and the size of the Services network. I still miss the point why the default for the services network is "bigger" than the network for PODs. I really believe the number of services would always be lower than the number of PODs - or do I miss something? ;-).

[2020-09-21 07:21] jenting commented on #938
Ref to https://github.com/SUSE/avant-garde/issues/1765

[2020-09-21 14:48] rktidwell commented on #987
I've read and re-read this section of documentation several times, and the understanding I walk away with is that this is simple subnetting exercise. We supply a /16 for the entire cluster, and because the default node CIDR is a /24 we can support 256 nodes with the default out-of-the-box configuration. The cluster network is a private network that is generally not routable (there are exceptions,

[2020-09-22 14:26] manuelbuil commented on #970
metalLB or any other load-balancer solution to provide an external IP to the ingress controller is not going to be supported in CaaSP (at least as of today)

[2020-09-24 00:53] jenting opened #1004 "[doc] how to monitor and renew cilium client cert to ETCD"
for cilium client cert
1. add how to  renew it by cert-manager
2. add how to monitor it

[2020-09-24 07:48] jsegitz opened #1005 "[doc] 9.1.2.3 Using RBD with Dynamic Persistent Volumes"
9.1.2.3  Using RBD with Dynamic Persistent Volumes:

https://documentation.suse.com/suse-caasp/4.2/single-html/caasp-admin/#_RBD-dynamic-persistent-volumes

Also for the other examples: Don't use the admin key for allowing access to the SES cluster. Create a dedicated user for this

[2020-09-24 12:32] Martin-Weiss opened #1006 "[doc] 6.9.4.4 Monitor Custom Secret Certificates - glob specification unclear"
6.9.4.4  Monitor Custom Secret Certificates:

https://susedoc.github.io/doc-caasp/master/single-html/caasp-admin/#_monitor_custom_secret_certificates

-----------------------

Tried to configure monitoring for custom certificates and tried this in the values.yaml:

     includeKeys:
        - "{ca.crt,tls.crt}"

--> but this did not work as the glob did not match

had to specify something like thi

[2020-09-24 12:42] Martin-Weiss commented on #1006
FYI - this is how I configured it to monitor ALL secrets in all namespaces that have a .pem and .crt!

[code]

[2020-09-24 12:57] r0ckarong commented on #1006
@innobead Can you help with this?

[2020-09-24 12:59] r0ckarong commented on #1005
@c3y1huang Could you provide the steps needed to create a dedicated user for this scenario?

[2020-09-24 17:28] Martin-Weiss opened #1007 "[doc] 3.1.2.1 Installing Helm - caasp v5 and helm 2 is default??"
3.1.2.1  Installing Helm:

https://documentation.suse.com/suse-caasp/4.5/single-html/caasp-admin/#helm-tiller-install

---------------
--> Helm 2 is the default for SUSE CaaS Platform 5. Helm 3 is offered as an alternate tool and may be installed in parallel to aid migration.

I believe this is wrong... helm 3 is the default and CaaSP is version 4.5

[2020-09-24 17:30] Martin-Weiss opened #1008 "[doc] 3.1.2.3.1 Preconditions - airgap is a must to be supported"
3.1.2.3.1  Preconditions:

https://documentation.suse.com/suse-caasp/4.5/single-html/caasp-admin/#_preconditions

-------------------
--> The procedure below requires an available internet connection to install the 2to3 plugin. If the installation is in an air gapped environment, the system may need to be moved back out of the air gapped environment.

Could we add the explanation on how to downloa

[2020-09-24 17:32] Martin-Weiss commented on #1008
Maybe a similar process like this can work "offline"?

$ wget https://get.helm.sh/helm-v3.0.0-linux-amd64.tar.gz
$ tar xzf helm-v3.0.0-linux-amd64.tar.gz
$ ./linux-amd64/helm plugin install https://github.com/helm/helm-2to3

[2020-09-24 17:46] Martin-Weiss opened #1009 "[doc] 3.1.2.3.2 Migration Procedure - few enhancements required."
3.1.2.3.2  Migration Procedure:

https://documentation.suse.com/suse-caasp/4.5/single-html/caasp-admin/#_migration_procedure

-------------------
1. before starting - create a list of deployments and repos - "helm list" and "helm repo list"
2. sudo zypper remove helm2 -> this does not work:

[code]
3. after the move config - I still see the repos - just the default 127.0.0.1 one is not working any

[2020-09-24 17:47] Martin-Weiss commented on #1008
I assume that instead of helm plugin install a

wget -N https://github.com/helm/helm-2to3/releases/download/v0.7.0/helm-2to3_0.7.0_linux_amd64.tar.gz
and extraction to the right path might already be sufficient

[2020-09-25 02:01] jenting commented on #1004
https://bugzilla.suse.com/show_bug.cgi?id=1176904

[2020-09-25 02:08] jenting commented on #1006
cc me

[2020-09-25 07:14] Martin-Weiss opened #1011 "[doc] 6.9.7.2 Worker Node Certificate Rotation - how does this work without kucero running on the workers?"
6.9.7.2  Worker Node Certificate Rotation:

https://documentation.suse.com/suse-caasp/4.5/single-html/caasp-admin/#_worker_node_certificate_rotation

--------------------
Can we get more clarification in this section? I can see that the kucero addon is just running on the masters - so how does the certificate get upgraded on the workers?

[2020-09-25 07:41] Martin-Weiss opened #1012 "[doc] 5 Upgrading SUSE CaaS Platform - whats new?"
5  Upgrading SUSE CaaS Platform:

https://documentation.suse.com/suse-caasp/4.5/single-html/caasp-admin/#_upgrading_suse_caas_platform

--------------------

It is really difficult or even impossible to follow the changes of the documentation vs. previous versions.
Basically it is required to re-read the whole documentation to try to find out whats new or changed.
Especially if there are changes i

[2020-09-25 07:51] Martin-Weiss opened #1013 "[doc] 6.9.2 Certificate Validity - 1 or 2 years?"
6.9.2  Certificate Validity:

https://documentation.suse.com/suse-caasp/4.5/single-html/caasp-admin/#_certificate_validity

--------------------

I just had to realize that in my cluster the etcd-client-certificate in cilium-secret has a 2 year lifetime but at the customer I have seen 1 year.. are we sure that the 1 year is correct for all versions, certificates and deployments?

[2020-09-25 08:52] r0ckarong commented on #1007
@jordimassaguerpla What is the actual default used in 4.5?

[2020-09-25 08:53] r0ckarong commented on #1008
@jodavis-suse Have you tested this migration in an air gap env? Could you provide the steps required?

[2020-09-25 08:56] r0ckarong commented on #1011
@jenting

[2020-09-25 09:07] r0ckarong commented on #1012
I'm not entirely sure how to accomodate you here. We added the full docs changelog in the past but got feedback that this was bloating the documents and wasn't helpful. The changelog was the same list we include on the [releases](https://github.com/SUSE/doc-caasp/releases/tag/release-4.5.0-1) page.

Could you give me an example for what you would expect the contents of this section to look like ot

[2020-09-25 09:08] r0ckarong commented on #1013
@jenting

[2020-09-25 11:27] Martin-Weiss commented on #1012
It would be great to have a What´s new / What´s changed chapter for release changes.. going through the git changes is not something we should ask a customer to do..

I mean something similar to such a guide https://www.novell.com/documentation/open-enterprise-server-2018/oes_readme/data/t493kntlp56u.html

Such a guide would give a clear overview over the changes from i.e. 4.2.3 to 4.5.0

[2020-09-25 12:00] #927 closed

[2020-09-25 12:18] r0ckarong commented on #1012
I don't understand. How is this different from what we provide in our release notes?

https://www.suse.com/releasenotes/x86_64/SUSE-CAASP/4.5/#_what_is_new_in_4_5_0

You want the docs changes to be described in this detail?

[2020-09-25 15:09] jodavis-suse commented on #1008
Actually, I did test installing the plugin as @Martin-Weiss described but it failed.  The problem is that the 2to3 plugin itself is written to require an active internet connection back to github.  It can be done manually, but the install script inside the plugin has to be modified.

[2020-09-25 15:34] jodavis-suse commented on #1008
Reference https://github.com/helm/helm-2to3/blob/master/scripts/install_plugin.sh

[2020-09-25 15:53] adianas opened #1014 "CaaSP 4.5 Release notes to include the updated addons versions (Cilium, etc)"
https://susedoc.github.io/caasp-release-notes/master/single-html/release-notes/

I think is going to be helpful to include the updated addons versions in the release notes of CaaSP 4.5, especially for customers that they are planning to upgrade from CaaSP 4.2.
One good example is Cilium that with CaaSP 4.5 has been updated to 1.7.6 which includes new features such as:
Transparent Encryption - http

[2020-09-25 16:20] jodavis-suse commented on #1008
@Martin-Weiss Do you want to discuss a bit about how this effects customers?
- Do we have any air-gapped customers who would need to do a helm 2 to helm 3 migration and would not be simply doing a fresh CaaSP 4.5 install in an air-gapped environment and could go straight to helm3 without migrating chart releases?
- Is having a mobile admin node (ie a laptop) for an air-gapped migration not accepta

[2020-09-25 21:28] jodavis-suse commented on #1008
And just to be clear, the "helm3" package is included in our CaaSP 4.5 (and very soon 4.2) repos and can be installed with "zypper in helm3" for fresh installs (as documented). It is just the 2to3 plugin that is not packaged.

[2020-09-26 20:28] r0ckarong commented on #1014
@jordimassaguerpla

[2020-09-28 01:49] jenting commented on #1013
@Martin-Weiss ,
I check the skuba code, from the first release version 4.0 to now, the certificate is generated by using _kubeadm_ library
- https://github.com/kubernetes/kubernetes/blob/master/cmd/kubeadm/app/util/pkiutil/pki_helpers.go#L83
- https://github.com/kubernetes/kubernetes/blob/master/cmd/kubeadm/app/util/pkiutil/pki_helpers.go#L568
- https://github.com/kubernetes/kubernetes/blob/master

[2020-09-28 01:56] jenting commented on #1011
The worker node control plane certificates are kubelet _client_ and _server_ certificate.
From up to now skuba release, we have address renew kubelet client certificate, however, for kubelet server certificate, we'll address it in the next coming release.

Generally:
- kubelet client certificate: the client CSR issue from kubelet daemon, the CSR signer and approver is the `kube-controller-manager`

[2020-09-28 08:38] jordimassaguerpla commented on #1007
helm2

[2020-09-28 09:24] Martin-Weiss commented on #1007
This is really strange - I just did a new deployment of CaaSP 4.5 and on the admin node with the management pattern helm3 was the default..

[2020-09-29 07:19] jenting commented on #1006
I remember I had test it before, could you please provide the cert-exporter pod log to me? thanks.

ok

[2020-09-29 07:28] Martin-Weiss commented on #1006
This works for me:

[code]
And when I use this it does not work:

[code]

And here are the relevant logs:

[code]

[2020-09-29 09:37] Martin-Weiss commented on #1013
I have no idea - but at the customer the certificate in admin.conf AND in cilium-secret both had 1 year lifetime and not 2..

[2020-09-29 13:06] mmnelemane commented on #1014
Needed for https://github.com/SUSE/avant-garde/issues/1936

[2020-09-29 14:17] mrostecki commented on #628
Honestly, I don't think there is anything to document. Envoy is just shipped in the container image together with Cilium and Cilium is managing the Envoy process by itself. Feel free to re-open if anyone thinks, that there is something unclear in the current docs and an example of creating a l7 policy.

[2020-09-29 14:17] #628 closed

[2020-09-29 21:15] mkiss-katacoda opened #1017 "[doc] 13.7 Error <code class="literal">Invalid client credentials</code>"
13.7  Error <code class="literal">Invalid client credentials</code>:

https://documentation.suse.com/suse-caasp/4.2/single-html/caasp-admin/#_error_invalid_client_credentials

Bad syntax in kubectl commands:
kubectl get configmap oidc-dex-config > oidc-dex-config.yaml
kubectl get configmap oidc-gangway-config > oidc-gangway-config.yaml

In action:
kubectl get configmap oidc-dex-config > oidc-dex-c

[2020-09-30 01:08] jenting commented on #1013
@mrostecki when we upgrade the cilium version from 1.5->1.6 or 1.6->1.7, will cilium itself do certificate extension?
@Martin-Weiss could you please get the cilium version of your K8s cluster and customer K8s cluster?

[2020-09-30 02:40] jenting commented on #1004
The avant-grade created https://github.com/SUSE/avant-garde/issues/1969, close this issue.

[2020-09-30 02:40] #1004 closed

[2020-09-30 09:26] Martin-Weiss commented on #1013
Who is creating and updating the clium-secret? Isn´t skuba doing that?
At the customer we have cilium 1.5.3 and in my cluster I have 1.7.5 - but my secret has these dates:
notBefore=Sep 17 09:23:49 2019 GMT
notAfter=Sep 15 09:14:20 2021 GMT
At the customer we have seen notBefore 2019 and notAfter 2020..

[2020-09-30 22:59] jodavis-suse opened #1020 "Add helm3 package notes to 4.2.4 release notes"
As we have been asked to include Helm 3 in CaaSP 4.2 (see https://github.com/SUSE/avant-garde/issues/1949 ) there needs to be a bit of notice in the release notes to let users know it is available.

The original intention was to bring over helm3 and helm2 packaging to match CaaSP 4.5, in which case any doc changes would also need to be backported.  But it was pointed out that the 4.2 branch should

[2020-09-30 23:02] jodavis-suse commented on #1020
Note: if helm2 package naming is included in 4.2.4, then the release note would need to be revised and full doc changes backported.

[2020-09-30 23:11] jodavis-suse commented on #1020
PR for release note - https://github.com/SUSE/caasp-release-notes/pull/80

[2020-10-01 12:12] pgavro opened #1021 "[doc] 5.1.2 Upgrade the cluster"
5.1.2  Upgrade the cluster:

https://documentation.suse.com/suse-caasp/4.5/html/caasp-admin/_upgrading_suse_caas_platform.html#_upgrade_the_cluster
Note: If you have metrics-server deployed before , delete it's deployment before step "skuba addon upgrade apply " , otherwise the error occured :

E1001 14:02:08.082455   10828 addons.go:425] failed to run kubectl apply: serviceaccount/metrics-server

[2020-10-02 09:23] mlaguilharre opened #1022 "[doc] 4 Cluster Updates"
4  Cluster Updates:

https://documentation.suse.com/suse-caasp/4.5/single-html/caasp-admin/#_cluster_updates

My customer like to have a procedure that outline step to migrate when yu have a SUSE Manager server. Currently the information is scattered among different documentation, CaasP, SLE, SUSE Manager ..

Draft proposal:

1.First unlock the client:
https://documentation.suse.com/external-tree/

[2020-10-02 15:04] wtmpx opened #1023 "[doc] 5.1.2 Upgrade the cluster"
5.1.2  Upgrade the cluster:

https://documentation.suse.com/suse-caasp/4.5/single-html/caasp-admin/#_upgrade_the_cluster

Please fix the dashes (--) in
skuba node upgrade apply —-user sles —-sudo —-target <IP of the node you’ve migrated>

[2020-10-05 03:24] jenting commented on #1013
I believe yes, but I've to check each skuba release whether the skuba will extend the client certificate.
But if I remember correctly, the cilium client certificate generates if the Secret `cilium-secret` not exist when cluster bootstrap or upgrade.

[2020-10-06 05:57] Martin-Weiss commented on #1022
I believe instead of "zypper migration" we have to run "zypper dup" as "migration" would like to change channel assignments against SCC/SMT/RMT and might not work against SUSE Manager..

[2020-10-06 06:27] Martin-Weiss commented on #1008
Maybe we have to deliver the addon as additional RPM and adjust the plugin not to download and update itself?

[2020-10-06 06:30] Martin-Weiss commented on #1012
I can not find the list of helm charts that are new/updated and this is very high level - where can I find all the details?

[2020-10-07 08:11] Martin-Weiss opened #1026 "[doc] 13.4.2 Backup Kubernetes Cluster - how to trust a custom/self-signed CA?"
13.4.2  Backup Kubernetes Cluster:

https://documentation.suse.com/suse-caasp/4.5/single-html/caasp-admin/#_backup_kubernetes_cluster

-----

When specifying the S3 target for backup - we need to add the trusted CA somehow or we have to specify insecure-no-verify or similar but I can not find an explanation on this in the documentation nor in the helm chart 2.12.2

For the backup target I found th

[2020-10-07 22:13] jodavis-suse commented on #1020
Documentation changes associated with this backporting are now in https://github.com/SUSE/doc-caasp/pull/1027.
The release note is no longer valid, so I'll go revise that.

[2020-10-12 09:47] r0ckarong commented on #1017
@jenting Can you confirm these are wrong? What would be the correct parameters?

[2020-10-12 09:48] jenting commented on #1017
The problem is we missed the namespace parameter, I'll file a PR to fix it.

[2020-10-12 10:00] r0ckarong commented on #1021
@innobead @jenting Can you confirm this behavior? What are the correct steps that need to be done to properly perform the upgrade when you have this deployed?

[2020-10-12 10:08] innobead commented on #1021
@r0ckarong ref https://github.com/SUSE/caasp-release-notes/pull/79

[2020-10-12 10:23] r0ckarong commented on #1022
@kkaempf @qnetter

[2020-10-12 10:31] #1023 closed

[2020-10-12 10:35] r0ckarong commented on #1026
@innobead Since this is backup/velero, could you help with this?

[2020-10-12 10:45] r0ckarong commented on #1007
@jodavis-suse Which one is currently being installed by default? I know this is being changed for 4.5.1 but shouldn't have been deployed at the time of writing.

[2020-10-12 11:59] r0ckarong commented on #1021
Thank you, I just found this again too.

[2020-10-12 12:04] r0ckarong commented on #1021
Since this is a temporary problem and will be fixed in the later versions, we will add this to the release notes. Closing this issue.

[2020-10-12 12:04] #1021 closed

[2020-10-12 12:30] kkaempf commented on #1022
This has already been discussed on engineering level and I'm all _for_ having this properly documented. It's mostly channel management and no 'dark magic' :wink:

I'd like to get buy-in from @qnetter and @blandorff as this needs cycles from both engineering groups.

[2020-10-12 13:18] r0ckarong commented on #1014
@jordimassaguerpla This is part of the recurring request to give more info on the changes between releases. Can we have a chat about how and who can provide these? I would think that updating the component/addon/container would need an additional item on the "todo" list that includes adding the info on what is new.

[2020-10-12 13:43] r0ckarong commented on #1020
RN PR is "On-Hold" waiting for this to clear.

[2020-10-12 13:46] r0ckarong commented on #1017
If the problem is just the missing namespace params I'll do this. Quicker this way.

[2020-10-12 13:49] #1017 closed

[2020-10-12 14:30] #1006 closed

[2020-10-13 11:27] r0ckarong opened #1030 "Add back to 4.5.2 and 4.2.4"
Add back reverted commits:

4.2.4:
- [x] b64c653ce58043c9dd36f190c828c70ca6af6899
- [x] efd507053ec6d2b30038b196c196bf5d112c4feb

4.5.2:
- [x] 05939d9d568a6a58ed27067661839afbd41fac89

[2020-10-13 12:16] #309 closed

[2020-10-13 12:16] #306 closed

[2020-10-13 12:16] #326 closed

[2020-10-13 12:17] r0ckarong commented on #544
This is too much effort before the revamp of CaaSP. Closing.

[2020-10-13 12:17] #544 closed

[2020-10-13 12:17] otuominen opened #1031 "[doc] 1.1 Platform missing Azure"
1.1  Platform:

https://documentation.suse.com/suse-caasp/4.5/single-html/caasp-deployment/#_platform

Missing Azure as on Release notes: https://www.suse.com/releasenotes/x86_64/SUSE-CAASP/4.5/#_supported_platforms
"Microsoft Azure (technological preview)"

[2020-10-13 12:19] r0ckarong commented on #621
The indiividual open problems have follow up issues. I'll close this discussion and we'll work on the other requests.

[2020-10-13 12:19] #621 closed

[2020-10-13 12:21] r0ckarong commented on #837
@innobead Is this still on your radar?

[2020-10-13 16:46] jodavis-suse commented on #1007
It should not be changed until a future version.  4.5.1 should still default to Helm 2.

I'll look up the issue numbers and comment. I wish I'd seen this issue sooner, but I haven't been watching doc issues.

joseph
________________________________
From: Markus Napp <notifications@github.com>
Sent: Monday, October 12, 2020 3:45 AM
To: SUSE/doc-caasp <doc-caasp@noreply.github.com>
Cc: Joseph Davis

[2020-10-13 16:53] jodavis-suse commented on #1007
According to our plan for the Helm 3 epic https://github.com/SUSE/avant-garde/issues/1600 the default version should not change until well after 4.5.1.  See also https://confluence.suse.com/display/CaaSP/ADR%3A+Helm+3+transitional+packaging

In my testing I found the helm2 package should be installed by default, and even if helm3 package is installed then the helm2 alternative in update-alternativ

[2020-10-14 02:31] innobead commented on #837
@jenting please help with this by using user `kubeconfig` instead of SA token? and have a reference to the upstream doc to let people know some alternatives they can use as well (upstream doc: https://github.com/kubernetes/dashboard/blob/master/docs/user/access-control/README.md#authentication).

ref: https://github.com/kubernetes/dashboard/blob/master/docs/user/access-control/README.md#kubeconfig

[2020-10-14 02:56] innobead commented on #1026
This feature is already introduced in Velero 1.4.x, and we are working on the release and regression. If it's ready, we will have a doc to enhance this.

ref: https://github.com/vmware-tanzu/velero/issues/1027

cc @jenting @maximenoel8

[2020-10-14 03:02] jenting commented on #1026
Velero 1.4 includes adding trusted CA to both S3 & restic, we're going to release Velero 1.4 and it's helm chart recently.

[2020-10-14 03:21] jenting commented on #938
This is ready to be reviewed https://github.com/SUSE/avant-garde/issues/1765#issuecomment-707826526

[2020-10-14 07:43] #324 closed

[2020-10-14 07:43] #329 closed

[2020-10-14 08:25] r0ckarong commented on #1031
This was added by mistake. Azure support is still being worked on and is also not available as tech preview at the moment. We will correct the release notes.

[2020-10-14 08:25] #1031 closed

[2020-10-14 10:17] r0ckarong commented on #1007
https://github.com/SUSE/avant-garde/issues/1949#issuecomment-705539605

[2020-10-14 10:17] #1007 closed

[2020-10-15 06:11] Martin-Weiss commented on #1007
FYI - have found the root cause why the customers server had helm3 as default!

S | Name                  | Type    | Version                         | Arch   | Repository
--+-----------------------+---------+---------------------------------+--------+--------------------------------------
i | helm                  | package | 3.0.3-bp152.1.25                | x86_64 | SUSE-PackageHub-15-SP2-Backp

[2020-10-15 07:39] chentex opened #1032 "[doc] 7.4.4 Deployment"
7.4.4  Deployment:

https://documentation.suse.com/suse-caasp/4.5/html/caasp-admin/_logging.html#_deployment

`Helm` commands are missing the `namespace` parameter.

[2020-10-15 09:29] r0ckarong commented on #1032
Both commands in this section have the `--namespace kube-system` parameter. Is that not what you mean?

[2020-10-15 09:52] r0ckarong commented on #1007
@jordimassaguerpla Do you know who can answer this?

[2020-10-16 05:55] Martin-Weiss commented on #1007
I partially agree - but from a cross product compatibility and interoperability point of view I think the current status is not acceptable. If we as SUSE deliver different versions in valid SLES modules - we have to manage the dependencies and priorities better and maybe deliver the same versions ;-) (remember the terraform in CaaSP channel vs. Public Cloud channel).

The customer did not even rea

[2020-10-16 07:31] chentex commented on #1032
Is for the status/delete/uninstall commands.

[2020-10-16 08:19] #1032 closed

[2020-10-16 09:41] jordimassaguerpla commented on #1007
@Martin-Weiss Could you open a bug in bugzilla about it? I think this is something that should be handled with package hub team. Thanks.

[2020-10-16 11:56] Martin-Weiss commented on #1007
No problem - https://bugzilla.suse.com/show_bug.cgi?id=1177795 created

[2020-10-16 15:26] jordimassaguerpla commented on #1014
Let's include this in our automation plans but not manually, or we will have issues maintaining this information.

[2020-10-19 16:19] dannysauer commented on #1020
@r0ckarong - is this still blocked?

[2020-10-19 16:50] SheilaghM commented on #775
@r0ckarong @kkaempf - is this still blocked or is it finished?  Can it be closed?

[2020-10-19 19:49] phegedus83 opened #1035 "[doc] 13.8.2 Cluster Migration"
13.8.2  Cluster Migration:

https://documentation.suse.com/suse-caasp/4.5/single-html/caasp-admin/index.html#_cluster_migration
Check gangway configuration:
Download gangway.yaml
kubectl get configmap oidc-gangway-config -o yaml > oidc-gangway-config.yaml
Edit oidc-gangway-config.yaml to desired
vim oidc-gangway-config.yaml
Apply new oidc-gangway-config.yaml
kubectl apply -f oidc-gangway-config.ya

[2020-10-20 02:05] jenting commented on #1026
It's preparing to be released along with `4.5.2` https://github.com/SUSE/avant-garde/issues/1786#issuecomment-708140741

[2020-10-20 02:07] jenting commented on #1035
nice catch! Thanks.

[2020-10-20 05:30] jenting commented on #837
After research, the user's token by default does not exist in the user's ~/.kube/config, so we have to find an easy way to create the token by the user or by the admin.

[2020-10-20 06:38] r0ckarong commented on #775
From what I can tell, nothing has happened. Still blocked.

[2020-10-20 07:01] r0ckarong commented on #1020
Wasn't aware the related avant-garde issue had closed now. I will take another look.

[2020-10-20 08:28] kkaempf commented on #775
:disappointed: all the `EngineeringInput` labeled issues should be referenced in `avant-garde`, otherwise they're not exposed to the team.
Tracked as https://github.com/SUSE/avant-garde/issues/2007 now.

[2020-10-20 08:46] r0ckarong commented on #775
Then I will duplicate all the issues to avant-garde?

[2020-10-20 09:32] kkaempf commented on #775
Well, we escalated via champions / teamleads but this didn't work out apparently.

[2020-10-20 10:27] phegedus83 commented on #1035
Missing namespace:
kubectl delete pod -l app=oidc-gangway **-n kube-system**

[2020-10-21 03:00] jenting commented on #837
From https://github.com/kubernetes/dashboard/blob/master/docs/user/access-control/README.md#kubeconfig

From my testing, the `admin.conf` _or_ downloaded `kubeconf` thru dex&gangway both does not exist the `token` inside, therefore, we could not log in to the Kubernetes dashboard by providing the _kubeconf_. Ref: https://stackoverflow.com/questions/48228534/kubernetes-dashboard-access-using-config

[2020-10-21 03:23] jenting commented on #837
Instead, I've tried to deploy https://github.com/vmware-tanzu/octant and it uses _kubeconf_ to do authentication/authorization and more simple to deploy.

[2020-10-21 06:05] innobead commented on #837
As per @jenting described, there is no way to get `token` from the kubeconfig generated from gangway/dex, because it does not exist when doing `oidc` authentication. (this is the limitation of K8s dashboard)

The only way to improve the doc is by guiding users on how to create a namespace token via service account to access the dashboard, but remember that **the generated token is totally not rela

[2020-10-21 11:13] #1011 closed

[2020-10-21 11:21] #1030 closed

[2020-10-21 11:56] r0ckarong commented on #1020
Done.

[2020-10-21 11:56] #1020 closed

[2020-10-21 12:00] #1035 closed

[2020-10-21 13:34] #1026 closed

[2020-10-22 10:15] r0ckarong commented on #994
This is a duplicate of pending #775

[2020-10-22 10:15] #994 closed

[2020-10-22 11:48] otuominen opened #1038 "[doc] Release Notes 4.5.1"
6.9  Release Notes:

https://www.suse.com/releasenotes/x86_64/SUSE-CAASP/4.5

Can 4.5 included in the same release notes document as now it missing all the important changes what happened on 4.5?

[2020-10-22 12:31] Martin-Weiss opened #1039 "Please update the way on how to adjust addons for customer needs"
It seems the current way of adjusting addons is not valid as skuba automatically creates a kustomized.yaml in a temporary folder?

See https://bugzilla.suse.com/show_bug.cgi?id=1177803

We need this properly documented in 4.2.x and 4.5.x so customers understand exactly how to customize addons in a Skuba compatible way including the explanation how to deal with base yaml updates for each update.

[2020-10-22 12:33] Martin-Weiss commented on #1039
Oh - and please add also the information on how to adjust/fix what customers did wrong so far based on the wrong documentation.. Thanks!

[2020-10-22 13:13] r0ckarong commented on #1038
@kkaempf @jordimassaguerpla Is this useful?

[2020-10-22 13:19] otuominen commented on #1038
Why this has been changed with 4.5 in first place?
4.2.x it is included and easier to follow.
https://www.suse.com/releasenotes/x86_64/SUSE-CAASP/4/

[2020-10-22 13:38] r0ckarong commented on #1038
I actually think this was removed by mistake. I will add it back.

@jordimassaguerpla I just added https://github.com/SUSE/caasp-release-notes/commit/860b318264d55bfab56bbfd7f1dd2b673a32911e, could you please rebuild the RN package?

[2020-10-22 13:42] r0ckarong commented on #1039
@innobead @jenting

[2020-10-22 14:53] jordimassaguerpla commented on #1038
We are working on 4.5.2. Let's put that new R/N into 4.5.2.

[2020-10-27 01:27] jenting opened #1040 "Re-add PR #919 (New command: skuba addon refresh localconfig)"
Prematurely merged #919 and reverted. Needs to be added back.

[2020-10-27 02:28] jenting commented on #1040
Ref to https://github.com/SUSE/avant-garde/issues/1765
Ref to https://github.com/SUSE/avant-garde/issues/2032

[2020-10-27 09:02] r0ckarong commented on #1040
4.5.2 done with 877850f
4.2.5 prepared with 176dd5a

[2020-10-27 09:02] #1040 closed

[2020-10-27 09:04] #1005 closed

[2020-10-27 12:12] jenting commented on #938
@r0ckarong please help on adding this, thank you :bow:

[2020-10-27 13:50] r0ckarong commented on #938
Done with https://github.com/SUSE/doc-caasp/commit/2519e1ebd1e6f648f766d855ac8e5e59dd88ecd4 and prepared with https://github.com/SUSE/doc-caasp/commit/245f751d375397bcedbe531711abd4831cc2cb72

[2020-10-27 13:50] #938 closed

[2020-10-29 01:49] jenting commented on #1013
I believe the default time in code is 1 year, the problem is when/how renews the certificate.
I'd like to close this issue, WDYT? @r0ckarong

[2020-10-29 01:53] jenting commented on #842
Because we don't have a unique SUSE account to contribute and maintains our pre-built dashboard to https://grafana.com/grafana/dashboards, it's an organization corporation problem and more like a feature request.

I think this issue will be stale for a long time, I'd recommend creating a feature request in JIRA for this and close this issue. What are other people thinking?

[2020-10-29 01:55] jenting commented on #837
As explained above, it's a limitation on Kubernetes dashboard but the other dashboard like octant does not have this design and constraint. I'd recommend closing this issue. What are other people thinking?

[2020-10-29 01:57] jenting commented on #844
Does anybody know how to solve this problem?

[2020-10-29 09:30] #1038 closed

[2020-10-29 10:12] r0ckarong commented on #1013
As long as the certs are automatically renewed I don't see a problem. But that's not my call.

@Martin-Weiss Can this be closed?

[2020-10-29 15:00] r0ckarong commented on #995
With where the product is heading it makes little sense to introduce such a drastic change at this time.

[2020-10-29 15:00] #995 closed

[2020-11-02 07:05] Martin-Weiss commented on #1013
Once documentation is correct and the renewal for all certs happens automatically- sure - this can be closed..

[2020-11-02 09:30] r0ckarong commented on #1013
The documentation states that certs have a 1 year validity. I haven't heard any other reports that this isn't true so this case is either a fluke or a bug from what we know. If you have other evidence that this happens more often then please share it so it can be investigated.

From what I understand, the certs are being renewed automatically!?  So what is missing?

cc @jenting

[2020-11-02 09:53] Martin-Weiss commented on #1013
Not sure if anyone else than myself ever had a look at the etcd-client-certificate and cilium-secret - but at least in my cluster these two had 2 years.. maybe this got changed in one or the other release.. not sure how to find out when and where this got changed - but if that is in my cluster I assume there might also be other clusters out there, that have some certificates with two years.. and t

[2020-11-03 09:07] r0ckarong commented on #1012
I don't think this information is currently being compiled anywhere. We need to discuss with the remaining release engineers what places this information could be generated. I'm doubtful this will happen.

[2020-11-03 09:08] r0ckarong commented on #707
At this date this is vastly outdated and makes no sense with the direction the product is heading.

[2020-11-03 09:08] #707 closed

[2020-11-06 13:34] #559 closed

[2020-11-09 10:35] r0ckarong commented on #837
This is a technical limitation from upstream. When this will become possible we can reconsider. Closing.

[2020-11-09 10:35] #837 closed

[2020-11-09 10:38] r0ckarong commented on #842
Yes, please create a feature request.

[2020-11-09 10:38] #842 closed

[2020-11-11 01:58] jenting commented on #1013
I'm sure all the certificates except CA, the validity is 1 year by default.

However, there might a situation that skuba _or_ other component performs the certificate extend to 2 years, but it has to check the skuba code from version to version, and it's a lot of effort on it.

[2020-11-12 09:28] #775 closed

[2020-11-12 09:29] #1014 closed

[2020-11-12 09:29] #829 closed

[2020-11-12 09:30] r0ckarong commented on #829
Since there is no PM to answer this anymore: Closing.

[2020-11-12 10:17] r0ckarong commented on #970
Given the current situation and resources, this won't be possible to tackle further at the moment.

[2020-11-12 10:17] #970 closed

[2020-11-12 13:19] alexarnoldy commented on #970
I understand completely. I appreciate you letting me know.

Best,

--Alex.

________________________________
From: Markus Napp <notifications@github.com>
Sent: Thursday, November 12, 2020 2:18:11 AM
To: SUSE/doc-caasp <doc-caasp@noreply.github.com>
Cc: Alex Arnoldy <alex.arnoldy@suse.com>; Mention <mention@noreply.github.com>
Subject: Re: [SUSE/doc-caasp] [CAP on CaaSP] Figure out load balancer /

[2020-11-13 11:32] r0ckarong commented on #1013
Closing this. Given the current situation I don't think this is worth investigating further.

[2020-11-13 11:32] #1013 closed

[2020-11-16 15:04] davidcassany opened #1046 "Include new skuba command on v4.2.4 release"
The command `skuba addon refresh localconfig` has been backported from v4.5 in skuba for v4.2.4 release thus the documentation for it needs to be backported in some way.

The specific commit that requires a backport is 8de42734

[2020-11-16 23:12] jenting commented on #1046
I think it's be backported already https://github.com/SUSE/doc-caasp/issues/1040#issuecomment-717092982
However, the original issue label on `4.2.5`, not `4.2.4` which is incorrect labeling.

[2020-11-17 08:55] davidcassany commented on #1046
Thanks!

[2020-11-17 09:05] r0ckarong commented on #1046
So this was only part of the 4.2.5 release. I now also backported this to 4.2.4 with 3548e6b

[2020-11-17 09:05] #1046 closed

[2020-11-17 09:18] r0ckarong opened #1047 "Update docs to reflect Helm 3 as new default"
Caused by: https://github.com/SUSE/avant-garde/issues/1816

Relates to:

- https://github.com/SUSE/doc-caasp/issues/1020
- https://github.com/SUSE/doc-caasp/pull/896
- https://github.com/SUSE/doc-caasp/pull/920
- https://github.com/SUSE/avant-garde/issues/2022

[2020-11-17 09:50] r0ckarong commented on #1047
@davidcassany Please let me know when you decide this should be added.

[2020-11-17 09:52] davidcassany commented on #1047
@r0ckarong sure I'll try to figure that out during tomorrow after discussing with QA.

[2020-11-20 07:35] Martin-Weiss opened #1048 "[doc] 6.9.8.1 Renewing Control Plane Certificates -> how to create the kubelet certificate for worker nodes??"
6.9.8.1  Renewing Control Plane Certificates:

https://documentation.suse.com/suse-caasp/4.5/single-html/caasp-admin/#_renewing_control_plane_certificates

--------------------

When reading through this guide I can not find the details on how to re-create the kubelet certificates for the worker nodes.
It is only mentioned that they have to be created with the correct IP and DNS name but it is not

[2020-11-20 08:13] r0ckarong commented on #1048
@jenting

[2020-11-20 08:56] #1008 closed

[2020-11-20 13:25] jenting commented on #1048
@Martin-Weiss,
You mean the kubelet server certificate, right? Not client certificate.

[2020-11-20 15:29] davidcassany commented on #1047
@r0ckarong I just included the changes to make helm3 the default into staging area. So we are definitely targeting it to v4.5.2.

[2020-11-20 15:31] Martin-Weiss commented on #1048
I mean the kubelet certificates that are stored on the workers.

[2020-11-20 15:31] r0ckarong commented on #1047
Then I will integrate this on Monday. Thanks for letting me know.

[2020-11-23 11:16] #1047 closed

[2020-11-24 02:15] jenting commented on #1048
I think it's included already.
![image](https://user-images.githubusercontent.com/49380831/100037831-e2547280-2e3d-11eb-8df0-2bf8e5fa4439.png)

[2020-11-24 06:23] Martin-Weiss commented on #1048
How exactly do I have to create the server certificate for a worker node on the control plane? I can not find the exact commands required and the name of the file I have to copy...

[2020-11-25 08:43] #1048 closed

[2020-12-04 10:20] adianas opened #1050 "[doc] 3.3 Note about - ESXi in KVM with nested virtualization - network problems after upgrading to SLES 15 SP2"
3.3  Deployment on VMware:
https://documentation.suse.com/suse-caasp/4.5/single-html/caasp-deployment/#_deployment_on_vmware

ESX in KVM with nested virtualization - network problems after upgrading to  SLES 15 SP2

With SLES 15 SP1, this worked fine, but since upgrading to SLES 15 SP2 there have been issues with unstable network communication, especially between ESX guests and the host or the ext

[2020-12-04 10:35] Martin-Weiss commented on #1050
I believe this needs to go into the "nested virtualization documentation" for KVM documentation that is part of SLES - but not into CaaSP..

[2020-12-04 10:46] adianas commented on #1050
Thanks,  I've re-created under the SLES docs

[2020-12-04 10:46] #1050 closed

[2020-12-07 12:33] r0ckarong commented on #915
CaaSP is in maintenance and only hi-prio security fixes are going to be added.

[2020-12-07 12:33] #915 closed

[2020-12-07 12:35] #795 closed

[2020-12-07 12:35] #825 closed

[2020-12-07 12:36] #953 closed

[2020-12-07 12:36] #961 closed

[2020-12-07 12:36] #987 closed

[2020-12-07 12:37] #1012 closed

[2020-12-07 14:27] r0ckarong commented on #863
CaaSP is in maintenance mode and only hi-prio security fixes will be added. Closing.

[2020-12-07 14:27] #863 closed

[2020-12-07 14:27] r0ckarong commented on #876
CaaSP is in maintenance mode and only hi-prio security fixes will be added. Closing.

[2020-12-07 14:27] #876 closed

[2020-12-10 11:33] thehejik opened #1051 "[doc][cuda][gpu] 11.1.2.1 Install the Device Plugin from nvidia - {nvidia} placeholder in URL"
11.1.2.1  Install the Device Plugin:

https://documentation.suse.com/suse-caasp/4.5/html/caasp-admin/_gpu_dependent_workloads.html#_install_the_device_plugin

There is a placeholder `{nvidia}` not correctly rendered in the URL of the nvidia yml manifest:

`kubectl create -f https://raw.githubusercontent.com/{nvidia}/k8s-device-plugin/1.0.0-beta6/nvidia-device-plugin.yml`

it should be:
`kubectl cr

[2020-12-10 11:53] thehejik opened #1052 "[doc][cuda][gpu] 11.1.1.1 Install the GPU drivers - do not install full X11"
11.1.1.1  Install the GPU drivers:

https://documentation.suse.com/suse-caasp/4.5/html/caasp-admin/_gpu_dependent_workloads.html#_install_the_gpu_drivers

The following line would install full blown X11 on a node via dependencies. I don't think it's a good idea and also some dependencies like on `libvdpau1` are not fulfilled with the default set of channels/repositories required by CaaSP product/d

[2020-12-11 09:08] #1051 closed

[2020-12-11 09:10] #1052 closed

[2021-01-11 14:22] Martin-Weiss opened #1055 "[doc] 3.1.2.2.3 Migration Procedure (Air gap) -> helm should be "helm3" during helm plugin install"
3.1.2.2.3  Migration Procedure (Air gap):

https://documentation.suse.com/suse-caasp/4.5/html/caasp-admin/_software_management.html#_migration_procedure_air_gap

----------------------
Install the plugin

export HELM_LINTER_PLUGIN_NO_INSTALL_HOOK=true
helm plugin install ./helm-2to3

--> can you change this to:

export HELM_LINTER_PLUGIN_NO_INSTALL_HOOK=true
helm3 plugin install ./helm-2to3

[2021-02-17 09:59] lgraziosi opened #1057 "4.5.3 is released but no documentation is present"
SUSE CaaSP 4.5.3 is already downloadable by customers, but there is no changelog anywhere.

[2021-03-08 21:50] dannysauer opened #1058 "[doc] 6.8.1.2 Deploy ingress controller from helm chart"
6.8.1.2  Deploy ingress controller from helm chart:

https://documentation.suse.com/suse-caasp/4.5/html/caasp-admin/_security.html#_deploy_ingress_controller_from_helm_chart

If the config from the previous section is used - which sets replica count to 3 - then there should be four pods running; not two.  There should be 3 ingress controller pods, and one default backend.